.FormatText_base_d0 {
    display: flex;
    flex-wrap: wrap;
}

.TooltipDecorator_base_c9 {
    display: flex;
    position: absolute;
}

.TooltipDecorator_base__theme-default_6d .TooltipDecorator_decorator_3d {
        padding: 4rem 6rem 8rem;
        border-image-source: url('R.atlases.components.tooltip_background');
        border-image-slice: 24 fill;
        border-image-width: 24rem;
        position: relative;
    }

.FormatTextWithColorTags_blackReal_3c {
    color: #000000;
}

.FormatTextWithColorTags_whiteReal_8a {
    color: #FFFFFF;
}

.FormatTextWithColorTags_white_16 {
    color: #F2F2F7;
}

.FormatTextWithColorTags_whiteOrange_18 {
    color: #FEFEEC;
}

.FormatTextWithColorTags_whiteSpanish_10 {
    color: #E9E2BF;
}

.FormatTextWithColorTags_par_ca {
    color: #8C8C7E;
}

.FormatTextWithColorTags_parSecondary_8d {
    color: #595950;
}

.FormatTextWithColorTags_parTertiary_a3 {
    color: #37362E;
}

.FormatTextWithColorTags_red_60 {
    color: #FF2717;
}

.FormatTextWithColorTags_redDark_03 {
    color: #B70000;
}

.FormatTextWithColorTags_yellow_ad {
    color: #FEAB34;
}

.FormatTextWithColorTags_orange_e4 {
    color: #EE7000;
}

.FormatTextWithColorTags_cream_cd {
    color: #FFDD99;
}

.FormatTextWithColorTags_brown_c8 {
    color: #CBAC77;
}

.FormatTextWithColorTags_greenBright_f0 {
    color: #80D43A;
}

.FormatTextWithColorTags_green_c5 {
    color: #7AB300;
}

.FormatTextWithColorTags_greenDark_af {
    color: #497212;
}

.FormatTextWithColorTags_blueBooster_ac {
    color: #CCFFFF;
}

.FormatTextWithColorTags_blueTeamkiller_6f {
    color: #09E2FF;
}

.FormatTextWithColorTags_cred_4e {
    color: #CED9D9;
}

.FormatTextWithColorTags_gold_90 {
    color: #FFC363;
}

.FormatTextWithColorTags_bond_71 {
    color: #C9C9B6;
}

.FormatTextWithColorTags_prom_dd {
    color: #A29B70;
}

.tooltips_base_6b {
    display: flex;
    flex-direction: column;
    padding: 15rem 20rem 20rem;
}

.tooltips_heading_ac {
    color: #E9E2BF;
    font-size: 18rem;
    font-weight: 700;
    line-height: 1.1;
}

.tooltips_subHeading_2c {
    color: #8C8C7E;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
}

.tooltips_subHeading__topIndent_e1 {
        margin-top: 8rem;
    }

.tooltips_divider_26 {
    width: 100%;
    height: 1rem;
    margin: 12rem 0 8rem;
    background: linear-gradient(to right, rgba(201, 201, 182, .2) 33.33%, rgba(201, 201, 182, 0) 33.33%, rgba(201, 201, 182, 0)) repeat right / 3rem 1rem;
    mask: linear-gradient(90deg, transparent, rgba(0, 0, 0, .6) 5%, rgba(0, 0, 0, 1) 30%, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, .6) 95%, transparent);
}

.tooltips_description_85 {
    color: #8C8C7E;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
}

.tooltips_description__topIndent_ba {
        margin-top: 14rem;
    }

.tooltips_highlight_87 {
    color: #E9E2BF;
}

