html {
    overflow: hidden;
}

.App_base_82 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 1rem; /* required for injected components*/
}

.App_entryIcon_d6 {
    width: 66rem;
    height: 51rem;
    background: url('R.images.gui.maps.icons.personal_reserves.entry_icon') no-repeat -3rem center / cover;
    position: relative;
}

.App_entryIcon_d6 .App_counter_3a {
        color: #CCFFFF;
        font-size: 14rem;
        font-weight: 400;
        line-height: 1.3;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 27rem;
        height: 16rem;
        padding-bottom: 2rem;
        border: 1rem solid rgba(255, 255, 255, .07);
        border-radius: 2rem;
        box-shadow: -1rem -1rem 1rem rgba(0, 0, 0, .25);
        background: radial-gradient(100% 98.78% at 0% 100%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .2) 100%), #0c4261;
        line-height: 18rem;
        text-shadow: 0rem -1rem 1rem rgba(0, 0, 0, .5);
        position: absolute;
        right: 8rem;
        bottom: 3rem;
    }

.App_entryIcon__limited_14 {
        background: url('R.images.gui.maps.icons.personal_reserves.entry_icon_limited') center center / cover;
    }

.App_entryIcon__limited_14 .App_counter_3a {
            background: radial-gradient(100% 98.78% at 0% 100%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .2) 100%), #61440c;
        }

.App_reserveBlocksContainer_46 {
    display: flex;
    align-items: center;
    height: 100%;
}

.App_reserveBlock_c0 {
    display: flex;
    align-items: center;
    height: 100%;
}

.App_reserveBlock__disabled_79 {
        filter: saturate(0);
    }

.App_reserveButton_89 {
    margin-right: 2rem;
}

.FormatText_base_d0 {
    display: flex;
    flex-wrap: wrap;
}

.ReserveIcon_base_26 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8rem;
    height: 38rem;
    border-radius: 5rem;
    box-shadow: -1px 1px 2px rgba(0, 0, 0, .3), 0px -1px 2px rgba(255, 255, 255, .07), inset 0px 0px 0px 1px #44412b;
    background: linear-gradient(0deg, rgba(0, 0, 0, .1), rgba(0, 0, 0, .1)), #211f16;
    position: relative;
}

    .ReserveIcon_base__disabled_99 {
        opacity: .7;
    }

    .ReserveIcon_base__active_93 {
        background: linear-gradient(0deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), #211f16;
    }

    .ReserveIcon_base__clan_7b .ReserveIcon_fill_48 {
            background: radial-gradient(100% 3rem at 50% 0%, rgba(225, 255, 186, .2), transparent 100%),
                linear-gradient(180deg, #496019 0%, #1f3b1b 100%);
        }

    .ReserveIcon_base__clan_7b .ReserveIcon_fill_pattern_03 {
                background: url('R.images.gui.maps.icons.personal_reserves.bg_fill_green') center center;
            }

    .ReserveIcon_base__clan_7b .ReserveIcon_fill_border_14 {
                border-color: #41711b;
            }

    .ReserveIcon_base__clan_7b .ReserveIcon_minutesLeft_fe {
            text-shadow: -1rem -1rem 0rem #1f3b1b,
 1rem 1rem 0rem #1f3b1b,
 -1rem 1rem 0rem #1f3b1b,
                1rem -1rem 0rem #1f3b1b;
        }

    .ReserveIcon_base__event_b6 .ReserveIcon_fill_48 {
            background: radial-gradient(100% 3rem at 50% 0%, rgba(249, 255, 186, .2), transparent 100%),
                linear-gradient(180deg, #98752f 0%, #72500f 100%);
        }

    .ReserveIcon_base__event_b6 .ReserveIcon_fill_pattern_03 {
                background: url('R.images.gui.maps.icons.personal_reserves.bg_fill_orange') center center;
            }

    .ReserveIcon_base__event_b6 .ReserveIcon_fill_border_14 {
                border-color: #8e4501;
            }

    .ReserveIcon_base__event_b6 .ReserveIcon_minutesLeft_fe {
            text-shadow: -1rem -1rem 0rem #583a00,
 1rem 1rem 0rem #583a00,
 -1rem 1rem 0rem #583a00,
                1rem -1rem 0rem #583a00;
        }

    .ReserveIcon_base__medium_6d {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 38rem;
        height: 38rem;
        border-radius: 2rem;
        box-shadow: -1px 1px 2px rgba(0, 0, 0, .3), 0px -1px 2px rgba(255, 255, 255, .07);
        background: linear-gradient(0deg, rgba(0, 0, 0, .1), rgba(0, 0, 0, .1)), #211f16;
        position: relative;
    }

.ReserveIcon_minutesLeft_fe {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 16rem;
    color: #FFFFFF;
    font-size: 14rem;
    font-weight: 300;
    text-shadow: -1rem -1rem 0rem #05334e, 1rem 1rem 0rem #05334e, -1rem 1rem 0rem #05334e, 1rem -1rem 0rem #05334e;
    position: absolute;
    bottom: 4rem;
    z-index: 3;
    animation: ReserveIcon_fadeIn_74 .5s;
}

.ReserveIcon_minutesLeft__smallMinutes_42 {
        font-size: 12rem;
        font-weight: 100;
    }

.ReserveIcon_icon_aa {
    display: block;
    width: 32rem;
    height: 32rem;
    z-index: 2;
}

.ReserveIcon_icon__active_f5 {
        margin-bottom: 7rem;
        animation: ReserveIcon_fadeIn_74 .5s, ReserveIcon_moveUp_11 .5s;
    }

.ReserveIcon_fill_48 {
    display: block;
    height: var(--height);
    max-height: 38rem;
    border-radius: 5rem;
    border-top: 1rem rgba(255, 255, 255, .05) solid;
    background: radial-gradient(100% 3rem at 50% 0%, rgba(186, 255, 251, .2), transparent 100%),
        linear-gradient(180deg, #127177 0%, #0c4261 100%);
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    transform-origin: left bottom;
    transition: height 2s;
    animation: ReserveIcon_fillIn_ae .25s;
    animation-fill-mode: both;
}

.ReserveIcon_fill_wrapper_76 {
        position: absolute;
        top: 2rem;
        right: 2rem;
        bottom: 2rem;
        left: 2rem;
    }

.ReserveIcon_fill_wrapper__medium_c3 {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }

.ReserveIcon_fill_pattern_03 {
        width: 100%;
        height: 100%;
        box-shadow: 0 1rem rgba(255, 255, 255, .03) inset;
        background: url('R.images.gui.maps.icons.personal_reserves.bg_fill_blue') center center;
        mask-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, .1));
    }

.ReserveIcon_fill_border_14 {
        border: 1rem solid #0e5075;
        border-radius: 0 0 5rem 5rem;
        border-top: 0;
        position: absolute;
        top: 0;
        right: -2rem;
        bottom: -2rem;
        left: -2rem;
    }

@keyframes ReserveIcon_fillIn_ae {
    from {
        transform: scaleY(0);
    }

    to {
        transform: scaleY(1);
    }
}

@keyframes ReserveIcon_fadeIn_74 {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes ReserveIcon_moveUp_11 {
    from {
        transform: translateY(3rem);
    }

    to {
        transform: translateY(0);
    }
}

