.TextButton_base_b6 {
    display: flex;
    align-items: center;
    padding: 0 3rem;
    font-size: 12rem;
    position: relative;
    cursor: pointer;
}

    .TextButton_base__right_39 {
        flex-direction: row-reverse;
    }
.TextButton_icon_17 {
    width: 32rem;
    height: 32rem;
    background: no-repeat center / contain;
    position: relative;
}
.TextButton_icon__back_43,
    .TextButton_icon__forward_59 {
        margin: -1rem -5rem;
        background-image: url('R.images.gui.maps.icons.components.text_button.back');
        transform: translateY(1rem);
    }
.TextButton_icon__forward_59 {
        transform: rotate(180deg) translateY(1rem);
    }
.TextButton_icon__close_53 {
        margin: -1rem 0;
        background-image: url('R.images.gui.maps.icons.components.text_button.close');
    }
.TextButton_icon__info_33 {
        margin: -1rem -5rem;
        background-image: url('R.images.gui.maps.icons.components.text_button.info');
    }
.TextButton_glow_a4 {
    width: 100%;
    height: 100%;
    background: no-repeat center / contain;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity .16s;
}
.TextButton_icon__back_43 .TextButton_glow_a4,
    .TextButton_icon__forward_59 .TextButton_glow_a4 {
        background-image: url('R.images.gui.maps.icons.components.text_button.back_hover');
    }
.TextButton_icon__close_53 .TextButton_glow_a4 {
        background-image: url('R.images.gui.maps.icons.components.text_button.close_hover');
    }
.TextButton_icon__info_33 .TextButton_glow_a4 {
        background-image: url('R.images.gui.maps.icons.components.text_button.info_hover');
    }
.TextButton_base_b6:hover .TextButton_glow_a4 {
        opacity: 1;
    }
.TextButton_base_b6:active .TextButton_glow_a4 {
        opacity: 0;
    }
.TextButton_caption_82 {
    position: relative;
    transition: color .16s, text-shadow .16s;
}
.TextButton_caption__back_b9,
    .TextButton_caption__forward_4e,
    .TextButton_caption__close_36 {
        color: #FFDD99;
        text-shadow: 0 0 10rem rgba(255,42,0, 1),
            0 0 10rem rgba(255,42,0, .4),
            0 0 10rem rgba(255,42,0, .4),
            0 0 2rem rgba(255,42,0, .4),
            0 0 1rem rgba(255,42,0, .4),
            0 0 2rem rgba(255,42,0, .4),
            0 0 1rem rgba(255,42,0, .4);
    }
.TextButton_base_b6:hover .TextButton_caption__back_b9, .TextButton_base_b6:hover .TextButton_caption__forward_4e, .TextButton_base_b6:hover .TextButton_caption__close_36 {
            color: #fffa9f;
        }
.TextButton_base_b6:active .TextButton_caption__back_b9, .TextButton_base_b6:active .TextButton_caption__forward_4e, .TextButton_base_b6:active .TextButton_caption__close_36 {
            color: #FFDD99;
        }
.TextButton_caption__info_23 {
        padding: 0 5rem;
        color: #CCFFFF;
        text-shadow: 0 0 12rem rgba(31,68,255, .8),
            0 0 8rem #00eaff;
    }
.TextButton_base_b6:hover .TextButton_caption__info_23 {
            color: #e3ffff;
            text-shadow: 0 0 12rem rgba(31,68,255, .8),
                0 0 12rem rgba(0,234,255, 1),
                0 0 8rem #00eaff;
        }
.TextButton_base_b6:active .TextButton_caption__info_23 {
            color: #CCFFFF;
            text-shadow: 0 0 12rem rgba(31,68,255, .6),
                0 0 8rem #00eaff;
        }
.TextButton_goto_e7 {
    color: #7c7c6c;
}
.TextButton_base__left_ff .TextButton_goto_e7 {
        margin-left: 8rem;
    }
.TextButton_base__right_39 .TextButton_goto_e7 {
        margin-right: 8rem;
    }
.TextButton_shine_e2 {
    width: 90rem;
    height: 40rem;
    background: url('R.images.gui.maps.icons.components.text_button.shine') no-repeat center / contain;
    opacity: 0;
    position: absolute;
    top: -4rem;
    transition: opacity .16s;
    pointer-events: none;
}
.TextButton_base__left_ff .TextButton_shine_e2 {
        left: -4rem;
    }
.TextButton_base__right_39 .TextButton_shine_e2 {
        right: -4rem;
        transform: rotate(180deg);
    }
.TextButton_base_b6:hover .TextButton_shine_e2 {
        opacity: 1;
    }
.TextButton_base_b6:active .TextButton_shine_e2 {
        opacity: 0;
    }

.Layout_base_81 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 996rem;
    height: 100%;
    position: relative;
}

    .Layout_base__small_cb,
    .Layout_base__medium_df {
        width: 1310rem;
    }

    .Layout_base__large_f6,
    .Layout_base__huge_d2 {
        width: 1560rem;
    }
.Layout_header_46 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 10rem 0 20rem;
}
.Layout_base__compare_56 .Layout_header_46 {
        flex-direction: column;
        align-items: center;
    }
.Layout_header__small_cb,
    .Layout_header__tiny_4b {
        margin: 10rem 0 16rem;
    }
.Layout_content_79 {
    display: flex;
    justify-content: space-between;
    flex: 1;
    width: 100%;
}
.Layout_base__compare_56 .Layout_content_79 {
        justify-content: center;
        margin-top: 7rem;
        padding-top: 20rem;
        padding-bottom: 10rem;
    }
.Layout_main_df {
    width: 596rem;
    border-top: 1rem solid rgba(255,255,255, .1);
    border-bottom: 1rem solid rgba(255,255,255, .1);
}
.Layout_base__compare_56 .Layout_main_df {
        width: 902rem;
    }
.Layout_base__small_cb .Layout_main_df,
    .Layout_base__medium_df .Layout_main_df {
        width: 902rem;
    }
.Layout_base__large_f6 .Layout_main_df,
    .Layout_base__huge_d2 .Layout_main_df {
        width: 1102rem;
    }
.Layout_inner_3e {
    margin: 0 -16rem;
}
.Layout_base__large_f6 .Layout_inner_3e,
    .Layout_base__huge_d2 .Layout_inner_3e {
        margin: 0 -20rem;
    }
.Layout_footer_f4 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 166rem;
    padding-top: 20rem;
}

body {
    flex: 1;
    height: 100%;
    line-height: 1;
    overflow: hidden;
}

.SetupApp_base_7b {
    height: 100%;
    background-color: rgba(0,0,0, .2);
    position: relative;
    transition: background-color .5s;
}

.SetupApp_base__shown_a0 {
        background-color: rgba(0,0,0, .7);
    }

.SetupApp_base__compare_9d {
        width: 100%;
    }

.SetupApp_base__setup_92 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 34rem 0 35rem;
        overflow: hidden;
    }

.SetupApp_close_da {
    position: absolute;
    top: 51rem;
    right: 20rem;
    z-index: 1;
}

.SetupApp_close__hidden_5a {
        display: none;
    }

.SetupApp_close__small_61 {
        top: 47rem;
    }

.SetupApp_content_65 {
    flex: 1;
    position: relative;
}

.SetupApp_content__compare_6e {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-height: calc(258.45rem + 55vh);
        margin-top: calc(24vh - 173.04rem);
        padding-top: 34rem;
        overflow: hidden;
    }

.SetupApp_content__invisible_9a {
        display: none;
    }

.SetupApp_content__shown_dd {
        opacity: 1;
        animation: SetupApp_show-app_00 .3s ease-out;
    }

.SetupApp_content__hidden_78 {
        opacity: 0;
        animation: SetupApp_hide-app_29 .3s ease-in;
    }

.SetupApp_panel_42 {
    padding-bottom: 23rem;
    position: absolute;
    bottom: 35rem;
    z-index: 1;
}

.SetupApp_back_20 {
    width: 100%;
    height: 100%;
    background: url('R.images.gui.maps.icons.lobby.settings_blured_bg') no-repeat top / cover;
    position: absolute;
}

@keyframes SetupApp_show-app_00 {
    0% {
        opacity: 0;
        transform: translateY(85rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes SetupApp_hide-app_29 {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(85rem);
    }
}

