.TooltipDecorator_base_c9 {
    display: flex;
    position: absolute;
}

.TooltipDecorator_base__theme-default_6d .TooltipDecorator_decorator_3d {
    padding: 4rem 6rem 8rem;
    border-image-source: url('R.images.gui.maps.icons.tooltip.tooltip_background');
    border-image-slice: 24 fill;
    border-image-width: 24rem;
    position: relative;
}

.BattleCondition_base_c0 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 56rem;
    padding-left: 8rem;
}

.BattleCondition_description_f0 {
    color: #e9e2bf;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
    height: 20rem;
    margin-left: 24rem;
    margin-top: -3rem;
}

.BattleCondition_icon_54 {
    width: 128rem;
    height: 128rem;
    margin: -54rem;
    background: no-repeat center / contain;
}

.BattleConditions_base_b3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 81rem;
    position: relative;
}

.BattleConditions_wrapper_0e {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 12rem 0;
    z-index: 1;
}

.BattleConditions_shine_aa {
    width: 398rem;
    height: 81rem;
    background: url('R.images.gui.maps.icons.debut_boxes.tooltip.shine_green') bottom / cover no-repeat;
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 0;
    transform: translateX(-50%);
}

.Reward_base_ea {
    display: flex;
    flex-direction: column;
    position: relative;
}

.Reward_base__s48x48_46,
.Reward_base__small_c0 {
    width: 48rem;
    height: 48rem;
}

.Reward_base__s80x80_ce,
.Reward_base__big_e5 {
    width: 80rem;
    height: 80rem;
}

.Reward_base__s128x100_c3 {
    width: 128rem;
    height: 100rem;
}

.Reward_base__s180x135_7c {
    width: 180rem;
    height: 135rem;
}

.Reward_base__s232x174_67 {
    width: 232rem;
    height: 174rem;
}

.Reward_base__s296x222_78 {
    width: 296rem;
    height: 222rem;
}

.Reward_base__s400x300_07 {
    width: 400rem;
    height: 300rem;
}

.Reward_base__s600x450_f8 {
    width: 600rem;
    height: 450rem;
}

.Reward_tooltipWrapper_b5 {
    height: 100%;
}

.Reward_icon_df {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    position: relative;
    z-index: 1;
}

.Reward_overlay_68 {
    background: no-repeat center / 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.Reward_base__s48x48_46 .Reward_overlay_68,
.Reward_base__small_c0 .Reward_overlay_68 {
    width: 96rem;
    height: 96rem;
    background-size: 100%;
    overflow: visible;
}

.Reward_base__s80x80_ce .Reward_overlay_68,
.Reward_base__big_e5 .Reward_overlay_68 {
    width: 128rem;
    height: 128rem;
}

.Reward_base__s180x135_7c .Reward_overlay_68 {
    width: 266rem;
    height: 241rem;
}

.Reward_base__s232x174_67 .Reward_overlay_68 {
    width: 344rem;
    height: 312rem;
}

.Reward_base__s296x222_78 .Reward_overlay_68 {
    width: 450rem;
    height: 408rem;
}

.Reward_base__s400x300_07 .Reward_overlay_68 {
    width: 618rem;
    height: 590rem;
}

.Reward_base__s600x450_f8 .Reward_overlay_68 {
    width: 670rem;
    height: 575rem;
}

.Reward_highlight_36 {
    width: 100%;
    height: 100%;
    background: no-repeat center / contain;
    position: absolute;
    z-index: 0;
}

.Reward_image_89 {
    position: relative;
}

.Reward_info_72 {
    margin-top: -13rem;
    color: #e9e2bf;
    font-size: 14rem;
    line-height: 18rem;
    text-align: center;
    z-index: 1;
}

.Reward_base__s48x48_46 .Reward_info_72,
.Reward_base__small_c0 .Reward_info_72 {
    margin: -10rem -10rem 0;
}

.Reward_info__multi_63 {
    margin-right: 2rem;
    text-align: right;
}

.Reward_base__s48x48_46 .Reward_info__multi_63,
.Reward_base__small_c0 .Reward_info__multi_63 {
    margin-right: 0;
}

.Reward_info__credits_ef {
    color: #e9e2bf;
}

.Reward_info__gold_36 {
    color: #ffc363;
}

.Reward_info__crystal_36 {
    color: #c9c9b6;
}

.Reward_info__premiumTank_d3 {
    color: #ffdd99;
}

.Reward_timer_d3 {
    background: no-repeat center / contain;
    position: absolute;
    z-index: 1;
}

.Reward_base__s48x48_46 .Reward_timer_d3,
.Reward_base__small_c0 .Reward_timer_d3 {
    width: 23rem;
    height: 23rem;
    background-image: url('R.images.gui.maps.icons.quests.bonuses.small.timer');
    top: -6rem;
    right: -6rem;
}

.Reward_base__s80x80_ce .Reward_timer_d3,
.Reward_base__big_e5 .Reward_timer_d3 {
    width: 48rem;
    height: 48rem;
    background-image: url('R.images.gui.maps.icons.quests.bonuses.big.timer');
    top: -14rem;
    right: -14rem;
}

.Rewards_base_26 {
    display: flex;
}

.Rewards_base__vertical_9f {
    flex-direction: column;
}

.Rewards_reward_7b {
    margin: 0 10rem;
}

.Rewards_reward__vertical_c6 {
    margin: 15rem 0;
}

.MissionRewards_base_b1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 137rem;
    position: relative;
}

.MissionRewards_ribbon_46 {
    width: 100%;
    height: 137rem;
    background: url('R.images.gui.maps.icons.debut_boxes.tooltip.ribbon') bottom / cover no-repeat;
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 0;
    transform: translateX(-50%);
}

.MissionRewards_caption_10 {
    color: #e9e2bf;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    margin-top: -3rem;
    margin-bottom: 5rem;
    z-index: 1;
}

.App_base_89 {
    display: flex;
    flex-direction: column;
    width: 403rem;
    padding-top: 32rem;
}

.App_header_40 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: -10rem;
    margin-bottom: 10rem;
}

.App_title_70 {
    color: #f2f2f7;
    font-size: 24rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 10rem;
}

.App_description_11 {
    color: #8c8c7e;
    font-size: 14rem;
    font-weight: 700;
    line-height: 1.15;
    margin-bottom: 2rem;
}

.App_separator_d1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 283rem;
    height: 1rem;
    background: url('R.images.gui.maps.icons.debut_boxes.tooltip.horizontal_separator') bottom / cover no-repeat;
}
