.FormatText_base_d0 {
    display: flex;
    flex-wrap: wrap;
}

.TooltipDecorator_base_c9 {
    display: flex;
    position: absolute;
}

.TooltipDecorator_base__theme-default_6d .TooltipDecorator_decorator_3d {
    padding: 4rem 6rem 8rem;
    border-image-source: url('R.images.gui.maps.icons.tooltip.tooltip_background');
    border-image-slice: 24 fill;
    border-image-width: 24rem;
    position: relative;
}

.App_base_8e {
    width: 359rem;
}

.App_bottomBlock_79 {
    background: radial-gradient(50% 203% at 50% 50%, rgba(233, 226, 191, 0.1), transparent);
    padding: 20rem 24rem 22rem;
    position: relative;
}

.App_topBlock_76 {
    padding: 22rem 24rem 16rem;
}

.App_divider_7f {
    width: 100%;
    height: 1rem;
    background: linear-gradient(to right, rgba(201, 201, 182, 0.2) 33%, transparent 33%, transparent) repeat right /
        3rem 1rem;
    mask: linear-gradient(90deg, transparent 2%, #000 30%, #000 70%, transparent 98%);
    position: absolute;
    top: 0;
}

.App_titleBLock_1b {
    display: flex;
    margin-bottom: 12rem;
    color: #e9e2bf;
    font-size: 16rem;
    font-weight: 700;
    line-height: 16rem;
}

.App_amount_2c {
    margin-left: 10rem;
    color: #ffdd99;
}

.App_description_f7 {
    color: #8c8c7e;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
    line-height: 22rem;
}

.App_tankName_ed {
    font-weight: 700;
}

.App_stats_a1 {
    color: #8c8c7e;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
    margin-left: 10rem;
    white-space: pre-wrap;
}
