.TooltipDecorator_base_c9 {
    display: flex;
    position: absolute;
}

.TooltipDecorator_base__theme-default_6d .TooltipDecorator_decorator_3d {
    padding: 4rem 6rem 8rem;
    border-image-source: url('R.atlases.components.tooltip_background');
    border-image-slice: 24 fill;
    border-image-width: 24rem;
    position: relative;
}

.WotPlusTooltipApp_base_e0 {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 340rem;
    position: relative;
}

.WotPlusTooltipApp_headerBlock_55 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 180rem;
    padding-bottom: 10rem;
    background: url('R.images.gui.maps.icons.subscription.tooltip.wotplus_header') center / cover;
}

.WotPlusTooltipApp_headerTitle_8e {
    color: #fefeec;
    font-size: 24rem;
    font-weight: 700;
    line-height: 1.2;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 25);
}

.WotPlusTooltipApp_headerDesc_f7 {
    color: #8c8c7e;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 280rem;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 25);
}

.WotPlusTooltipApp_decorator_a3 {
    display: flex;
    padding: 5rem 20rem 10rem;
}

.WotPlusTooltipApp_gridBase_b7 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    max-height: calc(var(--column-size) * 57rem);
}

.WotPlusTooltipApp_gridElement_18 {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 57rem;
}

.WotPlusTooltipApp_bonusImg_2a {
    width: 32rem;
    height: 32rem;
    background-repeat: no-repeat;
    background-size: cover;
}

.WotPlusTooltipApp_bonusName_f0 {
    color: #8c8c7e;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    flex: 1 1 0;
    margin-left: 5rem;
    line-height: 1.1;
}

.WotPlusTooltipApp_statusBlock_d8 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15rem;
}

.WotPlusTooltipApp_status_e3 {
    color: #cbac77;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
    display: flex;
}

.WotPlusTooltipApp_status__activated_ca {
    color: #7ab300;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: 0.8rem;
}

.WotPlusTooltipApp_status__suspended_a8 {
    color: #ff2717;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: 0.8rem;
}

.WotPlusTooltipApp_description_bd {
    justify-content: center;
    width: 280rem;
    color: #8c8c7e;
    text-align: center;
}

.WotPlusTooltipApp_chargeBlock_69 {
    display: flex;
}

.WotPlusTooltipApp_chargeText_54 {
    color: #8c8c7e;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
}

.WotPlusTooltipApp_chargeTime_29 {
    color: #e9e2bf;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    margin-left: 5rem;
}
