.BackEffects_shine_f6 {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    width: 175rem;
    height: 175rem;
    background: url('R.images.gui.maps.icons.tanksetup.panel.transitions.shine') no-repeat center / contain;
    z-index: -1;
}

    .BackEffects_shine__enterActive_54 {
        animation: BackEffects_shine-animation_26 200ms ease-out;
        animation-fill-mode: forwards;
    }
.BackEffects_sparks_55 {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    width: 50rem;
    height: 50rem;
    background: url('R.images.gui.maps.icons.tanksetup.panel.transitions.sparks') no-repeat center / contain;
}
.BackEffects_sparks__enterActive_79 {
        animation: BackEffects_sparks-animation_ff 400ms ease-out;
        animation-fill-mode: forwards;
    }
.BackEffects_nut_79 {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    width: 54rem;
    height: 54rem;
    background: url('R.images.gui.maps.icons.tanksetup.panel.transitions.nut') no-repeat center / contain;
    background-size: 17rem;
    z-index: 1;
}
.BackEffects_nut__enterActive_b8 {
        animation: BackEffects_nut-animation_4a 600ms forwards ease-out;
    }
.BackEffects_wrench_5a {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    width: 54rem;
    height: 54rem;
    background: url('R.images.gui.maps.icons.tanksetup.panel.transitions.wrench') no-repeat center / contain;
    background-size: 23rem;
    z-index: 1;
}
.BackEffects_wrench__enterActive_ca {
        animation: BackEffects_wrench-animation_58 600ms forwards ease-out;
    }
@keyframes BackEffects_shine-animation_26 {
    0% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }

    100% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(.3);
    }
}
@keyframes BackEffects_sparks-animation_ff {
    0% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }

    100% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(3.6);
    }
}
@keyframes BackEffects_nut-animation_4a {
    0% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1) rotate(15deg);
    }

    100% {
        opacity: 0;
        transform: translate(-73%, -22%) scale(.8) rotate(-15deg);
    }
}
@keyframes BackEffects_wrench-animation_58 {
    0% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1) rotate(15deg);
    }

    100% {
        opacity: 0;
        transform: translate(-22%, 0%) scale(.8) rotateZ(-30deg);
    }
}

.ColorMask_base_60 {
    width: 100%;
    height: 100%;
    background-color: #ff4503;
    opacity: 0;
    mix-blend-mode: overlay;
    position: absolute;
    top: 0;
    right: 0;
    mask-size: contain;
}

    .ColorMask_base__enterActive_62 {
        animation: ColorMask_color-mask-animation_95 1.2s ease-in;
    }

@keyframes ColorMask_color-mask-animation_95 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes SlotTransitions_animation-fade_ce {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
@keyframes SlotTransitions_animation-left-long_ec {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-55rem);
    }
}
@keyframes SlotTransitions_animation-left-long-shells_00 {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-37rem);
    }
}
@keyframes SlotTransitions_animation-right-long_bd {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(55rem);
    }
}
@keyframes SlotTransitions_animation-right-long-shells_41 {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(37rem);
    }
}
@keyframes SlotTransitions_animation-right_31 {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(27.5rem);
    }
}
@keyframes SlotTransitions_animation-right-shells_7c {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(18.5rem);
    }
}
@keyframes SlotTransitions_animation-left_27 {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-27.5rem);
    }
}
@keyframes SlotTransitions_animation-left-shells_0d {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-18.5rem);
    }
}
@keyframes SlotTransitions_animation-fitting_24 {
    0% {
        opacity: 0;
        transform: scale(1.3);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes SlotTransitions_animation-fitting-remove_e0 {
    0% {
        opacity: 1;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(1.3);
    }
}
@keyframes SlotTransitions_animation-destroy_12 {
    0% {
        filter: sepia(0) brightness(1) contrast(1);
    }

    60% {
        filter: sepia(.5) brightness(1.2) contrast(1.2);
        opacity: 1;
        transform: scale(1);
    }

    100% {
        filter: sepia(.5) brightness(1.2) contrast(1.2);
        opacity: 0;
        transform: scale(1.3);
    }
}
@keyframes SlotTransitions_animation-bright-up_8e {
    0% {
        filter: brightness(100%);
    }

    100% {
        filter: brightness(250%);
    }
}
@keyframes SlotTransitions_animation-demount_d8 {
    0% {
        opacity: 1;
        transform: translateY(0%);
    }

    100% {
        opacity: 0;
        transform: translateY(-70%);
    }
}
.SlotTransitions_base__exitLeft_d8 {
        animation: SlotTransitions_animation-left_27 200ms ease-in;
    }
.SlotTransitions_base__exitLeftFade_53 {
        animation: SlotTransitions_animation-left_27 200ms ease-in,
        SlotTransitions_animation-fade_ce 250ms ease-in;
    }
.SlotTransitions_base__enterRight_bb {
        animation: SlotTransitions_animation-right_31 200ms reverse ease-in;
    }
.SlotTransitions_base__enterRightFade_63 {
        animation: SlotTransitions_animation-right_31 200ms reverse ease-in,
        SlotTransitions_animation-fade_ce 250ms reverse ease-in;
    }
.SlotTransitions_base__exitRight_b9 {
        z-index: 1;
        animation: SlotTransitions_animation-right_31 200ms ease-in;
    }
.SlotTransitions_base__enterLeft_e9 {
        z-index: 2;
        animation: SlotTransitions_animation-left_27 200ms reverse ease-in;
    }
.SlotTransitions_base__exitRightSwap_64 {
        z-index: 2;
        animation: SlotTransitions_animation-right-long_bd 200ms ease-in;
    }
.SlotTransitions_base__enterRightSwap_5e {
        z-index: 1;
        animation: SlotTransitions_animation-right-long_bd 200ms reverse ease-in;
    }
.SlotTransitions_base__enterLeftSwap_da {
        z-index: 2;
        animation: SlotTransitions_animation-left-long_ec 200ms reverse ease-in;
    }
.SlotTransitions_base__exitLeftSwap_c3 {
        z-index: 1;
        animation: SlotTransitions_animation-left-long_ec 200ms ease-in;
    }
.SlotTransitions_base__exitFade_4c {
        animation: SlotTransitions_animation-fade_ce 250ms ease-in;
    }
.SlotTransitions_base__enterFade_77 {
        animation: SlotTransitions_animation-fade_ce 250ms reverse ease-in;
    }
.SlotTransitions_base_6d {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 54rem;
    height: 54rem;
    position: absolute;
    z-index: 0;
}
.SlotTransitions_base__enter_54 {
        display: none;
    }
.SlotTransitions_base__enterFitting_c7 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: SlotTransitions_animation-fade_ce 250ms reverse;
    }
.SlotTransitions_baseShells__exitLeft_1e {
        animation: SlotTransitions_animation-left-shells_0d 200ms ease-in,
        SlotTransitions_animation-fade_ce 250ms ease-in;
    }
.SlotTransitions_baseShells__enterRight_66 {
        animation: SlotTransitions_animation-right-shells_7c 200ms reverse ease-in,
        SlotTransitions_animation-fade_ce 250ms reverse ease-in;
    }
.SlotTransitions_baseShells__exitRight_e4 {
        z-index: 1;
        animation: SlotTransitions_animation-right-shells_7c 200ms ease-in;
    }
.SlotTransitions_baseShells__enterLeft_94 {
        z-index: 2;
        animation: SlotTransitions_animation-left-shells_0d 200ms reverse ease-in;
    }
.SlotTransitions_baseShells__exitRightSwap_fd {
        z-index: 2;
        animation: SlotTransitions_animation-right-long-shells_41 200ms ease-in;
    }
.SlotTransitions_baseShells__enterRightSwap_41 {
        z-index: 1;
        animation: SlotTransitions_animation-right-long-shells_41 200ms reverse ease-in;
    }
.SlotTransitions_baseShells__enterLeftSwap_19 {
        z-index: 2;
        animation: SlotTransitions_animation-left-long-shells_00 200ms reverse ease-in;
    }
.SlotTransitions_baseShells__exitLeftSwap_04 {
        z-index: 1;
        animation: SlotTransitions_animation-left-long-shells_00 200ms ease-in;
    }
.SlotTransitions_baseShells__exitFade_1b {
        animation: SlotTransitions_animation-fade_ce 250ms ease-in;
    }
.SlotTransitions_baseShells__enterFade_72 {
        animation: SlotTransitions_animation-fade_ce 250ms reverse ease-in;
    }
.SlotTransitions_baseOptDevices__exitLeft_fe {
        animation: SlotTransitions_animation-left_27 200ms ease-in;
    }
.SlotTransitions_baseOptDevices__exitLeftFade_8a {
        animation: SlotTransitions_animation-left_27 200ms ease-in,
        SlotTransitions_animation-fade_ce 250ms ease-in;
    }
.SlotTransitions_baseOptDevices__enterRight_5d {
        animation: SlotTransitions_animation-right_31 200ms reverse ease-in;
    }
.SlotTransitions_baseOptDevices__enterRightFade_2c {
        animation: SlotTransitions_animation-right_31 200ms reverse ease-in,
        SlotTransitions_animation-fade_ce 250ms reverse ease-in;
    }
.SlotTransitions_baseOptDevices__exitRight_72 {
        z-index: 1;
        animation: SlotTransitions_animation-right_31 200ms ease-in;
    }
.SlotTransitions_baseOptDevices__enterLeft_0f {
        z-index: 2;
        animation: SlotTransitions_animation-left_27 200ms reverse ease-in;
    }
.SlotTransitions_baseOptDevices__exitRightSwap_09 {
        z-index: 2;
        animation: SlotTransitions_animation-right-long_bd 200ms ease-in;
    }
.SlotTransitions_baseOptDevices__enterRightSwap_04 {
        z-index: 1;
        animation: SlotTransitions_animation-right-long_bd 200ms reverse ease-in;
    }
.SlotTransitions_baseOptDevices__enterLeftSwap_52 {
        z-index: 2;
        animation: SlotTransitions_animation-left-long_ec 200ms reverse ease-in;
    }
.SlotTransitions_baseOptDevices__exitLeftSwap_e9 {
        z-index: 1;
        animation: SlotTransitions_animation-left-long_ec 200ms ease-in;
    }
.SlotTransitions_baseOptDevices__enterFitting_8b {
        z-index: 2;
        animation: SlotTransitions_animation-fitting_24 250ms;
    }
.SlotTransitions_baseOptDevices__exitFittingRemove_fc {
        z-index: 1;
        animation: SlotTransitions_animation-fitting-remove_e0 250ms;
    }
.SlotTransitions_baseOptDevices__exitActiveFitting_d0,
    .SlotTransitions_baseOptDevices__exitFittingRemove_fc {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
.SlotTransitions_baseOptDevices__exitDestroy_c9 {
        animation: SlotTransitions_animation-destroy_12 1.4s;
        animation-timing-function: cubic-bezier(.6, 0, .6, 1);
    }
.SlotTransitions_baseOptDevices__enterDestroy_19 {
        animation: SlotTransitions_animation-fade_ce 250ms reverse ease-in;
    }
.SlotTransitions_baseOptDevices__exitDemount_e3 {
        animation: SlotTransitions_animation-bright-up_8e 1s forwards 0s ease-in,
        SlotTransitions_animation-demount_d8 600ms none 1s ease-out;
    }
.SlotTransitions_baseOptDevices__enterDemount_8a {
        animation: SlotTransitions_animation-fade_ce 250ms reverse ease-in;
    }
.SlotTransitions_baseOptDevices__exitFade_10 {
        animation: SlotTransitions_animation-fade_ce 250ms ease-in;
    }
.SlotTransitions_baseOptDevices__enterFade_cf {
        animation: SlotTransitions_animation-fade_ce 250ms reverse ease-in;
    }
.SlotTransitions_baseOptDevices__enterDemountFade_57 {
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: SlotTransitions_animation-fade_ce 600ms 1s reverse ease-out;
        animation-fill-mode: forwards;
    }
.SlotTransitions_baseConsumables__exitLeft_d9 {
        animation: SlotTransitions_animation-left_27 200ms ease-in;
    }
.SlotTransitions_baseConsumables__exitLeftFade_4f {
        animation: SlotTransitions_animation-left_27 200ms ease-in,
        SlotTransitions_animation-fade_ce 250ms ease-in;
    }
.SlotTransitions_baseConsumables__enterRight_02 {
        animation: SlotTransitions_animation-right_31 200ms reverse ease-in;
    }
.SlotTransitions_baseConsumables__enterRightFade_c6 {
        animation: SlotTransitions_animation-right_31 200ms reverse ease-in,
        SlotTransitions_animation-fade_ce 250ms reverse ease-in;
    }
.SlotTransitions_baseConsumables__exitRight_39 {
        z-index: 1;
        animation: SlotTransitions_animation-right_31 200ms ease-in;
    }
.SlotTransitions_baseConsumables__enterLeft_97 {
        z-index: 2;
        animation: SlotTransitions_animation-left_27 200ms reverse ease-in;
    }
.SlotTransitions_baseConsumables__exitRightSwap_8a {
        z-index: 2;
        animation: SlotTransitions_animation-right-long_bd 200ms ease-in;
    }
.SlotTransitions_baseConsumables__enterRightSwap_28 {
        z-index: 1;
        animation: SlotTransitions_animation-right-long_bd 200ms reverse ease-in;
    }
.SlotTransitions_baseConsumables__enterLeftSwap_8e {
        z-index: 2;
        animation: SlotTransitions_animation-left-long_ec 200ms reverse ease-in;
    }
.SlotTransitions_baseConsumables__exitLeftSwap_0e {
        z-index: 1;
        animation: SlotTransitions_animation-left-long_ec 200ms ease-in;
    }
.SlotTransitions_baseConsumables__enterFitting_13 {
        z-index: 2;
        animation: SlotTransitions_animation-fitting_24 250ms;
    }
.SlotTransitions_baseConsumables__exitFittingRemove_01 {
        z-index: 1;
        animation: SlotTransitions_animation-fitting-remove_e0 250ms;
    }
.SlotTransitions_baseConsumables__exitActiveFitting_10,
    .SlotTransitions_baseConsumables__exitFittingRemove_01 {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
.SlotTransitions_baseConsumables__exitFade_5b {
        animation: SlotTransitions_animation-fade_ce 250ms ease-in;
    }
.SlotTransitions_baseConsumables__enterFade_bd {
        animation: SlotTransitions_animation-fade_ce 250ms reverse ease-in;
    }
.SlotTransitions_baseBattleAbilities__exitLeft_52 {
        animation: SlotTransitions_animation-left_27 200ms ease-in;
    }
.SlotTransitions_baseBattleAbilities__exitLeftFade_a9 {
        animation: SlotTransitions_animation-left_27 200ms ease-in,
        SlotTransitions_animation-fade_ce 250ms ease-in;
    }
.SlotTransitions_baseBattleAbilities__enterRight_7b {
        animation: SlotTransitions_animation-right_31 200ms reverse ease-in;
    }
.SlotTransitions_baseBattleAbilities__enterRightFade_d3 {
        animation: SlotTransitions_animation-right_31 200ms reverse ease-in,
        SlotTransitions_animation-fade_ce 250ms reverse ease-in;
    }
.SlotTransitions_baseBattleAbilities__exitRight_fc {
        z-index: 1;
        animation: SlotTransitions_animation-right_31 200ms ease-in;
    }
.SlotTransitions_baseBattleAbilities__enterLeft_97 {
        z-index: 2;
        animation: SlotTransitions_animation-left_27 200ms reverse ease-in;
    }
.SlotTransitions_baseBattleAbilities__exitRightSwap_7d {
        z-index: 2;
        animation: SlotTransitions_animation-right-long_bd 200ms ease-in;
    }
.SlotTransitions_baseBattleAbilities__enterRightSwap_e5 {
        z-index: 1;
        animation: SlotTransitions_animation-right-long_bd 200ms reverse ease-in;
    }
.SlotTransitions_baseBattleAbilities__enterLeftSwap_ca {
        z-index: 2;
        animation: SlotTransitions_animation-left-long_ec 200ms reverse ease-in;
    }
.SlotTransitions_baseBattleAbilities__exitLeftSwap_c0 {
        z-index: 1;
        animation: SlotTransitions_animation-left-long_ec 200ms ease-in;
    }
.SlotTransitions_baseBattleAbilities__enterFitting_de {
        z-index: 2;
        animation: SlotTransitions_animation-fitting_24 250ms;
    }
.SlotTransitions_baseBattleAbilities__exitFittingRemove_bc {
        z-index: 1;
        animation: SlotTransitions_animation-fitting-remove_e0 250ms;
    }
.SlotTransitions_baseBattleAbilities__exitActiveFitting_3d,
    .SlotTransitions_baseBattleAbilities__exitFittingRemove_bc {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
.SlotTransitions_baseBattleAbilities__exitFade_21 {
        animation: SlotTransitions_animation-fade_ce 250ms ease-in;
    }
.SlotTransitions_baseBattleAbilities__enterFade_15 {
        animation: SlotTransitions_animation-fade_ce 250ms reverse ease-in;
    }
.SlotTransitions_baseBattleBoosters__enterFitting_56 {
        z-index: 2;
        animation: SlotTransitions_animation-fitting_24 250ms;
    }
.SlotTransitions_baseBattleBoosters__exitFittingRemove_e5 {
        z-index: 1;
        animation: SlotTransitions_animation-fitting-remove_e0 250ms;
    }
.SlotTransitions_baseBattleBoosters__exitActiveFitting_f1,
    .SlotTransitions_baseBattleBoosters__exitFittingRemove_e5 {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

