.TooltipDecorator_base_c9 {
    display: flex;
    position: absolute;
}

.TooltipDecorator_base__theme-default_6d .TooltipDecorator_decorator_3d {
    padding: 4rem 6rem 8rem;
    border-image-source: url('R.images.gui.maps.icons.tooltip.tooltip_background');
    border-image-slice: 24 fill;
    border-image-width: 24rem;
    position: relative;
}

.Content_base_d9 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320rem;
}

.Content_image_65 {
    width: 296rem;
    height: 222rem;
    margin: 12rem 0;
    background: center / contain no-repeat;
}

.Content_base__unreceived_ef .Content_image_65 {
    display: none;
}

.Content_titleBase_aa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 89rem;
    background: url('R.images.gui.maps.icons.collections.tooltips.title_background');
}

.Content_title_69 {
    color: #8c8c7e;
    font-size: 14rem;
    font-weight: 700;
    line-height: 1.15;
    text-align: center;
    opacity: 0.5;
}

.Content_itemName_a1 {
    color: #e9e2bf;
    font-size: 18rem;
    font-weight: 700;
    line-height: 1.1;
    width: 287rem;
    text-align: center;
}

.Content_separator_ea {
    width: 100%;
    height: 1rem;
    background: url('R.images.gui.maps.icons.collections.tooltips.devider_points') center / contain no-repeat;
}

.Content_base__unreceived_ef .Content_separator__hidden_7f {
    display: none;
}

.Content_status_16 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40rem;
    background: url('R.images.gui.maps.icons.collections.tooltips.status_background_received') center / contain
        no-repeat;
}

.Content_base__unreceived_ef .Content_status_16 {
    height: 70rem;
    padding-bottom: 23rem;
    background-image: url('R.images.gui.maps.icons.collections.tooltips.status_background_unreceived');
}

.Content_statusImage_4a {
    width: 36rem;
    height: 36rem;
    background: url('R.images.gui.maps.icons.collections.tooltips.status_icon_received') center / contain no-repeat;
}

.Content_base__unreceived_ef .Content_statusImage_4a {
    background-image: url('R.images.gui.maps.icons.collections.tooltips.status_icon_unreceived');
}

.Content_statusTitle_50 {
    color: #80d43a;
    font-size: 14rem;
    font-weight: 700;
    line-height: 1.15;
    margin-bottom: 3rem;
}

.Content_base__unreceived_ef .Content_statusTitle_50 {
    color: #ffdd99;
    font-size: 14rem;
    font-weight: 700;
    line-height: 1.15;
}

.Content_description_00 {
    color: #8c8c7e;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    display: none;
    width: 290rem;
    margin: -30rem 0 20rem;
    text-align: center;
}

.Content_base__unreceived_ef .Content_description_00 {
    display: inline;
}
