.TooltipDecorator_base_c9 {
    display: flex;
    position: absolute;
}

.TooltipDecorator_base__theme-default_6d .TooltipDecorator_decorator_3d {
    padding: 4rem 6rem 8rem;
    border-image-source: url('R.atlases.components.tooltip_background');
    border-image-slice: 24 fill;
    border-image-width: 24rem;
    position: relative;
}

.MissionTooltipApp_base_1d {
    display: flex;
    flex-direction: column;
    width: 368rem;
    padding: 20rem;
    box-shadow: inset 0 0 10px rgba(59, 59, 46, 0.86);
}

.MissionTooltipApp_title_b0 {
    color: #e9e2bf;
    font-size: 18rem;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 5rem;
}

.MissionTooltipApp_subTitle_ff {
    color: #e9e2bf;
    font-size: 14rem;
    font-weight: 700;
    line-height: 1.15;
    margin-bottom: 5rem;
}

.MissionTooltipApp_text_9c {
    color: #8c8c7e;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
}

.MissionTooltipApp_icon_2a {
    width: 180rem;
    height: 135rem;
    margin: 12rem 0 30rem 70rem;
    background: no-repeat 50% / contain;
}
