.FormatText_base_d0 {
    display: flex;
    flex-wrap: wrap;
}

.Reward_base_ea {
    display: flex;
    flex-direction: column;
    position: relative;
}

    .Reward_base__s48x48_46,
    .Reward_base__small_c0 {
        width: 48rem;
        height: 48rem;
    }

    .Reward_base__s80x80_ce,
    .Reward_base__big_e5 {
        width: 80rem;
        height: 80rem;
    }

    .Reward_base__s128x100_c3 {
        width: 128rem;
        height: 100rem;
    }

    .Reward_base__s180x135_7c {
        width: 180rem;
        height: 135rem;
    }

    .Reward_base__s232x174_67 {
        width: 232rem;
        height: 174rem;
    }

    .Reward_base__s296x222_78 {
        width: 296rem;
        height: 222rem;
    }

    .Reward_base__s400x300_07 {
        width: 400rem;
        height: 300rem;
    }

    .Reward_base__s600x450_f8 {
        width: 600rem;
        height: 450rem;
    }

.Reward_tooltipWrapper_b5 {
    height: 100%;
}

.Reward_icon_df {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    position: relative;
    z-index: 1;
}

.Reward_overlay_68 {
    background: no-repeat center / 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.Reward_base__s48x48_46 .Reward_overlay_68,
    .Reward_base__small_c0 .Reward_overlay_68 {
        width: 96rem;
        height: 96rem;
        background-size: 100%;
        overflow: visible;
    }

.Reward_base__s80x80_ce .Reward_overlay_68,
    .Reward_base__big_e5 .Reward_overlay_68 {
        width: 128rem;
        height: 128rem;
    }

.Reward_base__s180x135_7c .Reward_overlay_68 {
        width: 266rem;
        height: 241rem;
    }

.Reward_base__s232x174_67 .Reward_overlay_68 {
        width: 344rem;
        height: 312rem;
    }

.Reward_base__s296x222_78 .Reward_overlay_68 {
        width: 450rem;
        height: 408rem;
    }

.Reward_base__s400x300_07 .Reward_overlay_68 {
        width: 618rem;
        height: 590rem;
    }

.Reward_base__s600x450_f8 .Reward_overlay_68 {
        width: 670rem;
        height: 575rem;
    }

.Reward_highlight_36 {
    width: 100%;
    height: 100%;
    background: no-repeat center / contain;
    position: absolute;
    z-index: 0;
}

.Reward_image_89 {
    position: relative;
}

.Reward_info_72 {
    margin-top: -13rem;
    color: #e9e2bf;
    font-size: 14rem;
    line-height: 18rem;
    text-align: center;
    z-index: 1;
}

.Reward_base__s48x48_46 .Reward_info_72,
    .Reward_base__small_c0 .Reward_info_72 {
        margin: -10rem -10rem 0;
    }

.Reward_info__multi_63 {
        margin-right: 2rem;
        text-align: right;
    }

.Reward_base__s48x48_46 .Reward_info__multi_63,
        .Reward_base__small_c0 .Reward_info__multi_63 {
            margin-right: 0;
        }

.Reward_info__credits_ef {
        color: #CED9D9;
    }

.Reward_info__gold_36 {
        color: #FFC363;
    }

.Reward_info__crystal_36 {
        color: #C9C9B6;
    }

.Reward_info__premiumTank_d3 {
        color: #FFDD99;
    }

.Reward_timer_d3 {
    background: no-repeat center / contain;
    position: absolute;
    z-index: 1;
}

.Reward_base__s48x48_46 .Reward_timer_d3,
    .Reward_base__small_c0 .Reward_timer_d3 {
        width: 23rem;
        height: 23rem;
        background-image: url('R.images.gui.maps.icons.quests.bonuses.small.timer');
        top: -6rem;
        right: -6rem;
    }

.Reward_base__s80x80_ce .Reward_timer_d3,
    .Reward_base__big_e5 .Reward_timer_d3 {
        width: 48rem;
        height: 48rem;
        background-image: url('R.images.gui.maps.icons.quests.bonuses.big.timer');
        top: -14rem;
        right: -14rem;
    }

.TooltipDecorator_base_c9 {
    display: flex;
    position: absolute;
}

.TooltipDecorator_decorator_3d {
    padding: 4rem 6rem 8rem; /* border offset*/
    border-image-source: url('R.atlases.components.tooltip_background');
    border-image-slice: 24 fill;
    border-image-width: 24rem;
    position: relative;
}

.TooltipDecorator_decoratorContent_de {
    background-color: #000;
}

.App_base_7e {
    width: 348rem;
    padding: 20rem;
}

.App_title_bd {
    color: #E9E2BF;
    font-size: 18rem;
    font-weight: 700;
    line-height: 1.1;
}

.App_separator_4e {
    align-self: center;
    width: 348rem;
    height: 9rem;
    background: url('R.images.gui.maps.icons.winback.tooltip.separator_small') no-repeat center / cover;
}

.App_description_b9 {
    color: #8C8C7E;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    margin-top: 6rem;
    position: relative;
}

.App_rewards_7b {
    display: flex;
    flex-direction: column;
    margin-top: 12rem;
}

.App_reward_d4 {
    display: flex;
    align-items: center;
    margin-top: 8rem;
}

.App_reward_d4 + .App_reward_d4 {
        margin-top: 20rem;
    }

.App_label_32 {
    color: #8C8C7E;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    flex: 1;
    margin-left: 12rem;
}

.App_vehicle_ff {
    width: 48rem;
    height: 48rem;
    background: url('R.images.gui.maps.icons.winback.selectableRewardView.tab.vehicle_small') no-repeat center / contain;
    position: relative;
}

.App_vehicleLevel_2e {
    color: #FEFEEC;
    font-size: 12rem;
    font-weight: 400;
    line-height: 1.3;
    width: 16rem;
    font-size: 11rem;
    text-align: center;
    position: absolute;
    top: 1rem;
    left: 1rem;
}

.App_discount_15 {
    width: 66rem;
    height: 52rem;
    background: url('R.images.gui.maps.icons.winback.tooltip.discount_small') no-repeat center / contain;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

