.TooltipDecorator_base_c9 {
    display: flex;
    position: absolute;
}

.TooltipDecorator_base__theme-default_6d .TooltipDecorator_decorator_3d {
        padding: 4rem 6rem 8rem;
        border-image-source: url('R.atlases.components.tooltip_background');
        border-image-slice: 24 fill;
        border-image-width: 24rem;
        position: relative;
    }

.ExtendedText_base_71 {
    display: flex;
    line-height: 1.2;
    position: relative;
}

    .ExtendedText_base__zeroPadding_25 {
        padding: 0;
    }

    .ExtendedText_base__isTruncationAvailable_5b {
        width: 100%;
    }

.ExtendedText_truncated_97 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
}

.ExtendedText_truncated__hide_31 {
        opacity: 0;
    }

.ExtendedText_unTruncated_b8 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    align-content: flex-start;
    color: #FF2717;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    pointer-events: none;
}

.colors_blackReal_fc {
    color: #000000;
}

.colors_whiteReal_31 {
    color: #FFFFFF;
}

.colors_white_45 {
    color: #F2F2F7;
}

.colors_whiteOrange_81 {
    color: #FEFEEC;
}

.colors_whiteSpanish_c3 {
    color: #E9E2BF;
}

.colors_par_5b {
    color: #8C8C7E;
}

.colors_parSecondary_fd {
    color: #595950;
}

.colors_parTertiary_97 {
    color: #37362E;
}

.colors_red_79 {
    color: #FF2717;
}

.colors_redDark_73 {
    color: #B70000;
}

.colors_yellow_76 {
    color: #FEAB34;
}

.colors_orange_cd {
    color: #EE7000;
}

.colors_cream_0f {
    color: #FFDD99;
}

.colors_brown_82 {
    color: #CBAC77;
}

.colors_greenBright_68 {
    color: #80D43A;
}

.colors_green_fa {
    color: #7AB300;
}

.colors_greenDark_a9 {
    color: #497212;
}

.colors_blueBooster_26 {
    color: #CCFFFF;
}

.colors_blueTeamkiller_86 {
    color: #09E2FF;
}

.colors_cred_35 {
    color: #CED9D9;
}

.colors_gold_c3 {
    color: #FFC363;
}

.colors_bond_ce {
    color: #C9C9B6;
}

.colors_prom_83 {
    color: #A29B70;
}

.renderers_noBreakWrapper_10 {
    display: flex;
    flex-wrap: nowrap;
}

.renderers_lineBreak_b5 {
    width: 100%;
    height: 0;
}

.renderers_newLine_bd {
    flex: 1;
    width: 100%;
}

.renderers_word_f3 {
    white-space: nowrap;
    overflow-wrap: normal;
}

.Divided_base_06 {
    position: relative;
}

.Divided_divider_64 {
    width: 360rem;
    height: 1rem;
    background: url('R.images.gui.maps.icons.tooltip.tooltip_perks_divider') no-repeat center / cover;
    position: absolute;
    bottom: 0;
    left: 0;
}

.ContentItem_base_e7 {
    color: #8C8C7E;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    display: flex;
    align-items: center;
    margin: -3rem 25rem;
}

.ContentItem_text_07 {
    display: flex;
    flex: 1;
}

.ContentItem_icon_78 {
    width: 54rem;
    height: 54rem;
    background: no-repeat 50% / contain;
}

.ContentItem_icon__experience_3d {
        background-image: url('R.images.gui.maps.icons.tooltip.premiumVehicle.experience');
    }

.ContentItem_icon__credits_7a {
        margin-top: -1rem;
        background-image: url('R.images.gui.maps.icons.tooltip.premiumVehicle.credits');
    }

.ContentItem_icon__transfer_a1 {
        margin-top: -1rem;
        background-image: url('R.images.gui.maps.icons.tooltip.premiumVehicle.transfer');
    }

.PremiumVehicleTooltipApp_base_78 {
    color: #8C8C7E;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    width: 370rem;
    padding: 16rem 21rem;
    background-color: #000000;
    position: relative;
}

.PremiumVehicleTooltipApp_flash_4a {
    width: 295rem;
    height: 200rem;
    background: url('R.images.gui.maps.icons.tooltip.flash_top_orange') no-repeat 50% / contain;
    position: absolute;
    top: 0;
    left: 0;
}

.PremiumVehicleTooltipApp_header_9a {
    color: #E9E2BF;
    font-size: 18rem;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 11rem;
}

.PremiumVehicleTooltipApp_caption_e7 {
    margin-bottom: 24rem;
}

.PremiumVehicleTooltipApp_contentHeader_77 {
    margin-top: 10rem;
    color: #E9E2BF;
}

.PremiumVehicleTooltipApp_info_da {
    display: flex;
    margin-top: 8rem;
}

.PremiumVehicleTooltipApp_infoIcon_88 {
    width: 16rem;
    height: 16rem;
    margin-top: 2rem;
    background: url('R.images.gui.maps.icons.library.attentionIconFilled') no-repeat 50% / contain;
}

.PremiumVehicleTooltipApp_infoText_56 {
    margin-left: 8rem;
    color: #FEAB34;
}

.PremiumVehicleTooltipApp_content_30 {
    margin: 5rem 0 22rem;
}

