.CButton_base_40 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    box-shadow: 0 0 0 1rem rgba(0, 0, 0, 0.6);
    position: relative;
    cursor: pointer;
}

.CButton_base__main_42,
.CButton_base__primary_7f,
.CButton_base__primaryGreen_6f,
.CButton_base__primaryRed_ec,
.CButton_base__secondary_50 {
    background-size: 100% 100%;
}

.CButton_base__main_42 {
    background-image: url('R.images.gui.maps.icons.components.button.back_main');
}

.CButton_base__primary_7f {
    background-image: url('R.images.gui.maps.icons.components.button.back_primary');
}

.CButton_base__primaryGreen_6f {
    background-image: url('R.images.gui.maps.icons.components.button.back_primary_green');
}

.CButton_base__primaryRed_ec {
    background-image: url('R.images.gui.maps.icons.components.button.back_primary_red');
}

.CButton_base__secondary_50 {
    background-image: url('R.images.gui.maps.icons.components.button.back_secondary');
}

.CButton_base__ghost_ed {
    border-radius: 3rem;
    box-shadow:
        0 0 0 1rem rgba(0, 0, 0, 0.3),
        0 0 0 1rem rgba(255, 255, 255, 0.15) inset;
    background-color: rgba(0, 0, 0, 0.15);
}

.CButton_base__extraSmall_27 {
    min-height: 17rem;
    padding: 0 16rem;
}

.CButton_base__small_df,
.CButton_base__medium_74 {
    padding: 0 20rem;
}

.CButton_base__small_df {
    min-height: 18rem;
}

.CButton_base__medium_74 {
    min-height: 32rem;
}

.CButton_base__disabled_d9 {
    cursor: default;
}
/* Element .back and background-image in element .base need for fix bug in GF https://jira.wargaming.net/browse/WOTD-158525
The bug is that under certain conditions, when using border-image, stripes appear. Strip is a single-pixel gap
between 'border-image-width' and 'fill'.
This bug is reproduced in Google Chrome 81.0.4044.113
*/
.CButton_back_e5 {
    border-image-slice: 4 fill;
    border-image-width: 4rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.CButton_base__main_42 .CButton_back_e5 {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_main');
}
.CButton_base__primary_7f .CButton_back_e5 {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_primary');
}
.CButton_base__primaryGreen_6f .CButton_back_e5 {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_primary_green');
}
.CButton_base__primaryRed_ec .CButton_back_e5 {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_primary_red');
}
.CButton_base__secondary_50 .CButton_back_e5 {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_secondary');
}
.CButton_texture_fe {
    background: url('R.images.gui.maps.icons.components.button.standard_texture_file');
    background-size: 155rem 31rem;
    mix-blend-mode: soft-light;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.CButton_state_11 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: box-shadow 0.16s ease-in-out;
}
.CButton_base__focus_83 .CButton_state_11 {
    border-radius: 2rem;
    box-shadow: inset 0 0 2rem 1rem rgba(255, 85, 0, 0.2);
}
.CButton_stateHighlightHover_ff,
.CButton_stateHighlightActive_35,
.CButton_stateDisabled_54 {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.CButton_base__firstHover_d5 .CButton_stateHighlightHover_ff,
.CButton_base__firstHover_d5 .CButton_stateHighlightActive_35,
.CButton_base__firstHover_d5 .CButton_stateDisabled_54 {
    transition: opacity 0.16s ease-in-out;
}
.CButton_stateHighlightHover_ff {
    background-image: linear-gradient(
        180deg,
        rgba(252, 248, 235, 0.25) 0%,
        rgba(252, 248, 235, 0.1) 50%,
        rgba(255, 255, 255, 0) 100%
    );
}
.CButton_base_40:hover .CButton_stateHighlightHover_ff {
    opacity: 1;
}
.CButton_base_40:active .CButton_stateHighlightHover_ff {
    opacity: 0;
}
.CButton_base__disabled_d9:hover .CButton_stateHighlightHover_ff {
    opacity: 0;
}
.CButton_base__ghost_ed .CButton_stateHighlightHover_ff {
    box-shadow: 0 15rem 12rem 0 rgba(242, 242, 230, 0.11) inset;
    background-color: rgba(8, 6, 0, 0.18);
    background-image: none;
}
.CButton_stateHighlightActive_35 {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.15) 100%);
}
.CButton_base__highlightActive_b2 .CButton_stateHighlightActive_35 {
    opacity: 1;
}
.CButton_stateDisabled_54 {
    background-color: rgba(0, 0, 0, 0.25);
    background-image: url('R.images.gui.maps.icons.components.button.texture_disable');
    background-size: 15rem;
}
.CButton_base__disabled_d9 .CButton_stateDisabled_54 {
    opacity: 1;
}
.CButton_content_cc {
    display: flex;
    align-items: center;
    color: #f2f2e6;
    font-weight: 700;
    line-height: 1.2;
    text-shadow: 0 -1rem 1rem #000;
    letter-spacing: 0.03em;
    transform: translateY(-1rem);
}
.CButton_content_cc[lang='ja'],
.CButton_content_cc[lang='ko'],
.CButton_content_cc[lang='zh_tw'],
.CButton_content_cc[lang='zh_sg'],
.CButton_content_cc[lang='zh_cn'],
.CButton_content_cc[lang='th'] {
    font-weight: 400;
}
.CButton_base__main_42 .CButton_content_cc,
.CButton_base__primaryRed_ec .CButton_content_cc {
    text-shadow: 0 -1rem 1rem #600;
}
.CButton_base__secondary_50 .CButton_content_cc {
    color: rgba(254, 254, 236, 0.75);
}
.CButton_base__primaryGreen_6f .CButton_content_cc {
    text-shadow: 0 -1rem 1rem #1c2502;
}
.CButton_base__extraSmall_27 .CButton_content_cc {
    font-size: 12rem;
}
.CButton_base__small_df .CButton_content_cc {
    font-size: 14rem;
}
.CButton_base__medium_74 .CButton_content_cc {
    font-size: 15rem;
}
.CButton_base__disabled_d9 .CButton_content_cc {
    opacity: 0.6;
}

.DescriptionBlock_base_74 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mediaLarge .DescriptionBlock_base_74 {
    padding: 0 40rem;
}

.DescriptionBlock_icon_bc {
    width: 640rem;
    height: 204rem;
    margin-bottom: 36rem;
    background: no-repeat center / contain;
}

.mediaMedium .DescriptionBlock_icon_bc {
    width: 960rem;
    height: 306rem;
    margin-bottom: 10rem;
}

.mediaLargeHeight .DescriptionBlock_icon_bc {
    margin-bottom: 46rem;
}

.DescriptionBlock_title_41 {
    color: #f2f2f7;
    font-size: 24rem;
    font-weight: 700;
    line-height: 1.2;
    display: flex;
    min-height: 66rem;
    margin-bottom: 38rem;
    text-align: center;
    letter-spacing: 1rem;
}

.mediaMedium .DescriptionBlock_title_41 {
    min-height: 76rem;
    margin-bottom: 0;
    font-size: 28rem;
}

.mediaLarge .DescriptionBlock_title_41 {
    margin-bottom: 46rem;
}

.DescriptionBlock_description_cf {
    color: #e9e2bf;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    margin: 0 40rem;
    text-align: center;
    opacity: 0.8;
}

.mediaMedium .DescriptionBlock_description_cf {
    font-size: 16rem;
}

.Slider_base_31 {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    padding: 0 130rem;
    position: relative;
}

.Slider_base__carousel_7b {
    padding: 0 20rem;
}
.Slider_trackWrapper_70 {
    overflow: hidden;
}
.Slider_base__carousel_7b .Slider_trackWrapper_70 {
    overflow: visible;
}
.Slider_track_6d {
    display: flex;
    align-items: center;
    min-width: 100%;
    transition: 0.5s cubic-bezier(0.78, 0.13, 0.15, 0.86) transform;
}
.Slider_base__withoutAnimation_51 .Slider_track_6d {
    transition-property: none;
}
.Slider_base__withoutPointer_2b .Slider_track_6d {
    pointer-events: none;
}
.Slider_slide_aa {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    opacity: 0;
    transition:
        0.5s cubic-bezier(0.78, 0.13, 0.15, 0.86) opacity,
        0.5s cubic-bezier(0.78, 0.13, 0.15, 0.86) filter,
        0.5s cubic-bezier(0.78, 0.13, 0.15, 0.86) transform;
}
.Slider_slide__active_ef {
    opacity: 1;
}
.Slider_slide__carousel_05 {
    filter: brightness(1);
    opacity: 0;
    transform: scale(0.66);
    pointer-events: none;
}
.Slider_base__carousel_7b .Slider_slide__active_ef {
    opacity: 1;
    transform: scale(1);
    pointer-events: inherit;
}
.Slider_slide__beforeActive_06,
.Slider_slide__afterActive_fb {
    opacity: 0.5;
    cursor: pointer;
    pointer-events: inherit;
}
.Slider_slide__beforeActive_06:hover,
.Slider_slide__afterActive_fb:hover {
    filter: brightness(0.8);
    opacity: 0.9;
}
/* becouse of 4k performance */
.Slider_slide__beforeActive_06 {
    transform: scale(0.66) translateX(150px);
}
/* stylelint-disable */
.Slider_slide__beforeActiveLarge_e2 {
    transform: scale(0.66) translateX(200px);
}
.Slider_slide__afterActive_fb {
    transform: scale(0.66) translateX(-150px);
}
.Slider_slide__afterActiveLarge_f6 {
    transform: scale(0.66) translateX(-200px);
}
.Slider_slide__leftEdge_62 {
    transform: scale(0.66) translateX(300px);
}
.Slider_slide__leftEdgeLarge_d9 {
    transform: scale(0.66) translateX(400px);
}
.Slider_slide__rightEdge_2e {
    transform: scale(0.66) translateX(-300px);
}
.Slider_slide__rightEdgeLarge_e2 {
    transform: scale(0.66) translateX(-400px);
}
/* stylelint-enable */
.Slider_base__withoutAnimation_51 .Slider_slide_aa {
    transition-property: none;
}
.Slider_prev_0e,
.Slider_next_fd {
    width: 74rem;
    height: 142rem;
    background: no-repeat center / contain;
    filter: brightness(1) saturate(1);
    position: absolute;
    top: 44%;
    z-index: 1;
    transform: translateY(-50%);
    transition: 0.3s cubic-bezier(0.07, 0.82, 0.17, 1) filter;
    cursor: pointer;
}
.Slider_prev_0e:hover,
.Slider_next_fd:hover {
    filter: brightness(1.3) saturate(1.5);
}
.Slider_prev__disabled_82,
.Slider_next__disabled_6d {
    filter: brightness(0.3) grayscale(1);
    cursor: default;
    pointer-events: none;
}
.Slider_prev__disabled_82:hover,
.Slider_next__disabled_6d:hover {
    filter: brightness(0.3) grayscale(1);
}
.Slider_prev_0e {
    background-image: url('R.images.gui.maps.icons.common.components.intro_view.prev');
    left: 20rem;
}
.Slider_next_fd {
    background-image: url('R.images.gui.maps.icons.common.components.intro_view.next');
    right: 20rem;
}
.Slider_counter_3a {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 4rem;
    color: #f2f2f7;
    font-size: 15rem;
    font-weight: 700;
}
.Slider_base__large_74 .Slider_counter_3a {
    margin-bottom: 8rem;
    font-size: 20rem;
}
.Slider_counter__disabled_26 {
    visibility: hidden;
}
.Slider_counterDivider_26 {
    margin: 0 6rem;
}

.IntroView_base_b9 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #000 no-repeat center center / cover;
    overflow: hidden;
}

.IntroView_title_6a {
    color: #f2f2f7;
    font-size: 36rem;
    font-weight: 700;
    line-height: 1.1;
    margin: 40rem 0 18rem;
    opacity: 1;
    transform: translateY(0);
    transition:
        1s cubic-bezier(0.07, 0.82, 0.17, 1) opacity 0.1s,
        1s cubic-bezier(0.07, 0.82, 0.17, 1) transform 0.1s;
}

.mediaLarge .IntroView_title_6a {
    margin: 66rem 0 34rem;
    font-size: 56rem;
}

.IntroView_base__video_bb .IntroView_title_6a {
    opacity: 0;
    transform: translateY(-100%);
}

.IntroView_bg_d1 {
    background: no-repeat center center / cover;
    filter: blur(5px);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: 1s cubic-bezier(0.07, 0.82, 0.17, 1) opacity 0.1s;
}

.IntroView_shadow_d5 {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.35);
    position: absolute;
    top: 0;
    left: 0;
}

.IntroView_video_c4 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 66rem;
    height: 66rem;
    border: 1rem solid rgba(255, 255, 255, 0.1);
    border-radius: 1rem;
    background-color: rgba(0, 0, 0, 0.15);
    white-space: nowrap;
    filter: brightness(1);
    position: absolute;
    top: 37rem;
    right: 50rem;
    z-index: 1;
    transition:
        0.3s cubic-bezier(0.07, 0.82, 0.17, 1) filter,
        1s opacity;
    cursor: pointer;
}

.mediaMedium .IntroView_video_c4 {
    width: auto;
    padding: 0 23rem 0 8rem;
    background: rgba(0, 0, 0, 0.15) url('R.images.gui.maps.icons.common.components.intro_view.video_button_bg') repeat-y
        right center;
    top: 27rem;
    right: 74rem;
}

.mediaLarge .IntroView_video_c4 {
    top: 64rem;
}

.IntroView_base__video_bb .IntroView_video_c4 {
    opacity: 0;
    pointer-events: none;
}

.IntroView_video_c4:hover {
    filter: brightness(1.2);
}

.IntroView_videoIcon_b2 {
    width: 52rem;
    height: 52rem;
    background: url('R.images.gui.maps.icons.common.components.intro_view.youtube_button') no-repeat center / contain;
}

.IntroView_videoText_0b {
    display: none;
}

.mediaMedium .IntroView_videoText_0b {
    color: #e9e2bf;
    font-size: 15rem;
    font-weight: 700;
    line-height: 1.15;
    display: block;
    max-width: 150rem;
    margin: 0 0 4rem 4rem;
    white-space: normal;
}

.IntroView_content_cc {
    display: flex;
    width: 90vw;
    max-width: 910rem;
    transition: 1s cubic-bezier(0.07, 0.82, 0.17, 1) opacity 0.1s;
}

.mediaMedium .IntroView_content_cc {
    max-width: 1240rem;
}

.mediaLargeHeight .IntroView_content_cc {
    align-items: center;
}

.IntroView_base__high_98 .IntroView_content_cc {
    align-items: center;
}

.IntroView_base__video_bb .IntroView_content_cc {
    opacity: 0;
}

.IntroView_bottomContainer_1f {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    flex: 0 0;
    transform: translateY(0);
    transition:
        1s cubic-bezier(0.07, 0.82, 0.17, 1) opacity 0.1s,
        1s cubic-bezier(0.07, 0.82, 0.17, 1) transform 0.1s;
}

.IntroView_base__video_bb .IntroView_bottomContainer_1f {
    opacity: 0;
    transform: translateY(100%);
}

.IntroView_buttonWrapper_bb {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-width: 140rem;
}

.mediaLarge .IntroView_buttonWrapper_bb {
    min-width: 160rem;
}

.IntroView_close_2d {
    min-width: 160rem;
    min-height: 24rem;
    margin-bottom: 30rem;
    text-align: center;
    transition: 1s cubic-bezier(0.07, 0.82, 0.17, 1) opacity;
}

.mediaMedium .IntroView_close_2d {
    min-height: 32rem;
    margin-bottom: 40rem;
}

.mediaLarge .IntroView_close_2d {
    margin-bottom: 80rem;
}

.mediaExtraLarge .IntroView_close_2d {
    margin-bottom: 100rem;
}

.App_shadow_33 {
    background: rgba(0, 0, 0, 0.4), radial-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 75%);
}
