.CButton_base_40 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    box-shadow: 0 0 0 1rem rgba(0, 0, 0, 0.6);
    position: relative;
    cursor: pointer;
}

.CButton_base__main_42,
.CButton_base__primary_7f,
.CButton_base__primaryGreen_6f,
.CButton_base__primaryRed_ec,
.CButton_base__secondary_50 {
    background-size: 100% 100%;
}

.CButton_base__main_42 {
    background-image: url('R.images.gui.maps.icons.components.button.back_main');
}

.CButton_base__primary_7f {
    background-image: url('R.images.gui.maps.icons.components.button.back_primary');
}

.CButton_base__primaryGreen_6f {
    background-image: url('R.images.gui.maps.icons.components.button.back_primary_green');
}

.CButton_base__primaryRed_ec {
    background-image: url('R.images.gui.maps.icons.components.button.back_primary_red');
}

.CButton_base__secondary_50 {
    background-image: url('R.images.gui.maps.icons.components.button.back_secondary');
}

.CButton_base__ghost_ed {
    border-radius: 3rem;
    box-shadow:
        0 0 0 1rem rgba(0, 0, 0, 0.3),
        0 0 0 1rem rgba(255, 255, 255, 0.15) inset;
    background-color: rgba(0, 0, 0, 0.15);
}

.CButton_base__extraSmall_27 {
    min-height: 17rem;
    padding: 0 16rem;
}

.CButton_base__small_df,
.CButton_base__medium_74 {
    padding: 0 20rem;
}

.CButton_base__small_df {
    min-height: 18rem;
}

.CButton_base__medium_74 {
    min-height: 32rem;
}

.CButton_base__disabled_d9 {
    cursor: default;
}
/* Element .back and background-image in element .base need for fix bug in GF https://jira.wargaming.net/browse/WOTD-158525
The bug is that under certain conditions, when using border-image, stripes appear. Strip is a single-pixel gap
between 'border-image-width' and 'fill'.
This bug is reproduced in Google Chrome 81.0.4044.113
*/
.CButton_back_e5 {
    border-image-slice: 4 fill;
    border-image-width: 4rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.CButton_base__main_42 .CButton_back_e5 {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_main');
}
.CButton_base__primary_7f .CButton_back_e5 {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_primary');
}
.CButton_base__primaryGreen_6f .CButton_back_e5 {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_primary_green');
}
.CButton_base__primaryRed_ec .CButton_back_e5 {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_primary_red');
}
.CButton_base__secondary_50 .CButton_back_e5 {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_secondary');
}
.CButton_texture_fe {
    background: url('R.images.gui.maps.icons.components.button.standard_texture_file');
    background-size: 155rem 31rem;
    mix-blend-mode: soft-light;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.CButton_state_11 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: box-shadow 0.16s ease-in-out;
}
.CButton_base__focus_83 .CButton_state_11 {
    border-radius: 2rem;
    box-shadow: inset 0 0 2rem 1rem rgba(255, 85, 0, 0.2);
}
.CButton_stateHighlightHover_ff,
.CButton_stateHighlightActive_35,
.CButton_stateDisabled_54 {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.CButton_base__firstHover_d5 .CButton_stateHighlightHover_ff,
.CButton_base__firstHover_d5 .CButton_stateHighlightActive_35,
.CButton_base__firstHover_d5 .CButton_stateDisabled_54 {
    transition: opacity 0.16s ease-in-out;
}
.CButton_stateHighlightHover_ff {
    background-image: linear-gradient(
        180deg,
        rgba(252, 248, 235, 0.25) 0%,
        rgba(252, 248, 235, 0.1) 50%,
        rgba(255, 255, 255, 0) 100%
    );
}
.CButton_base_40:hover .CButton_stateHighlightHover_ff {
    opacity: 1;
}
.CButton_base_40:active .CButton_stateHighlightHover_ff {
    opacity: 0;
}
.CButton_base__disabled_d9:hover .CButton_stateHighlightHover_ff {
    opacity: 0;
}
.CButton_base__ghost_ed .CButton_stateHighlightHover_ff {
    box-shadow: 0 15rem 12rem 0 rgba(242, 242, 230, 0.11) inset;
    background-color: rgba(8, 6, 0, 0.18);
    background-image: none;
}
.CButton_stateHighlightActive_35 {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.15) 100%);
}
.CButton_base__highlightActive_b2 .CButton_stateHighlightActive_35 {
    opacity: 1;
}
.CButton_stateDisabled_54 {
    background-color: rgba(0, 0, 0, 0.25);
    background-image: url('R.images.gui.maps.icons.components.button.texture_disable');
    background-size: 15rem;
}
.CButton_base__disabled_d9 .CButton_stateDisabled_54 {
    opacity: 1;
}
.CButton_content_cc {
    display: flex;
    align-items: center;
    color: #f2f2e6;
    font-weight: 700;
    line-height: 1.2;
    text-shadow: 0 -1rem 1rem #000;
    letter-spacing: 0.03em;
    transform: translateY(-1rem);
}
.CButton_content_cc[lang='ja'],
.CButton_content_cc[lang='ko'],
.CButton_content_cc[lang='zh_tw'],
.CButton_content_cc[lang='zh_sg'],
.CButton_content_cc[lang='zh_cn'],
.CButton_content_cc[lang='th'] {
    font-weight: 400;
}
.CButton_base__main_42 .CButton_content_cc,
.CButton_base__primaryRed_ec .CButton_content_cc {
    text-shadow: 0 -1rem 1rem #600;
}
.CButton_base__secondary_50 .CButton_content_cc {
    color: rgba(254, 254, 236, 0.75);
}
.CButton_base__primaryGreen_6f .CButton_content_cc {
    text-shadow: 0 -1rem 1rem #1c2502;
}
.CButton_base__extraSmall_27 .CButton_content_cc {
    font-size: 12rem;
}
.CButton_base__small_df .CButton_content_cc {
    font-size: 14rem;
}
.CButton_base__medium_74 .CButton_content_cc {
    font-size: 15rem;
}
.CButton_base__disabled_d9 .CButton_content_cc {
    opacity: 0.6;
}

.TextButton_base_b6 {
    display: flex;
    align-items: center;
    padding: 0 3rem;
    font-size: 12rem;
    position: relative;
    cursor: pointer;
}

.TextButton_base__right_39 {
    flex-direction: row-reverse;
}
.TextButton_icon_17 {
    width: 32rem;
    height: 32rem;
    background: no-repeat center / contain;
    position: relative;
}
.TextButton_icon__back_43,
.TextButton_icon__forward_59 {
    margin: -1rem -5rem;
    background-image: url('R.images.gui.maps.icons.components.text_button.back');
    transform: translateY(1rem);
}
.TextButton_icon__forward_59 {
    transform: rotate(180deg) translateY(1rem);
}
.TextButton_icon__close_53 {
    margin: -1rem 0;
    background-image: url('R.images.gui.maps.icons.components.text_button.close');
}
.TextButton_icon__info_33 {
    margin: -1rem -5rem;
    background-image: url('R.images.gui.maps.icons.components.text_button.info');
}
.TextButton_glow_a4 {
    width: 100%;
    height: 100%;
    background: no-repeat center / contain;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity 0.16s;
}
.TextButton_icon__back_43 .TextButton_glow_a4,
.TextButton_icon__forward_59 .TextButton_glow_a4 {
    background-image: url('R.images.gui.maps.icons.components.text_button.back_hover');
}
.TextButton_icon__close_53 .TextButton_glow_a4 {
    background-image: url('R.images.gui.maps.icons.components.text_button.close_hover');
}
.TextButton_icon__info_33 .TextButton_glow_a4 {
    background-image: url('R.images.gui.maps.icons.components.text_button.info_hover');
}
.TextButton_base_b6:hover .TextButton_glow_a4 {
    opacity: 1;
}
.TextButton_base_b6:active .TextButton_glow_a4 {
    opacity: 0;
}
.TextButton_caption_82 {
    position: relative;
    transition:
        color 0.16s,
        text-shadow 0.16s;
}
.TextButton_caption__back_b9,
.TextButton_caption__forward_4e,
.TextButton_caption__close_36 {
    color: #ffdd99;
    text-shadow:
        0 0 10rem rgba(255, 42, 0, 1),
        0 0 10rem rgba(255, 42, 0, 0.4),
        0 0 10rem rgba(255, 42, 0, 0.4),
        0 0 2rem rgba(255, 42, 0, 0.4),
        0 0 1rem rgba(255, 42, 0, 0.4),
        0 0 2rem rgba(255, 42, 0, 0.4),
        0 0 1rem rgba(255, 42, 0, 0.4);
}
.TextButton_base_b6:hover .TextButton_caption__back_b9,
.TextButton_base_b6:hover .TextButton_caption__forward_4e,
.TextButton_base_b6:hover .TextButton_caption__close_36 {
    color: #fffa9f;
}
.TextButton_base_b6:active .TextButton_caption__back_b9,
.TextButton_base_b6:active .TextButton_caption__forward_4e,
.TextButton_base_b6:active .TextButton_caption__close_36 {
    color: #ffdd99;
}
.TextButton_caption__info_23 {
    padding: 0 5rem;
    color: #ccffff;
    text-shadow:
        0 0 12rem rgba(31, 68, 255, 0.8),
        0 0 8rem #00eaff;
}
.TextButton_base_b6:hover .TextButton_caption__info_23 {
    color: #e3ffff;
    text-shadow:
        0 0 12rem rgba(31, 68, 255, 0.8),
        0 0 12rem rgba(0, 234, 255, 1),
        0 0 8rem #00eaff;
}
.TextButton_base_b6:active .TextButton_caption__info_23 {
    color: #ccffff;
    text-shadow:
        0 0 12rem rgba(31, 68, 255, 0.6),
        0 0 8rem #00eaff;
}
.TextButton_goto_e7 {
    color: #7c7c6c;
}
.TextButton_base__left_ff .TextButton_goto_e7 {
    margin-left: 8rem;
}
.TextButton_base__right_39 .TextButton_goto_e7 {
    margin-right: 8rem;
}
.TextButton_shine_e2 {
    width: 90rem;
    height: 40rem;
    background: url('R.images.gui.maps.icons.components.text_button.shine') no-repeat center / contain;
    opacity: 0;
    position: absolute;
    top: -4rem;
    transition: opacity 0.16s;
    pointer-events: none;
}
.TextButton_base__left_ff .TextButton_shine_e2 {
    left: -4rem;
}
.TextButton_base__right_39 .TextButton_shine_e2 {
    right: -4rem;
    transform: rotate(180deg);
}
.TextButton_base_b6:hover .TextButton_shine_e2 {
    opacity: 1;
}
.TextButton_base_b6:active .TextButton_shine_e2 {
    opacity: 0;
}

.FormatText_base_d0 {
    display: flex;
    flex-wrap: wrap;
}

@keyframes VehicleCount_fadeOut_a2 {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}
@keyframes VehicleCount_fadeIn_40 {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
@keyframes VehicleCount_fadeInWithScale_3b {
    0% {
        opacity: 0;
        transform: scale(1.2);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes VehicleCount_slideUp_65 {
    0% {
        opacity: 0;
        transform: translateY(20rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes VehicleCount_slideUpCenter_23 {
    0% {
        opacity: 0;
        transform: translateY(50%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes VehicleCount_blink_02 {
    0% {
        filter: brightness(1);
    }

    16% {
        filter: brightness(3);
    }

    100% {
        filter: brightness(1);
    }
}
.VehicleCount_base_05 {
    display: flex;
    position: relative;
}
.VehicleCount_text_91 {
    color: #ffdd99;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
}
.VehicleCount_text__alert_2f {
    color: #ee7000;
}
.VehicleCount_text__finished_4c {
    color: #f2f2f7;
}
.VehicleCount_textCounter_17 {
    margin: -4rem 0 0 5rem;
    font-size: 18rem;
    font-weight: 700;
    position: relative;
}
.VehicleCount_alertIcon_98 {
    display: flex;
    width: 24rem;
    height: 24rem;
    margin-left: -3rem;
    margin-top: -1rem;
    background: url('R.images.gui.maps.icons.library.AlertIcon_1') no-repeat center / contain;
}
.VehicleCount_counterWrapper_1f {
    position: relative;
}
.VehicleCount_counterBg_48 {
    display: flex;
    width: 310rem;
    height: 170rem;
    background: url('R.images.gui.maps.icons.resourceWell.resourcesLoading.counter_bg') no-repeat center / contain;
    position: absolute;
    top: -88rem;
    left: 50%;
    transform: translateX(-50%);
}
.VehicleCount_counterGlow_f5 {
    display: flex;
    width: 510rem;
    height: 108rem;
    background: url('R.images.gui.maps.icons.resourceWell.resourcesLoading.glow') no-repeat center / contain;
    position: absolute;
    top: -42rem;
    left: -184rem;
    z-index: -1;
}
.VehicleCount_animations__enter_d7 {
    opacity: 0;
    animation: VehicleCount_fadeIn_40 0.4s cubic-bezier(0.47, 0, 0.75, 0.72) 0s forwards;
}
.VehicleCount_animations__exit_2b {
    opacity: 1;
    animation: VehicleCount_fadeOut_a2 0.3s ease-out 0s forwards;
}

.App_base_ce {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    position: relative;
}

.App_vehiclesCount_f1 {
    position: absolute;
    top: 42rem;
    left: 42rem;
    z-index: 2;
}

.App_close_18 {
    position: absolute;
    top: 42rem;
    right: 42rem;
    z-index: 2;
}

.App_title_7c {
    color: #f2f2f7;
    font-size: 36rem;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 20rem;
}

.App_divider_9e {
    width: 720rem;
    height: 1rem;
    background-color: #ffffff1a;
}

.App_description_66 {
    color: #c9c9b6;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
    margin-bottom: 20rem;
}

.App_button_d8 {
    width: 200rem;
    margin-top: 40rem;
}
