.TooltipDecorator_base_c9 {
    display: flex;
    position: absolute;
}

.TooltipDecorator_base__theme-default_6d .TooltipDecorator_decorator_3d {
    padding: 4rem 6rem 8rem;
    border-image-source: url('R.images.gui.maps.icons.tooltip.tooltip_background');
    border-image-slice: 24 fill;
    border-image-width: 24rem;
    position: relative;
}

.IconTextBlock_base_46 {
    display: flex;
    align-items: center;
}

.IconTextBlock_icon_c9 {
    width: 36rem;
    height: 36rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.IconTextBlock_text_89 {
    width: 90%;
    margin-left: 10rem;
}

.Message_base_12 {
    line-height: normal;
}
.Message_separator_9c {
    width: 283rem;
    height: 1rem;
    background: url('R.images.gui.maps.icons.battlePass.tooltips.Devider_points') 50% / contain no-repeat;
}
.Message_rewards_b8 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 403rem;
    height: 154rem;
    background: url('R.images.gui.maps.icons.battlePass.tooltips.Ribbon_large') bottom / cover no-repeat;
    color: #c9c9b6;
    font-size: 14rem;
}
.Message_base_12 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.Message_content_6d {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 -28rem;
    padding: 7rem 28rem 11rem;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(39, 39, 39, 0.5) 50%, rgba(0, 0, 0, 0) 100%);
}
.Message_text_03 {
    color: #7ab300;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    width: 289rem;
    text-align: center;
}

.Content_base_c5 {
    line-height: normal;
}
.Content_separator_df {
    width: 283rem;
    height: 1rem;
    background: url('R.images.gui.maps.icons.battlePass.tooltips.Devider_points') 50% / contain no-repeat;
}
.Content_rewards_fc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 403rem;
    height: 154rem;
    background: url('R.images.gui.maps.icons.battlePass.tooltips.Ribbon_large') bottom / cover no-repeat;
    color: #c9c9b6;
    font-size: 14rem;
}
.Content_base_c5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 403rem;
    padding: 28rem;
    overflow: hidden;
}
.Content_base__noDescription_3f {
    padding: 28rem 28rem 0;
}
.Content_title_e5 {
    color: #f2f2f7;
    font-size: 18rem;
    font-weight: 700;
    line-height: 1.1;
    text-align: center;
}
.Content_subTitle_bf {
    color: #e9e2bf;
    font-size: 28rem;
    font-weight: 700;
    line-height: 1.1;
    margin-top: 8rem;
    text-align: center;
}
.Content_tank_95 {
    width: 130rem;
    height: 130rem;
    background: url('R.images.gui.maps.icons.battlePass.progression.tank') no-repeat center / contain;
    transform: translateY(15%);
}
.Content_footer_1a {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
}
.Content_flare_50 {
    width: 400rem;
    height: 400rem;
    background: url('R.images.gui.maps.icons.battlePass.tooltips.c_45_lvl_Flare_complited') center / cover no-repeat;
    mix-blend-mode: screen;
    position: absolute;
    transform: translate(0, -230rem);
}
.Content_messageWrapper_e3 {
    width: 440rem;
}
.Content_text_aa {
    color: #7ab300;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
}
.Content_message_59 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.Content_info_f4 {
    width: 100%;
    margin-top: 22rem;
}
.Content_separatorWrapper_b1 {
    width: 100%;
    margin: 13rem 0rem;
}
.Content_unlock_f4 {
    color: #cbac77;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    width: 100%;
}
