.TextButton_base_b6 {
    display: flex;
    align-items: center;
    padding: 0 3rem;
    font-size: 12rem;
    position: relative;
    cursor: pointer;
}

    .TextButton_base__right_39 {
        flex-direction: row-reverse;
    }
.TextButton_icon_17 {
    width: 32rem;
    height: 32rem;
    background: no-repeat center / contain;
    position: relative;
}
.TextButton_icon__back_43,
    .TextButton_icon__forward_59 {
        margin: -1rem -5rem;
        background-image: url('R.images.gui.maps.icons.components.text_button.back');
        transform: translateY(1rem);
    }
.TextButton_icon__forward_59 {
        transform: rotate(180deg) translateY(1rem);
    }
.TextButton_icon__close_53 {
        margin: -1rem 0;
        background-image: url('R.images.gui.maps.icons.components.text_button.close');
    }
.TextButton_icon__info_33 {
        margin: -1rem -5rem;
        background-image: url('R.images.gui.maps.icons.components.text_button.info');
    }
.TextButton_glow_a4 {
    width: 100%;
    height: 100%;
    background: no-repeat center / contain;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity .16s;
}
.TextButton_icon__back_43 .TextButton_glow_a4,
    .TextButton_icon__forward_59 .TextButton_glow_a4 {
        background-image: url('R.images.gui.maps.icons.components.text_button.back_hover');
    }
.TextButton_icon__close_53 .TextButton_glow_a4 {
        background-image: url('R.images.gui.maps.icons.components.text_button.close_hover');
    }
.TextButton_icon__info_33 .TextButton_glow_a4 {
        background-image: url('R.images.gui.maps.icons.components.text_button.info_hover');
    }
.TextButton_base_b6:hover .TextButton_glow_a4 {
        opacity: 1;
    }
.TextButton_base_b6:active .TextButton_glow_a4 {
        opacity: 0;
    }
.TextButton_caption_82 {
    position: relative;
    transition: color .16s, text-shadow .16s;
}
.TextButton_caption__back_b9,
    .TextButton_caption__forward_4e,
    .TextButton_caption__close_36 {
        color: #FFDD99;
        text-shadow: 0 0 10rem rgba(255,42,0, 1),
            0 0 10rem rgba(255,42,0, .4),
            0 0 10rem rgba(255,42,0, .4),
            0 0 2rem rgba(255,42,0, .4),
            0 0 1rem rgba(255,42,0, .4),
            0 0 2rem rgba(255,42,0, .4),
            0 0 1rem rgba(255,42,0, .4);
    }
.TextButton_base_b6:hover .TextButton_caption__back_b9, .TextButton_base_b6:hover .TextButton_caption__forward_4e, .TextButton_base_b6:hover .TextButton_caption__close_36 {
            color: #fffa9f;
        }
.TextButton_base_b6:active .TextButton_caption__back_b9, .TextButton_base_b6:active .TextButton_caption__forward_4e, .TextButton_base_b6:active .TextButton_caption__close_36 {
            color: #FFDD99;
        }
.TextButton_caption__info_23 {
        padding: 0 5rem;
        color: #CCFFFF;
        text-shadow: 0 0 12rem rgba(31,68,255, .8),
            0 0 8rem #00eaff;
    }
.TextButton_base_b6:hover .TextButton_caption__info_23 {
            color: #e3ffff;
            text-shadow: 0 0 12rem rgba(31,68,255, .8),
                0 0 12rem rgba(0,234,255, 1),
                0 0 8rem #00eaff;
        }
.TextButton_base_b6:active .TextButton_caption__info_23 {
            color: #CCFFFF;
            text-shadow: 0 0 12rem rgba(31,68,255, .6),
                0 0 8rem #00eaff;
        }
.TextButton_goto_e7 {
    color: #7c7c6c;
}
.TextButton_base__left_ff .TextButton_goto_e7 {
        margin-left: 8rem;
    }
.TextButton_base__right_39 .TextButton_goto_e7 {
        margin-right: 8rem;
    }
.TextButton_shine_e2 {
    width: 90rem;
    height: 40rem;
    background: url('R.images.gui.maps.icons.components.text_button.shine') no-repeat center / contain;
    opacity: 0;
    position: absolute;
    top: -4rem;
    transition: opacity .16s;
    pointer-events: none;
}
.TextButton_base__left_ff .TextButton_shine_e2 {
        left: -4rem;
    }
.TextButton_base__right_39 .TextButton_shine_e2 {
        right: -4rem;
        transform: rotate(180deg);
    }
.TextButton_base_b6:hover .TextButton_shine_e2 {
        opacity: 1;
    }
.TextButton_base_b6:active .TextButton_shine_e2 {
        opacity: 0;
    }

.App_base_fc {
    opacity: 0;
    animation: App_fadeIn_e2 .4s cubic-bezier(.47, 0, .75, .72) .45s forwards;
    width: 100%;
    height: 100%;
    background: #171820;
    overflow: hidden;
}
.App_animationBg_e8 {
    opacity: 0;
    animation: App_fadeIn_e2 .4s cubic-bezier(.47, 0, .75, .72) 0s forwards;
    width: 100%;
    height: 100%;
    background-color: #171820;
    position: absolute;
    z-index: -1;
}
.App_close_96 {
    position: absolute;
    top: 42rem;
    right: 42rem;
    z-index: 9;
}
@keyframes App_fadeIn_e2 {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.CButton_base_40 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    box-shadow: 0 0 0 1rem rgba(0,0,0, .6);
    position: relative;
    cursor: pointer;
}

    .CButton_base__main_42,
    .CButton_base__primary_7f,
    .CButton_base__primaryGreen_6f,
    .CButton_base__primaryRed_ec,
    .CButton_base__secondary_50 {
        background-size: 100% 100%;
    }

    .CButton_base__main_42 {
        background-image: url('R.images.gui.maps.icons.components.button.back_main');
    }

    .CButton_base__primary_7f {
        background-image: url('R.images.gui.maps.icons.components.button.back_primary');
    }

    .CButton_base__primaryGreen_6f {
        background-image: url('R.images.gui.maps.icons.components.button.back_primary_green');
    }

    .CButton_base__primaryRed_ec {
        background-image: url('R.images.gui.maps.icons.components.button.back_primary_red');
    }

    .CButton_base__secondary_50 {
        background-image: url('R.images.gui.maps.icons.components.button.back_secondary');
    }

    .CButton_base__ghost_ed {
        border-radius: 3rem;
        box-shadow: 0 0 0 1rem rgba(0,0,0, .3),
            0 0 0 1rem rgba(255,255,255, .15) inset;
        background-color: rgba(0,0,0, .15);
    }

    .CButton_base__extraSmall_27 {
        min-height: 17rem;
        padding: 0 16rem;
    }

    .CButton_base__small_df,
    .CButton_base__medium_74 {
        padding: 0 20rem;
    }

    .CButton_base__small_df {
        min-height: 18rem;
    }

    .CButton_base__medium_74 {
        min-height: 32rem;
    }

    .CButton_base__disabled_d9 {
        cursor: default;
    }
/* Element .back and background-image in element .base need for fix bug in GF https://jira.wargaming.net/browse/WOTD-158525
The bug is that under certain conditions, when using border-image, stripes appear. Strip is a single-pixel gap
between 'border-image-width' and 'fill'.
This bug is reproduced in Google Chrome 81.0.4044.113
*/
.CButton_back_e5 {
    border-image-slice: 4 fill;
    border-image-width: 4rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.CButton_base__main_42 .CButton_back_e5 {
        border-image-source: url('R.images.gui.maps.icons.components.button.back_main');
    }
.CButton_base__primary_7f .CButton_back_e5 {
        border-image-source: url('R.images.gui.maps.icons.components.button.back_primary');
    }
.CButton_base__primaryGreen_6f .CButton_back_e5 {
        border-image-source: url('R.images.gui.maps.icons.components.button.back_primary_green');
    }
.CButton_base__primaryRed_ec .CButton_back_e5 {
        border-image-source: url('R.images.gui.maps.icons.components.button.back_primary_red');
    }
.CButton_base__secondary_50 .CButton_back_e5 {
        border-image-source: url('R.images.gui.maps.icons.components.button.back_secondary');
    }
.CButton_texture_fe {
    background: url('R.images.gui.maps.icons.components.button.standard_texture_file');
    background-size: 155rem 31rem;
    mix-blend-mode: soft-light;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.CButton_state_11 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: box-shadow .16s ease-in-out;
}
.CButton_base__focus_83 .CButton_state_11 {
        border-radius: 2rem;
        box-shadow: inset 0 0 2rem 1rem rgba(255,85,0, .2);
    }
.CButton_stateHighlightHover_ff,
.CButton_stateHighlightActive_35,
.CButton_stateDisabled_54 {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.CButton_base__firstHover_d5 .CButton_stateHighlightHover_ff, .CButton_base__firstHover_d5 .CButton_stateHighlightActive_35, .CButton_base__firstHover_d5 .CButton_stateDisabled_54 {
        transition: opacity .16s ease-in-out;
    }
.CButton_stateHighlightHover_ff {
    background-image: linear-gradient(180deg, rgba(252,248,235, .25) 0%, rgba(252,248,235, .1) 50%, rgba(255,255,255, 0) 100%);
}
.CButton_base_40:hover .CButton_stateHighlightHover_ff {
        opacity: 1;
    }
.CButton_base_40:active .CButton_stateHighlightHover_ff {
        opacity: 0;
    }
.CButton_base__disabled_d9:hover .CButton_stateHighlightHover_ff {
        opacity: 0;
    }
.CButton_base__ghost_ed .CButton_stateHighlightHover_ff {
        box-shadow: 0 15rem 12rem 0 rgba(242,242,230, .11) inset;
        background-color: rgba(8,6,0, .18);
        background-image: none;
    }
.CButton_stateHighlightActive_35 {
    background-image: linear-gradient(180deg, rgba(0,0,0, .3) 0%, rgba(0,0,0, .15) 100%);
}
.CButton_base__highlightActive_b2 .CButton_stateHighlightActive_35 {
        opacity: 1;
    }
.CButton_stateDisabled_54 {
    background-color: rgba(0,0,0, .25);
    background-image: url('R.images.gui.maps.icons.components.button.texture_disable');
    background-size: 15rem;
}
.CButton_base__disabled_d9 .CButton_stateDisabled_54 {
        opacity: 1;
    }
.CButton_content_cc {
    display: flex;
    align-items: center;
    color: #f2f2e6;
    font-weight: 700;
    line-height: 1.2;
    text-shadow: 0 -1rem 1rem #000;
    letter-spacing: .03em;
    transform: translateY(-1rem);
}
.CButton_content_cc[lang=ja],
    .CButton_content_cc[lang=ko],
    .CButton_content_cc[lang=zh_tw],
    .CButton_content_cc[lang=zh_sg],
    .CButton_content_cc[lang=zh_cn],
    .CButton_content_cc[lang=th] {
        font-weight: 400;
    }
.CButton_base__main_42 .CButton_content_cc,
    .CButton_base__primaryRed_ec .CButton_content_cc {
        text-shadow: 0 -1rem 1rem #600;
    }
.CButton_base__secondary_50 .CButton_content_cc {
        color: rgba(254,254,236, .75);
    }
.CButton_base__primaryGreen_6f .CButton_content_cc {
        text-shadow: 0 -1rem 1rem #1c2502;
    }
.CButton_base__extraSmall_27 .CButton_content_cc {
        font-size: 12rem;
    }
.CButton_base__small_df .CButton_content_cc {
        font-size: 14rem;
    }
.CButton_base__medium_74 .CButton_content_cc {
        font-size: 15rem;
    }
.CButton_base__disabled_d9 .CButton_content_cc {
        opacity: .6;
    }

.ArrowButton_base_f9 {
    display: flex;
    align-items: center;
    width: 132rem;
    height: 160rem;
    filter: brightness(.85);
    position: absolute;
    z-index: 8;
    transition: filter .2s ease-in-out, transform .4s ease-in-out;
    cursor: pointer;
}

    .ArrowButton_base_f9:hover {
        filter: brightness(1.2);
    }

    .ArrowButton_base__left_7b {
        background: url('R.images.gui.maps.icons.battlePass.custom_tankmen_screen.controls.arrowLeftActive') no-repeat center / contain;
        left: 0;
    }

    .ArrowButton_base__right_ac {
        background: url('R.images.gui.maps.icons.battlePass.custom_tankmen_screen.controls.arrowRightActive') no-repeat center / contain;
        right: 0;
    }

    .ArrowButton_base__left_7b.ArrowButton_base__disabled_be {
        transform: translateX(-132rem);
    }

    .ArrowButton_base__right_ac.ArrowButton_base__disabled_be {
        transform: translateX(132rem);
    }

    .ArrowButton_base__disabled_be {
        cursor: default;
        pointer-events: none;
    }

    .ArrowButton_base__show_0b {
        transition: filter .2s ease-in-out, transform .4s ease-in-out 1s;
    }

.SideShadow_base_6e {
    width: 240rem;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 7;
    transition: opacity .4s ease-in-out;
    pointer-events: none;
}
    .mediaSmall .SideShadow_base_6e {
        width: 450rem;
}
    .mediaMedium .SideShadow_base_6e {
        width: 610rem;
}
    .mediaLarge .SideShadow_base_6e {
        width: 660rem;
}
    .mediaExtraLarge .SideShadow_base_6e {
        width: 830rem;
}
    .SideShadow_base__left_f4 {
        background: linear-gradient(90deg, #171820 8%, rgba(7, 17, 30, .5) 40%, rgba(0, 0, 0, 0) 67%);
        left: 0;
    }
    .SideShadow_base__right_7b {
        background: linear-gradient(270deg, #171820 8%, rgba(22, 1, 1, .5) 40%, rgba(0, 0, 0, 0) 67%);
        right: 0;
    }
    .SideShadow_base__disabled_1b {
        opacity: 0;
        pointer-events: none;
    }
    .SideShadow_base__show_dc {
        transition: opacity .4s ease-in-out 1s;
    }

.Tankman_base_07 {
    width: 100%;
    height: 100%;
    background: no-repeat center / contain;
    filter: brightness(.8);
    transition: filter .3s ease-in;
}

    .Tankman_base__hovered_02,
    .Tankman_base__sounded_42 {
        filter: brightness(1.1);
    }

    .Tankman_base__darken_bb {
        filter: brightness(.7);
    }

.Sonar_base_c9 {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    z-index: 0;
}
.Sonar_back_11 {
    width: 280rem;
    height: 160rem;
    background: radial-gradient(37.13% 55.24% at 50% 50%, #d54c1b 0%, rgba(213, 76, 27, 0) 100%);
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -2;
    transform: translate(-50%, -50%);
}
.Sonar_line_c5 {
    width: 100%;
    height: 2rem;
    background: linear-gradient(90deg, rgba(231, 104, 64, 0) 0%, #e76840 51.04%, rgba(231, 104, 64, 0) 100%);
    opacity: .5;
    position: absolute;
    left: 0;
}
.Sonar_line__top_fa {
        top: 0;
    }
.Sonar_line__bottom_23 {
        bottom: 0;
    }
.Sonar_emitter_0b {
    width: 24rem;
    height: 24rem;
    border-radius: 9999rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.Sonar_wave_12 {
    width: 100%;
    height: 100%;
    border: 3rem solid #d54c1b;
    border-radius: 9999rem;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
    pointer-events: none;
}
.Sonar_wave__0_39 {
            animation: Sonar_sonarWave_1b 3s 0s linear infinite;
        }
.Sonar_wave__1_9e {
            animation: Sonar_sonarWave_1b 3s 0.3s linear infinite;
        }
.Sonar_wave__2_cd {
            animation: Sonar_sonarWave_1b 3s 0.6s linear infinite;
        }
.Sonar_wave__3_43 {
            animation: Sonar_sonarWave_1b 3s 0.9s linear infinite;
        }
.Sonar_wave__4_59 {
            animation: Sonar_sonarWave_1b 3s 1.2s linear infinite;
        }
.Sonar_wave__5_cd {
            animation: Sonar_sonarWave_1b 3s 1.5s linear infinite;
        }
.Sonar_wave__6_c1 {
            animation: Sonar_sonarWave_1b 3s 1.8s linear infinite;
        }
.Sonar_wave__7_88 {
            animation: Sonar_sonarWave_1b 3s 2.1s linear infinite;
        }
.Sonar_wave__8_ad {
            animation: Sonar_sonarWave_1b 3s 2.4s linear infinite;
        }
.Sonar_wave__9_a1 {
            animation: Sonar_sonarWave_1b 3s 2.7s linear infinite;
        }
.Sonar_wave__10_f4 {
            animation: Sonar_sonarWave_1b 3s 3s linear infinite;
        }
@keyframes Sonar_sonarWave_1b {
    0% {
        opacity: .4;
    }

    100% {
        width: 1000%;
        height: 1000%;
        opacity: 0;
    }
}

.Sound_base_11 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72rem;
    position: relative;
    z-index: 0;
}
    .mediaSmall .Sound_base_11 {
        height: 103rem;
}
    .mediaLarge .Sound_base_11 {
        height: 131rem;
}
    .mediaExtraLarge .Sound_base_11 {
        height: 167rem;
}

.Sound_content_c8 {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(30rem);
    transition: transform .3s ease-in-out;
}

.Sound_base__active_e1 .Sound_content_c8 {
        transform: translateY(0rem);
    }

.Sound_iconContainer_24 {
    width: 35rem;
    height: 26rem;
    opacity: .7;
    position: relative;
    transition: opacity .3s ease-in-out;
}

.Sound_base__active_e1 .Sound_iconContainer_24 {
        opacity: 1;
    }

.Sound_icon_82 {
    width: 100rem;
    height: 100rem;
    background: url('R.images.gui.maps.icons.battlePass.icons.voice') no-repeat center / contain;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%) translateY(-.5rem);
    pointer-events: none;
}

.mediaMedium .Sound_icon_82 {
        transform: translate(-50%, -50%);
}

.Sound_base__active_e1 .mediaMedium .Sound_icon_82 {
            transform: translate(-50%, -50%) translateX(-1rem);
        }

.Sound_label_0b {
    color: #FFDD99;
    font-size: 15rem;
    font-weight: 700;
    line-height: 1.15;
    margin-top: 8rem;
    text-shadow: 0 0 4rem rgba(255, 127, 0, .25), 0 0 8rem #ff2a00, 0 0 15rem #e52;
    opacity: 0;
    transition: opacity .3s ease-in-out;
}

.Sound_base__active_e1 .Sound_label_0b {
        opacity: 1;
    }

.Sound_sonar_c7 {
    height: 72rem;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: opacity .3s ease-in-out;
}

.Sound_sonar__show_a4 {
        opacity: 1;
    }

.mediaSmall .Sound_sonar_c7 {
        margin-top: 16rem;
}

.mediaLarge .Sound_sonar_c7 {
        margin-top: 30rem;
}

.mediaExtraLarge .Sound_sonar_c7 {
        margin-top: 49rem;
}

.FormatText_base_d0 {
    display: flex;
    flex-wrap: wrap;
}

.TankmanState_base_dc {
    color: #FFDD99;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 8rem;
    text-align: center;
    text-shadow: 0 0 14rem #f00;
    position: relative;
    pointer-events: none;
}
    .mediaSmall .TankmanState_base_dc {
        margin-top: 10rem;
}
    .mediaMedium .TankmanState_base_dc {
        font-size: 16rem;
}
    .mediaLarge .TankmanState_base_dc {
        margin-top: 12rem;
}
    .TankmanState_base__received_85,
    .TankmanState_base__availableInQuestChain_54 {
        flex-direction: row;
        color: #80D43A;
        text-shadow: none;
        position: relative;
    }
    .TankmanState_base__unavailable_13 {
        color: #8C8C7E;
        text-shadow: none;
    }
    .TankmanState_base__small_47 {
        opacity: 0;
    }
    .TankmanState_base__smallHover_01 {
        opacity: 1;
        transition: opacity .3s ease-in-out;
    }

.TankmanState_button_7e {
    margin-top: 8rem;
    opacity: 0;
    transition: opacity .3s ease-in-out;
}

.TankmanState_button__hovered_fc {
        opacity: 1;
        pointer-events: auto;
    }

.TankmanState_icon_88 {
    width: 24rem;
    height: 24rem;
    background: url('R.images.gui.maps.icons.battlePass.progression.icon_check') no-repeat center / contain;
}

.TankmanState_checkGlow_29 {
    width: 140rem;
    height: 40rem;
    background: radial-gradient(51.56% 50% at 49.85% 50%, #00f30a3d 11.46%, #00521200 100%);
    opacity: .8;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.TankmanState_availableText_d9 {
    justify-content: center;
}

.TankmanHover_base_35 {
    position: relative;
}

.TankmanHover_content_03 {
    width: 190rem;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}

.mediaLarge .TankmanHover_content_03 {
        width: 230rem;
}

.TankmanHover_content__hidden_9f {
        visibility: hidden;
        pointer-events: none;
    }

.TankmanHover_base__disabled_bc .TankmanHover_content_03 {
        cursor: default;
        pointer-events: none;
    }

.TankmanHover_base__wideScreen_5d .TankmanHover_content_03 {
        visibility: visible;
        pointer-events: auto;
    }

.TankmanHover_base__wideScreen_5d.TankmanHover_base__left_9c .TankmanHover_content_03 {
        transform: translateX(-335rem);
    }

.mediaSmall .TankmanHover_base__wideScreen_5d.TankmanHover_base__left_9c .TankmanHover_content_03 {
            transform: translateX(-312rem);
}

.mediaMedium .TankmanHover_base__wideScreen_5d.TankmanHover_base__left_9c .TankmanHover_content_03 {
            transform: translateX(-322rem);
}

.mediaLarge .TankmanHover_base__wideScreen_5d.TankmanHover_base__left_9c .TankmanHover_content_03 {
            transform: translateX(-480rem);
}

.mediaExtraLarge .TankmanHover_base__wideScreen_5d.TankmanHover_base__left_9c .TankmanHover_content_03 {
            transform: translateX(-590rem);
}

.TankmanHover_base__wideScreen_5d.TankmanHover_base__right_58 .TankmanHover_content_03 {
        transform: translateX(-255rem);
    }

.mediaLarge .TankmanHover_base__wideScreen_5d.TankmanHover_base__right_58 .TankmanHover_content_03 {
            transform: translateX(-465rem);
}

.mediaExtraLarge .TankmanHover_base__wideScreen_5d.TankmanHover_base__right_58 .TankmanHover_content_03 {
            transform: translateX(-590rem);
}

.TankmanHover_crewHover_a0 {
    display: flex;
    flex-direction: column;
    align-items: center;
    pointer-events: none;
}

.TankmanHover_description_aa {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 5rem;
    position: relative;
    z-index: 7;
    pointer-events: none;
}

.mediaSmall .TankmanHover_description_aa {
        margin-top: -8rem;
}

.mediaLarge .TankmanHover_description_aa {
        margin-top: -26rem;
}

.mediaExtraLarge .TankmanHover_description_aa {
        margin-top: -48rem;
}

.TankmanHover_shadow_b3 {
    width: 200rem;
    height: 200rem;
    background: radial-gradient(circle, rgba(29,17,30, .5) 0%, rgba(29,17,30, 0) 75%);
    opacity: .9;
    position: absolute;
    top: 15rem;
    left: -32rem;
    z-index: 5;
    pointer-events: none;
}

.mediaMedium .TankmanHover_shadow_b3 {
        left: -16rem;
}

.mediaLarge .TankmanHover_shadow_b3 {
        left: 10rem;
}

.mediaExtraLarge .TankmanHover_shadow_b3 {
        top: 60rem;
}

.TankmanHover_name_d6 {
    color: #E9E2BF;
    font-size: 18rem;
    font-weight: 700;
    line-height: 1.1;
    text-align: center;
}

.mediaMedium .TankmanHover_name_d6 {
        font-size: 22rem;
}

.TankmanHover_sound_74 {
    width: 220rem;
    margin-bottom: 5rem;
    position: relative;
    z-index: 7;
    transition: opacity ease-in-out .3s;
}

.mediaLarge .TankmanHover_sound_74 {
        margin-bottom: 10rem;
}

.TankmanHover_base__disabled_bc .TankmanHover_sound_74 {
        opacity: .4;
    }

.Content_base_1f {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
}

.Content_sequenceGlitch_0a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 12;
    transition: opacity .1s ease-in-out;
    pointer-events: none;
}

.Content_sequenceGlitch__enabled_cd {
        opacity: .4;
        transition: opacity .1s ease-in-out;
    }

.Content_bgContainer_74,
.Content_roofContainer_99 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

.Content_bg_ce,
.Content_roof_75 {
    width: 2184rem;
    height: 964rem;
    background: no-repeat center;
    background-size: 2184rem 964rem;
    position: relative;
    left: 280rem;
}

.mediaMedium .Content_bg_ce, .mediaMedium .Content_roof_75 {
        width: 2358rem;
        height: 1040rem;
        background-size: 2358rem 1040rem;
        left: 315rem;
}

.mediaLarge .Content_bg_ce, .mediaLarge .Content_roof_75 {
        width: 3206rem;
        height: 1414rem;
        background-size: 3206rem 1414rem;
        left: 420rem;
}

.mediaExtraLarge .Content_bg_ce, .mediaExtraLarge .Content_roof_75 {
        width: 4180rem;
        height: 1842rem;
        background-size: 4180rem 1842rem;
        left: 510rem;
}

.Content_bg__left_a2, .Content_roof__left_35 {
        will-change: transform;
        animation: Content_moveBGLeft_20 1.1s ease-in-out forwards;
    }

.mediaSmall .Content_bg__left_a2, .mediaSmall .Content_roof__left_35 {
            animation: Content_moveBGLeftSmall_48 1.1s ease-in-out forwards;
}

.mediaMedium .Content_bg__left_a2, .mediaMedium .Content_roof__left_35 {
            animation: Content_moveBGLeftMedium_3f 1.1s ease-in-out forwards;
}

.mediaLarge .Content_bg__left_a2, .mediaLarge .Content_roof__left_35 {
            animation: Content_moveBGLeftLarge_c1 1.1s ease-in-out forwards;
}

.mediaExtraLarge .Content_bg__left_a2, .mediaExtraLarge .Content_roof__left_35 {
            animation: Content_moveBGLeftExtraLarge_49 1.1s ease-in-out forwards;
}

.Content_bg__right_42, .Content_roof__right_9d {
        will-change: transform;
        animation: Content_moveBGRight_a1 1.1s ease-in-out forwards;
    }

.mediaSmall .Content_bg__right_42, .mediaSmall .Content_roof__right_9d {
            animation: Content_moveBGRightSmall_78 1.1s ease-in-out forwards;
}

.mediaMedium .Content_bg__right_42, .mediaMedium .Content_roof__right_9d {
            animation: Content_moveBGRightMedium_db 1.1s ease-in-out forwards;
}

.mediaLarge .Content_bg__right_42, .mediaLarge .Content_roof__right_9d {
            animation: Content_moveBGRightLarge_c4 1.1s ease-in-out forwards;
}

.mediaExtraLarge .Content_bg__right_42, .mediaExtraLarge .Content_roof__right_9d {
            animation: Content_moveBGRightExtraLarge_9a 1.1s ease-in-out forwards;
}

.Content_base__wideScreen_75 .Content_bg_ce, .Content_base__wideScreen_75 .Content_roof_75 {
        left: 0;
    }

.Content_bg_ce {
    background-image: url('R.images.gui.maps.icons.battlePass.custom_tankmen_screen.backgrounds.bg');
    top: 0;
    z-index: 1;
}

.Content_roof_75 {
    background-image: url('R.images.gui.maps.icons.battlePass.custom_tankmen_screen.backgrounds.roof');
    z-index: 5;
}

.mediaLarge .Content_roof_75 {
        bottom: 30rem;
}

@media (min-height: 1843rem) {
    .Content_base_1f .Content_roof_75 {
        bottom: -180rem;
    }

    .Content_base_1f .Content_bg_ce {
        top: 180rem;
    }
}

@media (min-height: 2000rem) {
    .Content_base_1f .Content_roof_75 {
        bottom: -290rem;
    }

    .Content_base_1f .Content_bg_ce {
        top: 260rem;
    }
}

.Content_wrapper_f9 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
}

.Content_crewsWrapper_db {
    width: 1940rem;
    height: 807rem;
    position: absolute;
    bottom: 0;
    z-index: 3;
}

.mediaSmall .Content_crewsWrapper_db {
        width: 1990rem;
}

.mediaMedium .Content_crewsWrapper_db {
        width: 2260rem;
        height: 913rem;
}

.mediaLarge .Content_crewsWrapper_db {
        width: 2865rem;
        height: 1080rem;
}

.mediaExtraLarge .Content_crewsWrapper_db {
        width: 3735rem;
        height: 1532rem;
}

.Content_crewsWrapper__left_c3 {
        will-change: transform;
        animation: Content_moveCrewsLeft_16 1.1s ease-in-out forwards;
    }

.mediaSmall .Content_crewsWrapper__left_c3 {
            animation: Content_moveCrewsLeftSmall_63 1.1s ease-in-out forwards;
}

.mediaMedium .Content_crewsWrapper__left_c3 {
            animation: Content_moveCrewsLeftMedium_b8 1.1s ease-in-out forwards;
}

.mediaLarge .Content_crewsWrapper__left_c3 {
            animation: Content_moveCrewsLeftLarge_95 1.1s ease-in-out forwards;
}

.mediaExtraLarge .Content_crewsWrapper__left_c3 {
            animation: Content_moveCrewsLeftExtraLarge_d9 1.1s ease-in-out forwards;
}

.Content_crewsWrapper__right_7b {
        will-change: transform;
        animation: Content_moveCrewsRight_86 1.1s ease-in-out forwards;
    }

.mediaSmall .Content_crewsWrapper__right_7b {
            animation: Content_moveCrewsRightSmall_ce 1.1s ease-in-out forwards;
}

.mediaMedium .Content_crewsWrapper__right_7b {
            animation: Content_moveCrewsRightMedium_fc 1.1s ease-in-out forwards;
}

.mediaLarge .Content_crewsWrapper__right_7b {
            animation: Content_moveCrewsRightLarge_3a 1.1s ease-in-out forwards;
}

.mediaExtraLarge .Content_crewsWrapper__right_7b {
            animation: Content_moveCrewsRightExtraLarge_dc 1.1s ease-in-out forwards;
}

.Content_crews_a7 {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 4;
}

.Content_crew_b8 {
    width: 930rem;
    height: 620rem;
    background: no-repeat center / contain;
    position: absolute;
    bottom: 0;
    transition: transform .2s ease-in-out;
}

.mediaMedium .Content_crew_b8 {
        width: 1140rem;
        height: 760rem;
}

.mediaLarge .Content_crew_b8 {
        width: 1420rem;
        height: 947rem;
}

.mediaExtraLarge .Content_crew_b8 {
        width: 1878rem;
        height: 1252rem;
}

.Content_crew__left_bf {
        left: 430rem;
    }

.mediaSmall .Content_crew__left_bf {
            left: 312rem;
}

.mediaMedium .Content_crew__left_bf {
            left: 322rem;
}

.mediaLarge .Content_crew__left_bf {
            left: 480rem;
}

.mediaExtraLarge .Content_crew__left_bf {
            left: 590rem;
}

.Content_base__wideScreen_75 .Content_crew__left_bf {
        left: 0;
    }

.Content_crew__right_4b {
        left: 1190rem;
    }

.mediaSmall .Content_crew__right_4b {
            left: 1305rem;
}

.mediaMedium .Content_crew__right_4b {
            left: 1445rem;
}

.mediaLarge .Content_crew__right_4b {
            left: 1900rem;
}

.mediaExtraLarge .Content_crew__right_4b {
            left: 2435rem;
}

.mediaSmall .Content_base__wideScreen_75 .Content_crew__right_4b {
            left: 1050rem;
}

.mediaMedium .Content_base__wideScreen_75 .Content_crew__right_4b {
            left: 1150rem;
}

.mediaLarge .Content_base__wideScreen_75 .Content_crew__right_4b {
            left: 1450rem;
}

.mediaExtraLarge .Content_base__wideScreen_75 .Content_crew__right_4b {
            left: 1900rem;
}

.Content_crew__right_4b.Content_crew__rightOffset_44 {
        transform: translateX(-20rem);
    }

.Content_crew__left_bf.Content_crew__leftOffset_80 {
        transform: translateX(20rem);
    }

.Content_crewsHoverWrapper_33 {
    width: 1940rem;
    height: 807rem;
    position: absolute;
    bottom: 0;
    z-index: 6;
    transition: opacity .3s ease-in-out;
}

.mediaSmall .Content_crewsHoverWrapper_33 {
        width: 1990rem;
}

.mediaMedium .Content_crewsHoverWrapper_33 {
        width: 2259rem;
        height: 913rem;
}

.mediaLarge .Content_crewsHoverWrapper_33 {
        width: 2865rem;
        height: 1080rem;
}

.mediaExtraLarge .Content_crewsHoverWrapper_33 {
        width: 3735rem;
        height: 1532rem;
}

.Content_crewsHoverWrapper__left_12 {
        will-change: transform;
        animation: Content_moveCrewsLeft_16 1.1s ease-in-out forwards;
    }

.mediaSmall .Content_crewsHoverWrapper__left_12 {
            animation: Content_moveCrewsLeftSmall_63 1.1s ease-in-out forwards;
}

.mediaMedium .Content_crewsHoverWrapper__left_12 {
            animation: Content_moveCrewsLeftMedium_b8 1.1s ease-in-out forwards;
}

.mediaLarge .Content_crewsHoverWrapper__left_12 {
            animation: Content_moveCrewsLeftLarge_95 1.1s ease-in-out forwards;
}

.mediaExtraLarge .Content_crewsHoverWrapper__left_12 {
            animation: Content_moveCrewsLeftExtraLarge_d9 1.1s ease-in-out forwards;
}

.Content_crewsHoverWrapper__right_c2 {
        will-change: transform;
        animation: Content_moveCrewsRight_86 1.1s ease-in-out forwards;
    }

.mediaSmall .Content_crewsHoverWrapper__right_c2 {
            animation: Content_moveCrewsRightSmall_ce 1.1s ease-in-out forwards;
}

.mediaMedium .Content_crewsHoverWrapper__right_c2 {
            animation: Content_moveCrewsRightMedium_fc 1.1s ease-in-out forwards;
}

.mediaLarge .Content_crewsHoverWrapper__right_c2 {
            animation: Content_moveCrewsRightLarge_3a 1.1s ease-in-out forwards;
}

.mediaExtraLarge .Content_crewsHoverWrapper__right_c2 {
            animation: Content_moveCrewsRightExtraLarge_dc 1.1s ease-in-out forwards;
}

.Content_crewsHoverWrapper__animated_68 {
        opacity: 0;
        cursor: default;
        pointer-events: none;
    }

.Content_base__wideScreen_75 .Content_crewsHoverWrapper__left_12 {
        left: 0;
    }

@media (orientation: portrait) {
    .Content_crewsWrapper_db,
    .Content_crewsHoverWrapper_33 {
        bottom: auto;
    }
}

@media (min-aspect-ratio: 3/4) and (max-aspect-ratio: 6/4) {
    .Content_crewsWrapper_db,
    .Content_crewsHoverWrapper_33 {
        bottom: auto;
    }
}

.Content_buttonWrapper_99 {
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    bottom: 40rem;
    z-index: 10;
    transition: opacity .3s ease-in-out;
}

.mediaLarge .Content_buttonWrapper_99 {
        bottom: 80rem;
}

.Content_buttonWrapper__animated_ac {
        opacity: 0;
        cursor: default;
        pointer-events: none;
    }

.Content_bottomShadow_ef {
    width: 100%;
    height: 150rem;
    background: linear-gradient(0deg, #171820 0, rgba(11,5,6, 0) 100%);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 9;
}

.mediaLarge .Content_bottomShadow_ef {
        height: 230rem;
}

@keyframes Content_moveBGLeft_20 {
    0% {
        transform: translateX(0rem);
    }

    27% {
        transform: translateX(20rem);
    }

    100% {
        transform: translateX(-570rem);
    }
}

@keyframes Content_moveBGRight_a1 {
    0% {
        transform: translateX(-570rem);
    }

    27% {
        transform: translateX(-600rem);
    }

    100% {
        transform: translateX(0rem);
    }
}

@keyframes Content_moveBGLeftSmall_48 {
    0% {
        transform: translateX(0rem);
    }

    27% {
        transform: translateX(20rem);
    }

    100% {
        transform: translateX(-610rem);
    }
}

@keyframes Content_moveBGRightSmall_78 {
    0% {
        transform: translateX(-610rem);
    }

    27% {
        transform: translateX(-640rem);
    }

    100% {
        transform: translateX(0rem);
    }
}

@keyframes Content_moveBGLeftMedium_3f {
    0% {
        transform: translateX(0rem);
    }

    27% {
        transform: translateX(20rem);
    }

    100% {
        transform: translateX(-670rem);
    }
}

@keyframes Content_moveBGRightMedium_db {
    0% {
        transform: translateX(-670rem);
    }

    27% {
        transform: translateX(-700rem);
    }

    100% {
        transform: translateX(0rem);
    }
}

@keyframes Content_moveBGLeftLarge_c1 {
    0% {
        transform: translateX(0rem);
    }

    27% {
        transform: translateX(20rem);
    }

    100% {
        transform: translateX(-890rem);
    }
}

@keyframes Content_moveBGRightLarge_c4 {
    0% {
        transform: translateX(-890rem);
    }

    27% {
        transform: translateX(-920rem);
    }

    100% {
        transform: translateX(0rem);
    }
}

@keyframes Content_moveBGLeftExtraLarge_49 {
    0% {
        transform: translateX(0rem);
    }

    27% {
        transform: translateX(20rem);
    }

    100% {
        transform: translateX(-1100rem);
    }
}

@keyframes Content_moveBGRightExtraLarge_9a {
    0% {
        transform: translateX(-1100rem);
    }

    27% {
        transform: translateX(-1130rem);
    }

    100% {
        transform: translateX(0rem);
    }
}

@keyframes Content_moveCrewsRight_86 {
    0% {
        transform: translateX(-560rem);
    }

    27% {
        transform: translateX(-600rem);
    }

    100% {
        transform: translateX(0rem);
    }
}

@keyframes Content_moveCrewsLeft_16 {
    0% {
        transform: translateX(0rem);
    }

    27% {
        transform: translateX(40rem);
    }

    100% {
        transform: translateX(-560rem);
    }
}

@keyframes Content_moveCrewsRightSmall_ce {
    0% {
        transform: translateX(-610rem);
    }

    27% {
        transform: translateX(-650rem);
    }

    100% {
        transform: translateX(0rem);
    }
}

@keyframes Content_moveCrewsLeftSmall_63 {
    0% {
        transform: translateX(0rem);
    }

    27% {
        transform: translateX(40rem);
    }

    100% {
        transform: translateX(-610rem);
    }
}

@keyframes Content_moveCrewsRightMedium_fc {
    0% {
        transform: translateX(-670rem);
    }

    27% {
        transform: translateX(-710rem);
    }

    100% {
        transform: translateX(0rem);
    }
}

@keyframes Content_moveCrewsLeftMedium_b8 {
    0% {
        transform: translateX(0rem);
    }

    27% {
        transform: translateX(40rem);
    }

    100% {
        transform: translateX(-670rem);
    }
}

@keyframes Content_moveCrewsRightLarge_3a {
    0% {
        transform: translateX(-885rem);
    }

    27% {
        transform: translateX(-925rem);
    }

    100% {
        transform: translateX(0rem);
    }
}

@keyframes Content_moveCrewsLeftLarge_95 {
    0% {
        transform: translateX(0rem);
    }

    27% {
        transform: translateX(40rem);
    }

    100% {
        transform: translateX(-885rem);
    }
}

@keyframes Content_moveCrewsRightExtraLarge_dc {
    0% {
        transform: translateX(-1120rem);
    }

    27% {
        transform: translateX(-1160rem);
    }

    100% {
        transform: translateX(0rem);
    }
}

@keyframes Content_moveCrewsLeftExtraLarge_d9 {
    0% {
        transform: translateX(0rem);
    }

    27% {
        transform: translateX(40rem);
    }

    100% {
        transform: translateX(-1120rem);
    }
}

.TankmanSkills_base_33 {
    display: flex;
    position: relative;
    z-index: 0;
}

.TankmanSkills_skill_f9 {
    width: 48rem;
    height: 48rem;
    background: center / contain;
}

.TankmanSkills_light_f6 {
    width: 338rem;
    height: 168rem;
    background: url('R.images.gui.maps.icons.battlePass.lights.perk_light') no-repeat center / contain;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.Header_base_34 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 40rem;
    z-index: 7;
}
    .mediaExtraLarge .Header_base_34 {
        top: 80rem;
}

.Header_subtitle_85 {
    color: #F2F2F7;
    font-size: 18rem;
    font-weight: 700;
    line-height: 1.1;
}

.mediaSmall .Header_subtitle_85 {
        font-size: 22rem;
}

.mediaLarge .Header_subtitle_85 {
        font-size: 24rem;
}

.Header_title_db {
    color: #F2F2F7;
    font-size: 28rem;
    font-weight: 700;
    line-height: 1.1;
    margin-top: 8rem;
}

.mediaSmall .Header_title_db {
        font-size: 36rem;
}

.mediaLarge .Header_title_db {
        font-size: 56rem;
}

.Header_description_b7 {
    margin-top: 12rem;
    text-align: center;
    opacity: .9;
}

.mediaSmall .Header_description_b7 {
        margin-top: 16rem;
}

.mediaLarge .Header_description_b7 {
        margin-top: 20rem;
}

.Header_descriptionText_7b {
    color: #FEFEEC;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
}

.mediaLarge .Header_descriptionText_7b {
        font-size: 16rem;
}

.Header_skills_2d {
    margin-top: 4rem;
    z-index: 7;
}

.mediaLarge .Header_skills_2d {
        margin-top: 8rem;
}

