.TooltipDecorator_base_c9 {
    display: flex;
    position: absolute;
}

.TooltipDecorator_base__theme-default_6d .TooltipDecorator_decorator_3d {
    padding: 4rem 6rem 8rem;
    border-image-source: url('R.atlases.components.tooltip_background');
    border-image-slice: 24 fill;
    border-image-width: 24rem;
    position: relative;
}

.FormatText_base_d0 {
    display: flex;
    flex-wrap: wrap;
}

.FormatTextWithColorTags_blackReal_3c {
    color: #000000;
}

.FormatTextWithColorTags_whiteReal_8a {
    color: #ffffff;
}

.FormatTextWithColorTags_white_16 {
    color: #f2f2f7;
}

.FormatTextWithColorTags_whiteOrange_18 {
    color: #fefeec;
}

.FormatTextWithColorTags_whiteSpanish_10 {
    color: #e9e2bf;
}

.FormatTextWithColorTags_par_ca {
    color: #8c8c7e;
}

.FormatTextWithColorTags_parSecondary_8d {
    color: #595950;
}

.FormatTextWithColorTags_parTertiary_a3 {
    color: #37362e;
}

.FormatTextWithColorTags_red_60 {
    color: #ff2717;
}

.FormatTextWithColorTags_redDark_03 {
    color: #b70000;
}

.FormatTextWithColorTags_yellow_ad {
    color: #feab34;
}

.FormatTextWithColorTags_orange_e4 {
    color: #ee7000;
}

.FormatTextWithColorTags_cream_cd {
    color: #ffdd99;
}

.FormatTextWithColorTags_brown_c8 {
    color: #cbac77;
}

.FormatTextWithColorTags_greenBright_f0 {
    color: #80d43a;
}

.FormatTextWithColorTags_green_c5 {
    color: #7ab300;
}

.FormatTextWithColorTags_greenDark_af {
    color: #497212;
}

.FormatTextWithColorTags_blueBooster_ac {
    color: #ccffff;
}

.FormatTextWithColorTags_blueTeamkiller_6f {
    color: #09e2ff;
}

.FormatTextWithColorTags_cred_4e {
    color: #ced9d9;
}

.FormatTextWithColorTags_gold_90 {
    color: #ffc363;
}

.FormatTextWithColorTags_bond_71 {
    color: #c9c9b6;
}

.FormatTextWithColorTags_prom_dd {
    color: #a29b70;
}

/* This specific rule is used to fix https://jira.wargaming.net/browse/WOTPRG-9871 */

.FormatTextWithColorTags_parNoWidth_5a {
    width: 0;
    color: #8c8c7e;
}

.Description_description_da {
    color: #8c8c7e;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
    margin-top: 12rem;
}

.Description_requiredBattles_a1 {
    font-weight: 700;
}

.Description_remaining_ab {
    color: #595950;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
}

.Table_base_10 {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}

.Table_header_37,
.Table_row_1d {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Table_header_37 {
    color: #595950;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
    justify-content: space-between;
    margin-bottom: 15rem;
    line-height: 16rem;
}

.Table_row_1d {
    display: flex;
    justify-content: space-between;
    height: 34rem;
    padding-left: 56rem;
    position: relative;
}

.Table_checkmark_d5 {
    width: 13rem;
    height: 13rem;
    background: url('R.images.gui.maps.icons.achievements.tooltips.checked_level') no-repeat center / contain;
    content: '';
    position: absolute;
    top: 50%;
    left: 22rem;
    transform: translateY(-50%);
}

.Table_rowBackground_7c {
    width: 34rem;
    height: 381rem;
    background: linear-gradient(
        360deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.5) 35.31%,
        rgba(255, 255, 255, 0) 100%
    );
    opacity: 0.3;
    content: '';
    position: absolute;
    top: -174rem;
    left: 50%;
    transform: rotate(90deg);
}

.Table_headerCellWrapper_2b {
    display: flex;
    justify-content: center;
}

.Table_headerCellWrapper__level_f2 {
    min-width: 138rem;
}

.Table_headerCellWrapper__points_44 {
    min-width: 170rem;
    margin-right: 30rem;
}

.Table_tableCell_3b {
    display: flex;
    position: relative;
}

.Table_tableCell__header_a3 + .Table_tableCell__header_a3 {
    justify-content: flex-end;
}

.Table_tableCell__row_ac {
    color: #8c8c7e;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
}

.Table_tableCell__row_ac + .Table_tableCell__row_ac {
    justify-content: flex-start;
    width: 40%;
    height: 25rem;
}

.Table_row__active_64.Table_tableCell__row_ac {
    color: #ffdd99;
}

.Table_levelCell_62 {
    display: flex;
}

.Table_levelCellImage_ec {
    width: 24rem;
    height: 24rem;
    margin-right: 23rem;
    background: no-repeat center / contain;
    position: relative;
}

.Table_divider_9f {
    width: 100%;
    height: 1rem;
    background: linear-gradient(to right, rgba(201, 201, 182, 0.2) 33%, transparent 33%, transparent) repeat right /
        3rem 1rem;
    mask: linear-gradient(90deg, transparent 2%, #000 30%, #000 70%, transparent 98%);
    margin-top: -1rem;
    opacity: 1;
}

.App_base_8a {
    display: flex;
    flex-direction: column;
    width: 400rem;
    overflow: hidden;
}

.App_topBlock_41 {
    display: flex;
    width: 100%;
    padding: 22rem 29rem 18rem;
    position: relative;
}

.App_texts_62 {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: 25rem;
    position: relative;
}

.App_bottomBlock_c4 {
    padding: 15rem 0 18rem;
    position: relative;
}

.App_title_5e {
    color: #e9e2bf;
    font-size: 18rem;
    font-weight: 700;
    line-height: 1.1;
    width: 100%;
}

.App_ratingImageWrapper_f9 {
    display: flex;
    width: 80rem;
    height: 80rem;
    position: relative;
}

.App_ratingImageWrapper_f9::before {
    width: 100%;
    height: 100%;
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
    filter: blur(14px);
    content: '';
    position: absolute;
    top: 0;
    left: 0;
}

.App_ratingImage_e4 {
    width: 100%;
    height: 100%;
    background: url('R.images.gui.maps.icons.achievements.summary.rating.rating_0_0') no-repeat center / contain;
    z-index: 2;
}
