html {
    height: 100%;
    position: relative;
}

body {
    padding-top: 5rem;
    overflow: hidden;
}

.Perk_base_43 {
    width: 48rem;
    height: 48rem;
    margin-right: 10rem;
    background-size: cover;
    position: relative;
}

.App_base_c0 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 416rem;
    height: 210rem;
    background: url('R.images.gui.maps.icons.battleRoyale.hangar.shadowBg') no-repeat 100% 100% / 100% 100%;
    overflow: hidden;
    position: relative;
}

.App_commander_d0 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url('R.images.gui.maps.icons.battleRoyale.hangar.back_commander_bg') no-repeat 100% 100% / 100% 100%;
}

.App_bgOverCommander_26 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url('R.images.gui.maps.icons.battleRoyale.hangar.over_commander_bg') no-repeat 100% 100% / 100% 100%;
}

.App_details_b4 {
    padding: 27rem 0 0 197rem;
}

.App_member_77 {
    width: 195rem;
    height: 210rem;
    background: no-repeat center / cover;
    position: absolute;
    bottom: 0;
    left: 0;
}

.App_type_40 {
    color: #E9E2BF;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
}

.App_name_63 {
    color: #E9E2BF;
    font-size: 22rem;
    font-weight: 700;
    line-height: 1.2;
    padding-bottom: 8rem;
}

.App_description_66 {
    color: #C9C9B6;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    width: 85%;
}

.App_flag_d5 {
    width: 287rem;
    height: 210rem;
    background: no-repeat center / cover;
    position: absolute;
}

.App_perks_ff {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: absolute;
    bottom: 22rem;
    left: 197rem;
}

