.CButton_base_40 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    box-shadow: 0 0 0 1rem rgba(0, 0, 0, 0.6);
    position: relative;
    cursor: pointer;
}

.CButton_base__main_42,
.CButton_base__primary_7f,
.CButton_base__primaryGreen_6f,
.CButton_base__primaryRed_ec,
.CButton_base__secondary_50 {
    background-size: 100% 100%;
}

.CButton_base__main_42 {
    background-image: url('R.images.gui.maps.icons.components.button.back_main');
}

.CButton_base__primary_7f {
    background-image: url('R.images.gui.maps.icons.components.button.back_primary');
}

.CButton_base__primaryGreen_6f {
    background-image: url('R.images.gui.maps.icons.components.button.back_primary_green');
}

.CButton_base__primaryRed_ec {
    background-image: url('R.images.gui.maps.icons.components.button.back_primary_red');
}

.CButton_base__secondary_50 {
    background-image: url('R.images.gui.maps.icons.components.button.back_secondary');
}

.CButton_base__ghost_ed {
    border-radius: 3rem;
    box-shadow:
        0 0 0 1rem rgba(0, 0, 0, 0.3),
        0 0 0 1rem rgba(255, 255, 255, 0.15) inset;
    background-color: rgba(0, 0, 0, 0.15);
}

.CButton_base__extraSmall_27 {
    min-height: 17rem;
    padding: 0 16rem;
}

.CButton_base__small_df,
.CButton_base__medium_74 {
    padding: 0 20rem;
}

.CButton_base__small_df {
    min-height: 18rem;
}

.CButton_base__medium_74 {
    min-height: 32rem;
}

.CButton_base__large_5c {
    min-height: 48rem;
}

.CButton_base__disabled_d9 {
    cursor: default;
}
/* Element .back and background-image in element .base need for fix bug in GF https://jira.wargaming.net/browse/WOTD-158525
The bug is that under certain conditions, when using border-image, stripes appear. Strip is a single-pixel gap
between 'border-image-width' and 'fill'.
This bug is reproduced in Google Chrome 81.0.4044.113
*/
.CButton_back_e5 {
    border-image-slice: 4 fill;
    border-image-width: 4rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.CButton_base__main_42 .CButton_back_e5 {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_main');
}
.CButton_base__primary_7f .CButton_back_e5 {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_primary');
}
.CButton_base__primaryGreen_6f .CButton_back_e5 {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_primary_green');
}
.CButton_base__primaryRed_ec .CButton_back_e5 {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_primary_red');
}
.CButton_base__secondary_50 .CButton_back_e5 {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_secondary');
}
.CButton_texture_fe {
    background: url('R.images.gui.maps.icons.components.button.standard_texture_file');
    background-size: 155rem 31rem;
    mix-blend-mode: soft-light;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.CButton_state_11 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: box-shadow 0.16s ease-in-out;
}
.CButton_base__focus_83 .CButton_state_11 {
    border-radius: 2rem;
    box-shadow: inset 0 0 2rem 1rem rgba(255, 85, 0, 0.2);
}
.CButton_stateHighlightHover_ff,
.CButton_stateHighlightActive_35,
.CButton_stateDisabled_54 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.CButton_stateHighlightHover_ff {
    background-image: linear-gradient(
        180deg,
        rgba(252, 248, 235, 0.25) 0%,
        rgba(252, 248, 235, 0.1) 50%,
        rgba(255, 255, 255, 0) 100%
    );
    opacity: 0;
}
.CButton_base_40:hover .CButton_stateHighlightHover_ff {
    opacity: 1;
}
.CButton_base_40:active .CButton_stateHighlightHover_ff {
    opacity: 0;
}
.CButton_base__disabled_d9:hover .CButton_stateHighlightHover_ff {
    opacity: 0;
}
.CButton_base__ghost_ed .CButton_stateHighlightHover_ff {
    box-shadow: 0 15rem 12rem 0 rgba(242, 242, 230, 0.11) inset;
    background-color: rgba(8, 6, 0, 0.18);
    background-image: none;
}
.CButton_stateHighlightActive_35 {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.15) 100%);
    opacity: 0;
}
.CButton_base__highlightActive_b2 .CButton_stateHighlightActive_35 {
    opacity: 1;
}
.CButton_stateDisabled_54 {
    background-color: rgba(0, 0, 0, 0.25);
    background-image: url('R.images.gui.maps.icons.components.button.texture_disable');
    background-size: 15rem 15rem;
    visibility: hidden;
}
.CButton_base__disabled_d9 .CButton_stateDisabled_54 {
    visibility: inherit;
}
.CButton_content_cc {
    display: flex;
    align-items: center;
    color: #f2f2e6;
    font-weight: 700;
    line-height: 1.2;
    text-shadow: 0 -1rem 1rem #000;
    letter-spacing: 0.03em;
    transform: translateY(-1rem);
}
.CButton_content_cc[lang='ja'],
.CButton_content_cc[lang='ko'],
.CButton_content_cc[lang='zh_tw'],
.CButton_content_cc[lang='zh_sg'],
.CButton_content_cc[lang='zh_cn'],
.CButton_content_cc[lang='th'] {
    font-weight: 400;
}
.CButton_base__main_42 .CButton_content_cc,
.CButton_base__primaryRed_ec .CButton_content_cc {
    text-shadow: 0 -1rem 1rem #600;
}
.CButton_base__secondary_50 .CButton_content_cc {
    color: rgba(254, 254, 236, 0.75);
}
.CButton_base__primaryGreen_6f .CButton_content_cc {
    text-shadow: 0 -1rem 1rem #1c2502;
}
.CButton_base__extraSmall_27 .CButton_content_cc {
    font-size: 12rem;
}
.CButton_base__small_df .CButton_content_cc {
    font-size: 14rem;
}
.CButton_base__medium_74 .CButton_content_cc {
    font-size: 15rem;
}
.CButton_base__large_5c .CButton_content_cc {
    font-size: 18rem;
}
.CButton_base__disabled_d9 .CButton_content_cc {
    opacity: 0.6;
}

.FormatText_base_d0 {
    display: flex;
    flex-wrap: wrap;
}

.TextButton_base_b6 {
    display: flex;
    align-items: center;
    padding: 0 3rem;
    font-size: 12rem;
    position: relative;
    cursor: pointer;
}

.TextButton_base__right_39 {
    flex-direction: row-reverse;
}
.TextButton_icon_17 {
    width: 32rem;
    height: 32rem;
    background: no-repeat center / contain;
    position: relative;
}
.TextButton_icon__back_43,
.TextButton_icon__forward_59 {
    margin: -1rem -5rem;
    background-image: url('R.images.gui.maps.icons.components.text_button.back');
    transform: translateY(1rem);
}
.TextButton_icon__forward_59 {
    transform: rotate(180deg) translateY(1rem);
}
.TextButton_icon__close_53 {
    margin: -1rem 0;
    background-image: url('R.images.gui.maps.icons.components.text_button.close');
}
.TextButton_icon__info_33 {
    margin: -1rem -5rem;
    background-image: url('R.images.gui.maps.icons.components.text_button.info');
}
.TextButton_glow_a4 {
    width: 100%;
    height: 100%;
    background: no-repeat center / contain;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity 0.16s;
}
.TextButton_icon__back_43 .TextButton_glow_a4,
.TextButton_icon__forward_59 .TextButton_glow_a4 {
    background-image: url('R.images.gui.maps.icons.components.text_button.back_hover');
}
.TextButton_icon__close_53 .TextButton_glow_a4 {
    background-image: url('R.images.gui.maps.icons.components.text_button.close_hover');
}
.TextButton_icon__info_33 .TextButton_glow_a4 {
    background-image: url('R.images.gui.maps.icons.components.text_button.info_hover');
}
.TextButton_base_b6:hover .TextButton_glow_a4 {
    opacity: 1;
}
.TextButton_base_b6:active .TextButton_glow_a4 {
    opacity: 0;
}
.TextButton_caption_82 {
    position: relative;
    transition:
        color 0.16s,
        text-shadow 0.16s;
}
.TextButton_caption__back_b9,
.TextButton_caption__forward_4e,
.TextButton_caption__close_36 {
    color: #ffdd99;
    text-shadow:
        0 0 10rem rgba(255, 42, 0, 1),
        0 0 10rem rgba(255, 42, 0, 0.4),
        0 0 10rem rgba(255, 42, 0, 0.4),
        0 0 2rem rgba(255, 42, 0, 0.4),
        0 0 1rem rgba(255, 42, 0, 0.4),
        0 0 2rem rgba(255, 42, 0, 0.4),
        0 0 1rem rgba(255, 42, 0, 0.4);
}
.TextButton_base_b6:hover .TextButton_caption__back_b9,
.TextButton_base_b6:hover .TextButton_caption__forward_4e,
.TextButton_base_b6:hover .TextButton_caption__close_36 {
    color: #fffa9f;
}
.TextButton_base_b6:active .TextButton_caption__back_b9,
.TextButton_base_b6:active .TextButton_caption__forward_4e,
.TextButton_base_b6:active .TextButton_caption__close_36 {
    color: #ffdd99;
}
.TextButton_caption__info_23 {
    padding: 0 5rem;
    color: #ccffff;
    text-shadow:
        0 0 12rem rgba(31, 68, 255, 0.8),
        0 0 8rem #00eaff;
}
.TextButton_base_b6:hover .TextButton_caption__info_23 {
    color: #e3ffff;
    text-shadow:
        0 0 12rem rgba(31, 68, 255, 0.8),
        0 0 12rem rgba(0, 234, 255, 1),
        0 0 8rem #00eaff;
}
.TextButton_base_b6:active .TextButton_caption__info_23 {
    color: #ccffff;
    text-shadow:
        0 0 12rem rgba(31, 68, 255, 0.6),
        0 0 8rem #00eaff;
}
.TextButton_goto_e7 {
    color: #7c7c6c;
}
.TextButton_base__left_ff .TextButton_goto_e7 {
    margin-left: 8rem;
}
.TextButton_base__right_39 .TextButton_goto_e7 {
    margin-right: 8rem;
}
.TextButton_shine_e2 {
    width: 90rem;
    height: 40rem;
    background: url('R.images.gui.maps.icons.components.text_button.shine') no-repeat center / contain;
    opacity: 0;
    position: absolute;
    top: -4rem;
    transition: opacity 0.16s;
    pointer-events: none;
}
.TextButton_base__left_ff .TextButton_shine_e2 {
    left: -4rem;
}
.TextButton_base__right_39 .TextButton_shine_e2 {
    right: -4rem;
    transform: rotate(180deg);
}
.TextButton_base_b6:hover .TextButton_shine_e2 {
    opacity: 1;
}
.TextButton_base_b6:active .TextButton_shine_e2 {
    opacity: 0;
}

.TankName_base_f1 {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    line-height: 1.3;
}

.TankName_base__sizeMedium_3a {
    color: #fefeec;
    font-size: 24rem;
    font-weight: 400;
    line-height: 1.2;
}

.TankName_base__sizBig_a9 {
    color: #f2f2f7;
    font-size: 36rem;
    font-weight: 700;
    line-height: 1.1;
}

.TankName_base__typeWhite_32 {
    color: #f2f2f7;
}

.TankName_base__typeWhiteSpanish_e2 {
    color: #e9e2bf;
}

.TankName_base__typeWhiteOrange_ac {
    color: #fefeec;
}

.TankName_base__typeColored_bc .TankName_level_bb {
    color: #e9e2bf;
}

.TankName_type_3c {
    width: 42rem;
    height: 38rem;
    background: no-repeat center / contain;
    position: relative;
}

.TankName_type__extraSmall_80 {
    margin: 0 -9rem;
    top: -8rem;
}

.TankName_type__medium_ff {
    top: -16rem;
}

.TankName_type__big_9a {
    top: -10rem;
}

.TankName_type__medium_ff,
.TankName_type__big_9a {
    width: 83rem;
    height: 73rem;
    margin: 0 -23rem;
}

.TankName_type__eliteExtraSmall_74 {
    margin: 0 -6rem;
}

.TankName_type__eliteMedium_10 {
    margin: 0 -16rem;
}

.TankName_type__eliteBig_ac {
    margin: 0 -13rem;
}

.TankName_base__typeColored_bc .TankName_name_56 {
    color: #8c8c7e;
}

.TankName_premiumIGR_25 {
    width: 10rem;
    height: 10rem;
    margin: 0 3rem 0 -2rem;
    background: url('R.images.gui.maps.icons.library.premium_igr_ico') no-repeat center / contain;
    position: relative;
    top: 5rem;
}

.PrestigeProgressLabel_base_85 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}
.PrestigeProgressLabel_letter_e2 {
    background: no-repeat center / contain;
}
.PrestigeProgressLabel_base__extraSmall_06 .PrestigeProgressLabel_letter_e2 {
    width: 6rem;
    height: 12rem;
}
.PrestigeProgressLabel_base__extraSmall_06 .PrestigeProgressLabel_letter__s1_65 {
    width: 5rem;
}
.PrestigeProgressLabel_base__small_72 .PrestigeProgressLabel_letter_e2 {
    width: 9rem;
    height: 19rem;
}
.PrestigeProgressLabel_base__small_72 .PrestigeProgressLabel_letter__s1_65 {
    width: 8rem;
}
.PrestigeProgressLabel_base__small_72 .PrestigeProgressLabel_letter__s4_f4 {
    width: 10rem;
}
.PrestigeProgressLabel_base__smallExtended_c9 .PrestigeProgressLabel_letter_e2 {
    width: 16rem;
    height: 33rem;
}
.PrestigeProgressLabel_base__smallExtended_c9 .PrestigeProgressLabel_letter__s1_65 {
    width: 12rem;
}
.PrestigeProgressLabel_base__medium_03 .PrestigeProgressLabel_letter_e2 {
    width: 23rem;
    height: 48rem;
}
.PrestigeProgressLabel_base__medium_03 .PrestigeProgressLabel_letter__s1_65 {
    width: 17rem;
}
.PrestigeProgressLabel_base__mediumExtended_9f .PrestigeProgressLabel_letter_e2 {
    width: 39rem;
    height: 88rem;
}
.PrestigeProgressLabel_base__mediumExtended_9f .PrestigeProgressLabel_letter__s1_65 {
    width: 32rem;
}
.PrestigeProgressLabel_base__large_d2 .PrestigeProgressLabel_letter_e2 {
    width: 53rem;
    height: 120rem;
}
.PrestigeProgressLabel_base__large_d2 .PrestigeProgressLabel_letter__s1_65 {
    width: 43rem;
}
.PrestigeProgressLabel_base__extraLarge_34 .PrestigeProgressLabel_letter_e2 {
    width: 77rem;
    height: 176rem;
}
.PrestigeProgressLabel_base__extraLarge_34 .PrestigeProgressLabel_letter__s1_65 {
    width: 62rem;
}

.PrestigeProgressSymbol_base_f8 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}

.PrestigeProgressSymbol_base__extraSmall_05 {
    width: 48rem;
    height: 48rem;
}

.PrestigeProgressSymbol_base__small_1c {
    width: 72rem;
    height: 72rem;
}

.PrestigeProgressSymbol_base__smallExtended_e0 {
    width: 115rem;
    height: 84rem;
}

.PrestigeProgressSymbol_base__medium_24 {
    width: 170rem;
    height: 124rem;
}

.PrestigeProgressSymbol_base__mediumExtended_11 {
    width: 296rem;
    height: 222rem;
}

.PrestigeProgressSymbol_base__large_3c {
    width: 400rem;
    height: 300rem;
}

.PrestigeProgressSymbol_base__extraLarge_a7 {
    width: 600rem;
    height: 450rem;
}
.PrestigeProgressSymbol_icon_af {
    background: no-repeat center / contain;
    position: absolute;
}
.PrestigeProgressSymbol_base__extraSmall_05 .PrestigeProgressSymbol_icon_af {
    width: 48rem;
    height: 48rem;
}
.PrestigeProgressSymbol_base__small_1c .PrestigeProgressSymbol_icon_af {
    width: 72rem;
    height: 72rem;
}
.PrestigeProgressSymbol_base__smallExtended_e0 .PrestigeProgressSymbol_icon_af {
    width: 115rem;
    height: 84rem;
}
.PrestigeProgressSymbol_base__medium_24 .PrestigeProgressSymbol_icon_af {
    width: 170rem;
    height: 124rem;
}
.PrestigeProgressSymbol_base__mediumExtended_11 .PrestigeProgressSymbol_icon_af {
    width: 296rem;
    height: 222rem;
}
.PrestigeProgressSymbol_base__large_3c .PrestigeProgressSymbol_icon_af {
    width: 400rem;
    height: 300rem;
}
.PrestigeProgressSymbol_base__extraLarge_a7 .PrestigeProgressSymbol_icon_af {
    width: 600rem;
    height: 450rem;
}

@keyframes Icon_scaleFadeIn_ed {
    0% {
        opacity: 0;
        transform: scale(1.2) translateY(-20rem);
    }

    100% {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}
@keyframes Icon_slideUp_00 {
    0% {
        opacity: 0;
        transform: translateY(10rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes Icon_fadeIn_1f {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
@keyframes Icon_raysAppearance_58 {
    0% {
        opacity: 0;
        transform: translateY(20rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes Icon_rotate_b0 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
.Icon_glow_69 {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
}
.Icon_glow__light_75 {
    width: 500rem;
    height: 500rem;
    margin: -250rem 0 0 -250rem;
    background: url('R.images.gui.maps.icons.elitewindow.lines') no-repeat center / contain;
    opacity: 0;
    mix-blend-mode: screen;
    animation:
        Icon_raysAppearance_58 0.8s cubic-bezier(0.07, 0.82, 0.17, 1) 0.8s 1 forwards,
        Icon_rotate_b0 120s linear 1.2s infinite forwards;
    pointer-events: none;
}
.mediaMedium .Icon_glow__light_75 {
    width: 800rem;
    height: 800rem;
    margin: -400rem 0 0 -400rem;
}
.Icon_glow__strong_6c {
    width: 560rem;
    height: 560rem;
    margin: -260rem 0 0 -280rem;
    background: url('swf://gui/flash/animations/eliteWindow/rays.swf') no-repeat center / contain;
    opacity: 0;
    mix-blend-mode: screen;
    animation: Icon_slideUp_00 0.8s cubic-bezier(0.07, 0.82, 0.17, 1) 0.8s 1 forwards;
    pointer-events: none;
}
.mediaMedium .Icon_glow__strong_6c {
    width: 666rem;
    height: 666rem;
    margin: -313rem 0 0 -333rem;
}
.Icon_base_fe {
    display: flex;
    position: relative;
}
.Icon_tankIcon_b2 {
    opacity: 0;
    animation-name: Icon_scaleFadeIn_ed;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-delay: 0.6s;
    animation-iteration-count: 1;
    width: 300rem;
    height: 225rem;
    background: center / cover no-repeat;
}
.mediaMedium .Icon_tankIcon_b2 {
    width: 400rem;
    height: 300rem;
    margin-bottom: 10rem;
}

@keyframes PostProgression_scaleFadeIn_df {
    0% {
        opacity: 0;
        transform: scale(1.2) translateY(-20rem);
    }

    100% {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}
@keyframes PostProgression_slideUp_ff {
    0% {
        opacity: 0;
        transform: translateY(10rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes PostProgression_fadeIn_4f {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
@keyframes PostProgression_raysAppearance_66 {
    0% {
        opacity: 0;
        transform: translateY(20rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes PostProgression_rotate_fe {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
.PostProgression_base_1a {
    display: flex;
    opacity: 0;
    position: relative;
    animation-name: PostProgression_fadeIn_4f;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    animation-delay: 0.8s;
}
.PostProgression_lockWrapper_29 {
    display: flex;
    position: absolute;
    top: -12rem;
    left: 50%;
    transform: translateX(-50%);
}
.PostProgression_lock_da {
    width: 17rem;
    height: 24rem;
    background: url('R.images.gui.maps.icons.elitewindow.unlocked_lock') center / cover no-repeat;
    z-index: 1;
}
.PostProgression_lockCloud_97 {
    width: 400rem;
    height: 300rem;
    margin-top: -6rem;
    background: url('R.images.gui.maps.icons.elitewindow.modification_cloud') center / cover no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.PostProgression_content_06 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 660rem;
    height: 50rem;
    z-index: 1;
}
.PostProgression_textBackground_89 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(
        90deg,
        rgba(100, 60, 0, 0) 3.96%,
        rgba(255, 122, 0, 0.64) 29.85%,
        rgba(255, 122, 0, 0.63) 71.93%,
        rgba(100, 60, 0, 0) 92.73%
    );
    opacity: 0.2;
    z-index: -1;
}
.PostProgression_text_4e {
    color: #e9e2bf;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
}
.PostProgression_icon_0d {
    width: 40rem;
    height: 24rem;
    margin-top: 3rem;
    background: url('R.images.gui.maps.icons.elitewindow.modification_icon') center / cover no-repeat;
}

@keyframes App_scaleFadeIn_16 {
    0% {
        opacity: 0;
        transform: scale(1.2) translateY(-20rem);
    }

    100% {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}
@keyframes App_slideUp_9d {
    0% {
        opacity: 0;
        transform: translateY(10rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes App_fadeIn_09 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
@keyframes App_raysAppearance_1f {
    0% {
        opacity: 0;
        transform: translateY(20rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes App_rotate_3d {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
.App_glow_e2 {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
}
.App_glow__light_b9 {
    width: 500rem;
    height: 500rem;
    margin: -250rem 0 0 -250rem;
    background: url('R.images.gui.maps.icons.elitewindow.lines') no-repeat center / contain;
    opacity: 0;
    mix-blend-mode: screen;
    animation:
        App_raysAppearance_1f 0.8s cubic-bezier(0.07, 0.82, 0.17, 1) 0.8s 1 forwards,
        App_rotate_3d 120s linear 1.2s infinite forwards;
    pointer-events: none;
}
.mediaMedium .App_glow__light_b9 {
    width: 800rem;
    height: 800rem;
    margin: -400rem 0 0 -400rem;
}
.App_glow__strong_6f {
    width: 560rem;
    height: 560rem;
    margin: -260rem 0 0 -280rem;
    background: url('swf://gui/flash/animations/eliteWindow/rays.swf') no-repeat center / contain;
    opacity: 0;
    mix-blend-mode: screen;
    animation: App_slideUp_9d 0.8s cubic-bezier(0.07, 0.82, 0.17, 1) 0.8s 1 forwards;
    pointer-events: none;
}
.mediaMedium .App_glow__strong_6f {
    width: 666rem;
    height: 666rem;
    margin: -313rem 0 0 -333rem;
}
body {
    overflow: hidden;
}
.App_base_55 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    background: #000000 url('R.images.gui.maps.icons.elitewindow.background') no-repeat center / cover;
    position: relative;
    animation: App_window-in_54 0.4s both;
}
.App_backgroundGlare_1f {
    background: url('R.images.gui.maps.icons.elitewindow.background_glare') no-repeat center / cover;
    mix-blend-mode: screen;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.App_header_1c {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50rem;
}
.mediaLarge .App_header_1c {
    margin-top: 80rem;
}
.mediaExtraLarge .App_header_1c {
    margin-top: 100rem;
}
.App_tankName_7f {
    opacity: 0;
    animation-name: App_slideUp_9d;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-delay: 0.2s;
    animation-iteration-count: 1;
    margin-bottom: -35rem;
}
.App_title_f1 {
    color: #f2f2f7;
    font-size: 36rem;
    font-weight: 700;
    line-height: 1.1;
    opacity: 0;
    animation-name: App_slideUp_9d;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-delay: 0.2s;
    animation-iteration-count: 1;
}
.mediaMedium .App_title_f1 {
    color: #f2f2f7;
    font-size: 73rem;
    font-weight: 700;
    line-height: 1.1;
}
.App_mainWrapper_5f {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(-15rem);
}
.mediaLarge .App_mainWrapper_5f {
    transform: translateY(-40rem);
}
.mediaExtraLarge .App_mainWrapper_5f {
    transform: translateY(-60rem);
}
.App_mainWrapper__hasPostProgression_86 {
    transform: translateY(0);
}
.mediaExtraLarge .App_mainWrapper__hasPostProgression_86 {
    transform: translateY(-40rem);
}
.App_main_9f {
    display: flex;
    position: relative;
}
.App_content_19 {
    color: #e9e2bf;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
    opacity: 0;
    animation-name: App_slideUp_9d;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-delay: 0.4s;
    animation-iteration-count: 1;
    max-width: 650rem;
    margin-top: 50rem;
    text-align: center;
    z-index: 1;
}
.App_content__postProgression_5f {
    margin-top: 20rem;
}
.mediaMedium .App_content__postProgression_5f {
    margin-top: 30rem;
}
.App_buttonGroup_b3 {
    opacity: 0;
    animation-name: App_slideUp_9d;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;
    animation-iteration-count: 1;
    display: flex;
    justify-content: center;
    margin-bottom: 50rem;
}
.mediaLarge .App_buttonGroup_b3 {
    margin-bottom: 80rem;
}
.mediaExtraLarge .App_buttonGroup_b3 {
    margin-bottom: 100rem;
}
.App_button_3b {
    width: 160rem;
    height: 32rem;
}
.mediaLarge .App_button_3b {
    width: 180rem;
}
.App_button_3b + .App_button_3b {
    margin-left: 20rem;
}
.App_closeButton_5a {
    position: absolute;
    top: 40rem;
    right: 40rem;
    z-index: 1;
}
.App_postProgression_6b {
    margin-top: 51rem;
}
.mediaLarge .App_postProgression_6b {
    margin-top: 90rem;
}
.App_arrow_a5 {
    width: 250rem;
    height: 250rem;
    background: url('R.images.gui.maps.icons.elitewindow.arrow') no-repeat center / contain;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-40%);
}
.mediaMedium .App_arrow_a5 {
    transform: translate(-40%, 5rem);
}
.App_section_f3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400rem;
}
.mediaMedium .App_section_f3 {
    width: 500rem;
}
.App_section_f3 + .App_section_f3 {
    margin-left: 32rem;
}
.mediaSmall .App_section_f3 + .App_section_f3 {
    margin-left: 48rem;
}
.App_section_image_ed {
    opacity: 0;
    animation-name: App_scaleFadeIn_16;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-delay: 0.6s;
    animation-iteration-count: 1;
    width: 300rem;
    height: 225rem;
    margin-bottom: 16rem;
}
.mediaMedium .App_section_image_ed {
    width: 400rem;
    height: 300rem;
    margin-bottom: 10rem;
}
.App_section_body_29 {
    opacity: 0;
    animation-name: App_slideUp_9d;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-delay: 0.4s;
    animation-iteration-count: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.App_section_title_3d {
    color: #fefeec;
    font-size: 18rem;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 8rem;
}
.App_section_description_b4 {
    justify-content: center;
    color: #e9e2bf;
    font-size: 16rem;
    font-weight: 400;
    line-height: 20rem;
}
.App_prestigeBadge_78 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
