.Widget_base_e7 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.Widget_icon_16 {
    position: absolute;
    top: auto;
    bottom: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: no-repeat 50% / contain;
    transform: translate(-50%, 0rem);
    pointer-events: auto;
}

.Widget_icon__huge_6c {
        width: 130rem;
        height: 130rem;
    }

.Widget_icon__big_ad,
    .Widget_icon__medium_db,
    .Widget_icon__small_ea {
        width: 64rem;
        height: 64rem;
    }

.Widget_icon__b0_19,
    .Widget_icon__b1_0b {
        top: 147rem;
    }

.Widget_icon__b0__medium_43, .Widget_icon__b1__medium_85 {
            top: 103rem;
    }

.Widget_icon__b0__extraSmall_a2,
    .Widget_icon__b0__small_c9,
    .Widget_icon__b1__extraSmall_6a,
    .Widget_icon__b1__small_67 {
            top: 107rem;
    }

.Widget_icon__b2_c7 {
        top: 5rem;
    }

.Widget_icon__b2__medium_7f {
            top: -4rem;
    }

.Widget_icon__b2__extraSmall_6b,
    .Widget_icon__b2__small_33 {
            top: 6rem;
    }

.Widget_icon__b3_21 {
        top: -10rem;
    }

.Widget_icon__b3__medium_8c {
            top: 14rem;
    }

.Widget_icon__b3__extraSmall_a9,
    .Widget_icon__b3__small_c7 {
            top: 0;
    }

.Widget_icon__b4_55 {
        top: 22rem;
    }

.Widget_icon__b4__medium_f1 {
            top: 18rem;
    }

.Widget_icon__b4__extraSmall_26,
    .Widget_icon__b4__small_78 {
            top: 12rem;
    }

.Widget_icon__b5_af {
        top: 9rem;
    }

.Widget_icon__b5__medium_67 {
            top: 6rem;
    }

.Widget_icon__b5__extraSmall_7e,
    .Widget_icon__b5__small_32 {
            top: 10rem;
    }

.Widget_icon__b6_3a {
        top: 3rem;
    }

.Widget_icon__b6__medium_e3 {
            top: 6rem;
    }

.Widget_icon__b6__extraSmall_3e,
    .Widget_icon__b6__small_69 {
            top: 4rem;
    }

