.IconSetApp_base_65 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.IconSetApp_mainIcon_79 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.IconSetApp_container_67 {
    width: 180rem;
    height: 135rem;
    position: relative;
}

.IconSetApp_icon_ce {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

