.FormatText_base_d0 {
    display: flex;
    flex-wrap: wrap;
}

.TooltipDecorator_base_c9 {
    display: flex;
    position: absolute;
}

.TooltipDecorator_base__theme-default_6d .TooltipDecorator_decorator_3d {
        padding: 4rem 6rem 8rem;
        border-image-source: url('R.atlases.components.tooltip_background');
        border-image-slice: 24 fill;
        border-image-width: 24rem;
        position: relative;
    }

.App_base_02 {
    display: flex;
    flex-direction: column;
    width: 355rem;
    padding: 16rem 20rem;
}

.App_title_cb {
    color: #E9E2BF;
    font-size: 15rem;
    font-weight: 700;
    line-height: 1.15;
}

.App_description_8c {
    color: #8C8C7E;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    margin-top: 8rem;
}

.App_vehicleNames_31 {
    display: flex;
    flex-wrap: wrap;
    color: #E9E2BF;
}

.App_vehicleName_62 {
    display: flex;
    flex-wrap: nowrap;
}

