.ExtraImage_base_78 {
    width: 16rem;
    height: 16rem;
    background: no-repeat center / contain;
}

    .ExtraImage_base__medium_07 {
        width: 32rem;
        height: 32rem;
    }

    .ExtraImage_base__big_86 {
        width: 48rem;
        height: 48rem;
    }

