.App_base_09 {
    display: flex;
    width: 48rem;
    height: 48rem;
}

.PrestigeProgressLabel_base_85 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}
.PrestigeProgressLabel_letter_e2 {
    background: no-repeat center / contain;
}
.PrestigeProgressLabel_base__extraSmall_06 .PrestigeProgressLabel_letter_e2 {
        width: 6rem;
        height: 12rem;
    }
.PrestigeProgressLabel_base__extraSmall_06 .PrestigeProgressLabel_letter__s1_65 {
            width: 5rem;
        }
.PrestigeProgressLabel_base__small_72 .PrestigeProgressLabel_letter_e2 {
        width: 9rem;
        height: 19rem;
    }
.PrestigeProgressLabel_base__small_72 .PrestigeProgressLabel_letter__s1_65 {
            width: 8rem;
        }
.PrestigeProgressLabel_base__small_72 .PrestigeProgressLabel_letter__s4_f4 {
            width: 10rem;
        }
.PrestigeProgressLabel_base__smallExtended_c9 .PrestigeProgressLabel_letter_e2 {
        width: 16rem;
        height: 33rem;
    }
.PrestigeProgressLabel_base__smallExtended_c9 .PrestigeProgressLabel_letter__s1_65 {
            width: 12rem;
        }
.PrestigeProgressLabel_base__medium_03 .PrestigeProgressLabel_letter_e2 {
        width: 23rem;
        height: 48rem;
    }
.PrestigeProgressLabel_base__medium_03 .PrestigeProgressLabel_letter__s1_65 {
            width: 17rem;
        }
.PrestigeProgressLabel_base__mediumExtended_9f .PrestigeProgressLabel_letter_e2 {
        width: 39rem;
        height: 88rem;
    }
.PrestigeProgressLabel_base__mediumExtended_9f .PrestigeProgressLabel_letter__s1_65 {
            width: 32rem;
        }
.PrestigeProgressLabel_base__large_d2 .PrestigeProgressLabel_letter_e2 {
        width: 53rem;
        height: 120rem;
    }
.PrestigeProgressLabel_base__large_d2 .PrestigeProgressLabel_letter__s1_65 {
            width: 43rem;
        }
.PrestigeProgressLabel_base__extraLarge_34 .PrestigeProgressLabel_letter_e2 {
        width: 77rem;
        height: 176rem;
    }
.PrestigeProgressLabel_base__extraLarge_34 .PrestigeProgressLabel_letter__s1_65 {
            width: 62rem;
        }

.PrestigeProgressSymbol_base_f8 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}

    .PrestigeProgressSymbol_base__extraSmall_05 {
        width: 48rem;
        height: 48rem;
    }

    .PrestigeProgressSymbol_base__small_1c {
        width: 72rem;
        height: 72rem;
    }

    .PrestigeProgressSymbol_base__smallExtended_e0 {
        width: 115rem;
        height: 84rem;
    }

    .PrestigeProgressSymbol_base__medium_24 {
        width: 170rem;
        height: 124rem;
    }

    .PrestigeProgressSymbol_base__mediumExtended_11 {
        width: 296rem;
        height: 222rem;
    }

    .PrestigeProgressSymbol_base__large_3c {
        width: 400rem;
        height: 300rem;
    }

    .PrestigeProgressSymbol_base__extraLarge_a7 {
        width: 600rem;
        height: 450rem;
    }
.PrestigeProgressSymbol_icon_af {
    background: no-repeat center / contain;
    position: absolute;
}
.PrestigeProgressSymbol_base__extraSmall_05 .PrestigeProgressSymbol_icon_af {
        width: 48rem;
        height: 48rem;
    }
.PrestigeProgressSymbol_base__small_1c .PrestigeProgressSymbol_icon_af {
        width: 72rem;
        height: 72rem;
    }
.PrestigeProgressSymbol_base__smallExtended_e0 .PrestigeProgressSymbol_icon_af {
        width: 115rem;
        height: 84rem;
    }
.PrestigeProgressSymbol_base__medium_24 .PrestigeProgressSymbol_icon_af {
        width: 170rem;
        height: 124rem;
    }
.PrestigeProgressSymbol_base__mediumExtended_11 .PrestigeProgressSymbol_icon_af {
        width: 296rem;
        height: 222rem;
    }
.PrestigeProgressSymbol_base__large_3c .PrestigeProgressSymbol_icon_af {
        width: 400rem;
        height: 300rem;
    }
.PrestigeProgressSymbol_base__extraLarge_a7 .PrestigeProgressSymbol_icon_af {
        width: 600rem;
        height: 450rem;
    }

body {
    margin: 2rem;
    line-height: normal;
    overflow: hidden;
}

html {
    overflow: hidden;
}

