.TooltipDecorator_base_c9 {
    display: flex;
    position: absolute;
}

.TooltipDecorator_base__theme-default_6d .TooltipDecorator_decorator_3d {
    padding: 4rem 6rem 8rem;
    border-image-source: url('R.images.gui.maps.icons.tooltip.tooltip_background');
    border-image-slice: 24 fill;
    border-image-width: 24rem;
    position: relative;
}

.App_base_70 {
    width: 590rem;
    max-height: 800rem;
    padding: 24rem;
    border: 1rem solid rgba(242, 242, 230, 0.1);
    border-radius: 2rem;
    box-shadow:
        0 1rem 12rem 0 rgba(0, 0, 0, 0.15),
        0 0 1rem 0 #000,
        0 0 25rem 0 rgba(242, 242, 230, 0.1) inset;
    background: linear-gradient(
            180deg,
            rgba(51, 51, 41, 0.06) 0%,
            rgba(44, 44, 36, 0) 13.02%,
            rgba(7, 7, 6, 0) 85.94%,
            rgba(51, 51, 41, 0.02) 100%
        ),
        #12110b;
    overflow: hidden;
}

.App_divider_37 {
    width: 542rem;
    height: 9rem;
    margin: -4rem 0;
    background: url('R.images.gui_lootboxes.gui.maps.storage.progression.tooltip.divider') no-repeat center / cover;
}

.App_elementDescription_a9 {
    color: #8c8c7e;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
}

.FormatText_base_d0 {
    display: flex;
    flex-wrap: wrap;
}

.Header_base_5f {
    display: flex;
    align-items: center;
    width: 100%;
    height: 80rem;
    margin-top: -18rem;
}

.Header_headerImage_e0 {
    width: 64rem;
    height: 64rem;
    margin: -12rem 6rem -12rem -12rem;
    background: url('R.images.gui_lootboxes.gui.maps.storage.rewards.vehProgression') no-repeat center / cover;
}

.Header_headerDescriptionWrapper_a7 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.Header_headerTitle_e9 {
    color: #e9e2bf;
    font-size: 18rem;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 8rem;
}

.Header_headerDescription_8e {
    color: #8c8c7e;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
}

.Description_base_fe {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin: 10rem 0;
}

.Description_description_a3 {
    color: #8c8c7e;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
}

.Description_point_fe {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background: #8c8c7e;
    position: absolute;
    top: 9rem;
    left: 0;
}

.Description_item_51 {
    color: #8c8c7e;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    margin-bottom: 9rem;
    padding-left: 20rem;
    position: relative;
}

.RotationVehicle_base_2f {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80rem;
    height: 80rem;
    position: relative;
}

.RotationVehicle_base__received_32 {
    opacity: 0.3;
}

.RotationVehicle_icon_41 {
    width: 80rem;
    height: 80rem;
    background: no-repeat center / cover;
}

.RotationVehicle_label_b8 {
    color: #ffdd99;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-self: center;
    position: absolute;
    top: 58rem;
}

.RotationVehicle_labelContent_27 {
    display: flex;
    justify-content: center;
}

.RotationVehicle_lockIcon_78 {
    width: 32rem;
    height: 32rem;
    margin: -6rem;
    background: url('R.images.gui_lootboxes.gui.maps.rotation.lock') no-repeat center / cover;
}

.RotationVehicle_checkIcon_9e {
    width: 20rem;
    height: 22rem;
    margin-top: 2rem;
    background: url('R.images.gui_lootboxes.gui.maps.rotation.check') no-repeat center / cover;
}

.Compensation_base_8c {
    width: 80rem;
    height: 80rem;
    position: relative;
}

.Compensation_currencyIcon_1c {
    width: 80rem;
    height: 80rem;
    background: no-repeat center / cover;
    position: absolute;
    top: -4rem;
    left: 0;
}

.Compensation_base__credits_63 .Compensation_currencyIcon_1c {
    background-image: url('R.images.gui.maps.icons.library.credits_icon_80x80');
}

.Compensation_base__gold_c7 .Compensation_currencyIcon_1c {
    background-image: url('R.images.gui.maps.icons.library.gold_icon_80x80');
}

.Compensation_value_72 {
    position: absolute;
    bottom: 4rem;
    left: 50%;
    transform: translateX(-50%);
}

.Compensation_base__credits_63 .Compensation_value_72 {
    color: #ced9d9;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
}

.Compensation_base__gold_c7 .Compensation_value_72 {
    color: #ffc363;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
}

.Compensation_compensationIcon_6b {
    width: 24rem;
    height: 24rem;
    background: url('R.images.gui_lootboxes.gui.maps.storage.progression.tooltip.compensation') no-repeat center / cover;
    position: absolute;
    top: -8rem;
    right: 0;
}

.RotationVehicleList_base_7f {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 112rem;
    position: relative;
}

.RotationVehicleList_bonusBlock_86 {
    margin: 12rem 6rem;
}

.RotationVehicleList_currentBg_ca {
    align-self: center;
    width: 542rem;
    height: 112rem;
    background: url('R.images.gui_lootboxes.gui.maps.storage.progression.tooltip.bg_current') no-repeat center / cover;
    position: absolute;
    top: -1rem;
}

.RotationVehicleList_stage_7b {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 80rem;
    height: 80rem;
    padding-top: 28rem;
    position: relative;
}

.RotationVehicleList_stageLabel_5d {
    color: #8c8c7e;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    width: 44rem;
    text-align: right;
}

.RotationVehicleList_stageIcon_4a {
    width: 90rem;
    height: 61rem;
    background: no-repeat center / cover;
    position: absolute;
    top: 24rem;
    left: -18rem;
    z-index: -1;
}

.RotationVehicleList_stageIcon__1_c0 {
    background-image: url('R.images.gui_lootboxes.gui.maps.storage.progression.tooltip.stage1');
}

.RotationVehicleList_stageIcon__2_de {
    background-image: url('R.images.gui_lootboxes.gui.maps.storage.progression.tooltip.stage2');
}

.RotationVehicleList_stageIcon__3_60 {
    background-image: url('R.images.gui_lootboxes.gui.maps.storage.progression.tooltip.stage3');
}
