.HorizontalBar_base_49 {
    display: flex;
    width: 100%;
    height: 13rem;
    position: relative;
}

    .HorizontalBar_base__nonActive_82 {
        visibility: hidden;
    }

    .HorizontalBar_base_49 .disable,
    .HorizontalBar_base_49 .disable:hover {
        opacity: .3;
        cursor: default;
    }

.HorizontalBar_leftButton_5f,
.HorizontalBar_rightButton_03 {
    width: 13rem;
    height: 13rem;
    border: 1rem solid #7e7b68;
    box-shadow: inset 0 0 1rem rgba(255,255,190, .3);
    background: no-repeat center / 7rem 5rem;
    opacity: .5;
    z-index: 1;
    transform: rotate(-90deg);
    transition: opacity 130ms linear;
    cursor: pointer;
}

.HorizontalBar_leftButton_5f:hover, .HorizontalBar_rightButton_03:hover {
        opacity: 1;
    }

.HorizontalBar_leftButton_5f {
    background-image: url('R.images.gui.maps.icons.components.scroll_area.arrow_top');
}

.HorizontalBar_rightButton_03 {
    background-image: url('R.images.gui.maps.icons.components.scroll_area.arrow_down');
}

.HorizontalBar_track_0d {
    flex: 1;
    margin: 0 1rem;
    position: relative;
    cursor: pointer;
}

.HorizontalBar_thumb_fd {
    display: none;
    flex: 0 0 100%;
    width: 100%;
    min-width: 20rem;
    height: 13rem;
    border: 1rem solid #7e7b68;
    box-shadow: inset 0 0 1rem rgba(255,255,190, .3);
    background: #26241b url('R.images.gui.maps.icons.components.scroll_area.thumb_horizontal') no-repeat center / 8rem 7rem;
    opacity: .5;
    position: absolute;
    z-index: 1;
    transition: opacity 130ms linear;
    cursor: pointer;
}

.HorizontalBar_thumb_fd:hover {
        opacity: 1;
    }

.HorizontalBar_rail_32 {
    height: 0;
    border-top: 1rem solid #2f2e24;
    position: absolute;
    top: 6rem;
    right: 5rem;
    left: 5rem;
}

.HorizontalBar_rail_32:hover {
        opacity: .7;
    }


.HorizontalScroll_base_29 {
    width: 100%;
}

.HorizontalScroll_wrapper_1e {
    display: flex;
    width: 100%;
    overflow-x: hidden;
}

.HorizontalScroll_defaultScrollArea_8d {
    width: 100%;
    margin-bottom: 7rem;
}

.ProgressionScroll_base_14 {
    width: 100%;
    height: 100%;
    position: relative;
}

.ProgressionScroll_areaWrapper_0f {
    height: 100%;
    mask-image: linear-gradient(90deg, transparent, #000 20%, #000 80%, transparent);
}

.ProgressionScroll_areaContent_7c {
    display: flex;
    align-content: center;
    padding-left: var(--offset);
    padding-right: var(--offset);
}

