.FormatText_base_d0 {
    display: flex;
    flex-wrap: wrap;
}

.CButton_base_40 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    box-shadow: 0 0 0 1rem rgba(0, 0, 0, 0.6);
    position: relative;
    cursor: pointer;
}

.CButton_base__main_42,
.CButton_base__primary_7f,
.CButton_base__primaryGreen_6f,
.CButton_base__primaryRed_ec,
.CButton_base__secondary_50 {
    background-size: 100% 100%;
}

.CButton_base__main_42 {
    background-image: url('R.images.gui.maps.icons.components.button.back_main');
}

.CButton_base__primary_7f {
    background-image: url('R.images.gui.maps.icons.components.button.back_primary');
}

.CButton_base__primaryGreen_6f {
    background-image: url('R.images.gui.maps.icons.components.button.back_primary_green');
}

.CButton_base__primaryRed_ec {
    background-image: url('R.images.gui.maps.icons.components.button.back_primary_red');
}

.CButton_base__secondary_50 {
    background-image: url('R.images.gui.maps.icons.components.button.back_secondary');
}

.CButton_base__ghost_ed {
    border-radius: 3rem;
    box-shadow:
        0 0 0 1rem rgba(0, 0, 0, 0.3),
        0 0 0 1rem rgba(255, 255, 255, 0.15) inset;
    background-color: rgba(0, 0, 0, 0.15);
}

.CButton_base__extraSmall_27 {
    min-height: 17rem;
    padding: 0 16rem;
}

.CButton_base__small_df,
.CButton_base__medium_74 {
    padding: 0 20rem;
}

.CButton_base__small_df {
    min-height: 18rem;
}

.CButton_base__medium_74 {
    min-height: 32rem;
}

.CButton_base__large_5c {
    min-height: 48rem;
}

.CButton_base__disabled_d9 {
    cursor: default;
}
/* Element .back and background-image in element .base need for fix bug in GF https://jira.wargaming.net/browse/WOTD-158525
The bug is that under certain conditions, when using border-image, stripes appear. Strip is a single-pixel gap
between 'border-image-width' and 'fill'.
This bug is reproduced in Google Chrome 81.0.4044.113
*/
.CButton_back_e5 {
    border-image-slice: 4 fill;
    border-image-width: 4rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.CButton_base__main_42 .CButton_back_e5 {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_main');
}
.CButton_base__primary_7f .CButton_back_e5 {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_primary');
}
.CButton_base__primaryGreen_6f .CButton_back_e5 {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_primary_green');
}
.CButton_base__primaryRed_ec .CButton_back_e5 {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_primary_red');
}
.CButton_base__secondary_50 .CButton_back_e5 {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_secondary');
}
.CButton_texture_fe {
    background: url('R.images.gui.maps.icons.components.button.standard_texture_file');
    background-size: 155rem 31rem;
    mix-blend-mode: soft-light;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.CButton_state_11 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: box-shadow 0.16s ease-in-out;
}
.CButton_base__focus_83 .CButton_state_11 {
    border-radius: 2rem;
    box-shadow: inset 0 0 2rem 1rem rgba(255, 85, 0, 0.2);
}
.CButton_stateHighlightHover_ff,
.CButton_stateHighlightActive_35,
.CButton_stateDisabled_54 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.CButton_stateHighlightHover_ff {
    background-image: linear-gradient(
        180deg,
        rgba(252, 248, 235, 0.25) 0%,
        rgba(252, 248, 235, 0.1) 50%,
        rgba(255, 255, 255, 0) 100%
    );
    opacity: 0;
}
.CButton_base_40:hover .CButton_stateHighlightHover_ff {
    opacity: 1;
}
.CButton_base_40:active .CButton_stateHighlightHover_ff {
    opacity: 0;
}
.CButton_base__disabled_d9:hover .CButton_stateHighlightHover_ff {
    opacity: 0;
}
.CButton_base__ghost_ed .CButton_stateHighlightHover_ff {
    box-shadow: 0 15rem 12rem 0 rgba(242, 242, 230, 0.11) inset;
    background-color: rgba(8, 6, 0, 0.18);
    background-image: none;
}
.CButton_stateHighlightActive_35 {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.15) 100%);
    opacity: 0;
}
.CButton_base__highlightActive_b2 .CButton_stateHighlightActive_35 {
    opacity: 1;
}
.CButton_stateDisabled_54 {
    background-color: rgba(0, 0, 0, 0.25);
    background-image: url('R.images.gui.maps.icons.components.button.texture_disable');
    background-size: 15rem 15rem;
    visibility: hidden;
}
.CButton_base__disabled_d9 .CButton_stateDisabled_54 {
    visibility: inherit;
}
.CButton_content_cc {
    display: flex;
    align-items: center;
    color: #f2f2e6;
    font-weight: 700;
    line-height: 1.2;
    text-shadow: 0 -1rem 1rem #000;
    letter-spacing: 0.03em;
    transform: translateY(-1rem);
}
.CButton_content_cc[lang='ja'],
.CButton_content_cc[lang='ko'],
.CButton_content_cc[lang='zh_tw'],
.CButton_content_cc[lang='zh_sg'],
.CButton_content_cc[lang='zh_cn'],
.CButton_content_cc[lang='th'] {
    font-weight: 400;
}
.CButton_base__main_42 .CButton_content_cc,
.CButton_base__primaryRed_ec .CButton_content_cc {
    text-shadow: 0 -1rem 1rem #600;
}
.CButton_base__secondary_50 .CButton_content_cc {
    color: rgba(254, 254, 236, 0.75);
}
.CButton_base__primaryGreen_6f .CButton_content_cc {
    text-shadow: 0 -1rem 1rem #1c2502;
}
.CButton_base__extraSmall_27 .CButton_content_cc {
    font-size: 12rem;
}
.CButton_base__small_df .CButton_content_cc {
    font-size: 14rem;
}
.CButton_base__medium_74 .CButton_content_cc {
    font-size: 15rem;
}
.CButton_base__large_5c .CButton_content_cc {
    font-size: 18rem;
}
.CButton_base__disabled_d9 .CButton_content_cc {
    opacity: 0.6;
}

.SubscriptionItem_base_e8 {
    --card-width: var(--base-width);
    --footer-margin: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: var(--card-width);
    height: var(--base-height);
    margin-bottom: 20rem;
    border: 1rem solid rgba(255, 255, 255, 0.1);
    background-color: rgba(30, 28, 24, 0.75);
    overflow: hidden;
    position: relative;
    cursor: pointer;

    --subscription-text-left-distance: 20rem;
}

.SubscriptionItem_base_e8:hover .SubscriptionItem_subscriptionImage_4d {
    filter: brightness(1.13);
}

.SubscriptionItem_base__rewardsClaimed_21 .SubscriptionItem_activateButtonLight_ce {
    width: 233rem;
    height: 115rem;
    background: url('R.images.gui.maps.icons.player_subscriptions.claimed_light') center center / cover;
    opacity: 0.7;
    top: -70rem;
    right: -5rem;
}

.SubscriptionItem_base__rewardsClaimed_21.SubscriptionItem_base__oneThird_74 .SubscriptionItem_activateButtonLight_ce {
    width: 192rem;
    height: 103rem;
    top: -63rem;
    right: -40rem;
}

.SubscriptionItem_base__rewardsClaimed_21.SubscriptionItem_base__twoThirds_16 .SubscriptionItem_activateButtonLight_ce {
    width: 192rem;
    height: 103rem;
    top: -62rem;
    right: -15rem;
}

.mediaSmall .SubscriptionItem_base_e8 {
    --footer-margin: 30rem;
    --subscription-text-left-distance: 30rem;
}

.mediaSmall .SubscriptionItem_base_e8 .SubscriptionItem_subscriptionText_39 {
    width: 500rem;
}

.mediaSmall .SubscriptionItem_base_e8 .SubscriptionItem_refreshTimer_47 {
    top: 22rem;
    left: 30rem;
}

.mediaMedium .SubscriptionItem_base_e8 {
    --footer-margin: 40rem;
    --subscription-text-left-distance: 40rem;
}

.mediaMedium .SubscriptionItem_base_e8 .SubscriptionItem_subscriptionText_39 {
    width: 500rem;
}

.mediaMedium .SubscriptionItem_base_e8 .SubscriptionItem_refreshTimer_47 {
    top: 32rem;
    left: 30rem;
}

.mediaLarge .SubscriptionItem_base_e8 {
    --footer-margin: 50rem;
    --subscription-text-left-distance: 50rem;
}

.mediaLarge .SubscriptionItem_base_e8 .SubscriptionItem_subscriptionText_39 {
    width: 500rem;
}

.mediaLarge .SubscriptionItem_base_e8 .SubscriptionItem_refreshTimer_47 {
    top: 30rem;
    left: 22rem;
}

.SubscriptionItem_base__twoThirds_16 {
    --card-width: 535rem;
    --footer-margin: 20rem;
    --subscription-text-left-distance: 20rem;
}

.SubscriptionItem_base__twoThirds_16:hover .SubscriptionItem_footerText_84 {
    bottom: 200rem;
}

.SubscriptionItem_base__twoThirds_16:hover .SubscriptionItem_footerDescription_e3 {
    display: block;
    height: auto;
}

.SubscriptionItem_base__twoThirds_16:hover .SubscriptionItem_subscriptionImage_4d {
    filter: none;
    opacity: 0.4;
}

.SubscriptionItem_base__twoThirds_16 .SubscriptionItem_cardFooter_ff {
    justify-content: space-between;
}

.SubscriptionItem_base__twoThirds_16 .SubscriptionItem_subscriptionImage_4d {
    background-image: var(--imageUriMedium);
}

.SubscriptionItem_base__twoThirds_16 .SubscriptionItem_activateButton_3e {
    min-width: 108rem;
    height: 20rem;
    padding: 0;
}

.SubscriptionItem_base__twoThirds_16 .SubscriptionItem_activateButton_manage_db {
    min-width: 160rem;
    height: 32rem;
    padding: 0 10rem;
}

.SubscriptionItem_base__twoThirds_16 .SubscriptionItem_activateButton_internal_d4 {
    padding: 0 10rem;
}

.SubscriptionItem_base__twoThirds_16 .SubscriptionItem_activateButtonLight_ce {
    width: 493rem;
    height: 317rem;
    top: -145rem;
    right: -176rem;
}

.SubscriptionItem_base__twoThirds_16 .SubscriptionItem_cancelledLight_3d {
    bottom: -30rem;
}

.mediaSmall .SubscriptionItem_base__twoThirds_16 {
    --card-width: 643rem;
    --footer-margin: 20rem;
    --subscription-text-left-distance: 20rem;
}

.mediaSmall .SubscriptionItem_base__twoThirds_16 .SubscriptionItem_cardFooter_ff {
    justify-content: space-between;
}

.mediaMedium .SubscriptionItem_base__twoThirds_16 {
    --card-width: 697rem;
    --footer-margin: 20rem;
    --subscription-text-left-distance: 20rem;
}

.mediaLarge .SubscriptionItem_base__twoThirds_16 {
    --card-width: 750rem;
    --footer-margin: 20rem;
    --subscription-text-left-distance: 20rem;
}

.SubscriptionItem_base__oneThird_74 {
    --card-width: 260rem;
    --footer-margin: 20rem;
}

.SubscriptionItem_base__oneThird_74:hover .SubscriptionItem_footerText_84 {
    bottom: 220rem;
}

.SubscriptionItem_base__oneThird_74:hover .SubscriptionItem_footerDescription_e3 {
    display: block;
    height: auto;
}

.SubscriptionItem_base__oneThird_74:hover .SubscriptionItem_subscriptionImage_4d {
    filter: none;
    opacity: 0.4;
}

.SubscriptionItem_base__oneThird_74 .SubscriptionItem_subscriptionImage_4d {
    background-image: var(--imageUriSmall);
}

.SubscriptionItem_base__oneThird_74 .SubscriptionItem_claimedText_23 {
    margin-right: 20rem;
}

.SubscriptionItem_base__oneThird_74 .SubscriptionItem_activateButton_3e {
    min-width: 108rem;
    height: 20rem;
    padding: 0;
}

.SubscriptionItem_base__oneThird_74 .SubscriptionItem_activateButtonLight_ce {
    width: 411rem;
    height: 317rem;
    top: -150rem;
    right: -156rem;
}

.SubscriptionItem_base__oneThird_74 .SubscriptionItem_cardFooter_ff {
    justify-content: space-between;
}

.mediaSmall .SubscriptionItem_base__oneThird_74 {
    --card-width: 312rem;
    --footer-margin: 20rem;
}

.mediaMedium .SubscriptionItem_base__oneThird_74 {
    --card-width: 338rem;
    --footer-margin: 20rem;
}

.mediaLarge .SubscriptionItem_base__oneThird_74 {
    --card-width: 364rem;
    --footer-margin: 20rem;
}

.SubscriptionItem_cardFooter_ff {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 70rem;
    padding-right: var(--footer-margin);
    background: url('R.images.gui.maps.icons.player_subscriptions.item_footer') center center / cover;
    position: absolute;
    bottom: 0;
}

.SubscriptionItem_subscriptionText_39 {
    width: 340rem;
    padding-left: var(--subscription-text-left-distance);
}

.SubscriptionItem_subscriptionHeader_1a {
    color: #e9e2bf;
    font-size: 28rem;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 10rem;
}

.SubscriptionItem_subscriptionDescription_b6,
.SubscriptionItem_footerDescription_e3 {
    color: #8c8c7e;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
}

.SubscriptionItem_subscriptionImage_4d {
    width: 100%;
    height: var(--base-height);
    background-image: var(--imageUriLarge);
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    transition: opacity 0.2s;
}

.SubscriptionItem_ctaContainer_71 {
    position: relative;
}

.SubscriptionItem_ctaContainer_row_ba {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.SubscriptionItem_activateButton_3e {
    justify-content: center;
    min-width: 140rem;
    height: 32rem;
    min-height: auto;
}

.SubscriptionItem_activateButton_manage_db {
    min-width: 160rem;
}

.SubscriptionItem_linkIcon_83 {
    width: 11rem;
    height: 11rem;
    margin-left: 4rem;
}

.SubscriptionItem_activateButtonLight_ce {
    width: 613rem;
    height: 393rem;
    background: url('R.images.gui.maps.icons.player_subscriptions.button_light') center center / cover;
    opacity: 0.7;
    position: absolute;
    top: -183rem;
    right: -230rem;
}

.SubscriptionItem_cancelledLight_3d {
    width: 246rem;
    height: 118rem;
    background: url('R.images.gui.maps.icons.player_subscriptions.cancelled_light') center center / cover;
    opacity: 0.7;
    position: absolute;
    bottom: -35rem;
    left: -75rem;
}

.SubscriptionItem_rewardsClaimed_d3 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.SubscriptionItem_claimedText_23 {
    color: #ffffff;
    font-size: 14rem;
    font-weight: 700;
    line-height: 1.15;
    margin-right: 40rem;
    position: relative;
}

.SubscriptionItem_claimedText_internal_ec {
    margin-right: 20rem;
}

.SubscriptionItem_claimedText_light_0c {
    color: #ffffff;
    font-size: 12rem;
    font-weight: 400;
    line-height: 1.3;
}

.SubscriptionItem_claimedIcon_64 {
    width: 16rem;
    height: 16rem;
    margin-top: 2rem;
    margin-right: 3rem;
    background: url('R.images.gui.maps.icons.library.check') center center / cover;
}

.SubscriptionItem_claimedIcon_internal_a6 {
    margin-top: 0;
}

.SubscriptionItem_warningIcon_07 {
    width: 16rem;
    height: 16rem;
    margin-top: 3rem;
    margin-right: 5rem;
    background: url('R.images.gui.maps.icons.library.alertIcon') center center / cover;
}

.SubscriptionItem_footerTitle_a0 {
    color: #e9e2bf;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
    margin-bottom: 2rem;
}

.SubscriptionItem_spinner_9b {
    display: none;
    width: 14rem;
    height: 14rem;
    margin-top: 2rem;
    margin-right: 5rem;
    background: url('R.images.gui.maps.icons.player_subscriptions.spinner') no-repeat center;
    animation: SubscriptionItem_pending-spin_4f 1.2s linear infinite;
}

.SubscriptionItem_spinner__visible_bf {
    display: block;
}

@keyframes SubscriptionItem_pending-spin_4f {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.SubscriptionItem_refreshTimer_47 {
    color: #8c8c7e;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    top: 17rem;
    left: 20rem;
    z-index: 2;
}

.SubscriptionItem_footerText_84 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: var(--footer-margin);
    position: relative;
    bottom: 0rem;
    transition: bottom 0.2s;
}

.SubscriptionItem_footerDescription_e3 {
    display: none;
    width: calc(var(--card-width) - 2 * var(--footer-margin));
    height: 0rem;
    text-shadow: 0 0 1px #000;
    position: absolute;
    top: 25rem;
    transition: height 0.2s;
}

.SubscriptionItem_wotSubscriptionStatus_glow_c3 {
    width: 400rem;
    height: 240rem;
    position: absolute;
    top: 0rem;
    left: 0rem;
}

.SubscriptionItem_wotSubscriptionStatus_icon_active_75 {
    width: 32rem;
    height: 32rem;
    margin: -7rem 0rem -7rem -5rem;
}

.SubscriptionItem_wotSubscriptionStatus_icon_inactive_52 {
    width: 24rem;
    height: 24rem;
    margin: -3rem 4rem -3rem 0rem;
}

.SubscriptionItem_wotSubscriptionStatus_text_fe {
    color: #8c8c7e;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
}

.SubscriptionItem_wotSubscriptionStatus_active_d8 {
    color: #80d43a;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
}

.SubscriptionItem_wotSubscriptionStatus_inactive_0f {
    color: #ee7000;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
}

.SubscriptionItem_wotSubscriptionStatusContainer_b8 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: 35rem;
    left: var(--subscription-text-left-distance);
}

.Countdown_base_fe {
    display: flex;
    align-items: center;
}

.Countdown_icon_8b {
    width: 32rem;
    height: 32rem;
    background: no-repeat center / contain;
}

.Countdown_description_8d {
    color: #ffdd99;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
}
