.TextButton_base_b6 {
    display: flex;
    align-items: center;
    padding: 0 3rem;
    font-size: 12rem;
    position: relative;
    cursor: pointer;
}

.TextButton_base__right_39 {
    flex-direction: row-reverse;
}
.TextButton_icon_17 {
    width: 32rem;
    height: 32rem;
    background: no-repeat center / contain;
    position: relative;
}
.TextButton_icon__back_43,
.TextButton_icon__forward_59 {
    margin: -1rem -5rem;
    background-image: url('R.images.gui.maps.icons.components.text_button.back');
    transform: translateY(1rem);
}
.TextButton_icon__forward_59 {
    transform: rotate(180deg) translateY(1rem);
}
.TextButton_icon__close_53 {
    margin: -1rem 0;
    background-image: url('R.images.gui.maps.icons.components.text_button.close');
}
.TextButton_icon__info_33 {
    margin: -1rem -5rem;
    background-image: url('R.images.gui.maps.icons.components.text_button.info');
}
.TextButton_glow_a4 {
    width: 100%;
    height: 100%;
    background: no-repeat center / contain;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity 0.16s;
}
.TextButton_icon__back_43 .TextButton_glow_a4,
.TextButton_icon__forward_59 .TextButton_glow_a4 {
    background-image: url('R.images.gui.maps.icons.components.text_button.back_hover');
}
.TextButton_icon__close_53 .TextButton_glow_a4 {
    background-image: url('R.images.gui.maps.icons.components.text_button.close_hover');
}
.TextButton_icon__info_33 .TextButton_glow_a4 {
    background-image: url('R.images.gui.maps.icons.components.text_button.info_hover');
}
.TextButton_base_b6:hover .TextButton_glow_a4 {
    opacity: 1;
}
.TextButton_base_b6:active .TextButton_glow_a4 {
    opacity: 0;
}
.TextButton_caption_82 {
    position: relative;
    transition:
        color 0.16s,
        text-shadow 0.16s;
}
.TextButton_caption__back_b9,
.TextButton_caption__forward_4e,
.TextButton_caption__close_36 {
    color: #ffdd99;
    text-shadow:
        0 0 10rem rgba(255, 42, 0, 1),
        0 0 10rem rgba(255, 42, 0, 0.4),
        0 0 10rem rgba(255, 42, 0, 0.4),
        0 0 2rem rgba(255, 42, 0, 0.4),
        0 0 1rem rgba(255, 42, 0, 0.4),
        0 0 2rem rgba(255, 42, 0, 0.4),
        0 0 1rem rgba(255, 42, 0, 0.4);
}
.TextButton_base_b6:hover .TextButton_caption__back_b9,
.TextButton_base_b6:hover .TextButton_caption__forward_4e,
.TextButton_base_b6:hover .TextButton_caption__close_36 {
    color: #fffa9f;
}
.TextButton_base_b6:active .TextButton_caption__back_b9,
.TextButton_base_b6:active .TextButton_caption__forward_4e,
.TextButton_base_b6:active .TextButton_caption__close_36 {
    color: #ffdd99;
}
.TextButton_caption__info_23 {
    padding: 0 5rem;
    color: #ccffff;
    text-shadow:
        0 0 12rem rgba(31, 68, 255, 0.8),
        0 0 8rem #00eaff;
}
.TextButton_base_b6:hover .TextButton_caption__info_23 {
    color: #e3ffff;
    text-shadow:
        0 0 12rem rgba(31, 68, 255, 0.8),
        0 0 12rem rgba(0, 234, 255, 1),
        0 0 8rem #00eaff;
}
.TextButton_base_b6:active .TextButton_caption__info_23 {
    color: #ccffff;
    text-shadow:
        0 0 12rem rgba(31, 68, 255, 0.6),
        0 0 8rem #00eaff;
}
.TextButton_goto_e7 {
    color: #7c7c6c;
}
.TextButton_base__left_ff .TextButton_goto_e7 {
    margin-left: 8rem;
}
.TextButton_base__right_39 .TextButton_goto_e7 {
    margin-right: 8rem;
}
.TextButton_shine_e2 {
    width: 90rem;
    height: 40rem;
    background: url('R.images.gui.maps.icons.components.text_button.shine') no-repeat center / contain;
    opacity: 0;
    position: absolute;
    top: -4rem;
    transition: opacity 0.16s;
    pointer-events: none;
}
.TextButton_base__left_ff .TextButton_shine_e2 {
    left: -4rem;
}
.TextButton_base__right_39 .TextButton_shine_e2 {
    right: -4rem;
    transform: rotate(180deg);
}
.TextButton_base_b6:hover .TextButton_shine_e2 {
    opacity: 1;
}
.TextButton_base_b6:active .TextButton_shine_e2 {
    opacity: 0;
}

.CurtainSubViewTemplate_base_a7 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 580rem;
    height: 100vh;
    background: url('R.images.gui.maps.icons.account_completion.curtain_top_bg_small') no-repeat center top / contain;
    position: relative;
    cursor: auto;
}
.CurtainSubViewTemplate_base__small_53,
.CurtainSubViewTemplate_base__extraSmall_2d {
    width: 386rem;
    background-image: url('R.images.gui.maps.icons.account_completion.curtain_top_bg');
}

.CurtainSubViewTemplate_closeButton_40 {
    position: absolute;
    top: 11rem;
    right: 9rem;
}

.CurtainSubViewTemplate_base__small_53 .CurtainSubViewTemplate_closeButton_40,
.CurtainSubViewTemplate_base__extraSmall_2d .CurtainSubViewTemplate_closeButton_40 {
    right: 5rem;
}

.CButton_base_40 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    box-shadow: 0 0 0 1rem rgba(0, 0, 0, 0.6);
    position: relative;
    cursor: pointer;
}

.CButton_base__main_42,
.CButton_base__primary_7f,
.CButton_base__primaryGreen_6f,
.CButton_base__primaryRed_ec,
.CButton_base__secondary_50 {
    background-size: 100% 100%;
}

.CButton_base__main_42 {
    background-image: url('R.images.gui.maps.icons.components.button.back_main');
}

.CButton_base__primary_7f {
    background-image: url('R.images.gui.maps.icons.components.button.back_primary');
}

.CButton_base__primaryGreen_6f {
    background-image: url('R.images.gui.maps.icons.components.button.back_primary_green');
}

.CButton_base__primaryRed_ec {
    background-image: url('R.images.gui.maps.icons.components.button.back_primary_red');
}

.CButton_base__secondary_50 {
    background-image: url('R.images.gui.maps.icons.components.button.back_secondary');
}

.CButton_base__ghost_ed {
    border-radius: 3rem;
    box-shadow:
        0 0 0 1rem rgba(0, 0, 0, 0.3),
        0 0 0 1rem rgba(255, 255, 255, 0.15) inset;
    background-color: rgba(0, 0, 0, 0.15);
}

.CButton_base__extraSmall_27 {
    min-height: 17rem;
    padding: 0 16rem;
}

.CButton_base__small_df,
.CButton_base__medium_74 {
    padding: 0 20rem;
}

.CButton_base__small_df {
    min-height: 18rem;
}

.CButton_base__medium_74 {
    min-height: 32rem;
}

.CButton_base__disabled_d9 {
    cursor: default;
}
/* Element .back and background-image in element .base need for fix bug in GF https://jira.wargaming.net/browse/WOTD-158525
The bug is that under certain conditions, when using border-image, stripes appear. Strip is a single-pixel gap
between 'border-image-width' and 'fill'.
This bug is reproduced in Google Chrome 81.0.4044.113
*/
.CButton_back_e5 {
    border-image-slice: 4 fill;
    border-image-width: 4rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.CButton_base__main_42 .CButton_back_e5 {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_main');
}
.CButton_base__primary_7f .CButton_back_e5 {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_primary');
}
.CButton_base__primaryGreen_6f .CButton_back_e5 {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_primary_green');
}
.CButton_base__primaryRed_ec .CButton_back_e5 {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_primary_red');
}
.CButton_base__secondary_50 .CButton_back_e5 {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_secondary');
}
.CButton_texture_fe {
    background: url('R.images.gui.maps.icons.components.button.standard_texture_file');
    background-size: 155rem 31rem;
    mix-blend-mode: soft-light;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.CButton_state_11 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: box-shadow 0.16s ease-in-out;
}
.CButton_base__focus_83 .CButton_state_11 {
    border-radius: 2rem;
    box-shadow: inset 0 0 2rem 1rem rgba(255, 85, 0, 0.2);
}
.CButton_stateHighlightHover_ff,
.CButton_stateHighlightActive_35,
.CButton_stateDisabled_54 {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.CButton_base__firstHover_d5 .CButton_stateHighlightHover_ff,
.CButton_base__firstHover_d5 .CButton_stateHighlightActive_35,
.CButton_base__firstHover_d5 .CButton_stateDisabled_54 {
    transition: opacity 0.16s ease-in-out;
}
.CButton_stateHighlightHover_ff {
    background-image: linear-gradient(
        180deg,
        rgba(252, 248, 235, 0.25) 0%,
        rgba(252, 248, 235, 0.1) 50%,
        rgba(255, 255, 255, 0) 100%
    );
}
.CButton_base_40:hover .CButton_stateHighlightHover_ff {
    opacity: 1;
}
.CButton_base_40:active .CButton_stateHighlightHover_ff {
    opacity: 0;
}
.CButton_base__disabled_d9:hover .CButton_stateHighlightHover_ff {
    opacity: 0;
}
.CButton_base__ghost_ed .CButton_stateHighlightHover_ff {
    box-shadow: 0 15rem 12rem 0 rgba(242, 242, 230, 0.11) inset;
    background-color: rgba(8, 6, 0, 0.18);
    background-image: none;
}
.CButton_stateHighlightActive_35 {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.15) 100%);
}
.CButton_base__highlightActive_b2 .CButton_stateHighlightActive_35 {
    opacity: 1;
}
.CButton_stateDisabled_54 {
    background-color: rgba(0, 0, 0, 0.25);
    background-image: url('R.images.gui.maps.icons.components.button.texture_disable');
    background-size: 15rem;
}
.CButton_base__disabled_d9 .CButton_stateDisabled_54 {
    opacity: 1;
}
.CButton_content_cc {
    display: flex;
    align-items: center;
    color: #f2f2e6;
    font-weight: 700;
    line-height: 1.2;
    text-shadow: 0 -1rem 1rem #000;
    letter-spacing: 0.03em;
    transform: translateY(-1rem);
}
.CButton_content_cc[lang='ja'],
.CButton_content_cc[lang='ko'],
.CButton_content_cc[lang='zh_tw'],
.CButton_content_cc[lang='zh_sg'],
.CButton_content_cc[lang='zh_cn'],
.CButton_content_cc[lang='th'] {
    font-weight: 400;
}
.CButton_base__main_42 .CButton_content_cc,
.CButton_base__primaryRed_ec .CButton_content_cc {
    text-shadow: 0 -1rem 1rem #600;
}
.CButton_base__secondary_50 .CButton_content_cc {
    color: rgba(254, 254, 236, 0.75);
}
.CButton_base__primaryGreen_6f .CButton_content_cc {
    text-shadow: 0 -1rem 1rem #1c2502;
}
.CButton_base__extraSmall_27 .CButton_content_cc {
    font-size: 12rem;
}
.CButton_base__small_df .CButton_content_cc {
    font-size: 14rem;
}
.CButton_base__medium_74 .CButton_content_cc {
    font-size: 15rem;
}
.CButton_base__disabled_d9 .CButton_content_cc {
    opacity: 0.6;
}

.FormatText_base_d0 {
    display: flex;
    flex-wrap: wrap;
}

@keyframes Title_showIn_6a {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0%);
    }
}

@keyframes Title_showOut_62 {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-100%);
    }
}

@keyframes Title_fadeIn_93 {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes Title_fadeOut_06 {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes Title_windowIn_bc {
    from {
        opacity: 0;
        transform: scale(1.1);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.Title_base_eb {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Title_icon_01 {
    width: 194rem;
    height: 152rem;
    background: url('R.images.gui.maps.icons.account_completion.rectangle_small') no-repeat 50% / contain;
    position: relative;
}

.mediaMedium .Title_icon_01 {
    width: 272rem;
    height: 206rem;
    margin-bottom: -6rem;
    background-image: url('R.images.gui.maps.icons.account_completion.rectangle');
}

.Title_title_9f {
    color: #f2f2f7;
    font-size: 28rem;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 9rem;
}

.mediaMedium .Title_title_9f {
    color: #f2f2f7;
    font-size: 36rem;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 10rem;
}

.Title_br_3d {
    width: 100%;
}

.Title_subTitle_af {
    margin-bottom: 11rem;
}

.mediaMedium .Title_subTitle_af {
    margin-bottom: 24rem;
}

.Title_subTitleText_a7 {
    color: #e9e2bf;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    display: flex;
    justify-content: center;
    width: 330rem;
}

.mediaMedium .Title_subTitleText_a7 {
    color: #e9e2bf;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
    width: 470rem;
}

.Title_subTitleText__binding_54 {
    color: #8c8c7e;
}

.Title_subTitleIcon_57 {
    width: 24rem;
    height: 24rem;
    background: url('R.images.gui.maps.icons.library.info') no-repeat center / contain;
    transform: translate(-5rem, -2rem);
}

.mediaMedium .Title_subTitleIcon_57 {
    transform: translate(-5rem, 0);
}

@keyframes WarningMessage_showIn_39 {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0%);
    }
}

@keyframes WarningMessage_showOut_a8 {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-100%);
    }
}

@keyframes WarningMessage_fadeIn_76 {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes WarningMessage_fadeOut_a2 {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes WarningMessage_windowIn_c5 {
    from {
        opacity: 0;
        transform: scale(1.1);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.WarningMessage_base_b9 {
    color: #ee7000;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 246rem;
    animation: WarningMessage_fadeIn_76 0.5s 0.2s both;
}

.mediaMedium .WarningMessage_base_b9 {
    width: 392rem;
    color: #ee7000;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
}

.WarningMessage_icon_3e {
    width: 24rem;
    height: 24rem;
    margin: -3rem 0;
    background: url('R.images.gui.maps.icons.library.alertBigIcon') no-repeat 50% / contain;
}

.mediaMedium .WarningMessage_icon_3e {
    margin: -2rem 0;
}

.FieldError_base_02 {
    color: #ff2717;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    display: flex;
    justify-content: center;
    width: 272rem;
    opacity: 0;
    position: absolute;
    bottom: -5rem;
    transform: translateY(100%);
    transition: opacity ease 0.2s;
    pointer-events: none;
}

.mediaMedium .FieldError_base_02 {
    width: 364rem;
}

.FieldError_base__show_46 {
    opacity: 1;
}

.InputControl_base_38 {
    display: flex;
    align-items: center;
    min-width: 100%;
    height: 100%;
    border: 1rem solid #464538;
    border-radius: 2rem;
    box-shadow:
        inset 0 0 1rem #000,
        inset 0 0 8rem #000;
    position: relative;
    transition: border 0.3s ease-in-out;
    cursor: text;
}

.InputControl_base__focused_07 {
    border-color: #626156;
}

.InputControl_base__alert_e6 {
    border-color: #ee7000;
    box-shadow:
        inset 0 0 1rem #000,
        inset 0 0 8rem #000,
        inset 0 0 6rem #8d0d03;
}

.InputControl_base__error_34 {
    border-color: #ff2717;
    box-shadow:
        inset 0 0 1rem #000,
        inset 0 0 8rem #000,
        inset 0 0 6rem #8d0d03;
}

.InputControl_base__done_2e {
    border-color: #7ab300;
}

.InputControl_base__disabled_96 {
    cursor: default;
}

.InputControl_input_98 {
    flex: 1;
    border: none;
    background-color: transparent;
    color: #8c8c7e;
    position: relative;
    z-index: 1;
}

.InputControl_base__small_78 .InputControl_input_98 {
    font-size: 12rem;
    line-height: 14rem;
    padding: 1rem 4rem 2rem 8rem;
}

.InputControl_base__medium_c9 .InputControl_input_98 {
    font-size: 14rem;
    padding: 1rem 4rem 2rem 8rem;
}

.InputControl_base__large_42 .InputControl_input_98 {
    font-size: 16rem;
    padding: 4rem 6rem 5rem 12rem;
}

.InputControl_base__extraMedium_41 .InputControl_input_98 {
    font-size: 16rem;
    padding: 4rem 6rem 5rem 12rem;
}

.InputControl_base__extraLarge_a6 .InputControl_input_98 {
    font-size: 22rem;
    padding: 10rem 45rem 10rem 19rem;
}

.InputControl_base__monoLarge_e8 .InputControl_input_98 {
    color: #8c8c7e;
    font-size: 36rem;
    font-weight: 700;
    line-height: 1.1;
    padding: 0 0 3rem 17rem;
}

.InputControl_base__monoSmall_e8 .InputControl_input_98 {
    color: #8c8c7e;
    font-size: 36rem;
    font-weight: 700;
    line-height: 1.1;
    padding: 0 0 4rem 11rem;
}

.InputControl_base__withIcon_39.InputControl_base__small_78 .InputControl_input__search_a7 {
    padding-left: 20rem;
}

.InputControl_base__withIcon_39.InputControl_base__medium_c9 .InputControl_input__search_a7 {
    padding-left: 24rem;
}

.InputControl_base__withIcon_39.InputControl_base__large_42 .InputControl_input__search_a7 {
    padding-left: 36rem;
}

.InputControl_base__withIcon_39.InputControl_base__extraLarge_a6 .InputControl_input__search_a7 {
    padding-left: 46rem;
}

.InputControl_base__disabled_96 .InputControl_input_98 {
    color: #37362e;
    pointer-events: none;
}

.InputControl_input_98::selection {
    background-color: #8c8c7e;
    color: #37362e;
}

.InputControl_disabled_e7 {
    width: 100%;
    height: 100%;
    background: url('R.images.gui.maps.icons.library.disabled_pattern') center / 9rem;
    opacity: 0.8;
    position: absolute;
}

.InputControl_placeholder_fe {
    color: #595950;
    position: absolute;
    left: 8rem;
    pointer-events: none;
}

.InputControl_base__small_78 .InputControl_placeholder_fe {
    font-size: 12rem;
    line-height: 14rem;
}

.InputControl_base__medium_c9 .InputControl_placeholder_fe {
    font-size: 14rem;
}

.InputControl_base__large_42 .InputControl_placeholder_fe {
    font-size: 16rem;
    left: 12rem;
}

.InputControl_base__extraMedium_41 .InputControl_placeholder_fe {
    font-size: 16rem;
    left: 12rem;
}

.InputControl_base__extraLarge_a6 .InputControl_placeholder_fe {
    font-size: 22rem;
    left: 19rem;
}

.InputControl_base__withIcon_39.InputControl_base__small_78 .InputControl_placeholder__search_b4 {
    left: 20rem;
}

.InputControl_base__withIcon_39.InputControl_base__medium_c9 .InputControl_placeholder__search_b4 {
    left: 24rem;
}

.InputControl_base__withIcon_39.InputControl_base__large_42 .InputControl_placeholder__search_b4 {
    left: 36rem;
}

.InputControl_base__withIcon_39.InputControl_base__extraMedium_41 .InputControl_placeholder__search_b4 {
    left: 36rem;
}

.InputControl_base__withIcon_39.InputControl_base__extraLarge_a6 .InputControl_placeholder__search_b4 {
    left: 45rem;
}

.InputControl_base__disabled_96 .InputControl_placeholder_fe {
    color: #37362e;
}

.InputControl_icon_78 {
    background: no-repeat center / contain;
    position: absolute;
    left: 8rem;
    z-index: 1;
    pointer-events: none;
}

.InputControl_base__small_78 .InputControl_icon__search_37 {
    width: 8rem;
    height: 8rem;
}

.InputControl_base__medium_c9 .InputControl_icon__search_37 {
    width: 10rem;
    height: 10rem;
}

.InputControl_base__large_42 .InputControl_icon__search_37,
.InputControl_base__extraMedium_41 .InputControl_icon__search_37,
.InputControl_base__extraLarge_a6 .InputControl_icon__search_37 {
    width: 16rem;
    height: 16rem;
    left: 12rem;
}

.InputControl_base__disabled_96 .InputControl_icon_78 {
    opacity: 0.5;
}

.InputControl_clear_a8 {
    opacity: 0.6;
    position: absolute;
    right: 4rem;
    z-index: 1;
    cursor: pointer;
}

.InputControl_clear_a8:hover {
    opacity: 1;
}

.InputControl_base__small_78 .InputControl_clear_a8 {
    width: 12rem;
    height: 12rem;
    background: url('R.images.gui.maps.icons.components.input.close_small') no-repeat 50% / 8rem;
}

.InputControl_base__medium_c9 .InputControl_clear_a8 {
    width: 14rem;
    height: 14rem;
    background: url('R.images.gui.maps.icons.components.input.close_medium') no-repeat 50% / 10rem;
}

.InputControl_base__large_42 .InputControl_clear_a8,
.InputControl_base__extraMedium_41 .InputControl_clear_a8,
.InputControl_base__extraLarge_a6 .InputControl_clear_a8 {
    width: 20rem;
    height: 20rem;
    background: url('R.images.gui.maps.icons.components.input.close_large') no-repeat 50% / 16rem;
    right: 6rem;
}

.HelperMessage_base_6b {
    display: flex;
    width: 100%;
    opacity: 0;
    transition: opacity ease 0.2s;
    pointer-events: none;
}

.HelperMessage_base__shown_10 {
    opacity: 1;
}

.HelperMessage_icon_87 {
    width: 16rem;
    height: 16rem;
    margin-right: 5rem;
    background: no-repeat center / contain;
}

.HelperMessage_message_ef {
    color: #8c8c7e;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    flex: 1;
}

.HelperMessage_message__alert_4a {
    color: #ee7000;
}

.HelperMessage_message__error_d6 {
    color: #ff2717;
}

.HelperMessage_message__done_2d {
    color: #7ab300;
}

.HelperMessage_base__small_d9 .HelperMessage_message_ef,
.HelperMessage_base__extraSmall_50 .HelperMessage_message_ef {
    margin-top: -2rem;
    font-size: 12rem;
    line-height: 1.2;
}

.Input_base_66 {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 2rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.6);
    background-color: #1c1b12;
    position: relative;
}

.Input_base__small_86 {
    height: 18rem;
}

.Input_base__medium_f4 {
    height: 24rem;
}

.Input_base__large_f9 {
    height: 32rem;
}

.Input_base__extraMedium_86 {
    height: 36rem;
}

.Input_base__extraLarge_ce {
    height: 49rem;
}

.Input_helper_ef {
    height: 100%;
    position: absolute;
    top: 3rem;
    left: 0;
    transform: translateY(100%);
}

.Cell_base_13 {
    width: 42rem;
    height: 52rem;
    margin: 21rem 3rem 0;
    background-color: rgba(28, 27, 18, 0.8);
}

.mediaMedium .Cell_base_13 {
    width: 54rem;
    height: 66rem;
}

.FieldSeparate_base_78 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.FieldSeparate_content_6a {
    display: flex;
}

.FormatTextWithColorTags_blackReal_3c {
    color: #000000;
}

.FormatTextWithColorTags_whiteReal_8a {
    color: #ffffff;
}

.FormatTextWithColorTags_white_16 {
    color: #f2f2f7;
}

.FormatTextWithColorTags_whiteOrange_18 {
    color: #fefeec;
}

.FormatTextWithColorTags_whiteSpanish_10 {
    color: #e9e2bf;
}

.FormatTextWithColorTags_par_ca {
    color: #8c8c7e;
}

.FormatTextWithColorTags_parSecondary_8d {
    color: #595950;
}

.FormatTextWithColorTags_parTertiary_a3 {
    color: #37362e;
}

.FormatTextWithColorTags_red_60 {
    color: #ff2717;
}

.FormatTextWithColorTags_redDark_03 {
    color: #b70000;
}

.FormatTextWithColorTags_yellow_ad {
    color: #feab34;
}

.FormatTextWithColorTags_orange_e4 {
    color: #ee7000;
}

.FormatTextWithColorTags_cream_cd {
    color: #ffdd99;
}

.FormatTextWithColorTags_brown_c8 {
    color: #cbac77;
}

.FormatTextWithColorTags_greenBright_f0 {
    color: #80d43a;
}

.FormatTextWithColorTags_green_c5 {
    color: #7ab300;
}

.FormatTextWithColorTags_greenDark_af {
    color: #497212;
}

.FormatTextWithColorTags_blueBooster_ac {
    color: #ccffff;
}

.FormatTextWithColorTags_blueTeamkiller_6f {
    color: #09e2ff;
}

.FormatTextWithColorTags_cred_4e {
    color: #ced9d9;
}

.FormatTextWithColorTags_gold_90 {
    color: #ffc363;
}

.FormatTextWithColorTags_bond_71 {
    color: #c9c9b6;
}

.FormatTextWithColorTags_prom_dd {
    color: #a29b70;
}

/* This specific rule is used to fix https://jira.wargaming.net/browse/WOTPRG-9871 */

.FormatTextWithColorTags_parNoWidth_5a {
    width: 0;
    color: #8c8c7e;
}

@keyframes Text_showIn_92 {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0%);
    }
}

@keyframes Text_showOut_4c {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-100%);
    }
}

@keyframes Text_fadeIn_0f {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes Text_fadeOut_1c {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes Text_windowIn_c4 {
    from {
        opacity: 0;
        transform: scale(1.1);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.Text_base_5d {
    background: linear-gradient(90deg, rgba(11, 9, 8, 0.25) 0%, #0b0908 50%, rgba(11, 9, 8, 0.25) 100%);
    position: relative;
}

.Text_text_a6 {
    color: #8c8c7e;
    font-size: 12rem;
    font-weight: 400;
    line-height: 1.3;
    display: flex;
    justify-content: center;
}

.mediaMedium .Text_text_a6 {
    color: #8c8c7e;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
}

.Text_line_7d {
    height: 1rem;
    background: linear-gradient(90deg, rgba(70, 69, 56, 0.25) 0%, #464538 50%, rgba(70, 69, 56, 0.25) 100%);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

.Text_line__bottom_86 {
    top: auto;
    bottom: 0;
}

.Text_inner_df {
    color: #e9e2bf;
}

.Timer_base_81 {
    display: flex;
    justify-content: center;
    height: 32rem;
}

.Timer_text_b7 {
    color: #8c8c7e;
    font-size: 12rem;
    font-weight: 400;
    line-height: 1.3;
}

.Timer_textInner_62 {
    color: #e9e2bf;
}

.Timer_button_82 {
    width: 232rem;
}

@keyframes App_showIn_cf {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0%);
    }
}

@keyframes App_showOut_f5 {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-100%);
    }
}

@keyframes App_fadeIn_b3 {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes App_fadeOut_3f {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes App_windowIn_71 {
    from {
        opacity: 0;
        transform: scale(1.1);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.App_base_a3 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.App_spacer_89 {
    height: 6%;
}

.mediaMediumHeight .App_spacer_89 {
    height: 7.5%;
}

.mediaLargeHeight .App_spacer_89 {
    height: 9%;
}

.mediaExtraLargeHeight .App_spacer_89 {
    height: 14%;
}

.App_text_d0 {
    margin-top: 11rem;
    margin-bottom: 10rem;
    padding: 16rem 21rem 20rem;
}

.mediaMedium .App_text_d0 {
    color: #e9e2bf;
    font-size: 22rem;
    font-weight: 700;
    line-height: 1.2;
    margin-top: 8rem;
    margin-bottom: 36rem;
    padding: 24rem 20rem 28rem;
}

.App_content_f8 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
}

.App_footer_39 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.App_divider_e1 {
    width: 306rem;
    height: 1rem;
    margin-bottom: 22rem;
    background: linear-gradient(
        90deg,
        rgba(140, 140, 126, 0) 0%,
        rgba(140, 140, 126, 0.4) 50%,
        rgba(140, 140, 126, 0) 100%
    );
}

.mediaMedium .App_divider_e1 {
    width: 416rem;
}

.App_warningBox_58 {
    height: 60rem;
    position: relative;
}

.App_warning_81 {
    position: absolute;
    top: 45%;
    left: 0;
    transform: translate(-50%, -50%);
}

.mediaMedium .App_warning_81 {
    top: 32%;
}

.App_timer_02 {
    margin-top: 12rem;
}

.App_button_42 {
    width: 232rem;
}
