.TooltipDecorator_base_c9 {
    display: flex;
    position: absolute;
}

.TooltipDecorator_decorator_3d {
    padding: 4rem 6rem 8rem; /* border offset*/
    border-image-source: url('R.atlases.components.tooltip_background');
    border-image-slice: 24 fill;
    border-image-width: 24rem;
    position: relative;
}

.TooltipDecorator_decoratorContent_de {
    background-color: #000;
}

.commonTooltipStyles_base_1f {
    width: 220rem;
    padding-bottom: 20rem;
    background: linear-gradient(180deg, rgba(51, 51, 41, .3) 0%, rgba(51, 51, 41, 0) 15.62%, rgba(51, 51, 41, 0) 88.02%, rgba(51, 51, 41, .1) 100%);
}

.commonTooltipStyles_title_de {
    margin: 20rem 20rem 10rem;
    color: #E9E2BF;
    font-size: 18rem;
    font-weight: 700;
    line-height: 1.1;
}

.commonTooltipStyles_listHeader_5f {
    display: flex;
    padding: 0 20rem;
}

.commonTooltipStyles_headerLevel_bb,
.commonTooltipStyles_headerValue_c0 {
    width: 50%;
    color: #595950;
    font-size: 14rem;
    font-weight: 400;
    line-height: 24rem;
}

.commonTooltipStyles_separator_6a {
    height: 1rem;
    background: url('R.images.gui.maps.icons.dogtags.tooltip_separator') no-repeat;
    background-size: contain;
}

.commonTooltipStyles_list_84 {
    display: flex;
    flex-direction: column;
}

.commonTooltipStyles_levelRow_50 {
    display: flex;
}

.commonTooltipStyles_levelRow_50.commonTooltipStyles_current_83 {
        background: url('R.images.gui.maps.icons.dogtags.tooltip_level_highlight') no-repeat;
        background-size: cover;
    }

.commonTooltipStyles_levelRow_50.commonTooltipStyles_current_83 .commonTooltipStyles_level_20,
        .commonTooltipStyles_levelRow_50.commonTooltipStyles_current_83 .commonTooltipStyles_value_4b {
            color: #FFC363;
        }

.commonTooltipStyles_levelRow_50.commonTooltipStyles_next_21 .commonTooltipStyles_level_20,
        .commonTooltipStyles_levelRow_50.commonTooltipStyles_next_21 .commonTooltipStyles_value_4b {
            color: #E9E2BF;
        }

.commonTooltipStyles_level_20 {
    display: flex;
    align-items: center;
    padding-left: 20rem;
}

.commonTooltipStyles_level_20,
.commonTooltipStyles_value_4b {
    width: 50%;
    color: #8C8C7E;
    font-size: 14rem;
    font-weight: 400;
    line-height: 24rem;
}

