.TooltipDecorator_base_c9 {
    display: flex;
    position: absolute;
}

.TooltipDecorator_base__theme-default_6d .TooltipDecorator_decorator_3d {
    padding: 4rem 6rem 8rem;
    border-image-source: url('R.images.gui.maps.icons.tooltip.tooltip_background');
    border-image-slice: 24 fill;
    border-image-width: 24rem;
    position: relative;
}

.RankEmblem_base_ec {
    width: var(--imageSize);
    height: var(--imageSize);
    background: no-repeat center / cover;
}

.App_base_c8 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 398rem;
    padding: 15rem 0 20rem;
    background: #070707 url('R.images.gui.maps.icons.comp7.backgrounds.widget_tooltip_bg') no-repeat top / contain;
    color: #fff;
    overflow: hidden;
}

.App_heading_97 {
    color: #ffffff;
    font-size: 24rem;
    font-weight: 400;
    line-height: 1.2;
    line-height: 1.3;
}

.App_season_8d {
    color: #8c8c7e;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    margin: 5rem 0 30rem;
}

.App_rankName_af {
    color: #ffdd99;
    font-size: 18rem;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 10rem;
    text-shadow: 0 4rem 4rem rgba(0, 0, 0, 0.25);
}

.App_emblemContainer_08 {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
}

.App_emblem_90 {
    position: relative;
}

.App_rays_e2 {
    width: 398rem;
    height: 430rem;
    background: url('R.images.gui.maps.icons.comp7.icons.rays') no-repeat top / contain;
    mix-blend-mode: screen;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.App_content_ab {
    padding: 0 15rem;
}

.App_content__generalRank_f1 {
    transform: translateY(-10rem);
}

.FormatText_base_d0 {
    display: flex;
    flex-wrap: wrap;
}

.FormatTextWithColorTags_blackReal_3c {
    color: #000000;
}

.FormatTextWithColorTags_whiteReal_8a {
    color: #ffffff;
}

.FormatTextWithColorTags_white_16 {
    color: #f2f2f7;
}

.FormatTextWithColorTags_whiteOrange_18 {
    color: #fefeec;
}

.FormatTextWithColorTags_whiteSpanish_10 {
    color: #e9e2bf;
}

.FormatTextWithColorTags_par_ca {
    color: #8c8c7e;
}

.FormatTextWithColorTags_parSecondary_8d {
    color: #595950;
}

.FormatTextWithColorTags_parTertiary_a3 {
    color: #37362e;
}

.FormatTextWithColorTags_red_60 {
    color: #ff2717;
}

.FormatTextWithColorTags_redDark_03 {
    color: #b70000;
}

.FormatTextWithColorTags_yellow_ad {
    color: #feab34;
}

.FormatTextWithColorTags_orange_e4 {
    color: #ee7000;
}

.FormatTextWithColorTags_cream_cd {
    color: #ffdd99;
}

.FormatTextWithColorTags_brown_c8 {
    color: #cbac77;
}

.FormatTextWithColorTags_greenBright_f0 {
    color: #80d43a;
}

.FormatTextWithColorTags_green_c5 {
    color: #7ab300;
}

.FormatTextWithColorTags_greenDark_af {
    color: #497212;
}

.FormatTextWithColorTags_blueBooster_ac {
    color: #ccffff;
}

.FormatTextWithColorTags_blueTeamkiller_6f {
    color: #09e2ff;
}

.FormatTextWithColorTags_cred_4e {
    color: #ced9d9;
}

.FormatTextWithColorTags_gold_90 {
    color: #ffc363;
}

.FormatTextWithColorTags_bond_71 {
    color: #c9c9b6;
}

.FormatTextWithColorTags_prom_dd {
    color: #a29b70;
}

.tooltips_base_6b {
    display: flex;
    flex-direction: column;
    padding: 15rem 20rem 20rem;
}

.tooltips_heading_ac {
    color: #e9e2bf;
    font-size: 18rem;
    font-weight: 700;
    line-height: 1.1;
}

.tooltips_subHeading_2c {
    color: #8c8c7e;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
}

.tooltips_subHeading__topIndent_e1 {
    margin-top: 8rem;
}

.tooltips_divider_26 {
    width: 100%;
    height: 1rem;
    margin: 12rem 0 8rem;
    background: linear-gradient(
            to right,
            rgba(201, 201, 182, 0.2) 33.33%,
            rgba(201, 201, 182, 0) 33.33%,
            rgba(201, 201, 182, 0)
        )
        repeat right / 3rem 1rem;
    mask: linear-gradient(
        90deg,
        transparent,
        rgba(0, 0, 0, 0.6) 5%,
        rgba(0, 0, 0, 1) 30%,
        rgba(0, 0, 0, 1) 70%,
        rgba(0, 0, 0, 0.6) 95%,
        transparent
    );
}

.tooltips_description_85 {
    color: #8c8c7e;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
}

.tooltips_description__topIndent_ba {
    margin-top: 14rem;
}

.tooltips_highlight_87 {
    color: #e9e2bf;
}

.EliteRankContent_base_ff {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.EliteRankContent_score_d1 {
    color: #ffffff;
    font-size: 56rem;
    font-weight: 700;
    line-height: 1.1;
}

.EliteRankContent_scoreLabel_df {
    color: #8c8c7e;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
}

.EliteRankContent_formatTextString_f0 {
    color: #8c8c7e;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    display: inline;
    text-align: center;
}

/*
    Gameface can't calculate gradient biggest than 8128px
    in JS 8000 reserved like anchor for start optimization
*/
/* stylelint-disable-line */
.ProgressBar_base_45 {
    width: 100%;
    height: 12rem;
    position: relative;
}
.ProgressBar_base__medium_62 {
    height: 6rem;
}
.ProgressBar_base__small_df {
    height: 2rem;
}
.ProgressBar_background_51 {
    width: 100%;
    max-width: 8001px;
    height: 100%;
    background-image: var(--progress-base);
    background-repeat: repeat;
    background-position: 0 50%;
    background-size: 3rem 10rem;
    position: absolute;
    top: 0;
    left: 0;
}
.ProgressBar_background__medium_6e {
    height: 6rem;
}
.ProgressBar_background__small_46 {
    height: 2rem;
}
.ProgressBar_lineWrapper_6a {
    display: flex;
    flex: 1;
}

.ProgressBarBlink_base_24 {
    width: 60rem;
    height: 100rem;
    background-image: var(--progress-glow);
    background-size: contain;
    mix-blend-mode: lighten;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
    pointer-events: none;
}

.ProgressBarBlink_base__medium_ec {
    width: 42rem;
    height: 70rem;
}

.ProgressBarBlink_base__small_0f {
    width: 44rem;
    height: 43rem;
    background-image: var(--progress-glow-small);
}

/*
    Gameface can't calculate gradient biggest than 8128px
    in JS 8000 reserved like anchor for start optimization
*/
/* stylelint-disable-line */
.ProgressLineImpose_base_80 {
    max-width: 8001px;
    height: 100%;
    background-color: var(--progress-line-base);
    position: relative;
    transition-timing-function: cubic-bezier(1, 0, 0.92, 1);
    transition-property: width;
}
.ProgressLineImpose_base__disabled_cc {
    background-color: var(--progress-line-disabled);
}
.ProgressLineImpose_base__finished_d4 {
    background-color: var(--progress-line-finished);
}
.ProgressLineImpose_base__withoutBounce_56 {
    transition-timing-function: cubic-bezier(1, 0, 0.75, 0.75);
}
.ProgressLineImpose_pattern_1c {
    max-width: 8001px;
    background-image: var(--progress-pattern-base);
    background-repeat: repeat;
    background-position: 0 50%;
    background-size: 3rem 10rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    bottom: 1rem;
    left: 1rem;
}
.ProgressLineImpose_base__small_55 .ProgressLineImpose_pattern_1c {
    top: 0;
    bottom: 0;
}
.ProgressLineImpose_base__disabled_cc .ProgressLineImpose_pattern_1c {
    background-image: var(--progress-pattern-disabled);
    left: 0;
}
.ProgressLineImpose_base__finished_d4 .ProgressLineImpose_pattern_1c {
    background-image: var(--progress-pattern-finished);
}
.ProgressLineImpose_gradient_35 {
    max-width: 8001px;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.75));
    mix-blend-mode: overlay;
    position: absolute;
    top: 1rem;
    right: 0;
    bottom: 1rem;
    left: 0;
}
.ProgressLineImpose_base__small_55 .ProgressLineImpose_gradient_35 {
    top: 0;
    bottom: 0;
}
.ProgressLineImpose_base__disabled_cc .ProgressLineImpose_gradient_35 {
    display: none;
}
.ProgressLineImpose_base__finished_d4 .ProgressLineImpose_gradient_35 {
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0.5));
}
.ProgressLineImpose_glow_a5 {
    width: 60rem;
    max-width: 8001px;
    height: 100rem;
    background-image: var(--progress-glow);
    background-size: contain;
    mix-blend-mode: lighten;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}
.ProgressLineImpose_glow__left_d8 {
    left: 1rem;
}
.ProgressLineImpose_base__disabled_cc .ProgressLineImpose_glow_a5,
.ProgressLineImpose_base__finished_d4 .ProgressLineImpose_glow_a5 {
    display: none;
}
.ProgressLineImpose_base__small_55 .ProgressLineImpose_glow_a5 {
    width: 44rem;
    height: 43rem;
    background-image: var(--progress-glow-small);
}

/*
    Gameface can't calculate gradient biggest than 8128px
    in JS 8000 reserved like anchor for start optimization
*/
/* stylelint-disable-line */
.ProgressBarDeltaSimple_base_6c {
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
}
.ProgressBarDeltaSimple_delta_99 {
    width: 0;
    max-width: 8001px;
    height: 100%;
    box-shadow: var(--progress-delta-shadow);
    background-color: var(--progress-delta-color);
    position: absolute;
    bottom: 0;
    transform-origin: right center;
    transition-timing-function: cubic-bezier(1, 0, 0.92, 1), cubic-bezier(0.21, 0.61, 0.35, 1);
    transition-property: width, transform;
}

/*
    Gameface can't calculate gradient biggest than 8128px
    in JS 8000 reserved like anchor for start optimization
*/
/* stylelint-disable-line */
.ProgressBarDeltaGrow_base_7e {
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    transition-timing-function: cubic-bezier(1, 0, 0.92, 1);
    transition-property: width;
}
.ProgressBarDeltaGrow_base__withoutBounce_b5 {
    transition-timing-function: cubic-bezier(1, 0, 0.75, 0.75);
}
.ProgressBarDeltaGrow_glow_68 {
    width: 0;
    max-width: 8001px;
    height: 100%;
    box-shadow: var(--progress-delta-shadow);
    background-color: var(--progress-delta-color);
    position: absolute;
    bottom: 0;
    transform-origin: right center;
    transition-timing-function: cubic-bezier(1, 0, 0.92, 1);
    transition-property: width;
}
.ProgressBarDeltaGrow_base__withoutBounce_b5 .ProgressBarDeltaGrow_glow_68 {
    transition-timing-function: cubic-bezier(1, 0, 0.75, 0.75);
}

.GeneralRankContent_base_5b {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.GeneralRankContent_formatTextString_d2 {
    color: #8c8c7e;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    display: inline;
    text-align: center;
}

.GeneralRankContent_division_a2 {
    color: #8c8c7e;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
    margin-bottom: 20rem;
}

.GeneralRankContent_currentScore_0e {
    color: #ffdd99;
    font-size: 24rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 10rem;
}

.GeneralRankContent_progressContainer_b9 {
    width: 280rem;
    margin-bottom: 35rem;
    position: relative;
}

.GeneralRankContent_progressValue_0d {
    color: #8c8c7e;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
    position: absolute;
    top: 5rem;
}

.GeneralRankContent_progressValue__left_76 {
    left: 0;
    transform: translateX(-50%);
}

.GeneralRankContent_progressValue__right_db {
    right: 0;
    transform: translateX(50%);
}

.QualificationContent_base_b6 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.QualificationContent_qualificationEmblem_c9 {
    width: 150rem;
    height: 150rem;
    margin: 10rem 0 16rem;
    background: url('R.images.gui.maps.icons.comp7.ranks.c_150.qualification') no-repeat center / cover;
    position: relative;
}

.QualificationContent_iconContainer_08 {
    display: flex;
    width: 30rem;
    position: relative;
    transform: translateY(1rem);
}

.QualificationContent_dash_65 {
    width: 66rem;
    height: 32rem;
    background: url('R.images.gui.maps.icons.comp7.icons.light_dash') no-repeat center / cover;
}

.QualificationContent_dash__right_b2 {
    transform: rotate(180deg);
}

.QualificationContent_score_78 {
    margin: 0 -6rem 0 -10rem;
    color: #cbac77;
    font-size: 20rem;
    line-height: 1;
    text-shadow:
        0 0 4rem rgba(255, 127, 0, 0.25),
        0 0 8rem #ff2a00,
        0 0 15rem #e52;
    transform: translateY(-1rem);
}

.QualificationContent_battlesCounter_4c {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.QualificationContent_battleIcon_3e {
    width: 45rem;
    height: 46rem;
    background: url('R.images.gui.maps.icons.comp7.icons.battles_45x46') no-repeat center / cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.QualificationContent_condition_6f {
    color: #8c8c7e;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    display: flex;
    justify-content: center;
    margin-bottom: 20rem;
}

.QualificationContent_divider_0b {
    width: auto;
    margin: 16rem 0;
}
