/*
    Gameface can't calculate gradient biggest than 8128px
    in JS 8000 reserved like anchor for start optimization
*/
/* stylelint-disable-line */
.ProgressBar_base_45 {
    width: 100%;
    height: 12rem;
    position: relative;
}
.ProgressBar_base__medium_62 {
    height: 6rem;
}
.ProgressBar_base__small_df {
    height: 2rem;
}
.ProgressBar_background_51 {
    width: 100%;
    max-width: 8001px;
    height: 100%;
    background-image: var(--progress-base);
    background-repeat: repeat;
    background-position: 0 50%;
    background-size: 3rem 10rem;
    position: absolute;
    top: 0;
    left: 0;
}
.ProgressBar_background__medium_6e {
    height: 6rem;
}
.ProgressBar_background__small_46 {
    height: 2rem;
}
.ProgressBar_lineWrapper_6a {
    display: flex;
    flex: 1;
}

.ProgressBarBlink_base_24 {
    width: 60rem;
    height: 100rem;
    background-image: var(--progress-glow);
    background-size: contain;
    mix-blend-mode: lighten;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
    pointer-events: none;
}

.ProgressBarBlink_base__medium_ec {
    width: 42rem;
    height: 70rem;
}

.ProgressBarBlink_base__small_0f {
    width: 44rem;
    height: 43rem;
    background-image: var(--progress-glow-small);
}

/*
    Gameface can't calculate gradient biggest than 8128px
    in JS 8000 reserved like anchor for start optimization
*/
/* stylelint-disable-line */
.ProgressLineImpose_base_80 {
    max-width: 8001px;
    height: 100%;
    background-color: var(--progress-line-base);
    position: relative;
    transition-timing-function: cubic-bezier(1, 0, 0.92, 1);
    transition-property: width;
}
.ProgressLineImpose_base__disabled_cc {
    background-color: var(--progress-line-disabled);
}
.ProgressLineImpose_base__finished_d4 {
    background-color: var(--progress-line-finished);
}
.ProgressLineImpose_base__withoutBounce_56 {
    transition-timing-function: cubic-bezier(1, 0, 0.75, 0.75);
}
.ProgressLineImpose_pattern_1c {
    max-width: 8001px;
    background-image: var(--progress-pattern-base);
    background-repeat: repeat;
    background-position: 0 50%;
    background-size: 3rem 10rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    bottom: 1rem;
    left: 1rem;
}
.ProgressLineImpose_base__small_55 .ProgressLineImpose_pattern_1c {
    top: 0;
    bottom: 0;
}
.ProgressLineImpose_base__disabled_cc .ProgressLineImpose_pattern_1c {
    background-image: var(--progress-pattern-disabled);
    left: 0;
}
.ProgressLineImpose_base__finished_d4 .ProgressLineImpose_pattern_1c {
    background-image: var(--progress-pattern-finished);
}
.ProgressLineImpose_gradient_35 {
    max-width: 8001px;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.75));
    mix-blend-mode: overlay;
    position: absolute;
    top: 1rem;
    right: 0;
    bottom: 1rem;
    left: 0;
}
.ProgressLineImpose_base__small_55 .ProgressLineImpose_gradient_35 {
    top: 0;
    bottom: 0;
}
.ProgressLineImpose_base__disabled_cc .ProgressLineImpose_gradient_35 {
    display: none;
}
.ProgressLineImpose_base__finished_d4 .ProgressLineImpose_gradient_35 {
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0.5));
}
.ProgressLineImpose_glow_a5 {
    width: 60rem;
    max-width: 8001px;
    height: 100rem;
    background-image: var(--progress-glow);
    background-size: contain;
    mix-blend-mode: lighten;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}
.ProgressLineImpose_glow__left_d8 {
    left: 1rem;
}
.ProgressLineImpose_base__disabled_cc .ProgressLineImpose_glow_a5,
.ProgressLineImpose_base__finished_d4 .ProgressLineImpose_glow_a5 {
    display: none;
}
.ProgressLineImpose_base__small_55 .ProgressLineImpose_glow_a5 {
    width: 44rem;
    height: 43rem;
    background-image: var(--progress-glow-small);
}

/*
    Gameface can't calculate gradient biggest than 8128px
    in JS 8000 reserved like anchor for start optimization
*/
/* stylelint-disable-line */
.ProgressBarDeltaSimple_base_6c {
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
}
.ProgressBarDeltaSimple_delta_99 {
    width: 0;
    max-width: 8001px;
    height: 100%;
    box-shadow: var(--progress-delta-shadow);
    background-color: var(--progress-delta-color);
    position: absolute;
    bottom: 0;
    transform-origin: right center;
    transition-timing-function: cubic-bezier(1, 0, 0.92, 1), cubic-bezier(0.21, 0.61, 0.35, 1);
    transition-property: width, transform;
}

/*
    Gameface can't calculate gradient biggest than 8128px
    in JS 8000 reserved like anchor for start optimization
*/
/* stylelint-disable-line */
.ProgressBarDeltaGrow_base_7e {
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    transition-timing-function: cubic-bezier(1, 0, 0.92, 1);
    transition-property: width;
}
.ProgressBarDeltaGrow_base__withoutBounce_b5 {
    transition-timing-function: cubic-bezier(1, 0, 0.75, 0.75);
}
.ProgressBarDeltaGrow_glow_68 {
    width: 0;
    max-width: 8001px;
    height: 100%;
    box-shadow: var(--progress-delta-shadow);
    background-color: var(--progress-delta-color);
    position: absolute;
    bottom: 0;
    transform-origin: right center;
    transition-timing-function: cubic-bezier(1, 0, 0.92, 1);
    transition-property: width;
}
.ProgressBarDeltaGrow_base__withoutBounce_b5 .ProgressBarDeltaGrow_glow_68 {
    transition-timing-function: cubic-bezier(1, 0, 0.75, 0.75);
}

.Progress_base_87 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10rem 12rem;
}
.Progress_goal_fe {
    height: 18rem;
    margin-top: -4rem;
    color: #5d5d4d;
    font-size: 21rem;
    font-weight: 700;
    position: relative;
}
.Progress_base__active_f7 .Progress_goal_fe {
    margin-top: 2rem;
    font-size: 16rem;
}
.Progress_value_09 {
    color: #ffc363;
    text-shadow: none;
    position: absolute;
    top: 0;
    left: 0;
    mask-image: linear-gradient(to bottom, #000000 20%, transparent 100%);
}

.Flag_base_b8 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 66rem;
    height: 113rem;
    background: url('R.images.gui.maps.icons.collectiveGoal.entryPoint.flag') no-repeat 0 0 / contain;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    cursor: pointer;
}

.Flag_base__forbidden_64 {
    background-image: url('R.images.gui.maps.icons.collectiveGoal.entryPoint.flag_inactive');
}

.Flag_base__notStarted_2f {
    cursor: default;
}

.Flag_hover_3f {
    width: 100%;
    height: 100%;
    background: url('R.images.gui.maps.icons.collectiveGoal.entryPoint.flag_hover') no-repeat 0 0 / contain;
    opacity: 0;
    mix-blend-mode: overlay;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: opacity 0.3s ease-in-out;
}

.Flag_base__forbidden_64 .Flag_hover_3f {
    background-image: url('R.images.gui.maps.icons.collectiveGoal.entryPoint.flag_hover_inactive');
}

.Flag_base_b8:hover .Flag_hover_3f {
    opacity: 1;
}

.Flag_emblem_0f {
    width: 36rem;
    height: 36rem;
    margin-top: 24rem;
    background: url('R.images.gui.maps.icons.collectiveGoal.entryPoint.icon') no-repeat 0 0 / contain;
}

.Flag_error_00 {
    width: 64rem;
    height: 64rem;
    margin-top: -8rem;
    background: url('R.images.gui.maps.icons.collectiveGoal.entryPoint.error_icon') no-repeat 0 0 / cover;
    position: relative;
}

.Flag_progress_cb {
    margin-top: -2rem;
}

@keyframes App_fadeOut_8a {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}
@keyframes App_fadeIn_88 {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
@keyframes App_fadeInWithScale_00 {
    0% {
        opacity: 0;
        transform: scale(1.2);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes App_slideUp_71 {
    0% {
        opacity: 0;
        transform: translateY(20rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes App_slideUpCenter_e4 {
    0% {
        opacity: 0;
        transform: translateY(50%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes App_blink_0a {
    0% {
        filter: brightness(1);
    }

    16% {
        filter: brightness(3);
    }

    100% {
        filter: brightness(1);
    }
}
body {
    margin: 1rem;
    overflow: hidden;
}
.App_base_51 {
    width: 100%;
    height: 100%;
    position: relative;
}
.App_flag__hide_56 {
    opacity: 1;
    animation: App_fadeOut_8a 0.6s 'ease-in-out' 0.3s forwards;
    pointer-events: none;
}
.App_flag__hideDelay_3a {
    opacity: 1;
    animation: App_fadeOut_8a 0.6s 'ease-in-out' 1.6s forwards;
    pointer-events: none;
}
