.FormatText_base_d0 {
    display: flex;
    flex-wrap: wrap;
}

.LastUpdateNote_base_cf {
    display: flex;
    align-items: center;
}

.LastUpdateNote_infoIcon_de {
    width: 24rem;
    height: 24rem;
    background: url('R.images.gui.maps.icons.comp7.icons.infoIcon') no-repeat center / cover;
}

