.TooltipDecorator_base_c9 {
    display: flex;
    position: absolute;
}

.TooltipDecorator_base__theme-default_6d .TooltipDecorator_decorator_3d {
    padding: 4rem 6rem 8rem;
    border-image-source: url('R.images.gui.maps.icons.tooltip.tooltip_background');
    border-image-slice: 24 fill;
    border-image-width: 24rem;
    position: relative;
}

.ExtendedText_base_71 {
    display: flex;
    line-height: 1.2;
    position: relative;
}

.ExtendedText_base__zeroPadding_25 {
    padding: 0;
}

.ExtendedText_base__isTruncationAvailable_5b {
    width: 100%;
}

.ExtendedText_truncated_97 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
}

.ExtendedText_truncated__hide_31 {
    opacity: 0;
}

.ExtendedText_unTruncated_b8 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    align-content: flex-start;
    color: #ff2717;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    pointer-events: none;
}

.colors_blackReal_fc {
    color: #000000;
}

.colors_whiteReal_31 {
    color: #ffffff;
}

.colors_white_45 {
    color: #f2f2f7;
}

.colors_whiteOrange_81 {
    color: #fefeec;
}

.colors_whiteSpanish_c3 {
    color: #e9e2bf;
}

.colors_par_5b {
    color: #8c8c7e;
}

.colors_parSecondary_fd {
    color: #595950;
}

.colors_parTertiary_97 {
    color: #37362e;
}

.colors_red_79 {
    color: #ff2717;
}

.colors_redDark_73 {
    color: #b70000;
}

.colors_yellow_76 {
    color: #feab34;
}

.colors_orange_cd {
    color: #ee7000;
}

.colors_cream_0f {
    color: #ffdd99;
}

.colors_brown_82 {
    color: #cbac77;
}

.colors_greenBright_68 {
    color: #80d43a;
}

.colors_green_fa {
    color: #7ab300;
}

.colors_greenDark_a9 {
    color: #497212;
}

.colors_blueBooster_26 {
    color: #ccffff;
}

.colors_blueTeamkiller_86 {
    color: #09e2ff;
}

.colors_cred_35 {
    color: #ced9d9;
}

.colors_gold_c3 {
    color: #ffc363;
}

.colors_bond_ce {
    color: #c9c9b6;
}

.colors_prom_83 {
    color: #a29b70;
}

.renderers_noBreakWrapper_10 {
    display: flex;
    flex-wrap: nowrap;
}

.renderers_lineBreak_b5 {
    width: 100%;
    height: 0;
}

.renderers_newLine_bd {
    flex: 1;
    width: 100%;
}

.Box_mt__XS_0c {
    margin-top: 4rem;
}
.Box_mt__SM_eb {
    margin-top: 8rem;
}
.Box_mt__SMp_cf {
    margin-top: 10rem;
}
.Box_mt__MD_25 {
    margin-top: 16rem;
}
.Box_mt__MDp_49 {
    margin-top: 20rem;
}
.Box_mt__LG_e8 {
    margin-top: 32rem;
}
.Box_mt__XL_83 {
    margin-top: 64rem;
}

.Box_mr__XS_7c {
    margin-right: 4rem;
}

.Box_mr__SM_08 {
    margin-right: 8rem;
}

.Box_mr__SMp_06 {
    margin-right: 10rem;
}

.Box_mr__MD_4a {
    margin-right: 16rem;
}

.Box_mr__MDp_b6 {
    margin-right: 20rem;
}

.Box_mr__LG_d0 {
    margin-right: 32rem;
}

.Box_mr__XL_db {
    margin-right: 64rem;
}

.Box_mb__XS_bb {
    margin-bottom: 4rem;
}

.Box_mb__SM_83 {
    margin-bottom: 8rem;
}

.Box_mb__SMp_04 {
    margin-bottom: 10rem;
}

.Box_mb__MD_ed {
    margin-bottom: 16rem;
}

.Box_mb__MDp_65 {
    margin-bottom: 20rem;
}

.Box_mb__LG_c8 {
    margin-bottom: 32rem;
}

.Box_mb__XL_f8 {
    margin-bottom: 64rem;
}

.Box_ml__XS_8a {
    margin-left: 4rem;
}

.Box_ml__SM_e6 {
    margin-left: 8rem;
}

.Box_ml__SMp_fb {
    margin-left: 10rem;
}

.Box_ml__MD_2b {
    margin-left: 16rem;
}

.Box_ml__MDp_c7 {
    margin-left: 20rem;
}

.Box_ml__LG_39 {
    margin-left: 32rem;
}

.Box_ml__XL_4a {
    margin-left: 64rem;
}

.FormatText_base_d0 {
    display: flex;
    flex-wrap: wrap;
}

/* eslint-disable-next-line expectedscss*/
.Text_paragraph-P10_2c {
    font-size: 10rem;
    font-weight: 400;
    line-height: 1.2;
}
.Text_paragraph-P12_22 {
    font-size: 12rem;
    font-weight: 400;
    line-height: 1.3;
}
.Text_paragraph-P14_a7 {
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
}
.Text_paragraph-P16_90 {
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
}
.Text_paragraph-P18_50 {
    font-size: 18rem;
    font-weight: 400;
    line-height: 1.25;
}
.Text_paragraph-P24_33 {
    font-size: 24rem;
    font-weight: 400;
    line-height: 32rem;
}
.Text_heading-H14_8b {
    font-size: 14rem;
    font-weight: 700;
    line-height: 1.15;
}
.Text_heading-H15_9e {
    font-size: 15rem;
    font-weight: 700;
    line-height: 1.15;
}
.Text_heading-H18_b7 {
    font-size: 18rem;
    font-weight: 700;
    line-height: 1.1;
}
.Text_heading-H20R_f6 {
    font-size: 20rem;
    font-weight: 400;
    line-height: 1.2;
}
.Text_heading-H22_27 {
    font-size: 22rem;
    font-weight: 700;
    line-height: 1.2;
}
.Text_heading-H24R_be {
    font-size: 24rem;
    font-weight: 400;
    line-height: 1.2;
}
.Text_heading-H24_0c {
    font-size: 24rem;
    font-weight: 700;
    line-height: 1.2;
}
.Text_heading-H28_78 {
    font-size: 28rem;
    font-weight: 700;
    line-height: 1.1;
}
.Text_heading-H36_32 {
    font-size: 36rem;
    font-weight: 700;
    line-height: 1.1;
}
.Text_heading-H56_c3 {
    font-size: 56rem;
    font-weight: 700;
    line-height: 1.1;
}
.Text_heading-H73_8f {
    font-size: 73rem;
    font-weight: 700;
    line-height: 1.1;
}
.Text_heading-H144_a9 {
    font-size: 144rem;
    font-weight: 700;
    line-height: 1;
}
.Text_BLACK_REAL_30 {
    color: #000000;
}
.Text_WHITE_REAL_bc {
    color: #ffffff;
}
.Text_WHITE_62 {
    color: #f2f2f7;
}
.Text_WHITE_ORANGE_54 {
    color: #fefeec;
}
.Text_WHITE_SPANISH_df {
    color: #e9e2bf;
}
.Text_PAR_15 {
    color: #8c8c7e;
}
.Text_PAR_SECONDARY_5d {
    color: #595950;
}
.Text_PAR_TERTIARY_c9 {
    color: #37362e;
}
.Text_INFO_RED_30 {
    color: #ff0000;
}
.Text_RED_66 {
    color: #ff2717;
}
.Text_RED_DARK_d8 {
    color: #b70000;
}
.Text_YELLOW_ed {
    color: #feab34;
}
.Text_ORANGE_be {
    color: #ee7000;
}
.Text_CREAM_57 {
    color: #ffdd99;
}
.Text_BROWN_18 {
    color: #cbac77;
}
.Text_GREEN_BRIGHT_3f {
    color: #80d43a;
}
.Text_GREEN_e3 {
    color: #7ab300;
}
.Text_GREEN_DARK_f1 {
    color: #497212;
}
.Text_BLUE_BOOSTER_21 {
    color: #ccffff;
}
.Text_BLUE_TEAMKILLER_ab {
    color: #09e2ff;
}
.Text_CRED_f7 {
    color: #ced9d9;
}
.Text_GOLD_28 {
    color: #ffc363;
}
.Text_BOND_be {
    color: #c9c9b6;
}
.Text_PROM_65 {
    color: #a29b70;
}

.HBCoin_base_d8 {
    display: flex;
    align-items: center;
    position: relative;
}

.HBCoin_label__defence_a3 {
    color: #bdfbff;
}

.HBCoin_label__counterattack_e6 {
    color: #ffdd99;
}

.HBCoin_label__offence_3e {
    color: #f2f2f7;
}

.HBCoin_label__counterattackGlow_e3 {
    text-shadow:
        0 0 4rem rgba(255, 127, 0, 0.25),
        0 0 8rem #ff2a00,
        0 0 15rem #e52;
}

.HBCoin_label__offenceGlow_7c {
    text-shadow:
        0 0 4rem rgba(255, 127, 0, 0.25),
        0 0 8rem #ff2a00,
        0 0 15rem #e52;
}

.HBCoin_label__defenceGlow_78 {
    text-shadow:
        0 0 4rem rgba(0, 31, 185, 0.25),
        0 0 8rem #0075ff,
        0 0 15rem #00c2ff;
}

.HBCoin_label_7f {
    text-shadow: none;
}

.HBCoin_label__animated_82 {
    transition:
        text-shadow 0.2s,
        font-size 0.2s ease-out;
}

.HBCoin_label__notEnough_0e {
    color: #ff2717;
}

.HBCoin_label__sizeP14_c0 {
    color: #8c8c7e;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    padding-bottom: 2rem;
}

.HBCoin_label__sizeH15_73 {
    color: #e9e2bf;
    font-size: 15rem;
    font-weight: 700;
    line-height: 1.15;
    padding-bottom: 2rem;
}

.HBCoin_label__sizeH18_f6 {
    color: #ffdd99;
    font-size: 18rem;
    font-weight: 700;
    line-height: 1.1;
    padding-bottom: 4rem;
}

.HBCoin_label__sizeH22_9c {
    color: #ced9d9;
    font-size: 22rem;
    font-weight: 700;
    line-height: 1.2;
    padding-bottom: 3rem;
}

.HBCoin_label__sizeH24_b0 {
    color: #ffdd99;
    font-size: 24rem;
    font-weight: 700;
    line-height: 1.2;
    padding-bottom: 5rem;
}

.HBCoin_label__sizeH28_6d {
    color: #f2f2f7;
    font-size: 28rem;
    font-weight: 700;
    line-height: 1.1;
    padding-bottom: 5rem;
}

.HBCoin_label__sizeH36_10 {
    color: #f2f2f7;
    font-size: 36rem;
    font-weight: 700;
    line-height: 1.1;
    padding-bottom: 7rem;
}

.HBCoin_label__sizeH42_4f {
    padding-bottom: 7rem;
    font-size: 42rem;
    font-weight: 700;
    line-height: 1.1;
}

.HBCoin_label__sizeH56_88 {
    padding-bottom: 7rem;
    font-size: 56rem;
    font-weight: 700;
    line-height: 1.1;
}

.HBCoin_label__sizeH73_c1 {
    color: #f2f2f7;
    font-size: 73rem;
    font-weight: 700;
    line-height: 1.1;
    padding-bottom: 16rem;
}

.HBCoin_label__progression_08 {
    color: #ffdd99;
}

.HBCoin_icon_27 {
    background: no-repeat 50% / contain;
}

.HBCoin_icon__animated_17 {
    transition:
        width 0.2s linear,
        height 0.2s linear,
        margin-left 0.2s;
}

.HBCoin_icon__size16x16_6b {
    width: 16rem;
    height: 16rem;
    margin-left: 3rem;
}

.HBCoin_icon__size24x24_35 {
    width: 24rem;
    height: 24rem;
    margin-left: 3rem;
}

.HBCoin_icon__size32x32_70 {
    width: 32rem;
    height: 32rem;
    margin-left: 5rem;
}

.HBCoin_icon__size48x48_42 {
    width: 48rem;
    height: 48rem;
    margin-left: 10rem;
}

.HBCoin_icon__size134x134_4d {
    width: 134rem;
    height: 134rem;
}

.HBCoin_stockBg_25 {
    width: 80rem;
    height: 45rem;
    background: url('R.images.gui.maps.icons.library.RedActionBG') no-repeat 0 / contain;
    position: absolute;
    right: -30rem;
    bottom: -17rem;
    z-index: -1;
}

.HBCoin_stockBg__sizeH18_9b {
    bottom: -12rem;
}

.HBCoin_stockBg__sizeH22_5a {
    bottom: -11rem;
}

.mediaExtraLarge .HBCoin_stockBg_25 {
    bottom: -10rem;
}

.Timer_base_da {
    display: flex;
    height: 18rem;
}

.Timer_iconWrapper_ff {
    width: 18rem;
    height: 18rem;
    position: relative;
    top: 1rem;
}

.Timer_icon_01 {
    position: absolute;
    top: -7rem;
    right: -7rem;
    bottom: -7rem;
    left: -7rem;
    background: url('R.images.gui.maps.icons.components.countdown.clock') no-repeat 50% / contain;
}

.Timer_label_04 {
    color: #c9c9b6;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    padding: 0 3rem;
}

.Timer_base__highlightedStyle_6d .Timer_label_04 {
    color: #feab34;
}

.Timer_base__accentStyle_3d .Timer_label_04 {
    color: #e9e2bf;
}

.Timer_time_79 {
    color: #ffdd99;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    text-shadow:
        0 0 4rem rgba(255, 127, 0, 0.25),
        0 0 8rem #ff2a00,
        0 0 15rem #e52;
}

.BattleModeInfoTooltipApp_base_58 {
    border: 1rem solid rgba(242, 242, 230, 0.1);
    background-color: #12110b;
    width: 368rem;
}

.BattleModeInfoTooltipApp_content_58 {
    background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(201, 201, 182, 0.07) 35%,
        rgba(201, 201, 182, 0.07) 65%,
        rgba(0, 0, 0, 0) 100%
    );
    position: relative;
}

.BattleModeInfoTooltipApp_contentInner_f3 {
    padding: 6rem 20rem;
}

.BattleModeInfoTooltipApp_divider_ec {
    width: 100%;
    height: 12rem;
    background: url('R.images.historical_battles.gui.maps.icons.common.dividerDotty') no-repeat 50% / contain;
    position: absolute;
    top: -6rem;
    left: 0;
}

.BattleModeInfoTooltipApp_divider__last_90 {
    top: auto;
    bottom: -6rem;
}

.BattleModeInfoTooltipApp_header_72 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 74rem;
    padding: 0 20rem;
    background: no-repeat 0 0 / 226rem 74rem;
}

.BattleModeInfoTooltipApp_header__offence_20 {
    background-image: url('R.images.historical_battles.gui.maps.icons.battleMode.tooltip.offence');
}

.BattleModeInfoTooltipApp_title_fd {
    color: #e9e2bf;
    font-size: 18rem;
    font-weight: 700;
    line-height: 1.1;
}

.BattleModeInfoTooltipApp_subTitle_80 {
    color: #8c8c7e;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    margin-top: 3rem;
}

.BattleModeInfoTooltipApp_contentTitle_89 {
    color: #8c8c7e;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
}

.BattleModeInfoTooltipApp_description_76 {
    color: #8c8c7e;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    margin-top: 9rem;
}

.BattleModeInfoTooltipApp_footer_f3 {
    color: #8c8c7e;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    padding: 12rem 20rem;
}

.BattleModeInfoTooltipApp_coinName__defence_64 {
    color: #bdfbff;
}

.BattleModeInfoTooltipApp_coinName__counterattack_66 {
    color: #ff5959;
}

.BattleModeInfoTooltipApp_coinName__offence_1e {
    color: #ceb0ff;
}

.BattleModeInfoTooltipApp_coinText_83 {
    color: #ffdd99;
}

.BattleModeInfoTooltipApp_coinImg_23 {
    margin-top: -1rem;
}
