.TooltipDecorator_base_c9 {
    display: flex;
    position: absolute;
}

.TooltipDecorator_base__theme-default_6d .TooltipDecorator_decorator_3d {
    padding: 4rem 6rem 8rem;
    border-image-source: url('R.images.gui.maps.icons.tooltip.tooltip_background');
    border-image-slice: 24 fill;
    border-image-width: 24rem;
    position: relative;
}

.FormatText_base_d0 {
    display: flex;
    flex-wrap: wrap;
}

.Box_mt__XS_0c {
    margin-top: 4rem;
}
.Box_mt__SM_eb {
    margin-top: 8rem;
}
.Box_mt__SMp_cf {
    margin-top: 10rem;
}
.Box_mt__MD_25 {
    margin-top: 16rem;
}
.Box_mt__MDp_49 {
    margin-top: 20rem;
}
.Box_mt__LG_e8 {
    margin-top: 32rem;
}
.Box_mt__XL_83 {
    margin-top: 64rem;
}

.Box_mr__XS_7c {
    margin-right: 4rem;
}

.Box_mr__SM_08 {
    margin-right: 8rem;
}

.Box_mr__SMp_06 {
    margin-right: 10rem;
}

.Box_mr__MD_4a {
    margin-right: 16rem;
}

.Box_mr__MDp_b6 {
    margin-right: 20rem;
}

.Box_mr__LG_d0 {
    margin-right: 32rem;
}

.Box_mr__XL_db {
    margin-right: 64rem;
}

.Box_mb__XS_bb {
    margin-bottom: 4rem;
}

.Box_mb__SM_83 {
    margin-bottom: 8rem;
}

.Box_mb__SMp_04 {
    margin-bottom: 10rem;
}

.Box_mb__MD_ed {
    margin-bottom: 16rem;
}

.Box_mb__MDp_65 {
    margin-bottom: 20rem;
}

.Box_mb__LG_c8 {
    margin-bottom: 32rem;
}

.Box_mb__XL_f8 {
    margin-bottom: 64rem;
}

.Box_ml__XS_8a {
    margin-left: 4rem;
}

.Box_ml__SM_e6 {
    margin-left: 8rem;
}

.Box_ml__SMp_fb {
    margin-left: 10rem;
}

.Box_ml__MD_2b {
    margin-left: 16rem;
}

.Box_ml__MDp_c7 {
    margin-left: 20rem;
}

.Box_ml__LG_39 {
    margin-left: 32rem;
}

.Box_ml__XL_4a {
    margin-left: 64rem;
}

/* eslint-disable-next-line expectedscss*/
.Text_paragraph-P10_2c {
    font-size: 10rem;
    font-weight: 400;
    line-height: 1.2;
}
.Text_paragraph-P12_22 {
    font-size: 12rem;
    font-weight: 400;
    line-height: 1.3;
}
.Text_paragraph-P14_a7 {
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
}
.Text_paragraph-P16_90 {
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
}
.Text_paragraph-P18_50 {
    font-size: 18rem;
    font-weight: 400;
    line-height: 1.25;
}
.Text_paragraph-P24_33 {
    font-size: 24rem;
    font-weight: 400;
    line-height: 32rem;
}
.Text_heading-H14_8b {
    font-size: 14rem;
    font-weight: 700;
    line-height: 1.15;
}
.Text_heading-H15_9e {
    font-size: 15rem;
    font-weight: 700;
    line-height: 1.15;
}
.Text_heading-H18_b7 {
    font-size: 18rem;
    font-weight: 700;
    line-height: 1.1;
}
.Text_heading-H20R_f6 {
    font-size: 20rem;
    font-weight: 400;
    line-height: 1.2;
}
.Text_heading-H22_27 {
    font-size: 22rem;
    font-weight: 700;
    line-height: 1.2;
}
.Text_heading-H24R_be {
    font-size: 24rem;
    font-weight: 400;
    line-height: 1.2;
}
.Text_heading-H24_0c {
    font-size: 24rem;
    font-weight: 700;
    line-height: 1.2;
}
.Text_heading-H28_78 {
    font-size: 28rem;
    font-weight: 700;
    line-height: 1.1;
}
.Text_heading-H36_32 {
    font-size: 36rem;
    font-weight: 700;
    line-height: 1.1;
}
.Text_heading-H56_c3 {
    font-size: 56rem;
    font-weight: 700;
    line-height: 1.1;
}
.Text_heading-H73_8f {
    font-size: 73rem;
    font-weight: 700;
    line-height: 1.1;
}
.Text_heading-H144_a9 {
    font-size: 144rem;
    font-weight: 700;
    line-height: 1;
}
.Text_BLACK_REAL_30 {
    color: #000000;
}
.Text_WHITE_REAL_bc {
    color: #ffffff;
}
.Text_WHITE_62 {
    color: #f2f2f7;
}
.Text_WHITE_ORANGE_54 {
    color: #fefeec;
}
.Text_WHITE_SPANISH_df {
    color: #e9e2bf;
}
.Text_PAR_15 {
    color: #8c8c7e;
}
.Text_PAR_SECONDARY_5d {
    color: #595950;
}
.Text_PAR_TERTIARY_c9 {
    color: #37362e;
}
.Text_INFO_RED_30 {
    color: #ff0000;
}
.Text_RED_66 {
    color: #ff2717;
}
.Text_RED_DARK_d8 {
    color: #b70000;
}
.Text_YELLOW_ed {
    color: #feab34;
}
.Text_ORANGE_be {
    color: #ee7000;
}
.Text_CREAM_57 {
    color: #ffdd99;
}
.Text_BROWN_18 {
    color: #cbac77;
}
.Text_GREEN_BRIGHT_3f {
    color: #80d43a;
}
.Text_GREEN_e3 {
    color: #7ab300;
}
.Text_GREEN_DARK_f1 {
    color: #497212;
}
.Text_BLUE_BOOSTER_21 {
    color: #ccffff;
}
.Text_BLUE_TEAMKILLER_ab {
    color: #09e2ff;
}
.Text_CRED_f7 {
    color: #ced9d9;
}
.Text_GOLD_28 {
    color: #ffc363;
}
.Text_BOND_be {
    color: #c9c9b6;
}
.Text_PROM_65 {
    color: #a29b70;
}

.Content_base_31 {
    display: flex;
    flex-direction: column;
    width: 380rem;
    padding: 15rem 20rem 24rem;
    background-image: linear-gradient(
        180deg,
        rgba(51, 51, 41, 0.3) 0%,
        transparent 16%,
        transparent 88%,
        rgba(51, 51, 41, 0.1) 100%
    );
}

.Content_title_12 {
    color: #e9e2bf;
    font-size: 18rem;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 8rem;
}

.Content_description_23 {
    color: #8c8c7e;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    margin-top: 5rem;
}

.Content_highlight_64 {
    color: #e9e2bf;
}

.Content_runsCounterWrapper_8e {
    display: flex;
    flex-wrap: nowrap;
}

.Content_portalRunsCounter_7c {
    color: #f2f2f7;
    font-size: 28rem;
    font-weight: 700;
    line-height: 1.1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100rem;
    height: 100rem;
    margin-top: 16rem;
    background: url('R.images.white_tiger.gui.maps.icons.tooltips.discount_blue') no-repeat center / 120%;
    position: absolute;
    transform: translate(-40%, -32%);
}

.Content_portalRunsLeftWrapper_8d {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin: 20rem 0;
    padding: 16rem 0;
    background: linear-gradient(
        270deg,
        transparent 0%,
        rgba(201, 201, 182, 0.07) 38%,
        rgba(201, 201, 182, 0.07) 65%,
        transparent 100%
    );
    position: relative;
}

.Content_divider_46,
.Content_dividerBottom_52 {
    width: 100%;
    height: 9rem;
    background: url('R.images.white_tiger.gui.maps.icons.carousel.dividerDotty') no-repeat center / contain;
    position: absolute;
    top: -4rem;
    left: 0;
}

.Content_dividerBottom_52 {
    top: auto;
    bottom: -4rem;
}

.Content_portalRunsLeft_6f {
    color: #8c8c7e;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    width: 300rem;
    margin-left: 16rem;
}

.Content_subtitle_66 {
    color: #e9e2bf;
    font-size: 14rem;
    font-weight: 700;
    line-height: 1.15;
}

.Content_tanks_1a {
    display: flex;
    margin-top: 10rem;
}

.Content_tankBg_aa {
    width: 48rem;
    height: 48rem;
    margin-right: 12rem;
    background: url('R.images.white_tiger.gui.maps.icons.portals.premium_tank') no-repeat center / contain;
}

.Content_tanksList_68 {
    display: flex;
    flex-wrap: wrap;
    width: 280rem;
}

.Content_tank_c1 {
    color: #e9e2bf;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    padding-right: 4rem;
}

.Content_footerTitle_45 {
    color: #e9e2bf;
    font-size: 14rem;
    font-weight: 700;
    line-height: 1.15;
    margin-top: 16rem;
}

.Content_footerDesc_74 {
    color: #595950;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    margin-top: 5rem;
}
