.TooltipDecorator_base_c9 {
    display: flex;
    position: absolute;
}

.TooltipDecorator_base__theme-default_6d .TooltipDecorator_decorator_3d {
        padding: 4rem 6rem 8rem;
        border-image-source: url('R.atlases.components.tooltip_background');
        border-image-slice: 24 fill;
        border-image-width: 24rem;
        position: relative;
    }

.FormatText_base_d0 {
    display: flex;
    flex-wrap: wrap;
}

.Footer_base_ee {
    display: flex;
    flex-direction: column;
}

.Footer_label_36 {
    color: #E9E2BF;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
}

.Footer_explored_ae {
    color: #FFC363;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
}

.Footer_separatorContainer_57 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
}

.Footer_separator_a0 {
    width: 283rem;
    height: 1rem;
    margin-top: 10rem;
    margin-bottom: 10rem;
    background: url('R.images.gui.maps.icons.battlePass2020.tooltips.Devider_points') 50% / contain no-repeat;
}

.Footer_container_fa {
    display: flex;
    flex-direction: row;
    margin-bottom: -5rem;
}

.Footer_lock_46 {
    width: 26rem;
    height: 29rem;
    margin: -6rem 0 -8rem -8rem;
    background: url('R.images.gui.maps.icons.library.icon_lock') center / contain no-repeat;
}

.Content_base_d9 {
    display: flex;
    flex-direction: column;
    width: 400rem;
    padding: 20rem;
    line-height: normal;
}

.Content_title_a6 {
    color: #E9E2BF;
    font-size: 15rem;
    font-weight: 700;
    line-height: 1.15;
    margin-bottom: 10rem;
}

.Content_content_ec {
    display: flex;
    flex-wrap: wrap;
}

.Content_description_8a {
    color: #8C8C7E;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
}

.Content_status_a5 {
    color: #E9E2BF;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
}

