.TooltipDecorator_base_c9 {
    display: flex;
    position: absolute;
}

.TooltipDecorator_base__theme-default_6d .TooltipDecorator_decorator_3d {
        padding: 4rem 6rem 8rem;
        border-image-source: url('R.atlases.components.tooltip_background');
        border-image-slice: 24 fill;
        border-image-width: 24rem;
        position: relative;
    }

.FormatText_base_d0 {
    display: flex;
    flex-wrap: wrap;
}

.Reward_base_ea {
    display: flex;
    flex-direction: column;
    position: relative;
}

    .Reward_base__s48x48_46,
    .Reward_base__small_c0 {
        width: 48rem;
        height: 48rem;
    }

    .Reward_base__s80x80_ce,
    .Reward_base__big_e5 {
        width: 80rem;
        height: 80rem;
    }

    .Reward_base__s128x100_c3 {
        width: 128rem;
        height: 100rem;
    }

    .Reward_base__s180x135_7c {
        width: 180rem;
        height: 135rem;
    }

    .Reward_base__s232x174_67 {
        width: 232rem;
        height: 174rem;
    }

    .Reward_base__s296x222_78 {
        width: 296rem;
        height: 222rem;
    }

    .Reward_base__s400x300_07 {
        width: 400rem;
        height: 300rem;
    }

    .Reward_base__s600x450_f8 {
        width: 600rem;
        height: 450rem;
    }

.Reward_tooltipWrapper_b5 {
    height: 100%;
}

.Reward_icon_df {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    position: relative;
    z-index: 1;
}

.Reward_overlay_68 {
    background: no-repeat center / 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.Reward_base__s48x48_46 .Reward_overlay_68,
    .Reward_base__small_c0 .Reward_overlay_68 {
        width: 96rem;
        height: 96rem;
        background-size: 100%;
        overflow: visible;
    }

.Reward_base__s80x80_ce .Reward_overlay_68,
    .Reward_base__big_e5 .Reward_overlay_68 {
        width: 128rem;
        height: 128rem;
    }

.Reward_base__s180x135_7c .Reward_overlay_68 {
        width: 266rem;
        height: 241rem;
    }

.Reward_base__s232x174_67 .Reward_overlay_68 {
        width: 344rem;
        height: 312rem;
    }

.Reward_base__s296x222_78 .Reward_overlay_68 {
        width: 450rem;
        height: 408rem;
    }

.Reward_base__s400x300_07 .Reward_overlay_68 {
        width: 618rem;
        height: 590rem;
    }

.Reward_base__s600x450_f8 .Reward_overlay_68 {
        width: 670rem;
        height: 575rem;
    }

.Reward_highlight_36 {
    width: 100%;
    height: 100%;
    background: no-repeat center / contain;
    position: absolute;
    z-index: 0;
}

.Reward_image_89 {
    position: relative;
}

.Reward_info_72 {
    margin-top: -13rem;
    color: #e9e2bf;
    font-size: 14rem;
    line-height: 18rem;
    text-align: center;
    z-index: 1;
}

.Reward_base__s48x48_46 .Reward_info_72,
    .Reward_base__small_c0 .Reward_info_72 {
        margin: -10rem -10rem 0;
    }

.Reward_info__multi_63 {
        margin-right: 2rem;
        text-align: right;
    }

.Reward_base__s48x48_46 .Reward_info__multi_63,
        .Reward_base__small_c0 .Reward_info__multi_63 {
            margin-right: 0;
        }

.Reward_info__credits_ef {
        color: #CED9D9;
    }

.Reward_info__gold_36 {
        color: #FFC363;
    }

.Reward_info__crystal_36 {
        color: #C9C9B6;
    }

.Reward_info__premiumTank_d3 {
        color: #FFDD99;
    }

.Reward_timer_d3 {
    background: no-repeat center / contain;
    position: absolute;
    z-index: 1;
}

.Reward_base__s48x48_46 .Reward_timer_d3,
    .Reward_base__small_c0 .Reward_timer_d3 {
        width: 23rem;
        height: 23rem;
        background-image: url('R.images.gui.maps.icons.quests.bonuses.small.timer');
        top: -6rem;
        right: -6rem;
    }

.Reward_base__s80x80_ce .Reward_timer_d3,
    .Reward_base__big_e5 .Reward_timer_d3 {
        width: 48rem;
        height: 48rem;
        background-image: url('R.images.gui.maps.icons.quests.bonuses.big.timer');
        top: -14rem;
        right: -14rem;
    }

.Rewards_base_26 {
    display: flex;
}

    .Rewards_base__vertical_9f {
        flex-direction: column;
    }

.Rewards_reward_7b {
    margin: 0 10rem;
}

.Rewards_reward__vertical_c6 {
        margin: 15rem 0;
    }

.Target_base_ce {
    width: 32rem;
    height: 32rem;
    margin: -3rem;
    background: no-repeat 50% / contain;
}

.ScenarioTooltipApp_base_ae {
    width: 380rem;
    padding: 20rem;
    box-shadow: inset 0 0 10px rgba(59,59,46, .86);
}

.ScenarioTooltipApp_scenarioTitle_23 {
    color: #E9E2BF;
    font-size: 18rem;
    font-weight: 700;
    line-height: 1.1;
    margin: -1rem 0 1rem;
}

.ScenarioTooltipApp_title_ea {
    color: #E9E2BF;
    font-size: 15rem;
    font-weight: 700;
    line-height: 1.15;
    margin-top: 12rem;
}

.ScenarioTooltipApp_title__green_4c {
        color: #80D43A;
    }

.ScenarioTooltipApp_descr_fc {
    color: #8C8C7E;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    display: flex;
    flex-direction: column;
}

.ScenarioTooltipApp_descrHighlight_8b {
    color: #E9E2BF;
}

.ScenarioTooltipApp_targets_ce {
    display: flex;
    margin: 8rem 6rem 4rem;
}

.ScenarioTooltipApp_vehicleRow_6a {
    display: flex;
}

.ScenarioTooltipApp_vehicle_0f {
    width: 20rem;
    height: 20rem;
    background: no-repeat 50% / contain;
}

.ScenarioTooltipApp_vehicle__mediumTank_af {
        background-image: url('R.images.gui.maps.icons.mapsTraining.mediumTank');
    }

.ScenarioTooltipApp_vehicle__heavyTank_41 {
        background-image: url('R.images.gui.maps.icons.mapsTraining.heavyTank');
    }

.ScenarioTooltipApp_divider_6b {
    width: 380rem;
    height: 9rem;
    margin: -4rem 0;
    background: url('R.images.gui.maps.icons.mapsTraining.dividerDotty') no-repeat 50% / contain;
}

.ScenarioTooltipApp_rewards_3e {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 380rem;
    margin: 14rem 0 0 -20rem;
    background: linear-gradient(90deg, rgba(196,196,196, 0) 8%, rgba(196,196,196, .1) 36%, rgba(196,196,196, .1) 64%, rgba(196,196,196, 0) 91%);
}

.ScenarioTooltipApp_rewardsItemsMix_36 {
    margin-bottom: 14rem;
}

.ScenarioTooltipApp_completedIcon_ab {
    width: 22rem;
    height: 16rem;
    margin-bottom: 5rem;
    background: url('R.images.gui.maps.icons.mapsTraining.tooltip_completed') no-repeat 50% / contain;
}

.ScenarioTooltipApp_info_cd {
    color: #8C8C7E;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    display: flex;
    align-items: center;
    margin: 4rem 0 -12rem;
}

.ScenarioTooltipApp_infoIcon_73 {
    width: 23rem;
    height: 23rem;
    margin: 3rem;
    background: url('R.images.gui.maps.icons.mapsTraining.tooltip_info') no-repeat 50% / contain;
}

