/*
    Gameface can't calculate gradient biggest than 8128px
    in JS 8000 reserved like anchor for start optimization
*/
/* stylelint-disable-line */
.ProgressBar_base_45 {
    width: 100%;
    height: 12rem;
    position: relative;
}
.ProgressBar_base__small_df {
    height: 2rem;
}
.ProgressBar_background_51 {
    width: 100%;
    max-width: 8001px;
    height: 100%;
    background-image: var(--progress-base);
    background-repeat: repeat;
    background-position: 0 50%;
    background-size: 3rem 10rem;
    position: absolute;
    top: 0;
    left: 0;
}
.ProgressBar_background__small_46 {
    height: 2rem;
}
.ProgressBar_lineWrapper_6a {
    display: flex;
    flex: 1;
}

.ProgressBarBlink_base_24 {
    width: 60rem;
    height: 100rem;
    background-image: var(--progress-glow);
    background-size: contain;
    mix-blend-mode: lighten;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
    pointer-events: none;
}

.ProgressBarBlink_base__small_0f {
    width: 44rem;
    height: 43rem;
    background-image: var(--progress-glow-small);
}

/*
    Gameface can't calculate gradient biggest than 8128px
    in JS 8000 reserved like anchor for start optimization
*/
/* stylelint-disable-line */
.ProgressLineImpose_base_80 {
    max-width: 8001px;
    height: 100%;
    background-color: var(--progress-line-base);
    position: relative;
    transition-timing-function: cubic-bezier(1, 0, 0.92, 1);
    transition-property: width;
}
.ProgressLineImpose_base__disabled_cc {
    background-color: var(--progress-line-disabled);
}
.ProgressLineImpose_base__finished_d4 {
    background-color: var(--progress-line-finished);
}
.ProgressLineImpose_base__withoutBounce_56 {
    transition-timing-function: cubic-bezier(1, 0, 0.75, 0.75);
}
.ProgressLineImpose_pattern_1c {
    max-width: 8001px;
    background-image: var(--progress-pattern-base);
    background-repeat: repeat;
    background-position: 0 50%;
    background-size: 3rem 10rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    bottom: 1rem;
    left: 1rem;
}
.ProgressLineImpose_base__small_55 .ProgressLineImpose_pattern_1c {
    top: 0;
    bottom: 0;
}
.ProgressLineImpose_base__disabled_cc .ProgressLineImpose_pattern_1c {
    background-image: var(--progress-pattern-disabled);
    left: 0;
}
.ProgressLineImpose_base__finished_d4 .ProgressLineImpose_pattern_1c {
    background-image: var(--progress-pattern-finished);
}
.ProgressLineImpose_gradient_35 {
    max-width: 8001px;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.75));
    mix-blend-mode: overlay;
    position: absolute;
    top: 1rem;
    right: 0;
    bottom: 1rem;
    left: 0;
}
.ProgressLineImpose_base__small_55 .ProgressLineImpose_gradient_35 {
    top: 0;
    bottom: 0;
}
.ProgressLineImpose_base__disabled_cc .ProgressLineImpose_gradient_35 {
    display: none;
}
.ProgressLineImpose_base__finished_d4 .ProgressLineImpose_gradient_35 {
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0.5));
}
.ProgressLineImpose_glow_a5 {
    width: 60rem;
    max-width: 8001px;
    height: 100rem;
    background-image: var(--progress-glow);
    background-size: contain;
    mix-blend-mode: lighten;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}
.ProgressLineImpose_glow__left_d8 {
    left: 1rem;
}
.ProgressLineImpose_base__disabled_cc .ProgressLineImpose_glow_a5,
.ProgressLineImpose_base__finished_d4 .ProgressLineImpose_glow_a5 {
    display: none;
}
.ProgressLineImpose_base__small_55 .ProgressLineImpose_glow_a5 {
    width: 44rem;
    height: 43rem;
    background-image: var(--progress-glow-small);
}

/*
    Gameface can't calculate gradient biggest than 8128px
    in JS 8000 reserved like anchor for start optimization
*/
/* stylelint-disable-line */
.ProgressBarDeltaSimple_base_6c {
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
}
.ProgressBarDeltaSimple_delta_99 {
    width: 0;
    max-width: 8001px;
    height: 100%;
    box-shadow: var(--progress-delta-shadow);
    background-color: var(--progress-delta-color);
    position: absolute;
    bottom: 0;
    transform-origin: right center;
    transition-timing-function: cubic-bezier(1, 0, 0.92, 1), cubic-bezier(0.21, 0.61, 0.35, 1);
    transition-property: width, transform;
}

/*
    Gameface can't calculate gradient biggest than 8128px
    in JS 8000 reserved like anchor for start optimization
*/
/* stylelint-disable-line */
.ProgressBarDeltaGrow_base_7e {
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    transition-timing-function: cubic-bezier(1, 0, 0.92, 1);
    transition-property: width;
}
.ProgressBarDeltaGrow_base__withoutBounce_b5 {
    transition-timing-function: cubic-bezier(1, 0, 0.75, 0.75);
}
.ProgressBarDeltaGrow_glow_68 {
    width: 0;
    max-width: 8001px;
    height: 100%;
    box-shadow: var(--progress-delta-shadow);
    background-color: var(--progress-delta-color);
    position: absolute;
    bottom: 0;
    transform-origin: right center;
    transition-timing-function: cubic-bezier(1, 0, 0.92, 1);
    transition-property: width;
}
.ProgressBarDeltaGrow_base__withoutBounce_b5 .ProgressBarDeltaGrow_glow_68 {
    transition-timing-function: cubic-bezier(1, 0, 0.75, 0.75);
}

@keyframes App_fadeIn_57 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
@keyframes App_fadeOut_45 {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
@keyframes App_fadeInWithScale_ea {
    0% {
        opacity: 0;
        transform: scale(1.2);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes App_slideUp_6c {
    0% {
        opacity: 0;
        transform: translateY(50%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes App_scale_41 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}
@keyframes App_fadeInUp_7d {
    0% {
        opacity: 0;
        transform: translateY(20rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes App_rotate_e4 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
@keyframes App_translatedRotating_64 {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
.App_base_a7 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 66rem;
    height: 113rem;
    position: relative;
    cursor: pointer;
}
.App_base__disabled_00 {
    filter: grayscale(50%);
}
.App_bg_c0 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url('R.images.gui.maps.icons.battleMatters.entryPoint.bg') no-repeat center / contain;
    transform-origin: center top;
    animation: App_bgAppear_9e 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.34) 0.2s backwards;
}
.App_hover_ba {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url('R.images.gui.maps.icons.battleMatters.entryPoint.hover') no-repeat center / contain;
    opacity: 0;
    mix-blend-mode: overlay;
    transition: opacity 0.3s ease-in-out;
}
.App_base__disabled_00 .App_hover_ba {
    background-image: url('R.images.gui.maps.icons.battleMatters.entryPoint.hover_disabled');
}
.App_base_a7:hover .App_hover_ba {
    opacity: 1;
}
.App_icon_b7 {
    width: 64rem;
    height: 64rem;
    background: no-repeat center / contain;
    position: absolute;
}
.App_icon__logo_43 {
    opacity: 0;
    animation-name: App_fadeIn_57;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    animation-delay: 0.2s;
    animation-iteration-count: 1;
    background-image: url('R.images.gui.maps.icons.battleMatters.entryPoint.logo');
    top: 1rem;
}
.App_icon__done_58 {
    background-image: url('R.images.gui.maps.icons.battleMatters.entryPoint.done');
    top: 1rem;
    animation: App_headerAppear_57 0.2s ease-in 0.2s backwards;
}
.App_icon__token_1e {
    background-image: url('R.images.gui.maps.icons.battleMatters.entryPoint.token');
    bottom: 1rem;
    animation: App_footerAppear_9a 0.2s ease-out 0.5s backwards;
}
.App_icon__error_f7 {
    background-image: url('R.images.gui.maps.icons.battleMatters.entryPoint.error');
    bottom: 1rem;
    animation: App_footerAppear_9a 0.2s ease-out 0.4s backwards;
}
.App_level_e6 {
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    top: 10rem;
    left: 0;
    animation: App_headerAppear_57 0.2s ease-in 0.2s backwards;
}
.App_progress_ad {
    width: 48rem;
    position: absolute;
    top: 62rem;
    animation: App_footerAppear_9a 0.2s ease-out 0.4s backwards;
}
.App_blinkContainer_69 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 83%);
    mask-image: linear-gradient(180deg, transparent 0%, #000000 50%);
    cursor: pointer;
}
.App_shine_ed {
    width: 80rem;
    height: 128rem;
    background: url('R.images.gui.maps.icons.battleMatters.entryPoint.shine') no-repeat center / contain;
    mix-blend-mode: screen;
    position: absolute;
    top: -52rem;
    animation: App_shine_ed 2s linear 0.8s infinite alternate backwards;
    pointer-events: none;
}
.App_shine__left_b4 {
    left: -38rem;
}
.App_shine__right_db {
    right: -38rem;
    animation-direction: alternate-reverse;
}
.App_shine__appear_4e {
    animation: App_shineAppear_6f 0.8s ease-out 0.2s both;
}
.App_blink_c1 {
    width: 14rem;
    height: 100%;
    background-color: #ffffff;
    filter: blur(8px);
    mix-blend-mode: overlay;
    position: absolute;
    top: 0;
    left: 50%;
    transform: rotate(45deg) translateX(-200rem);
    transform-origin: center;
    animation: App_blinker_7d 5s linear 0.8s infinite;
}
@keyframes App_shine_ed {
    0% {
        opacity: 0;
        transform: translateY(0);
    }

    30% {
        opacity: 1;
    }

    70% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateY(53%);
    }
}
@keyframes App_shineAppear_6f {
    0% {
        opacity: 0;
        transform: translateY(0);
    }

    13% {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    63% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateY(53%);
    }
}
@keyframes App_blinker_7d {
    0% {
        transform: rotate(45deg) translateX(-200rem);
    }

    30% {
        transform: rotate(45deg) translateX(200rem);
    }

    100% {
        transform: rotate(45deg) translateX(200rem);
    }
}
@keyframes App_bgAppear_9e {
    0% {
        opacity: 0;
        transform: translateY(-20rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes App_headerAppear_57 {
    0% {
        opacity: 0;
        transform: translateY(6rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0rem);
    }
}
@keyframes App_footerAppear_9a {
    0% {
        opacity: 0;
        transform: translateY(4rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0rem);
    }
}

.Level_base_5f {
    color: #fd9;
    font-size: 24rem;
    font-weight: 700;
    line-height: 1.2;
    text-shadow:
        0 0 1rem #001128,
        0 1rem 2rem #001128,
        0 0 4rem rgba(254, 171, 52, 0.9);
    position: relative;
}

.Level_mask_e6 {
    color: #fefeec;
    text-shadow: none;
    position: absolute;
    top: 0;
    left: 0;
    mask-image: linear-gradient(to bottom, #000000 18%, transparent 50%);
}

body {
    margin: 1rem;
    overflow: hidden;
}
