.Level_base_57 {
    height: 16rem;
    background: center center / contain no-repeat;
    position: absolute;
    top: 1rem;
    left: 1rem;
}

    .Level_base__level1_c4 {
        width: 9rem;
    }

    .Level_base__level2_9c {
        width: 12rem;
    }

    .Level_base__level3_39 {
        width: 15rem;
    }

    .Level_base__level4_e3 {
        width: 16rem;
    }

    .Level_base__level5_ea {
        width: 14rem;
    }

    .Level_base__level6_5d {
        width: 17rem;
    }

    .Level_base__level7_03 {
        width: 20rem;
    }

    .Level_base__level8_b5 {
        width: 23rem;
    }

    .Level_base__level9_d6 {
        width: 17rem;
    }

    .Level_base__level10_89 {
        width: 15rem;
    }

