.TooltipDecorator_base_c9 {
    display: flex;
    position: absolute;
}

.TooltipDecorator_base__theme-default_6d .TooltipDecorator_decorator_3d {
    padding: 4rem 6rem 8rem;
    border-image-source: url('R.images.gui.maps.icons.tooltip.tooltip_background');
    border-image-slice: 24 fill;
    border-image-width: 24rem;
    position: relative;
}

.TankName_base_22 {
    display: flex;
    align-items: center;
}

.TankName_typeContainer_a2 {
    width: 64rem;
    height: 100%;
    position: relative;
}

.TankName_base__small_3e.TankName_base__sizeMiddle_05 .TankName_typeContainer_a2,
.TankName_base__extraSmall_ac.TankName_base__sizeMiddle_05 .TankName_typeContainer_a2 {
    width: 30rem;
}

.TankName_base__smallIcon_35 .TankName_typeContainer_a2 {
    width: 26rem;
    height: 24rem;
}

.TankName_type_ce {
    width: 81rem;
    height: 73rem;
    background: no-repeat center / contain;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.TankName_base__small_3e.TankName_base__sizeMiddle_05 .TankName_type_ce,
.TankName_base__extraSmall_ac.TankName_base__sizeMiddle_05 .TankName_type_ce {
    width: 40rem;
    height: 36rem;
}

.TankName_base__smallIcon_35 .TankName_type_ce {
    width: 24rem;
    height: 24rem;
    top: 50%;
}

.Content_base_98 {
    display: flex;
    flex-direction: column;
    width: 363rem;
    overflow: hidden;
    position: relative;
}

.Content_title_48 {
    color: #e9e2bf;
    font-size: 18rem;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 7rem;
}

.Content_description_86 {
    color: #8c8c7e;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    display: flex;
    margin-bottom: 10rem;
}

.Content_content_16 {
    padding: 16rem 20rem;
}

.Content_caption_e2 {
    color: #cbac77;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    padding: 16rem 20rem 16rem 44rem;
    background: url('R.images.gui.maps.icons.awards.tooltips.divider') no-repeat center top / contain;
    position: relative;
}

.Content_captionIcon_15 {
    width: 16rem;
    height: 16rem;
    background: url('R.images.gui.maps.icons.library.attentionIcon') no-repeat center / contain;
    position: absolute;
    top: 17rem;
    left: 20rem;
}

.Content_captionBackground_0d {
    border-top: 2rem dotted #fff;
    background: linear-gradient(
        90deg,
        rgba(201, 201, 182, 0) 0%,
        #c9c9b6 38.22%,
        #c9c9b6 64.56%,
        rgba(201, 201, 182, 0) 100%
    );
    opacity: 0.07;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.Content_vehicle_bb {
    color: #e9e2bf;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    display: flex;
    align-items: center;
    margin: 3rem 0 0 30rem;
}

.Content_vehicleMarker_bf {
    width: 3rem;
    height: 3rem;
    margin-right: 8rem;
    border-radius: 50%;
    background-color: #e9e2bf;
}
