.TooltipDecorator_base_c9 {
    display: flex;
    position: absolute;
}

.TooltipDecorator_base__theme-default_6d .TooltipDecorator_decorator_3d {
        padding: 4rem 6rem 8rem;
        border-image-source: url('R.atlases.components.tooltip_background');
        border-image-slice: 24 fill;
        border-image-width: 24rem;
        position: relative;
    }

.RewardsTooltipApp_base_e1 {
    width: 380rem;
    padding: 20rem;
    box-shadow: inset 0 0 10px rgba(59,59,46, .86);
}

.RewardsTooltipApp_title_06 {
    color: #E9E2BF;
    font-size: 18rem;
    font-weight: 700;
    line-height: 1.1;
    margin-top: -4rem;
}

.RewardsTooltipApp_icon_8c {
    width: 300rem;
    height: 152rem;
    margin: 11rem 18rem -30rem;
    background: url('R.images.gui.maps.icons.bootcamp.rewards.bcRewards_medium') no-repeat 50% / contain;
}

.RewardsTooltipApp_header_dd {
    color: #E9E2BF;
    font-size: 14rem;
    font-weight: 700;
    line-height: 1.15;
    margin-top: 20rem;
}

.RewardsTooltipApp_description_98 {
    color: #8C8C7E;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    margin-top: 2rem;
}

.RewardsTooltipApp_status_81 {
    color: #7AB300;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    display: flex;
    align-items: center;
    margin-top: 20rem;
}

.RewardsTooltipApp_statusIcon_86 {
    width: 16rem;
    height: 16rem;
    margin-right: 4rem;
    background: url('R.images.gui.maps.icons.missions.icons.check_green_xs') no-repeat 50% / contain;
}

