.Video_video_a8 {
    width: 100%;
    height: 100%;
    background: no-repeat center / contain;
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Video_video__visible_e8 {
    visibility: visible;
}
