.DeathCamUIView_base_93 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.DeathCamUIView_cinemaBar_87 {
    width: 100%;
    height: 0%;
    background-color: #000;
    z-index: 2;
    transition: height 0.3s;
}

.DeathCamUIView_cinemaBar__visible_ab {
    height: 12.5%;
}

.DeathCamUIView_notificationWrapper_92 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 1 0 auto;
}

.DeathReasonNotification_base_ad {
    display: flex;
    flex-direction: column;
    opacity: 0;
    transform: translateY(-20%);
    transition:
        opacity 0.3s ease-in,
        transform 0.3s ease-in;
}

.DeathReasonNotification_base__visible_ab {
    opacity: 1;
    transform: translateY(0);
}
.DeathReasonNotification_contentContainer_d2 {
    padding-left: 204rem;
    padding-right: 204rem;
    padding-bottom: 4rem;
    border: 1rem solid;
    border-bottom: 0;
    border-image-source: linear-gradient(to right, rgba(0, 0, 0, 0) 4%, rgba(255, 0, 0, 1), rgba(0, 0, 0, 0) 96%);
    border-image-slice: 1;
    background-image: radial-gradient(ellipse 50% 100% at 50% 0%, rgba(255, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
    color: #fff;
}
.mediaSmall .DeathReasonNotification_contentContainer_d2 {
    padding-left: 120rem;
    padding-right: 120rem;
}
.DeathReasonNotification_destructionContainer_d2 {
    display: flex;
    flex-direction: row;
    padding: 12rem 0;
    font-size: 20rem;
}
.mediaSmall .DeathReasonNotification_destructionContainer_d2 {
    padding: 20rem 0 24rem;
    font-size: 30rem;
}
.DeathReasonNotification_spottedContainer_92 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 34rem;
}
.DeathReasonNotification_spottedContent_a9 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 30rem;
    padding-right: 30rem;
    border: 1rem solid;
    border-image-source: linear-gradient(to right, rgba(0, 0, 0, 0) 4%, rgba(255, 152, 31, 1), rgba(0, 0, 0, 0) 96%);
    border-image-slice: 1;
    background:
        radial-gradient(50% 100% at center top, rgba(255, 152, 31, 0.5) 0%, transparent 100%) no-repeat center/ contain,
        radial-gradient(50% 100% at center bottom, rgba(255, 152, 31, 0.5) 0%, transparent 100%) no-repeat center/
            contain;
    font-size: 16rem;
}
.mediaSmall .DeathReasonNotification_spottedContent_a9 {
    font-size: 20rem;
}
.DeathReasonNotification_icon_7f {
    width: 30rem;
    height: 30rem;
    margin: 0 8rem;
    background: left / cover no-repeat;
}
.mediaSmall .DeathReasonNotification_icon_7f {
    width: 36rem;
    height: 36rem;
}

.HintContainer_base_53 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    height: 80rem;
    position: absolute;
    bottom: 16rem;
    z-index: 3;
}

.HintContainer_background_9b {
    width: 100%;
    height: 100%;
    border-radius: 4rem;
    background: #000;
    filter: blur(4px);
    opacity: 0.25;
    position: absolute;
}

.HintContainer_content_21 {
    display: flex;
    flex-direction: row;
    padding: 4rem 75rem;
    color: #ff981f;
    font-size: 14rem;
    font-weight: 700;
    line-height: 20rem;
    z-index: 3;
}

.HintContainer_divider_12 {
    width: 32rem;
}

.Hint_base_e2 {
    display: flex;
    flex-direction: row;
}

.Hint_description_a5 {
    display: flex;
    flex-direction: row;
    margin-left: 12rem;
}

.Hint_counter_be {
    width: 32rem;
    text-align: left;
}

.HintButton_base_19 {
    position: relative;
}

.HintButton_btnOuter_f9 {
    display: flex;
    flex-direction: row;
    border: 2rem solid #ff981f;
    border-radius: 6rem;
}

.HintButton_btnOuter__blink_e7 {
    border: 2rem solid #ffbd1f;
}

.HintButton_animationContainer_c5 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
}

.HintButton_buttonContainer_2a {
    display: flex;
    flex-direction: row;
}

.HintButton_btnInner_e4 {
    display: flex;
    flex-direction: row;
    height: 14rem;
    margin: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;
    border-radius: 2rem;
    background: #ff981f;
    color: #000;
    font-size: 14rem;
    font-weight: 700;
    line-height: 13rem;
}

.HintButton_btnInner__blink_75 {
    background: #ffbd1f;
}

.FormatText_base_d0 {
    display: flex;
    flex-wrap: wrap;
}

body {
    line-height: normal;
}

.MarkerView_base_1b {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1rem;
    color: #fff;
    font-size: 12rem;
    font-weight: 400;
    text-shadow:
        0 0 4rem rgba(0, 0, 0, 0.5),
        0 0 4rem rgba(0, 0, 0, 0.5);
    visibility: visible;
    position: relative;
    top: 0;
    left: 0;
}

.MarkerView_base__hidden_c2 {
    visibility: hidden;
}

.MarkerView_leaderContainer_41 {
    position: absolute;
}

.Leader_base_ea {
    overflow-x: hidden;
    position: absolute;
}

.Section_base_d7 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Section_base__separator_9d {
    border-top: 1rem solid;
    border-image: repeating-linear-gradient(
            to right,
            rgba(255, 255, 255, 0.25),
            rgba(255, 255, 255, 0.25) 10rem,
            transparent 10rem,
            transparent 14rem
        )
        1;
}

.ImpactIndicator_base_bd {
    position: absolute;
    top: -11rem;
}

.mediaSmall .ImpactIndicator_base_bd {
    top: -5rem;
}

.ImpactIndicator_shadowedOverlay_5d {
    filter: drop-shadow(-1rem 0 3rem #000);
    position: absolute;
}

.Icon_base_c6 {
    width: 38rem;
    height: 38rem;
    margin: 0 4rem 0 8rem;
    background: no-repeat center / contain;
    position: absolute;
}

.mediaSmall .Icon_base_c6 {
    width: 44rem;
    height: 44rem;
}

.DataLine_base_16 {
    display: flex;
    align-items: center;
    padding: 0 44rem 0 8rem;
    font-size: 12rem;
    position: relative;
}

.DataLine_base_16 .DataLine_iconContainer__impactAngle_26 {
    padding-left: 3rem;
}

.mediaSmall .DataLine_base_16 {
    font-size: 16rem;
}

.DataLine_iconContainer_c8 {
    align-self: center;
    width: 38rem;
    margin-right: 4rem;
}

.mediaSmall .DataLine_iconContainer_c8 {
    width: 44rem;
}

.mediaSmall .DataLine_iconContainer__wide_20 {
    width: 41rem;
}

.DataLine_iconContainer__impactAngle_26 {
    align-self: flex-start;
    width: 39rem;
    margin: 2rem 8rem 0 -4rem;
    position: relative;
}

.mediaSmall .DataLine_iconContainer__impactAngle_26 {
    width: 48rem;
    margin: 5rem 3rem 0 -5rem;
}

.DataLine_value_b2 {
    margin-right: 12rem;
    font-weight: 700;
    text-align: right;
    overflow-x: scroll;
}

.DataLine_value__unspottedDetailed_4c {
    margin-right: -17rem;
}

.mediaSmall .DataLine_value__unspottedDetailed_4c {
    margin-right: -22rem;
}

.DataLine_value__unspottedSimple_78 {
    margin-right: 0rem;
}

.DataLine_orangeGlow_c3 .DataLine_glowElement_16 {
    border: 1rem solid;
    border-image-source: linear-gradient(to right, transparent 4%, #ff981f, transparent 96%);
    border-image-slice: 1;
    background:
        radial-gradient(50% 100% at center top, rgba(255, 153, 0, 0.5) 0%, transparent 100%) no-repeat center/ contain,
        radial-gradient(50% 100% at center bottom, rgba(255, 153, 0, 0.5) 0%, transparent 100%) no-repeat center/
            contain;
    position: absolute;
    top: -1rem;
    right: -1rem;
    bottom: -1rem;
    left: -1rem;
    z-index: -1;
}

.DataLine_redGlow_46 .DataLine_glowElement_16 {
    border: 1rem solid;
    border-image-source: linear-gradient(to right, transparent 4%, #ff1f1f, transparent 96%);
    border-image-slice: 1;
    background:
        radial-gradient(50% 100% at center top, rgba(255, 0, 0, 0.5) 0%, transparent 100%) no-repeat center/ contain,
        radial-gradient(50% 100% at center bottom, rgba(255, 0, 0, 0.5) 0%, transparent 100%) no-repeat center/ contain;
    position: absolute;
    top: -1rem;
    right: -1rem;
    bottom: -1rem;
    left: -1rem;
    z-index: -1;
}

.DataLine_major_1a {
    font-size: 16rem;
}

.mediaSmall .DataLine_major_1a {
    font-size: 20rem;
}

.DataLine_extraHeader_51.DataLine_base_16 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    height: 17rem;
    padding: 0;
    border-bottom: 1rem solid rgba(255, 255, 255, 0.25);
    background: radial-gradient(100% 100% at 100% 0%, rgba(255, 0, 0, 0.5) 0%, transparent 100%) center right / 40rem
        16rem no-repeat;
}

.DataLine_extraHeader_icon_2e {
    width: 40rem;
    height: 100%;
}

.DataLine_headIconShell_d5 .DataLine_extraHeader_icon_2e {
    background: url('R.atlases.deathCam.shell') right / contain no-repeat;
}

.DataLine_headIconTank_dc .DataLine_extraHeader_icon_2e {
    background: url('R.atlases.deathCam.vehicle') right / contain no-repeat;
}

.DataLine_additionalShellInfo_25 > .DataLine_additionalShellInfo_25 {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 24rem;
    margin-left: 8rem;
    padding-left: 26rem;
    background: center left / 24rem no-repeat;
    font-size: 10rem;
}

.ColoredText_unit_3b {
    color: #ccc;
}

.CardAnimation_card_3d {
    padding: 1rem;
}

.CardContainer_base_da {
    margin: 1rem 0;
    overflow-y: hidden;
    position: relative;
}

.CardContainer_base__empty_d1 {
    margin: 0;
}

.CardContainer_children_7a {
    position: relative;
}

.CardContainer_border_d6 {
    width: 100%;
    height: 100%;
    position: absolute;
    border: 1rem solid rgba(255, 255, 255, 0.5);
}

.CardContainer_background_49 {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.3);
    filter: blur(2px);
}

.Progress_base_42 {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    overflow: visible;
}

.Progress_bar_72 {
    height: 2rem;
    background: #ff981f;
    overflow: visible;
}

.Progress_ending_c8 {
    width: 8rem;
    height: 2rem;
    box-shadow: 0 0 4rem 1rem #ff7f00;
    background: linear-gradient(to right, #ff981f, #ffe91f);
    overflow: visible;
}

.DataTable_top_8f {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
