.Video_video_a8 {
    width: 100%;
    height: 100%;
    background: no-repeat center / contain;
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Video_video__visible_e8 {
    visibility: visible;
}

.CButton_base_40 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    box-shadow: 0 0 0 1rem rgba(0, 0, 0, 0.6);
    position: relative;
    cursor: pointer;
}

.CButton_base__main_42,
.CButton_base__primary_7f,
.CButton_base__primaryGreen_6f,
.CButton_base__primaryRed_ec,
.CButton_base__secondary_50 {
    background-size: 100% 100%;
}

.CButton_base__main_42 {
    background-image: url('R.images.gui.maps.icons.components.button.back_main');
}

.CButton_base__primary_7f {
    background-image: url('R.images.gui.maps.icons.components.button.back_primary');
}

.CButton_base__primaryGreen_6f {
    background-image: url('R.images.gui.maps.icons.components.button.back_primary_green');
}

.CButton_base__primaryRed_ec {
    background-image: url('R.images.gui.maps.icons.components.button.back_primary_red');
}

.CButton_base__secondary_50 {
    background-image: url('R.images.gui.maps.icons.components.button.back_secondary');
}

.CButton_base__ghost_ed {
    border-radius: 3rem;
    box-shadow:
        0 0 0 1rem rgba(0, 0, 0, 0.3),
        0 0 0 1rem rgba(255, 255, 255, 0.15) inset;
    background-color: rgba(0, 0, 0, 0.15);
}

.CButton_base__extraSmall_27 {
    min-height: 17rem;
    padding: 0 16rem;
}

.CButton_base__small_df,
.CButton_base__medium_74 {
    padding: 0 20rem;
}

.CButton_base__small_df {
    min-height: 18rem;
}

.CButton_base__medium_74 {
    min-height: 32rem;
}

.CButton_base__disabled_d9 {
    cursor: default;
}
/* Element .back and background-image in element .base need for fix bug in GF https://jira.wargaming.net/browse/WOTD-158525
The bug is that under certain conditions, when using border-image, stripes appear. Strip is a single-pixel gap
between 'border-image-width' and 'fill'.
This bug is reproduced in Google Chrome 81.0.4044.113
*/
.CButton_back_e5 {
    border-image-slice: 4 fill;
    border-image-width: 4rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.CButton_base__main_42 .CButton_back_e5 {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_main');
}
.CButton_base__primary_7f .CButton_back_e5 {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_primary');
}
.CButton_base__primaryGreen_6f .CButton_back_e5 {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_primary_green');
}
.CButton_base__primaryRed_ec .CButton_back_e5 {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_primary_red');
}
.CButton_base__secondary_50 .CButton_back_e5 {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_secondary');
}
.CButton_texture_fe {
    background: url('R.images.gui.maps.icons.components.button.standard_texture_file');
    background-size: 155rem 31rem;
    mix-blend-mode: soft-light;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.CButton_state_11 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: box-shadow 0.16s ease-in-out;
}
.CButton_base__focus_83 .CButton_state_11 {
    border-radius: 2rem;
    box-shadow: inset 0 0 2rem 1rem rgba(255, 85, 0, 0.2);
}
.CButton_stateHighlightHover_ff,
.CButton_stateHighlightActive_35,
.CButton_stateDisabled_54 {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.CButton_base__firstHover_d5 .CButton_stateHighlightHover_ff,
.CButton_base__firstHover_d5 .CButton_stateHighlightActive_35,
.CButton_base__firstHover_d5 .CButton_stateDisabled_54 {
    transition: opacity 0.16s ease-in-out;
}
.CButton_stateHighlightHover_ff {
    background-image: linear-gradient(
        180deg,
        rgba(252, 248, 235, 0.25) 0%,
        rgba(252, 248, 235, 0.1) 50%,
        rgba(255, 255, 255, 0) 100%
    );
}
.CButton_base_40:hover .CButton_stateHighlightHover_ff {
    opacity: 1;
}
.CButton_base_40:active .CButton_stateHighlightHover_ff {
    opacity: 0;
}
.CButton_base__disabled_d9:hover .CButton_stateHighlightHover_ff {
    opacity: 0;
}
.CButton_base__ghost_ed .CButton_stateHighlightHover_ff {
    box-shadow: 0 15rem 12rem 0 rgba(242, 242, 230, 0.11) inset;
    background-color: rgba(8, 6, 0, 0.18);
    background-image: none;
}
.CButton_stateHighlightActive_35 {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.15) 100%);
}
.CButton_base__highlightActive_b2 .CButton_stateHighlightActive_35 {
    opacity: 1;
}
.CButton_stateDisabled_54 {
    background-color: rgba(0, 0, 0, 0.25);
    background-image: url('R.images.gui.maps.icons.components.button.texture_disable');
    background-size: 15rem;
}
.CButton_base__disabled_d9 .CButton_stateDisabled_54 {
    opacity: 1;
}
.CButton_content_cc {
    display: flex;
    align-items: center;
    color: #f2f2e6;
    font-weight: 700;
    line-height: 1.2;
    text-shadow: 0 -1rem 1rem #000;
    letter-spacing: 0.03em;
    transform: translateY(-1rem);
}
.CButton_content_cc[lang='ja'],
.CButton_content_cc[lang='ko'],
.CButton_content_cc[lang='zh_tw'],
.CButton_content_cc[lang='zh_sg'],
.CButton_content_cc[lang='zh_cn'],
.CButton_content_cc[lang='th'] {
    font-weight: 400;
}
.CButton_base__main_42 .CButton_content_cc,
.CButton_base__primaryRed_ec .CButton_content_cc {
    text-shadow: 0 -1rem 1rem #600;
}
.CButton_base__secondary_50 .CButton_content_cc {
    color: rgba(254, 254, 236, 0.75);
}
.CButton_base__primaryGreen_6f .CButton_content_cc {
    text-shadow: 0 -1rem 1rem #1c2502;
}
.CButton_base__extraSmall_27 .CButton_content_cc {
    font-size: 12rem;
}
.CButton_base__small_df .CButton_content_cc {
    font-size: 14rem;
}
.CButton_base__medium_74 .CButton_content_cc {
    font-size: 15rem;
}
.CButton_base__disabled_d9 .CButton_content_cc {
    opacity: 0.6;
}

@keyframes Footer_fadeOut_7f {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}
@keyframes Footer_fadeIn_aa {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
@keyframes Footer_slideUp_20 {
    0% {
        opacity: 0;
        transform: translateY(20rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes Footer_slideDown_03 {
    0% {
        opacity: 0;
        transform: translateY(-20rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes Footer_raysAppearance_47 {
    0% {
        opacity: 0;
        transform: translateY(20rem);
    }

    100% {
        opacity: 0.5;
        transform: translateY(0);
    }
}
@keyframes Footer_rotate_19 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
.Footer_base_33 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}
.Footer_background_ee {
    opacity: 0;
    animation: Footer_fadeIn_aa 1.5s cubic-bezier(0.47, 0, 0.75, 0.72) 0.2s forwards;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        to bottom,
        rgba(17, 19, 29, 0) 0%,
        rgba(17, 19, 29, 0.4) 50%,
        rgba(17, 19, 29, 0.6) 100%
    );
    position: absolute;
    top: 0;
    left: 0;
}
.Footer_contentWrapper_d0 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100rem 0 50rem;
}
.mediaMedium .Footer_contentWrapper_d0 {
    padding: 140rem 0 64rem;
}
.mediaLarge .Footer_contentWrapper_d0 {
    padding-bottom: 100rem;
}
.Footer_guaranteedTitle_29 {
    color: #ffdd99;
    font-size: 36rem;
    font-weight: 700;
    line-height: 1.1;
    opacity: 0;
    animation: Footer_slideUp_20 0.4s cubic-bezier(0.07, 0.82, 0.17, 1) 1.2s forwards;
    display: flex;
}
.mediaLarge .Footer_guaranteedTitle_29 {
    font-size: 56rem;
}
.Footer_title_e7 {
    color: #ffffff;
    font-size: 24rem;
    font-weight: 700;
    line-height: 1.2;
    opacity: 0;
    animation: Footer_slideUp_20 0.4s cubic-bezier(0.07, 0.82, 0.17, 1) 1.4s forwards;
    display: flex;
    align-items: center;
}
.mediaMedium .Footer_title_e7 {
    font-size: 28rem;
}
.mediaLarge .Footer_title_e7 {
    font-size: 36rem;
}
.Footer_level_d1 {
    color: #ffffff;
}
.Footer_type_c1 {
    width: 83rem;
    height: 74rem;
    margin: 6rem -6rem 0 -8rem;
    background: no-repeat center / contain;
}
.Footer_buttons_45 {
    opacity: 0;
    animation: Footer_slideUp_20 0.4s cubic-bezier(0.07, 0.82, 0.17, 1) 1.6s forwards;
    display: flex;
    margin-top: 3rem;
}
.mediaLarge .Footer_buttons_45 {
    margin-top: 12rem;
}
.Footer_button_4d {
    min-width: 165rem;
    height: 24rem;
    margin: 0 14rem;
}

@keyframes App_fadeOut_f7 {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}
@keyframes App_fadeIn_21 {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
@keyframes App_slideUp_69 {
    0% {
        opacity: 0;
        transform: translateY(20rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes App_slideDown_82 {
    0% {
        opacity: 0;
        transform: translateY(-20rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes App_raysAppearance_ce {
    0% {
        opacity: 0;
        transform: translateY(20rem);
    }

    100% {
        opacity: 0.5;
        transform: translateY(0);
    }
}
@keyframes App_rotate_82 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
.App_base_e4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: #000;
    overflow: hidden;
    position: relative;
}
.App_video_e7 {
    width: 100%;
    height: 100%;
    z-index: -1;
}
.App_footer_81 {
    display: none;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.App_footer__visible_cc {
    display: flex;
}
.App_reward_a1 {
    opacity: 0;
    animation: App_fadeIn_21 0.8s cubic-bezier(0.07, 0.82, 0.17, 1) 1.2s forwards;
    width: 395rem;
    height: 218rem;
    background: url('R.images.gui_lootboxes.gui.maps.rewards.gr_bg_small') no-repeat center / contain;
    mix-blend-mode: additive;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}
.mediaMedium .App_reward_a1 {
    width: 527rem;
    height: 290rem;
    background-image: url('R.images.gui_lootboxes.gui.maps.rewards.gr_bg');
}
.App_reward__hidden_c5 {
    opacity: 1;
    animation: App_fadeOut_f7 0.7s cubic-bezier(0.07, 0.82, 0.17, 1) 0.5s forwards;
}
.App_rewardText_09 {
    color: #fefeec;
    font-size: 18rem;
    font-weight: 700;
    line-height: 1.1;
    margin-left: 25rem;
    margin-top: 98rem;
    text-shadow: 0 0 14rem #f00;
}
.mediaMedium .App_rewardText_09 {
    margin-left: 34rem;
    margin-top: 128rem;
    font-size: 24rem;
}
