.FrontlineConfirmIconsApp_base_58 {
    display: flex;
    justify-content: center;
    align-items: center;
}

    .FrontlineConfirmIconsApp_base__extended_b0 {
        margin-bottom: -4rem;
    }

.FrontlineConfirmIconsApp_icon_a9 {
    width: 180rem;
    height: 135rem;
    background: no-repeat center / cover;
}

.FrontlineConfirmIconsApp_icon_a9 + .FrontlineConfirmIconsApp_icon_a9 {
        margin-left: 40rem;
    }

