.TextButton_base_b6 {
    display: flex;
    align-items: center;
    padding: 0 3rem;
    font-size: 12rem;
    position: relative;
    cursor: pointer;
}

.TextButton_base__right_39 {
    flex-direction: row-reverse;
}
.TextButton_icon_17 {
    width: 32rem;
    height: 32rem;
    background: no-repeat center / contain;
    position: relative;
}
.TextButton_icon__back_43,
.TextButton_icon__forward_59 {
    margin: -1rem -5rem;
    background-image: url('R.images.gui.maps.icons.components.text_button.back');
    transform: translateY(1rem);
}
.TextButton_icon__forward_59 {
    transform: rotate(180deg) translateY(1rem);
}
.TextButton_icon__close_53 {
    margin: -1rem 0;
    background-image: url('R.images.gui.maps.icons.components.text_button.close');
}
.TextButton_icon__info_33 {
    margin: -1rem -5rem;
    background-image: url('R.images.gui.maps.icons.components.text_button.info');
}
.TextButton_glow_a4 {
    width: 100%;
    height: 100%;
    background: no-repeat center / contain;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity 0.16s;
}
.TextButton_icon__back_43 .TextButton_glow_a4,
.TextButton_icon__forward_59 .TextButton_glow_a4 {
    background-image: url('R.images.gui.maps.icons.components.text_button.back_hover');
}
.TextButton_icon__close_53 .TextButton_glow_a4 {
    background-image: url('R.images.gui.maps.icons.components.text_button.close_hover');
}
.TextButton_icon__info_33 .TextButton_glow_a4 {
    background-image: url('R.images.gui.maps.icons.components.text_button.info_hover');
}
.TextButton_base_b6:hover .TextButton_glow_a4 {
    opacity: 1;
}
.TextButton_base_b6:active .TextButton_glow_a4 {
    opacity: 0;
}
.TextButton_caption_82 {
    position: relative;
    transition:
        color 0.16s,
        text-shadow 0.16s;
}
.TextButton_caption__back_b9,
.TextButton_caption__forward_4e,
.TextButton_caption__close_36 {
    color: #ffdd99;
    text-shadow:
        0 0 10rem rgba(255, 42, 0, 1),
        0 0 10rem rgba(255, 42, 0, 0.4),
        0 0 10rem rgba(255, 42, 0, 0.4),
        0 0 2rem rgba(255, 42, 0, 0.4),
        0 0 1rem rgba(255, 42, 0, 0.4),
        0 0 2rem rgba(255, 42, 0, 0.4),
        0 0 1rem rgba(255, 42, 0, 0.4);
}
.TextButton_base_b6:hover .TextButton_caption__back_b9,
.TextButton_base_b6:hover .TextButton_caption__forward_4e,
.TextButton_base_b6:hover .TextButton_caption__close_36 {
    color: #fffa9f;
}
.TextButton_base_b6:active .TextButton_caption__back_b9,
.TextButton_base_b6:active .TextButton_caption__forward_4e,
.TextButton_base_b6:active .TextButton_caption__close_36 {
    color: #ffdd99;
}
.TextButton_caption__info_23 {
    padding: 0 5rem;
    color: #ccffff;
    text-shadow:
        0 0 12rem rgba(31, 68, 255, 0.8),
        0 0 8rem #00eaff;
}
.TextButton_base_b6:hover .TextButton_caption__info_23 {
    color: #e3ffff;
    text-shadow:
        0 0 12rem rgba(31, 68, 255, 0.8),
        0 0 12rem rgba(0, 234, 255, 1),
        0 0 8rem #00eaff;
}
.TextButton_base_b6:active .TextButton_caption__info_23 {
    color: #ccffff;
    text-shadow:
        0 0 12rem rgba(31, 68, 255, 0.6),
        0 0 8rem #00eaff;
}
.TextButton_goto_e7 {
    color: #7c7c6c;
}
.TextButton_base__left_ff .TextButton_goto_e7 {
    margin-left: 8rem;
}
.TextButton_base__right_39 .TextButton_goto_e7 {
    margin-right: 8rem;
}
.TextButton_shine_e2 {
    width: 90rem;
    height: 40rem;
    background: url('R.images.gui.maps.icons.components.text_button.shine') no-repeat center / contain;
    opacity: 0;
    position: absolute;
    top: -4rem;
    transition: opacity 0.16s;
    pointer-events: none;
}
.TextButton_base__left_ff .TextButton_shine_e2 {
    left: -4rem;
}
.TextButton_base__right_39 .TextButton_shine_e2 {
    right: -4rem;
    transform: rotate(180deg);
}
.TextButton_base_b6:hover .TextButton_shine_e2 {
    opacity: 1;
}
.TextButton_base_b6:active .TextButton_shine_e2 {
    opacity: 0;
}

.FormatText_base_d0 {
    display: flex;
    flex-wrap: wrap;
}

.FormatTextWithColorTags_blackReal_3c {
    color: #000000;
}

.FormatTextWithColorTags_whiteReal_8a {
    color: #ffffff;
}

.FormatTextWithColorTags_white_16 {
    color: #f2f2f7;
}

.FormatTextWithColorTags_whiteOrange_18 {
    color: #fefeec;
}

.FormatTextWithColorTags_whiteSpanish_10 {
    color: #e9e2bf;
}

.FormatTextWithColorTags_par_ca {
    color: #8c8c7e;
}

.FormatTextWithColorTags_parSecondary_8d {
    color: #595950;
}

.FormatTextWithColorTags_parTertiary_a3 {
    color: #37362e;
}

.FormatTextWithColorTags_red_60 {
    color: #ff2717;
}

.FormatTextWithColorTags_redDark_03 {
    color: #b70000;
}

.FormatTextWithColorTags_yellow_ad {
    color: #feab34;
}

.FormatTextWithColorTags_orange_e4 {
    color: #ee7000;
}

.FormatTextWithColorTags_cream_cd {
    color: #ffdd99;
}

.FormatTextWithColorTags_brown_c8 {
    color: #cbac77;
}

.FormatTextWithColorTags_greenBright_f0 {
    color: #80d43a;
}

.FormatTextWithColorTags_green_c5 {
    color: #7ab300;
}

.FormatTextWithColorTags_greenDark_af {
    color: #497212;
}

.FormatTextWithColorTags_blueBooster_ac {
    color: #ccffff;
}

.FormatTextWithColorTags_blueTeamkiller_6f {
    color: #09e2ff;
}

.FormatTextWithColorTags_cred_4e {
    color: #ced9d9;
}

.FormatTextWithColorTags_gold_90 {
    color: #ffc363;
}

.FormatTextWithColorTags_bond_71 {
    color: #c9c9b6;
}

.FormatTextWithColorTags_prom_dd {
    color: #a29b70;
}

.Background_base_1b {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #141823;
}

.Background_image_71 {
    width: 1470rem;
    height: 767rem;
    background: no-repeat center / contain;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mediaSmall .Background_image_71 {
    width: 1900rem;
    height: 992rem;
}

.mediaMedium .Background_image_71 {
    width: 2300rem;
    height: 1200rem;
}

.mediaLarge .Background_image_71 {
    width: 2700rem;
    height: 1409rem;
}

.mediaExtraLarge .Background_image_71 {
    width: 3640rem;
    height: 1900rem;
}

.App_base_af {
    width: 100%;
    height: 100%;
    padding-top: 25rem;
    text-align: center;
    opacity: 0;
    overflow: hidden;
    position: relative;
    transition: opacity 0;
}
.mediaLarge .App_base_af {
    padding-top: 50rem;
}
.mediaExtraLarge .App_base_af {
    padding-top: 70rem;
}
.App_base__visible_75 {
    opacity: 1;
}
.App_backButtonWrapper_d9 {
    position: absolute;
    top: 10rem;
    left: 10rem;
}
.mediaMedium .App_backButtonWrapper_d9 {
    top: 25rem;
    left: 30rem;
}
.mediaExtraLarge .App_backButtonWrapper_d9 {
    top: 40rem;
}
.App_shadow_27 {
    width: 1200rem;
    height: 240rem;
    background: url('R.images.gui.maps.icons.battleMatters.mainReward.shadow') no-repeat center / 100% 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: none;
}
.mediaMedium .App_shadow_27 {
    width: 1560rem;
    height: 320rem;
}
.mediaLarge .App_shadow_27 {
    width: 2100rem;
    height: 430rem;
}
.mediaExtraLarge .App_shadow_27 {
    width: 2320rem;
    height: 506rem;
}
.App_title_3c {
    color: #fefeec;
    font-size: 36rem;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 10rem;
    text-align: center;
    position: relative;
}
.mediaMedium .App_title_3c {
    color: #fefeec;
    font-size: 56rem;
    font-weight: 700;
    line-height: 1.1;
}
.mediaLarge .App_title_3c {
    margin-bottom: 18rem;
}
.mediaExtraLarge .App_title_3c {
    color: #fefeec;
    font-size: 73rem;
    font-weight: 700;
    line-height: 1.1;
}
.App_subtitle_53 {
    color: #e9e2bf;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
    display: flex;
    justify-content: center;
    width: 600rem;
    position: relative;
}
.mediaMedium .App_subtitle_53 {
    color: #fefeec;
    font-size: 20rem;
    font-weight: 400;
    line-height: 1.2;
    width: 730rem;
}
.mediaLarge .App_subtitle_53 {
    color: #fefeec;
    font-size: 24rem;
    font-weight: 400;
    line-height: 1.2;
    width: 900rem;
}
.App_reward_64 {
    position: absolute;
    top: 55%;
    transform: translate(-50%, -50%);
}
.mediaSmall .App_reward_64 {
    top: 56.5%;
}
.mediaMedium .App_reward_64 {
    top: 57%;
}
.mediaLarge .App_reward_64 {
    top: 59%;
}
.App_reward__1_e4 {
    left: 30%;
}
.App_reward__2_ae {
    left: 50%;
    z-index: 2;
}
.App_reward__3_32 {
    left: 70%;
}

.Preview_base_1f {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60rem;
    height: 60rem;
    opacity: 0.7;
    position: relative;
    transition: opacity 0.25s ease-out;
    cursor: pointer;
}

.Preview_base__hovered_ee {
    opacity: 1;
}
.Preview_icon_f3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('R.images.gui.maps.icons.library.previewVehicle') no-repeat center / contain;
    transition: opacity 0.25s ease-out;
    pointer-events: none;
}
.Preview_icon__small_a1 {
    width: 70rem;
    height: 70rem;
}
.Preview_icon__normal_5c {
    width: 100rem;
    height: 100rem;
}
.Preview_base__mouseDown_d0 .Preview_icon_f3 {
    opacity: 0.7;
}
.Preview_label_2e {
    color: #ffdd99;
    font-size: 14rem;
    line-height: 1.25;
    text-shadow:
        0 0 4rem rgba(255, 127, 0, 0.25),
        0 0 8rem #ff2a00,
        0 0 12rem #e52;
    opacity: 0;
    position: absolute;
    bottom: -8rem;
    transform: translateY(-5rem);
    transition:
        transform 0.25s ease-out,
        opacity 0.25s ease-out;
}
.Preview_base__visibleLabel_92 .Preview_label_2e,
.Preview_base__hovered_ee .Preview_label_2e {
    opacity: 1;
    transform: translateY(0rem);
}

.TankName_base_eb {
    color: #e9e2bf;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
    display: flex;
    align-items: center;
    position: relative;
}
.mediaSmall .TankName_base_eb {
    color: #e9e2bf;
    font-size: 24rem;
    font-weight: 400;
    line-height: 1.2;
}

.TankName_nation_8c {
    width: 26rem;
    height: 16rem;
    margin-right: 10rem;
    background: no-repeat center / contain;
}

.mediaSmall .TankName_nation_8c {
    position: relative;
    top: 2rem;
}

.TankName_class_56 {
    width: 34rem;
    height: 34rem;
    margin: 0 -4rem;
    background: no-repeat center / contain;
}

.mediaSmall .TankName_class_56 {
    width: 83rem;
    height: 74rem;
    margin: 0 -12rem;
    position: relative;
    top: 3rem;
}

.Reward_base_05 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 295rem;
    height: 306rem;
    position: relative;
}
.mediaSmall .Reward_base_05 {
    width: 380rem;
}
.mediaMedium .Reward_base_05 {
    width: 460rem;
    height: 370rem;
}
.mediaLarge .Reward_base_05 {
    width: 540rem;
    height: 480rem;
}
.mediaExtraLarge .Reward_base_05 {
    width: 728rem;
    height: 650rem;
}

.Reward_hoverArea_03 {
    position: absolute;
    z-index: 1;
    cursor: pointer;
}

.Reward_hoverArea__left_d5,
.Reward_hoverArea__right_59 {
    width: 295rem;
    height: 150rem;
    top: 80rem;
}

.mediaSmall .Reward_hoverArea__left_d5,
.mediaSmall .Reward_hoverArea__right_59 {
    width: 380rem;
    height: 200rem;
    top: 0;
}

.mediaMedium .Reward_hoverArea__left_d5,
.mediaMedium .Reward_hoverArea__right_59 {
    width: 460rem;
    height: 240rem;
}

.mediaLarge .Reward_hoverArea__left_d5,
.mediaLarge .Reward_hoverArea__right_59 {
    width: 540rem;
    height: 300rem;
    top: 20rem;
}

.mediaExtraLarge .Reward_hoverArea__left_d5,
.mediaExtraLarge .Reward_hoverArea__right_59 {
    width: 728rem;
    height: 400rem;
    top: 60rem;
}

.Reward_hoverArea__center_56 {
    width: 295rem;
    height: 210rem;
    top: 45rem;
}

.mediaSmall .Reward_hoverArea__center_56 {
    width: 380rem;
    height: 260rem;
    top: -40rem;
}

.mediaMedium .Reward_hoverArea__center_56 {
    width: 460rem;
    height: 310rem;
}

.mediaLarge .Reward_hoverArea__center_56 {
    width: 540rem;
    height: 380rem;
    top: -20rem;
}

.mediaExtraLarge .Reward_hoverArea__center_56 {
    width: 728rem;
    height: 515rem;
    top: -10rem;
}

.Reward_reward_29 {
    width: 460rem;
    height: 309rem;
    background: no-repeat center / contain;
    opacity: 1;
    position: absolute;
    transition: opacity 0.4s;
    pointer-events: none;
}

.mediaSmall .Reward_reward_29 {
    width: 590rem;
    height: 415rem;
}

.mediaMedium .Reward_reward_29 {
    width: 700rem;
    height: 493rem;
}

.mediaLarge .Reward_reward_29 {
    width: 850rem;
    height: 598rem;
}

.mediaExtraLarge .Reward_reward_29 {
    width: 1132rem;
    height: 760rem;
}

.Reward_reward__hover_2e {
    opacity: 0;
}

.Reward_hoverArea_03:hover ~ .Reward_reward__hover_2e {
    opacity: 1;
}

.Reward_preview_a5 {
    position: absolute;
    top: 40%;
}

.mediaSmall .Reward_preview_a5 {
    top: 50%;
}

.mediaMedium .Reward_preview_a5 {
    top: 70%;
}

.mediaLarge .Reward_preview_a5 {
    top: 74%;
}

.Reward_previewLabel_83 {
    position: absolute;
    bottom: 0;
}

.Reward_status_10 {
    color: #8c8c7e;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    margin: -3rem 0 25rem;
    text-shadow: 0px 0px 14px #f00;
    position: relative;
}

.mediaSmall .Reward_status_10 {
    margin: -6rem 0 -4rem;
    color: #fefeec;
    font-size: 20rem;
    font-weight: 400;
    line-height: 1.2;
}

.mediaMedium .Reward_status_10 {
    margin: -2rem 0 0rem;
}

.mediaLarge .Reward_status_10 {
    margin-bottom: 30rem;
}

.mediaExtraLarge .Reward_status_10 {
    margin-bottom: 90rem;
}

.Reward_statusShadow_89 {
    background: radial-gradient(50% 50% at 50% 50%, rgba(20, 24, 35, 0.16), rgba(20, 24, 35, 0.08) 65%, transparent);
    position: absolute;
    top: -15rem;
    right: -30rem;
    bottom: -15rem;
    left: -30rem;
    pointer-events: none;
}

.Reward_inStock_f0 {
    display: flex;
    height: 25rem;
    color: #80d43a;
    text-shadow: none;
    position: relative;
}

.mediaSmall .Reward_inStock_f0 {
    height: 40rem;
}

.Reward_done_43 {
    width: 24rem;
    height: 24rem;
    margin-right: 5rem;
    background: url('R.images.gui.maps.icons.battleMatters.mainReward.garage') no-repeat center / contain;
    position: relative;
    bottom: 2rem;
}

.mediaSmall .Reward_done_43 {
    bottom: -1rem;
}

.Reward_period_7e {
    display: flex;
    color: #ffdd99;
    position: relative;
}

.Reward_timer_cd {
    width: 25rem;
    height: 25rem;
    margin: -1rem 3rem 0 0;
    background: url('R.images.gui.maps.icons.battleMatters.mainReward.clock') no-repeat center / contain;
}

.mediaSmall .Reward_timer_cd {
    width: 40rem;
    height: 40rem;
    position: relative;
    bottom: 5rem;
}
