.FormatText_base_d0 {
    display: flex;
    flex-wrap: wrap;
}

.PersistentBonuses_base_46 {
    color: #8C8C7E;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    display: flex;
    justify-content: center;
    min-height: 33rem;
    padding-bottom: 8rem;
}

    .PersistentBonuses_base__medium_43 .PersistentBonuses_base_46,
    .PersistentBonuses_base__large_a8 .PersistentBonuses_base_46,
    .PersistentBonuses_base__extraLarge_8e .PersistentBonuses_base_46 {
        min-height: 38rem;
        padding-bottom: 13rem;
    }
.PersistentBonuses_description_16 {
    line-height: 1.6;
}
.PersistentBonuses_description__withOpacity_11 {
        opacity: .5;
    }
.PersistentBonuses_bonusBase_b8 {
    color: #FFDD99;
}
.PersistentBonuses_roleIcon_29 {
    width: 24rem;
    height: 24rem;
    margin-right: 2rem;
    background: center / contain no-repeat;
}

