.Content_base_2e {
    line-height: normal;
}
.Content_separator_0e {
    width: 283rem;
    height: 1rem;
    background: url('R.images.gui.maps.icons.battlePass.tooltips.Devider_points') 50% / contain no-repeat;
}
.Content_rewards_c9 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 403rem;
    height: 154rem;
    background: url('R.images.gui.maps.icons.battlePass.tooltips.Ribbon_large') bottom / cover no-repeat;
    color: #c9c9b6;
    font-size: 14rem;
}
.Content_base_2e {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 264rem;
    padding: 17rem 20rem;
}
.Content_title_71 {
    color: #c9c9b6;
    font-size: 15rem;
    font-weight: 700;
    line-height: 1.15;
}
.Content_description_38 {
    color: #8c8c7e;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    margin-top: 7rem;
    white-space: pre-wrap;
}

.TooltipDecorator_base_c9 {
    display: flex;
    position: absolute;
}

.TooltipDecorator_base__theme-default_6d .TooltipDecorator_decorator_3d {
    padding: 4rem 6rem 8rem;
    border-image-source: url('R.images.gui.maps.icons.tooltip.tooltip_background');
    border-image-slice: 24 fill;
    border-image-width: 24rem;
    position: relative;
}
