.FormatText_base_d0 {
    display: flex;
    flex-wrap: wrap;
}

.FormatTextWithColorTags_blackReal_3c {
    color: #000000;
}

.FormatTextWithColorTags_whiteReal_8a {
    color: #FFFFFF;
}

.FormatTextWithColorTags_white_16 {
    color: #F2F2F7;
}

.FormatTextWithColorTags_whiteOrange_18 {
    color: #FEFEEC;
}

.FormatTextWithColorTags_whiteSpanish_10 {
    color: #E9E2BF;
}

.FormatTextWithColorTags_par_ca {
    color: #8C8C7E;
}

.FormatTextWithColorTags_parSecondary_8d {
    color: #595950;
}

.FormatTextWithColorTags_parTertiary_a3 {
    color: #37362E;
}

.FormatTextWithColorTags_red_60 {
    color: #FF2717;
}

.FormatTextWithColorTags_redDark_03 {
    color: #B70000;
}

.FormatTextWithColorTags_yellow_ad {
    color: #FEAB34;
}

.FormatTextWithColorTags_orange_e4 {
    color: #EE7000;
}

.FormatTextWithColorTags_cream_cd {
    color: #FFDD99;
}

.FormatTextWithColorTags_brown_c8 {
    color: #CBAC77;
}

.FormatTextWithColorTags_greenBright_f0 {
    color: #80D43A;
}

.FormatTextWithColorTags_green_c5 {
    color: #7AB300;
}

.FormatTextWithColorTags_greenDark_af {
    color: #497212;
}

.FormatTextWithColorTags_blueBooster_ac {
    color: #CCFFFF;
}

.FormatTextWithColorTags_blueTeamkiller_6f {
    color: #09E2FF;
}

.FormatTextWithColorTags_cred_4e {
    color: #CED9D9;
}

.FormatTextWithColorTags_gold_90 {
    color: #FFC363;
}

.FormatTextWithColorTags_bond_71 {
    color: #C9C9B6;
}

.FormatTextWithColorTags_prom_dd {
    color: #A29B70;
}

.Icon_base_67 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.SimpleTextApp_base_bd {
    text-align: center;
}

.SimpleTextApp_formatText_fa {
    justify-content: center;
    align-items: flex-start;
}

