.TooltipDecorator_base_c9 {
    display: flex;
    position: absolute;
}

.TooltipDecorator_base__theme-default_6d .TooltipDecorator_decorator_3d {
    padding: 4rem 6rem 8rem;
    border-image-source: url('R.images.gui.maps.icons.tooltip.tooltip_background');
    border-image-slice: 24 fill;
    border-image-width: 24rem;
    position: relative;
}

.FormatText_base_d0 {
    display: flex;
    flex-wrap: wrap;
}

.App_base_12 {
    width: 410rem;
    padding: 25rem 20rem;
    background-color: #070705;
    background-image: linear-gradient(
        180deg,
        rgba(201, 201, 182, 0.05) 0%,
        rgba(51, 51, 41, 0) 15.62%,
        rgba(51, 51, 41, 0) 88.02%,
        rgba(51, 51, 41, 0.1) 100%
    );
}

.App_title_92 {
    color: #e9e2bf;
    font-size: 18rem;
    font-weight: 700;
    line-height: 1.1;
}

.App_text_8a {
    color: #8c8c7e;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    margin-top: 10rem;
}

.App_subtitle_af {
    color: #e9e2bf;
    font-size: 15rem;
    font-weight: 700;
    line-height: 1.15;
    margin-top: 15rem;
}

.App_description_cb {
    color: #8c8c7e;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    margin-top: 10rem;
}

.App_list__item_a5 {
    color: #8c8c7e;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    padding-left: 25rem;
    position: relative;
}

.App_list__point_41 {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background: #8c8c7e;
    position: absolute;
    top: 9rem;
    left: 9rem;
}
