.TooltipDecorator_base_c9 {
    display: flex;
    position: absolute;
}

.TooltipDecorator_base__theme-default_6d .TooltipDecorator_decorator_3d {
        padding: 4rem 6rem 8rem;
        border-image-source: url('R.atlases.components.tooltip_background');
        border-image-slice: 24 fill;
        border-image-width: 24rem;
        position: relative;
    }

.FormatText_base_d0 {
    display: flex;
    flex-wrap: wrap;
}

.FormatTextWithColorTags_blackReal_3c {
    color: #000000;
}

.FormatTextWithColorTags_whiteReal_8a {
    color: #FFFFFF;
}

.FormatTextWithColorTags_white_16 {
    color: #F2F2F7;
}

.FormatTextWithColorTags_whiteOrange_18 {
    color: #FEFEEC;
}

.FormatTextWithColorTags_whiteSpanish_10 {
    color: #E9E2BF;
}

.FormatTextWithColorTags_par_ca {
    color: #8C8C7E;
}

.FormatTextWithColorTags_parSecondary_8d {
    color: #595950;
}

.FormatTextWithColorTags_parTertiary_a3 {
    color: #37362E;
}

.FormatTextWithColorTags_red_60 {
    color: #FF2717;
}

.FormatTextWithColorTags_redDark_03 {
    color: #B70000;
}

.FormatTextWithColorTags_yellow_ad {
    color: #FEAB34;
}

.FormatTextWithColorTags_orange_e4 {
    color: #EE7000;
}

.FormatTextWithColorTags_cream_cd {
    color: #FFDD99;
}

.FormatTextWithColorTags_brown_c8 {
    color: #CBAC77;
}

.FormatTextWithColorTags_greenBright_f0 {
    color: #80D43A;
}

.FormatTextWithColorTags_green_c5 {
    color: #7AB300;
}

.FormatTextWithColorTags_greenDark_af {
    color: #497212;
}

.FormatTextWithColorTags_blueBooster_ac {
    color: #CCFFFF;
}

.FormatTextWithColorTags_blueTeamkiller_6f {
    color: #09E2FF;
}

.FormatTextWithColorTags_cred_4e {
    color: #CED9D9;
}

.FormatTextWithColorTags_gold_90 {
    color: #FFC363;
}

.FormatTextWithColorTags_bond_71 {
    color: #C9C9B6;
}

.FormatTextWithColorTags_prom_dd {
    color: #A29B70;
}

.App_base_83 {
    width: 350rem;
    box-shadow: inset 0 0 10rem rgba(59, 59, 46, .86);
    background: linear-gradient(180deg, rgba(182, 199, 201, .05) 0%, rgba(51, 51, 41, 0) 15.62%, rgba(51, 51, 41, 0) 88.02%, rgba(51, 51, 41, .1) 100%);
}

    .App_base__discount_f4 {
        width: 420rem;
    }

.App_body_7e {
    padding: 16rem 20rem;
    position: relative;
}

.App_base__discount_f4 .App_body_7e {
        padding: 17rem 20rem 16rem 88rem;
    }

.App_title_ae {
    color: #E9E2BF;
    font-size: 15rem;
    font-weight: 700;
    line-height: 1.15;
    margin-bottom: 8rem;
}

.App_base__discount_f4 .App_title_ae {
        color: #E9E2BF;
        font-size: 18rem;
        font-weight: 700;
        line-height: 1.1;
        margin-bottom: 7rem;
    }

.App_description_77 {
    color: #8C8C7E;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
}

.App_discountIcon_ed {
    width: 60rem;
    height: 60rem;
    background: url('R.images.gui.maps.icons.winback.tooltip.discount') no-repeat center / contain;
    position: absolute;
    top: 12rem;
    left: 12rem;
}

.App_discount_fe {
    color: #FEFEEC;
    font-size: 14rem;
    font-weight: 700;
    line-height: 1.15;
}

.App_discount__research_db {
        color: #F2F2F7;
    }

.App_discount__purchase_6c {
        color: #FFDD99;
    }

.App_footer_8f {
    padding: 12rem 20rem 18rem 42rem;
    position: relative;
}

.App_footer_8f * {
        position: relative;
    }

.App_separator_28 {
    width: 420rem;
    height: 9rem;
    background: url('R.images.gui.maps.icons.winback.tooltip.separator') no-repeat center / contain;
    position: absolute;
    top: -4rem;
    left: 0;
}

.App_footerMask_ff {
    background: linear-gradient(90deg, rgba(201, 201, 182, 0) 0%, #c9c9b6 38.22%, #c9c9b6 64.56%, rgba(201, 201, 182, 0) 100%);
    opacity: .1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.App_infoIcon_5e {
    width: 16rem;
    height: 16rem;
    background: url('R.images.gui.maps.icons.winback.tooltip.info') no-repeat center / contain;
    position: absolute;
    top: 14rem;
    left: 19rem;
}

