.FormatText_base_d0 {
    display: flex;
    flex-wrap: wrap;
}

.TooltipDecorator_base_c9 {
    display: flex;
    position: absolute;
}

.TooltipDecorator_base__theme-default_6d .TooltipDecorator_decorator_3d {
    padding: 4rem 6rem 8rem;
    border-image-source: url('R.atlases.components.tooltip_background');
    border-image-slice: 24 fill;
    border-image-width: 24rem;
    position: relative;
}

.Reward_base_ea {
    display: flex;
    flex-direction: column;
    position: relative;
}

.Reward_base__s48x48_46,
.Reward_base__small_c0 {
    width: 48rem;
    height: 48rem;
}

.Reward_base__s80x80_ce,
.Reward_base__big_e5 {
    width: 80rem;
    height: 80rem;
}

.Reward_base__s128x100_c3 {
    width: 128rem;
    height: 100rem;
}

.Reward_base__s180x135_7c {
    width: 180rem;
    height: 135rem;
}

.Reward_base__s232x174_67 {
    width: 232rem;
    height: 174rem;
}

.Reward_base__s296x222_78 {
    width: 296rem;
    height: 222rem;
}

.Reward_base__s400x300_07 {
    width: 400rem;
    height: 300rem;
}

.Reward_base__s600x450_f8 {
    width: 600rem;
    height: 450rem;
}

.Reward_tooltipWrapper_b5 {
    height: 100%;
}

.Reward_icon_df {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    position: relative;
    z-index: 1;
}

.Reward_overlay_68 {
    background: no-repeat center / 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.Reward_base__s48x48_46 .Reward_overlay_68,
.Reward_base__small_c0 .Reward_overlay_68 {
    width: 96rem;
    height: 96rem;
    background-size: 100%;
    overflow: visible;
}

.Reward_base__s80x80_ce .Reward_overlay_68,
.Reward_base__big_e5 .Reward_overlay_68 {
    width: 128rem;
    height: 128rem;
}

.Reward_base__s180x135_7c .Reward_overlay_68 {
    width: 266rem;
    height: 241rem;
}

.Reward_base__s232x174_67 .Reward_overlay_68 {
    width: 344rem;
    height: 312rem;
}

.Reward_base__s296x222_78 .Reward_overlay_68 {
    width: 450rem;
    height: 408rem;
}

.Reward_base__s400x300_07 .Reward_overlay_68 {
    width: 618rem;
    height: 590rem;
}

.Reward_base__s600x450_f8 .Reward_overlay_68 {
    width: 670rem;
    height: 575rem;
}

.Reward_highlight_36 {
    width: 100%;
    height: 100%;
    background: no-repeat center / contain;
    position: absolute;
    z-index: 0;
}

.Reward_image_89 {
    position: relative;
}

.Reward_info_72 {
    color: #e9e2bf;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    margin-top: -13rem;
    text-align: center;
    z-index: 1;
}

.Reward_base__s48x48_46 .Reward_info_72,
.Reward_base__small_c0 .Reward_info_72 {
    margin: -10rem -10rem 0;
}

.Reward_info__multi_63 {
    margin-right: 2rem;
    text-align: right;
}

.Reward_base__s48x48_46 .Reward_info__multi_63,
.Reward_base__small_c0 .Reward_info__multi_63 {
    margin-right: 0;
}

.Reward_info__credits_ef {
    color: #ced9d9;
}

.Reward_info__gold_36 {
    color: #ffc363;
}

.Reward_info__crystal_36 {
    color: #c9c9b6;
}

.Reward_info__premiumTank_d3 {
    color: #ffdd99;
}

.Reward_title_36 {
    color: #e9e2bf;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    max-width: 80rem;
    margin: -13rem -16rem 0;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.mediaMedium .Reward_title_36 {
    max-width: 100rem;
    margin-left: -10rem;
    margin-right: -10rem;
}

.Reward_timer_d3 {
    background: no-repeat center / contain;
    position: absolute;
    z-index: 1;
}

.Reward_base__s48x48_46 .Reward_timer_d3,
.Reward_base__small_c0 .Reward_timer_d3 {
    width: 23rem;
    height: 23rem;
    background-image: url('R.images.gui.maps.icons.quests.bonuses.small.timer');
    top: -6rem;
    right: -6rem;
}

.Reward_base__s80x80_ce .Reward_timer_d3,
.Reward_base__big_e5 .Reward_timer_d3 {
    width: 48rem;
    height: 48rem;
    background-image: url('R.images.gui.maps.icons.quests.bonuses.big.timer');
    top: -14rem;
    right: -14rem;
}

.AdditionalReward_base_a7 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 9rem;
    padding-bottom: 10rem;
    background: url('R.images.gui.maps.icons.tooltip.separator_dashed_short') no-repeat center bottom / contain;
}

.AdditionalReward_base__last_78 {
    padding-bottom: 0;
    background: none;
}

.AdditionalReward_details_21 {
    color: #8c8c7e;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    flex: 1 1 auto;
    margin-left: 10rem;
}

.AdditionalReward_rewardIconWrapper_78 {
    position: relative;
}

.AdditionalReward_backplate_f6 {
    background: url('R.images.gui.maps.icons.dogtags.small.backgrounds.background_0_0') no-repeat center / contain;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.RewardLabelResolver_value_56 {
    color: #8c8c7e;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    color: #cbac77;
}

.RewardLabelResolver_value__credits_b1 {
    color: #ced9d9;
}

.RewardLabelResolver_value__gold_15 {
    color: #ffc363;
}

.RewardLabelResolver_value__crystal_9c {
    color: #c9c9b6;
}

.RewardLabelResolver_value__premiumTank_ab {
    color: #ffdd99;
}

.App_base_06 {
    width: 305rem;
    border: 1rem solid rgba(242, 242, 230, 0.1);
    border-radius: 2rem;
    background-color: #12110b;
    position: relative;
}
.App_background_79 {
    /* this overlays background over the base border according to design and the round corners look a bit better */
    margin: -1rem;

    /* bottom padding is already part of the tooltip wrapper */
    padding: 19rem 15rem 25rem 25rem;
    border-radius: 2rem;
    box-shadow:
        0 0 7rem #000,
        0 5rem 7rem rgba(0, 0, 0, 0.15),
        inset 0 0 7rem rgba(242, 242, 230, 0.1);
    background: linear-gradient(
        180deg,
        rgba(51, 51, 41, 0.3) 0%,
        transparent 15.6%,
        transparent 88%,
        rgba(51, 51, 41, 0.1) 100%
    );
}
.App_remaining_f8 {
    color: #8c8c7e;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    padding-top: 10rem;
}

.RewardsTooltipHeader_header_f4 {
    color: #e9e2bf;
    font-size: 15rem;
    font-weight: 700;
    line-height: 1.15;
    margin-top: 3rem;
}

.RewardsTooltipHeader_description_fe {
    margin: 8rem 0 5rem;
    color: #8c8c7e;
}

.RewardsTooltipHeader_count_d1 {
    color: #ffdd99;
}
