.Background_base_a7 {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.Background_bg_42 {
    display: flex;
    width: 100vw;
    height: 100vh;
    background: no-repeat center / cover;
    position: absolute;
    top: 0;
    left: 0;
}

.Background_bg__invisible_8b {
        display: none;
    }

.Background_image_78 {
    display: none;
    position: absolute;
}

.Progress_base_40 {
    width: 100%;
    height: 5rem;
    position: relative;
}

.Progress_back_22 {
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .3;
    position: absolute;
    top: 0;
    left: 0;
}

.Progress_fore_5c {
    height: 100%;
    background-color: #c2b593;
    position: absolute;
    top: 0;
    left: 0;
}

.ContentFooter_base_66 {
    display: flex;
    flex-direction: column-reverse;
}

.ContentFooter_title_60 {
    filter: drop-shadow(0 4rem 4rem rgba(0,0,0, .25));
    margin-bottom: 4rem;
    font-size: 36rem;
    font-weight: 700;
}

@media (min-width: 1366px) and (min-height: 768px) {

.ContentFooter_title_60 {
        margin-bottom: 13rem;
        font-size: 56rem
}
    }

.ContentFooter_title__only_63 {
        margin-bottom: 23rem;
    }

@media (min-width: 1366px) and (min-height: 768px) {

.ContentFooter_title__only_63 {
            margin-bottom: 37rem;
            font-size: 36rem
    }
    }

.ContentFooter_description_cb {
    filter: drop-shadow(0 4rem 4rem rgba(0,0,0, .25));
    width: 680rem;
    margin-bottom: 33rem;
    font-size: 15rem;
    font-weight: 400;
}

@media (min-width: 1366px) and (min-height: 768px) {

.ContentFooter_description_cb {
        margin-bottom: 60rem;
        font-size: 20rem
}
    }

.ContentFooter_progressBar_e3 {
    margin-bottom: 60rem;
}

@media (min-width: 1366px) and (min-height: 768px) {

.ContentFooter_progressBar_e3 {
        margin-bottom: 80rem
}
    }

.ContentFooter_progressBar__alwaysOnTop_c5 {
        z-index: 2;
    }

.ContentFooter_statusText_7b {
    filter: drop-shadow(0 4rem 4rem rgba(0,0,0, .25));
    margin-bottom: 4rem;
    font-size: 14rem;
    font-weight: 800;
}

@media (min-width: 1366px) and (min-height: 768px) {

.ContentFooter_statusText_7b {
        margin-bottom: 13rem;
        font-size: 18rem
}
    }

.ContentFooter_statusText__alwaysOnTop_90 {
        z-index: 2;
    }

.LogoSlide_base_66 {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.LogoSlide_backLogo_ed {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1920rem;
    height: 1080rem;
    margin-top: 60rem;
    background: url('img://gui/maps/loading/login_bg.png') no-repeat center / cover;
}

.LogoSlide_logo_80 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 490rem;
    height: 230rem;
    margin-top: -40rem;
    background: url('img://gui/maps/loading/login_logo.png') no-repeat center / cover;
}

@media (min-width: 1366px) and (min-height: 768px) {

.LogoSlide_logo_80 {
        width: 800rem;
        height: 400rem;
        margin-top: 0;
        background: url('img://gui/maps/loading/login_logo_big.png') no-repeat center / cover
}
    }

.LogoSlide_awards_62 {
    width: 763rem;
    height: 113rem;
    background: url('img://gui/maps/loading/awards.png') no-repeat center / cover;
    position: absolute;
    bottom: 20rem;
    left: 50%;
    transform: translateX(-50%);
}

.Content_base_64 {
    width: 100vw;
    height: 100vh;
    background-color: #000;
    color: #dacca8;
}

.Content_background_e4 {
    position: absolute;
    top: 0;
    left: 0;
}

.Content_label_0c {
    color: #595950;
    font-size: 14rem;
    font-weight: 800;
}

.Content_version_39 {
    position: absolute;
    bottom: 6rem;
    left: 14rem;
}

.Content_copyright_bf {
    position: absolute;
    bottom: 6rem;
    left: 50%;
    transform: translateX(-50%);
}

.Content_ageRating_a0 {
    width: 300rem;
    height: 135rem;
    background: no-repeat right / contain;
    position: absolute;
    top: 46rem;
    right: 37rem;
}

.Content_contentFooter_f1 {
    position: absolute;
    right: 60rem;
    bottom: 0;
    left: 60rem;
}

@media (min-width: 1366px) and (min-height: 768px) {

.Content_contentFooter_f1 {
        right: 108rem;
        left: 108rem
}
    }

.Content_fairPlayMessage_23 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1024rem;
    height: 768rem;
    background: url('img://gui/maps/loading/fair_play_message.png') no-repeat center / cover;
}

@media (min-width: 1366px) and (min-height: 768px) {

.Content_fairPlayMessage_23 {
        width: 1920rem;
        height: 1080rem;
        background: url('img://gui/maps/loading/fair_play_message_big.png') no-repeat center / cover
}
    }

.Content_vignette_14 {
    width: 100vw;
    height: 100vh;
    background: url('img://gui/maps/loading/vignette_loading.png') no-repeat center / 100%;
    position: absolute;
}

.Content_vignette__invisible_9d {
        display: none;
    }

.Content_info_22 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 0 20rem;
    font-size: 16rem;
    position: absolute;
    top: calc(50vh + 35rem);
    bottom: 133rem;
}

@media (min-width: 1366px) and (min-height: 768px) {

.Content_info_22 {
        top: calc(50vh + 160rem)
}
    }

.Content_info__default_1a {
        height: 55rem;
        color: #8c8c7e;
        top: auto;
        bottom: 5rem;
    }

@media (min-width: 1366px) and (min-height: 768px) {

.Content_info__default_1a {
            height: 75rem;
            top: auto
    }
    }

.Content_info__korea_f1 {
        font-size: 32rem;
    }

@media (min-width: 1600px) and (min-height: 900px) {

.Content_info__korea_f1 {
            font-size: 50rem
    }
    }

.Content_info__china_7b {
        color: #fefeec;
    }

@keyframes Content_fadeIn_e5 {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.App_base_8c {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.App_content_ab {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

.App_dimmer_28 {
    width: 100vw;
    height: 100vh;
    background-color: #000;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.App_dimmer__visible_38 {
        opacity: 1;
    }

.App_dimmer__fadeOut_3b {
        animation: App_fadeOut_0e linear;
    }

.App_dimmer__fadeIn_c3 {
        animation: App_fadeIn_a0 linear;
    }

@keyframes App_fadeIn_a0 {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes App_fadeOut_0e {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

