.FormatText_base_d0 {
    display: flex;
    flex-wrap: wrap;
}

.VehicleInfo_base_4f {
    display: flex;
    align-items: center;
    background: left center no-repeat;
    color: #c9c9b6;
    font-size: 14rem;
    line-height: 1;
}

    .VehicleInfo_base__level1_15 {
        padding-left: 9rem;
        background-image: url('R.images.gui.maps.icons.levels.tank_level_1');
        background-size: 9rem 16rem;
    }

    .VehicleInfo_base__level2_28 {
        padding-left: 12rem;
        background-image: url('R.images.gui.maps.icons.levels.tank_level_2');
        background-size: 12rem 16rem;
    }

    .VehicleInfo_base__level3_17 {
        padding-left: 15rem;
        background-image: url('R.images.gui.maps.icons.levels.tank_level_3');
        background-size: 15rem 16rem;
    }

    .VehicleInfo_base__level4_02 {
        padding-left: 16rem;
        background-image: url('R.images.gui.maps.icons.levels.tank_level_4');
        background-size: 16rem 16rem;
    }

    .VehicleInfo_base__level5_bd {
        padding-left: 14rem;
        background-image: url('R.images.gui.maps.icons.levels.tank_level_5');
        background-size: 14rem 16rem;
    }

    .VehicleInfo_base__level6_ea {
        padding-left: 17rem;
        background-image: url('R.images.gui.maps.icons.levels.tank_level_6');
        background-size: 17rem 16rem;
    }

    .VehicleInfo_base__level7_0a {
        padding-left: 20rem;
        background-image: url('R.images.gui.maps.icons.levels.tank_level_7');
        background-size: 20rem 16rem;
    }

    .VehicleInfo_base__level8_27 {
        padding-left: 23rem;
        background-image: url('R.images.gui.maps.icons.levels.tank_level_8');
        background-size: 23rem 16rem;
    }

    .VehicleInfo_base__level9_95 {
        padding-left: 17rem;
        background-image: url('R.images.gui.maps.icons.levels.tank_level_9');
        background-size: 17rem 16rem;
    }

    .VehicleInfo_base__level10_dc {
        padding-left: 15rem;
        background-image: url('R.images.gui.maps.icons.levels.tank_level_10');
        background-size: 15rem 16rem;
    }

.VehicleInfo_vehicleType_e2 {
    width: 16rem;
        height: 16rem;
    background: no-repeat center / contain;
}

.VehicleInfo_vehicleType__elite_95 {
    width: 24rem;
        height: 24rem;
        margin: 2rem 0 0 -2rem;
    }

.VehicleInfo_vehicleName_9e {
    color: #C9C9B6;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    margin-left: 3rem;
    text-shadow: 0 0 5px rgba(201,201,182, .5);
}

.VehicleList_base_b7 {
    line-height: normal;
}
.VehicleList_separator_f9 {
    width: 283rem;
    height: 1rem;
    background: url('R.images.gui.maps.icons.battlePass.tooltips.Devider_points') 50% / contain no-repeat;
}
.VehicleList_rewards_98 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 403rem;
    height: 154rem;
    background: url('R.images.gui.maps.icons.battlePass.tooltips.Ribbon_large') bottom / cover no-repeat;
    color: #c9c9b6;
    font-size: 14rem;
}
.VehicleList_base_b7 {
    display: flex;
    flex-direction: column;
}
.VehicleList_info_5a {
    color: #8C8C7E;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    height: 28rem;
}
.VehicleList_points_59 {
    display: flex;
    align-items: flex-end;
    height: 16rem;
    padding-right: 18rem;
    background: url('R.images.gui.maps.icons.battlePass.tooltips.points_16') no-repeat 100% / contain;
    color: #7AB300;
    position: relative;
    top: 1rem;
}
.VehicleList_top_09 {
    color: #FFDD99;
}

