.TooltipDecorator_base_c9 {
    display: flex;
    position: absolute;
}

.TooltipDecorator_base__theme-default_6d .TooltipDecorator_decorator_3d {
    padding: 4rem 6rem 8rem;
    border-image-source: url('R.images.gui.maps.icons.tooltip.tooltip_background');
    border-image-slice: 24 fill;
    border-image-width: 24rem;
    position: relative;
}

.PremiumSpecialization_base_a1 {
    display: flex;
    align-items: center;
    height: 18rem;
}

.PremiumSpecialization_icon_bd {
    width: 24rem;
    height: 24rem;
    margin: 0 0 -1rem -4rem;
    background: no-repeat url('R.images.gui.maps.icons.library.prem_small_icon') center / 20rem 17rem;
}

.PremiumSpecialization_label_ec {
    color: #ffc363;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    margin-left: 2rem;
}

.RankIcon_base_a6 {
    display: flex;
    background: no-repeat center / cover;
}

.RankIcon_base__big_51 {
    width: 160rem;
    height: 118rem;
}

.RankIcon_base__small_26 {
    width: 95rem;
    height: 60rem;
}

.TooltipAdvancedFooter_base_d6 {
    display: flex;
    padding: 12rem 20rem 20rem;
}

.TooltipAdvancedFooter_altBtn_e0 {
    width: 29rem;
    height: 26rem;
    margin-right: 8rem;
    background: url('R.images.gui.maps.icons.tooltip.tooltip_alt_btn') no-repeat center / cover;
}

.TooltipContentSection_base_5c {
    display: flex;
    flex-direction: column;
}

.TooltipContentSection_base_5c + .TooltipContentSection_base_5c {
    margin-top: 16rem;
}

.TooltipContentSection_label_91 {
    color: #8c8c7e;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
}

.TooltipContentSection_base__withPadding_c4 .TooltipContentSection_content_88 {
    padding-left: 13rem;
}

.Divided_base_06 {
    position: relative;
}

.Divided_divider_64 {
    width: 360rem;
    height: 1rem;
    background: url('R.images.gui.maps.icons.tooltip.tooltip_perks_divider') no-repeat center / cover;
    position: absolute;
    bottom: 0;
    left: 0;
}

.GradientDecorator_base_ee {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 12rem 0 18rem;
    position: relative;
}

.GradientDecorator_bg_21 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: url('R.images.gui.maps.icons.library.white_bg') no-repeat 50% / 100%;
}

.GradientDecorator_divider_13 {
    width: 360rem;
    height: 1rem;
    background: url('R.images.gui.maps.icons.tooltip.tooltip_perks_divider') no-repeat center / cover;
}

.CommanderFeatures_base_1b {
    display: flex;
    flex-direction: column;
}

.CommanderFeatures_feature_87 {
    display: flex;
}

.CommanderFeatures_feature_87 + .CommanderFeatures_feature_87 {
    margin-top: 11rem;
}

.CommanderFeatures_featureIcon_80 {
    width: 24rem;
    height: 24rem;
    background: no-repeat center / cover;
}

.CommanderFeatures_featureLabel_4b {
    color: #595950;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    flex: 1;
    margin-left: 8rem;
}

.Header_base_7f {
    display: flex;
    flex-direction: column;
}

.Header_role_3f {
    display: flex;
    margin-bottom: 5rem;
}

.Header_roleIcon_9d {
    width: 18rem;
    height: 18rem;
    background: no-repeat center / cover;
    opacity: 0.4;
}

.Header_roleName_6e {
    color: #8c8c7e;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    margin-left: 6rem;
}

.Header_name_54 {
    color: #e9e2bf;
    font-size: 18rem;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 3rem;
}

.Header_rankUserName_d0 {
    color: #8c8c7e;
    font-size: 12rem;
    font-weight: 400;
    line-height: 1.3;
}

.Currency_base_57 {
    display: flex;
    align-items: center;
    position: relative;
}
.Currency_icon_c5 {
    --icon-height: 16rem;
    --icon-width: var(--icon-height);
    width: var(--icon-width);
    height: var(--icon-height);
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    z-index: 1;
}
.Currency_base__small_af .Currency_icon_c5,
.Currency_base__big_bc .Currency_icon_c5,
.Currency_base__large_65 .Currency_icon_c5,
.Currency_base__extraLarge_4d .Currency_icon_c5 {
    transform: translateY(3rem);
}
.Currency_icon__credits-small_9b {
    background-image: url('R.images.gui.maps.icons.library.CreditsIcon_2');
}
.Currency_icon__credits-big_96 {
    background-image: url('R.images.gui.maps.icons.library.CreditsIcon_1');
}
.Currency_icon__credits-large_ac {
    --icon-height: 48rem;
    margin-left: -1rem;
    background-image: url('R.images.gui.maps.shop.rewards.c_48x48.money_silver');
}
.Currency_base__large_65 .Currency_icon__credits-large_ac {
    transform: translateY(4rem);
}
.Currency_icon__credits-extraLarge_16 {
    --icon-height: 80rem;
    margin-right: -2rem;
    background-image: url('R.images.gui.maps.icons.library.credits_icon_80x80');
}
.Currency_icon__gold-small_86 {
    background-image: url('R.images.gui.maps.icons.library.GoldIcon_2');
}
.Currency_base__small_af .Currency_icon__gold-small_86 {
    transform: translateY(2rem);
}
.Currency_icon__gold-big_15 {
    background-image: url('R.images.gui.maps.icons.library.GoldIcon_1');
}
.Currency_base__big_bc .Currency_icon__gold-big_15 {
    transform: translateY(4rem);
}
.Currency_icon__gold-large_36 {
    --icon-height: 48rem;
    margin-left: -1rem;
    background-image: url('R.images.gui.maps.shop.rewards.c_48x48.money_gold');
}
.Currency_base__large_65 .Currency_icon__gold-large_36 {
    transform: translateY(4rem);
}
.Currency_icon__gold-extraLarge_a0 {
    --icon-height: 80rem;
    background-image: url('R.images.gui.maps.icons.library.gold_icon_80x80');
}
.Currency_icon__crystal-small_27 {
    background-image: url('R.images.gui.maps.icons.library.CrystalIcon_2');
}
.Currency_base__small_af .Currency_icon__crystal-small_27 {
    transform: translateY(2rem);
}
.Currency_icon__crystal-big_cd {
    --icon-height: 22rem;
    --icon-width: 23rem;
    background-image: url('R.images.gui.maps.icons.library.crystal_23x22');
}
.Currency_base__big_bc .Currency_icon__crystal-big_cd {
    transform: translateY(4rem);
}
.Currency_icon__crystal-large_d3 {
    --icon-height: 48rem;
    margin-left: -1rem;
    background-image: url('R.images.gui.maps.shop.rewards.c_48x48.money_bonds');
}
.Currency_icon__crystal-extraLarge_09 {
    --icon-height: 80rem;
    background-image: url('R.images.gui.maps.icons.library.crystal_80x80');
}
.Currency_base__extraLarge_4d .Currency_icon__crystal-extraLarge_09 {
    transform: translateY(7rem);
}
.Currency_icon__xp-small_a7 {
    background-image: url('R.images.gui.maps.icons.library.NormalXpIcon');
}
.Currency_base__small_af .Currency_icon__xp-small_a7 {
    transform: translateY(1rem);
}
.Currency_icon__xp-big_97 {
    --icon-height: 22rem;
    --icon-width: 23rem;
    margin-left: -5rem;
    background-image: url('R.images.gui.maps.icons.library.xpIcon_23x22');
}
.Currency_base__big_bc .Currency_icon__xp-big_97 {
    transform: translateY(2rem);
}
.Currency_icon__xp-large_6b {
    --icon-height: 48rem;
    margin: 0 -5rem 0 -6rem;
    background-image: url('R.images.gui.maps.shop.rewards.c_48x48.exp');
}
.Currency_icon__xp-extraLarge_67 {
    --icon-height: 80rem;
    margin: 0 -5rem;
    background-image: url('R.images.gui.maps.icons.library.xp_tank_icon_80x80');
}
.Currency_icon__freeXP-small_ca {
    background-image: url('R.images.gui.maps.icons.library.freeXPIcon16x16');
}
.Currency_base__small_af .Currency_icon__freeXP-small_ca {
    transform: translateY(1rem);
}
.Currency_icon__freeXP-big_21 {
    --icon-height: 24rem;
    margin-left: -5rem;
    background-image: url('R.images.gui.maps.icons.library.freeXPIconBig24x24');
}
.Currency_icon__freeXP-large_c8 {
    --icon-height: 48rem;
    margin: 0 -5rem 0 -6rem;
    background-image: url('R.images.gui.maps.shop.rewards.c_48x48.freeExp');
}
.Currency_icon__freeXP-extraLarge_58 {
    --icon-height: 80rem;
    margin: 0 -5rem;
    background-image: url('R.images.gui.maps.icons.library.free_xp_icon_80x80');
}
.Currency_base__extraLarge_4d .Currency_icon__freeXP-extraLarge_58 {
    transform: translateY(4rem);
}
.Currency_icon__equipCoin-small_32 {
    --icon-height: 16rem;
    margin-right: -2rem;
    background-image: url('R.images.gui.maps.icons.library.equipCoin_1');
}
.Currency_base__small_af .Currency_icon__equipCoin-small_32 {
    transform: translateX(-1rem) translateY(1rem);
}
.Currency_icon__equipCoin-big_79 {
    --icon-height: 24rem;
    background-image: url('R.images.gui.maps.icons.library.equipCoinBig');
}
.Currency_base__big_bc .Currency_icon__equipCoin-big_79 {
    transform: translateX(-5rem) translateY(3rem);
}
.Currency_icon__equipCoin-large_2c {
    --icon-height: 48rem;
    margin-right: 2rem;
    background-image: url('R.images.gui.maps.shop.rewards.c_48x48.equipCoin');
}
.Currency_icon__equipCoin-extraLarge_8a {
    --icon-height: 80rem;
    margin-right: 8rem;
    background-image: url('R.images.gui.maps.icons.library.equipCoin_icon_80x80');
}
.Currency_base__extraLarge_4d .Currency_icon__equipCoin-extraLarge_8a {
    transform: translateX(2rem) translateY(4rem);
}
.Currency_value_e1 {
    /* font-size inherit does not work here, so 1em means the size does not change */
    /* stylelint-disable-next-line */
    --font-size: 1em;
    font-size: var(--font-size);
    position: relative;
    z-index: 2;
}
.Currency_base__small_af .Currency_value_e1 {
    padding-right: 2rem;
}
.Currency_base__big_bc .Currency_value_e1 {
    --font-size: 24rem;
    padding-right: 5rem;
    font-weight: 700;
}
.Currency_base__big_bc .Currency_value_e1 + .Currency_icon_c5 {
    font-size: 24rem;
}
.Currency_base__large_65 .Currency_value_e1 {
    --font-size: 36rem;
    font-weight: 700;
}
.Currency_base__large_65 .Currency_value_e1 + .Currency_icon_c5 {
    font-size: 36rem;
}
.Currency_base__extraLarge_4d .Currency_value_e1 {
    --font-size: 56rem;
    font-weight: 700;
}
.Currency_value__freeXP_cb {
    color: #f2f2f7;
}
.Currency_value__credits_76 {
    color: #ced9d9;
}
.Currency_value__gold_dd {
    color: #ffc363;
}
.Currency_value__xp_b0,
.Currency_value__crystal_19,
.Currency_value__equipCoin_d0 {
    color: #c9c9b6;
}
.Currency_base__small_af .Currency_value__notEnough_56 {
    color: #ff2717;
}
.Currency_base__big_bc .Currency_value__notEnough_56 {
    color: #b70000;
}
.Currency_base__large_65 .Currency_value__notEnough_56 {
    color: #b70000;
}
.Currency_base__extraLarge_4d .Currency_value__notEnough_56 {
    color: #b70000;
}
.Currency_stock_87 {
    height: 13rem;
    color: #ffdd99;
    font-size: 13rem;
    line-height: 1;
    position: relative;
    z-index: 0;
    pointer-events: none;
}
.Currency_stock__indent_a1 {
    margin-left: 2rem;
}
.Currency_base__small_af .Currency_stock_87 {
    transform: translateY(0rem);
}
.Currency_base__big_bc .Currency_stock_87 {
    transform: translateY(4rem);
}
.Currency_base__large_65 .Currency_stock_87 {
    transform: translateY(10rem);
}
.Currency_base__extraLarge_4d .Currency_stock_87 {
    transform: translateY(18rem);
}
.Currency_stock__interactive_93 {
    pointer-events: auto;
}
.Currency_stockBackground_82 {
    width: 80rem;
    height: 45rem;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    right: -27rem;
    bottom: 0;
    z-index: -1;
    transform: translateY(17rem);
}

.ExtendedText_base_71 {
    display: flex;
    line-height: 1.2;
    position: relative;
}

.ExtendedText_base__zeroPadding_25 {
    padding: 0;
}

.ExtendedText_base__isTruncationAvailable_5b {
    width: 100%;
}

.ExtendedText_truncated_97 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
}

.ExtendedText_truncated__hide_31 {
    opacity: 0;
}

.ExtendedText_unTruncated_b8 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    align-content: flex-start;
    color: #ff2717;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    pointer-events: none;
}

.colors_blackReal_fc {
    color: #000000;
}

.colors_whiteReal_31 {
    color: #ffffff;
}

.colors_white_45 {
    color: #f2f2f7;
}

.colors_whiteOrange_81 {
    color: #fefeec;
}

.colors_whiteSpanish_c3 {
    color: #e9e2bf;
}

.colors_par_5b {
    color: #8c8c7e;
}

.colors_parSecondary_fd {
    color: #595950;
}

.colors_parTertiary_97 {
    color: #37362e;
}

.colors_red_79 {
    color: #ff2717;
}

.colors_redDark_73 {
    color: #b70000;
}

.colors_yellow_76 {
    color: #feab34;
}

.colors_orange_cd {
    color: #ee7000;
}

.colors_cream_0f {
    color: #ffdd99;
}

.colors_brown_82 {
    color: #cbac77;
}

.colors_greenBright_68 {
    color: #80d43a;
}

.colors_green_fa {
    color: #7ab300;
}

.colors_greenDark_a9 {
    color: #497212;
}

.colors_blueBooster_26 {
    color: #ccffff;
}

.colors_blueTeamkiller_86 {
    color: #09e2ff;
}

.colors_cred_35 {
    color: #ced9d9;
}

.colors_gold_c3 {
    color: #ffc363;
}

.colors_bond_ce {
    color: #c9c9b6;
}

.colors_prom_83 {
    color: #a29b70;
}

.renderers_noBreakWrapper_10 {
    display: flex;
    flex-wrap: nowrap;
}

.renderers_lineBreak_b5 {
    width: 100%;
    height: 0;
}

.renderers_newLine_bd {
    flex: 1;
    width: 100%;
}

.TankName_base_f1 {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    line-height: 1.3;
}

.TankName_base__sizeMedium_3a {
    color: #fefeec;
    font-size: 24rem;
    font-weight: 400;
    line-height: 1.2;
}

.TankName_base__sizBig_a9 {
    color: #f2f2f7;
    font-size: 36rem;
    font-weight: 700;
    line-height: 1.1;
}

.TankName_base__typeWhite_32 {
    color: #f2f2f7;
}

.TankName_base__typeWhiteSpanish_e2 {
    color: #e9e2bf;
}

.TankName_base__typeColored_bc .TankName_level_bb {
    color: #e9e2bf;
}

.TankName_type_3c {
    width: 42rem;
    height: 38rem;
    margin: 0 -9rem;
    background: no-repeat center / contain;
    position: relative;
    top: -8rem;
}

.TankName_type__elite_cc {
    margin: 0 -6rem;
}

.TankName_base__sizeMedium_3a .TankName_type_3c,
.TankName_base__sizeBig_2b .TankName_type_3c {
    width: 83rem;
    height: 73rem;
    margin: 0 -23rem;
    top: -16rem;
}

.TankName_base__sizeMedium_3a .TankName_type__elite_cc,
.TankName_base__sizeBig_2b .TankName_type__elite_cc {
    margin: 0 -16rem;
}

.TankName_base__sizeBig_2b .TankName_type_3c {
    margin: 0 -23rem;
    top: -14rem;
}

.TankName_base__sizeBig_2b .TankName_type__elite_cc {
    margin: 0 -13rem;
}

.TankName_base__typeColored_bc .TankName_name_56 {
    color: #8c8c7e;
}

.TankName_base__tagPremiumIGR_26 .TankName_name_56 {
    padding-left: 13rem;
    background: url('R.images.gui.maps.icons.library.premium_igr_ico') no-repeat left 50% / 10rem 10rem;
}

.TankName_premiumIGR_25 {
    width: 10rem;
    height: 10rem;
    margin: 0 3rem 0 -2rem;
    background: url('R.images.gui.maps.icons.library.premium_igr_ico') no-repeat center / contain;
    position: relative;
    top: 5rem;
}

.VehicleSpecialization_base_2f {
    color: #595950;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    height: 20rem;
}

.VehicleSpecialization_tank_2e {
    align-items: center;
    position: relative;
    top: -1rem;
}

.VehicleSpecialization_tankIcon_df {
    top: 1rem;
}

.VehicleSpecialization_tankLevel_7c {
    color: #fefeec;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
}

.VehicleSpecialization_tankName_fc {
    color: #e9e2bf;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
}

.VehicleSpecialization_tankName__isPremium_fa {
    color: #ffc363;
}

.VehicleSpecialization_percent_7c {
    color: #e9e2bf;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
}

.VehicleSpecialization_base__withPenalty_b6 .VehicleSpecialization_percent_7c {
    color: #ff2717;
}

.TankmanTooltipApp_base_b9 {
    color: #8c8c7e;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    display: flex;
    flex-direction: column;
    width: 328rem;
    padding-top: 16rem;
    overflow: hidden;
    position: relative;
}

.TankmanTooltipApp_rankIcon_37 {
    opacity: 0.5;
    position: absolute;
    top: -28rem;
    right: -22rem;
}

.TankmanTooltipApp_header_e2 {
    padding: 0 20rem 11rem;
}

.TankmanTooltipApp_content_68 {
    padding: 16rem 20rem;
}

.TankmanTooltipApp_specializationItem_ec {
    margin-top: 7rem;
}

.TankmanTooltipApp_restoreInfoSection_68,
.TankmanTooltipApp_commanderSection_0b {
    padding: 13rem 20rem 16rem;
}

.TankmanTooltipApp_commanderFeatures_de {
    margin-top: 11rem;
}

.TankmanTooltipApp_restoreInfo_26 {
    color: #595950;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    margin-top: 4rem;
}

.TankmanTooltipApp_footer_35 {
    padding: 15rem 14rem;
}
