/* stylelint-disable */
/* stylelint-enable */
.CosmicBattleHelpViewApp_cff_splash_ad {
    color: #b3f6fe;
    font-family: 'Wix Madefor Display', sans-serif;
    font-size: 110rem;
    font-weight: 700;
    line-height: normal;
}
.CosmicBattleHelpViewApp_cff_splash_small_5a {
    color: #b3f6fe;
    font-family: 'Wix Madefor Display', sans-serif;
    font-size: 76rem;
    font-weight: 700;
    line-height: normal;
}
.CosmicBattleHelpViewApp_cff_title_3e {
    color: #b3f6fe;
    font-family: 'Wix Madefor Display', sans-serif;
    font-size: 48rem;
    font-weight: 400;
    line-height: normal;
}
.CosmicBattleHelpViewApp_cff_heading_e8 {
    color: #b3f6fe;
    font-family: 'Wix Madefor Display', sans-serif;
    font-size: 32rem;
    font-weight: 400;
    line-height: normal;
}
.CosmicBattleHelpViewApp_cff_heading_small_10 {
    color: #b3f6fe;
    font-family: 'Wix Madefor Display', sans-serif;
    font-size: 24rem;
    font-weight: 400;
    line-height: normal;
}
.CosmicBattleHelpViewApp_cff_body_7d {
    color: #b3f6fe;
    font-family: 'Wix Madefor Display', sans-serif;
    font-size: 18rem;
    font-weight: 400;
    line-height: normal;
}
.CosmicBattleHelpViewApp_cff_emphasis_bc {
    color: #b3f6fe;
    font-family: 'Wix Madefor Display', sans-serif;
    font-size: 18rem;
    font-weight: 700;
    line-height: normal;
}
.CosmicBattleHelpViewApp_cff_emphasis_small_6e {
    color: #b3f6fe;
    font-family: 'Wix Madefor Display', sans-serif;
    font-size: 16rem;
    font-weight: 700;
    line-height: normal;
}
.CosmicBattleHelpViewApp_cff_body_small_ee {
    color: #b3f6fe;
    font-family: 'Wix Madefor Display', sans-serif;
    font-size: 12rem;
    font-weight: 400;
    line-height: normal;
}
.CosmicBattleHelpViewApp_cff_player_03 {
    color: #b3f6fe;
    font-family: 'Wix Madefor Display', sans-serif;
    font-size: 12rem;
    font-weight: 600;
    line-height: normal;
}
.CosmicBattleHelpViewApp_cff_decorative_title_56 {
    color: #b3f6fe;
    font-family: 'Wix Madefor Display', sans-serif;
    font-size: 6rem;
    font-weight: 400;
    line-height: normal;
}
.CosmicBattleHelpViewApp_cff_decorative_body_75 {
    color: #b3f6fe;
    font-family: 'Wix Madefor Display', sans-serif;
    font-size: 4rem;
    font-weight: 400;
    line-height: normal;
}
.CosmicBattleHelpViewApp_boxImage_e5 {
    width: 100%;
    height: 100%;
}
.CosmicBattleHelpViewApp_transparent_f7 {
    opacity: 0;
}
.CosmicBattleHelpViewApp_fade_in_aa {
    animation-name: CosmicBattleHelpViewApp_fade_in_aa;
    animation-duration: 300ms;
    animation-fill-mode: both;
    animation-timing-function: ease-out;
}
.CosmicBattleHelpViewApp_fade_from_left_85 {
    animation-name: CosmicBattleHelpViewApp_fade_from_left_85;
    animation-duration: 300ms;
    animation-fill-mode: both;
    animation-timing-function: ease-out;
}
.CosmicBattleHelpViewApp_fade_from_bottom_8b {
    animation-name: CosmicBattleHelpViewApp_fade_from_bottom_8b;
    animation-duration: 300ms;
    animation-fill-mode: both;
    animation-timing-function: ease-out;
}
.CosmicBattleHelpViewApp_fade_out_7f {
    animation-name: CosmicBattleHelpViewApp_fade_out_7f;
    animation-duration: 300ms;
    animation-fill-mode: both;
    animation-timing-function: ease-out;
}
.CosmicBattleHelpViewApp_fade_to_left_11 {
    animation-name: CosmicBattleHelpViewApp_fade_to_left_11;
    animation-duration: 300ms;
    animation-fill-mode: both;
    animation-timing-function: ease-out;
}
.CosmicBattleHelpViewApp_fade_to_bottom_95 {
    animation-name: CosmicBattleHelpViewApp_fade_to_bottom_95;
    animation-duration: 300ms;
    animation-fill-mode: both;
    animation-timing-function: ease-out;
}
.CosmicBattleHelpViewApp_delay_100_d2 {
    animation-delay: 100ms;
}
.CosmicBattleHelpViewApp_delay_200_07 {
    animation-delay: 200ms;
}
.CosmicBattleHelpViewApp_delay_300_a5 {
    animation-delay: 300ms;
}
.CosmicBattleHelpViewApp_delay_400_f6 {
    animation-delay: 400ms;
}
.CosmicBattleHelpViewApp_delay_500_0d {
    animation-delay: 500ms;
}
.CosmicBattleHelpViewApp_delay_600_d6 {
    animation-delay: 600ms;
}
.CosmicBattleHelpViewApp_delay_700_4c {
    animation-delay: 700ms;
}
.CosmicBattleHelpViewApp_delay_800_88 {
    animation-delay: 800ms;
}
.CosmicBattleHelpViewApp_delay_1000_9a {
    animation-delay: 1000ms;
}
.CosmicBattleHelpViewApp_delay_1250_99 {
    animation-delay: 1250ms;
}
.CosmicBattleHelpViewApp_delay_1500_da {
    animation-delay: 1500ms;
}
.CosmicBattleHelpViewApp_delay_3000_95 {
    animation-delay: 3000ms;
}
.CosmicBattleHelpViewApp_glitch_7c {
    animation-name: CosmicBattleHelpViewApp_glitch_7c;
    animation-duration: 3500ms;
    animation-iteration-count: infinite;
}
@keyframes CosmicBattleHelpViewApp_fade_in_aa {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
@keyframes CosmicBattleHelpViewApp_fade_from_left_85 {
    from {
        opacity: 0;
        transform: translateX(-100rem);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes CosmicBattleHelpViewApp_fade_from_bottom_8b {
    from {
        opacity: 0;
        transform: translateY(50rem);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes CosmicBattleHelpViewApp_fade_out_7f {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}
@keyframes CosmicBattleHelpViewApp_fade_to_left_11 {
    from {
        opacity: 1;
        transform: translateX(0);
    }

    to {
        opacity: 0;
        transform: translateX(-100rem);
    }
}
@keyframes CosmicBattleHelpViewApp_fade_to_bottom_95 {
    from {
        opacity: 1;
        transform: translateX(0);
    }

    to {
        opacity: 0;
        transform: translateY(50rem);
    }
}
@keyframes CosmicBattleHelpViewApp_glitch_7c {
    0% {
        opacity: 1;
        transform: none;
    }

    7% {
        opacity: 0.75;
        transform: matrix(1, -0.01, -0.01, 1, 0, 0);
    }

    10% {
        opacity: 1;
        transform: none;
    }

    27% {
        opacity: 1;
        transform: none;
    }

    30% {
        opacity: 0.75;
        transform: matrix(1, -0.01, 0, 1, 0, 0);
    }

    35% {
        opacity: 1;
        transform: none;
    }

    52% {
        opacity: 1;
        transform: none;
    }

    55% {
        opacity: 0.75;
        transform: matrix(1, 0.02, -0.02, 1, 0, 0);
    }

    50% {
        opacity: 1;
        transform: none;
    }

    72% {
        opacity: 1;
        transform: none;
    }

    75% {
        opacity: 0.75;
        transform: matrix(1, -0.04, -0.02, 1, 0, 0);
    }

    80% {
        opacity: 1;
        transform: none;
    }

    100% {
        opacity: 1;
        transform: none;
    }
}
@keyframes CosmicBattleHelpViewApp_glitch1_ae {
    0% {
        opacity: 0;
        transform: translateX(-4rem);
    }

    7% {
        opacity: 0.75;
        transform: translateX(-4rem);
    }

    10% {
        opacity: 1;
        transform: translateX(-4rem);
    }

    27% {
        opacity: 0;
        transform: translateX(-4rem);
    }

    30% {
        opacity: 0.75;
        transform: translateX(-4rem);
    }

    35% {
        opacity: 0;
        transform: translateX(-4rem);
    }

    52% {
        opacity: 0;
        transform: translateX(-4rem);
    }

    55% {
        opacity: 0;
        transform: translateX(-4rem);
    }

    50% {
        opacity: 1;
        transform: translateX(-4rem);
    }

    72% {
        opacity: 0;
        transform: translateX(-4rem);
    }

    75% {
        opacity: 0.75;
        transform: translateX(-4rem);
    }

    80% {
        opacity: 1;
        transform: translateX(-4rem);
    }

    100% {
        opacity: 0;
        transform: translateX(-4rem);
    }
}
@keyframes CosmicBattleHelpViewApp_glitch2_b3 {
    0% {
        opacity: 0.25;
        transform: translateX(4rem);
    }

    7% {
        opacity: 0.5;
        transform: translate(6rem, -1rem);
    }

    10% {
        opacity: 0.25;
        transform: translateX(4rem);
    }

    27% {
        opacity: 0.25;
        transform: translateX(4rem);
    }

    30% {
        opacity: 0.5;
        transform: translate(2rem, -2rem);
    }

    35% {
        opacity: 0.25;
        transform: translateX(4rem);
    }

    52% {
        opacity: 0.25;
        transform: translateX(4rem);
    }

    55% {
        opacity: 0.5;
        transform: translate(2rem, -1rem);
    }

    50% {
        opacity: 0.25;
        transform: translateX(4rem);
    }

    72% {
        opacity: 0.25;
        transform: translateX(4rem);
    }

    75% {
        opacity: 0.5;
        transform: translate(6rem, -6rem);
    }

    80% {
        opacity: 0.25;
        transform: translateX(4rem);
    }

    100% {
        opacity: 0.25;
        transform: translateX(4rem);
    }
}
@keyframes CosmicBattleHelpViewApp_glitch3_2e {
    0% {
        opacity: 1;
    }

    7% {
        opacity: 1;
    }

    8% {
        opacity: 0.8;
    }

    10% {
        opacity: 1;
    }

    74% {
        opacity: 1;
    }

    75% {
        opacity: 0.3;
    }

    77% {
        opacity: 1;
    }
}
/* CFF colors are not defined in JS and SCSS map throws an error, so I hardcoded them */
.CosmicBattleHelpViewApp_CFF_MAIN_32 {
    color: #b3f6fe;
}
.CosmicBattleHelpViewApp_CFF_SUPPORT_b4 {
    color: #03ffff;
}
.CosmicBattleHelpViewApp_CFF_DONE_f3 {
    color: #4fff4c;
}
.CosmicBattleHelpViewApp_CFF_PHASE_65 {
    color: #d3ff4c;
}
.CosmicBattleHelpViewApp_CFF_IMPORTANT_a2 {
    color: #ffde96;
}
.CosmicBattleHelpViewApp_CFF_HERO_27 {
    color: #ffb64c;
}
.CosmicBattleHelpViewApp_CFF_ATTENTION_c6 {
    color: #ed1f36;
}
.CosmicBattleHelpViewApp_CFF_BACKGROUND_3a {
    color: #091929;
}
.CosmicBattleHelpViewApp_CFF_MINE_5f {
    color: #ff595a;
}
.CosmicBattleHelpViewApp_CFF_VORTEX_00 {
    color: #ef3dff;
}
.CosmicBattleHelpViewApp_CFF_BARRIER_7c {
    color: #3dbdff;
}
.CosmicBattleHelpViewApp_CFF_JUMP_be {
    color: #3dff91;
}
.CosmicBattleHelpViewApp_base_1d {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.75);
}
.CosmicBattleHelpViewApp_titleWrapper_c3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-left: 69rem;
    margin-top: 110rem;
}
.mediaLarge .CosmicBattleHelpViewApp_titleWrapper_c3 {
    margin-top: 150rem;
}
.CosmicBattleHelpViewApp_titleWrapper_title_d7 {
    color: #b3f6fe;
    font-family: 'Wix Madefor Display', sans-serif;
    font-size: 32rem;
    font-weight: 400;
    line-height: normal;
}
.mediaMedium .CosmicBattleHelpViewApp_titleWrapper_title_d7 {
    color: #b3f6fe;
    font-family: 'Wix Madefor Display', sans-serif;
    font-size: 48rem;
    font-weight: 400;
    line-height: normal;
}
.CosmicBattleHelpViewApp_titleWrapper_dots_12 {
    flex: 1 1 auto;
    width: 35rem;
    height: 5rem;
    margin-left: 22rem;
    margin-top: 14rem;
    background: rgba(3, 255, 255, 0.1)
        linear-gradient(90deg, transparent 0rem, transparent 42rem, #d3ff4c 42rem, #d3ff4c 47rem) 0 0 / 47rem 5rem
        no-repeat;
    position: relative;
}
.mediaMedium .CosmicBattleHelpViewApp_titleWrapper_dots_12 {
    width: 47rem;
}
.CosmicBattleHelpViewApp_titleWrapper_dot1_4f,
.CosmicBattleHelpViewApp_titleWrapper_dot2_4c,
.CosmicBattleHelpViewApp_titleWrapper_dot3_73,
.CosmicBattleHelpViewApp_titleWrapper_dot4_96 {
    width: 5rem;
    height: 5rem;
    position: absolute;
    top: 0;
    left: 0;
}
.CosmicBattleHelpViewApp_titleWrapper_dot1_4f {
    background-color: #03ffff;
    animation: CosmicBattleHelpViewApp_slide1_10 2s steps(6) -0.6s infinite both;
}
.CosmicBattleHelpViewApp_titleWrapper_dot2_4c {
    background-color: #b3f6fe;
    animation: CosmicBattleHelpViewApp_slide2_35 0.5s steps(10) -0.12s infinite both;
}
.CosmicBattleHelpViewApp_titleWrapper_dot3_73 {
    background-color: #03ffff;
    animation: CosmicBattleHelpViewApp_slide3_ec 1s steps(20) -1s infinite both;
}
.CosmicBattleHelpViewApp_titleWrapper_dot4_96 {
    background-color: #b3f6fe;
    animation: CosmicBattleHelpViewApp_slide4_ae 1.5s steps(6) -0.6s infinite both;
}
.CosmicBattleHelpViewApp_scoringWrapper_17 {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    margin-top: 71rem;
}
.mediaMedium .CosmicBattleHelpViewApp_scoringWrapper_17 {
    margin-top: 96rem;
}
.mediaLarge .CosmicBattleHelpViewApp_scoringWrapper_17 {
    margin-top: 112rem;
}
.mediaExtraLarge .CosmicBattleHelpViewApp_scoringWrapper_17 {
    margin-top: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.CosmicBattleHelpViewApp_scoringWrapper_group_ac {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.CosmicBattleHelpViewApp_scoringWrapper_group_background_2b {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.CosmicBattleHelpViewApp_scoringWrapper_group__importantOther_43 {
    justify-content: center;
    height: 105rem;
    margin-bottom: 6rem;
}
.mediaMedium .CosmicBattleHelpViewApp_scoringWrapper_group__importantOther_43 {
    height: 125rem;
}
.mediaLarge .CosmicBattleHelpViewApp_scoringWrapper_group__importantOther_43 {
    height: 149rem;
    margin-bottom: 10rem;
}
.CosmicBattleHelpViewApp_scoringWrapper_group__importantOther_43
    .CosmicBattleHelpViewApp_scoringWrapper_group_background_2b {
    background: linear-gradient(
            to bottom,
            rgba(255, 182, 76, 0.25) 0%,
            rgba(255, 182, 76, 0.25) 50%,
            rgba(255, 182, 76, 0) 50%,
            rgba(255, 182, 76, 0) 100%
        )
        0 0 / 100% 2rem repeat;
    mask-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0) 0%,
        rgba(255, 255, 255, 1) 50%,
        rgba(255, 255, 255, 1) 50%,
        rgba(0, 0, 0, 0) 100%
    );
}
.CosmicBattleHelpViewApp_scoringWrapper_group__importantKill_14 {
    justify-content: center;
    height: 105rem;
    margin-bottom: 25rem;
}
.mediaMedium .CosmicBattleHelpViewApp_scoringWrapper_group__importantKill_14 {
    height: 125rem;
}
.mediaLarge .CosmicBattleHelpViewApp_scoringWrapper_group__importantKill_14 {
    height: 149rem;
    margin-bottom: 35rem;
}
.CosmicBattleHelpViewApp_scoringWrapper_group__importantKill_14
    .CosmicBattleHelpViewApp_scoringWrapper_group_background_2b {
    background: linear-gradient(
            to bottom,
            rgba(3, 255, 255, 0.25) 0%,
            rgba(3, 255, 255, 0.25) 50%,
            rgba(255, 182, 76, 0) 50%,
            rgba(255, 182, 76, 0) 100%
        )
        0 0 / 100% 2rem repeat;
    mask-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0) 0%,
        rgba(255, 255, 255, 1) 50%,
        rgba(255, 255, 255, 1) 50%,
        rgba(0, 0, 0, 0) 100%
    );
}
@keyframes CosmicBattleHelpViewApp_slide1_10 {
    0% {
        left: 0%;
    }

    50% {
        left: 20%;
    }

    100% {
        left: 0%;
    }
}
@keyframes CosmicBattleHelpViewApp_slide2_35 {
    0% {
        left: 21%;
    }

    50% {
        left: 40%;
    }

    100% {
        left: 21%;
    }
}
@keyframes CosmicBattleHelpViewApp_slide3_ec {
    0% {
        left: 41%;
    }

    50% {
        left: 60%;
    }

    100% {
        left: 41%;
    }
}
@keyframes CosmicBattleHelpViewApp_slide4_ae {
    0% {
        left: 61%;
    }

    50% {
        left: 80%;
    }

    100% {
        left: 61%;
    }
}

/* stylelint-disable */
/* stylelint-enable */
.Scoring_cff_splash_9c {
    color: #b3f6fe;
    font-family: 'Wix Madefor Display', sans-serif;
    font-size: 110rem;
    font-weight: 700;
    line-height: normal;
}
.Scoring_cff_splash_small_db {
    color: #b3f6fe;
    font-family: 'Wix Madefor Display', sans-serif;
    font-size: 76rem;
    font-weight: 700;
    line-height: normal;
}
.Scoring_cff_title_0e {
    color: #b3f6fe;
    font-family: 'Wix Madefor Display', sans-serif;
    font-size: 48rem;
    font-weight: 400;
    line-height: normal;
}
.Scoring_cff_heading_52 {
    color: #b3f6fe;
    font-family: 'Wix Madefor Display', sans-serif;
    font-size: 32rem;
    font-weight: 400;
    line-height: normal;
}
.Scoring_cff_heading_small_6e {
    color: #b3f6fe;
    font-family: 'Wix Madefor Display', sans-serif;
    font-size: 24rem;
    font-weight: 400;
    line-height: normal;
}
.Scoring_cff_body_a3 {
    color: #b3f6fe;
    font-family: 'Wix Madefor Display', sans-serif;
    font-size: 18rem;
    font-weight: 400;
    line-height: normal;
}
.Scoring_cff_emphasis_e1 {
    color: #b3f6fe;
    font-family: 'Wix Madefor Display', sans-serif;
    font-size: 18rem;
    font-weight: 700;
    line-height: normal;
}
.Scoring_cff_emphasis_small_68 {
    color: #b3f6fe;
    font-family: 'Wix Madefor Display', sans-serif;
    font-size: 16rem;
    font-weight: 700;
    line-height: normal;
}
.Scoring_cff_body_small_90 {
    color: #b3f6fe;
    font-family: 'Wix Madefor Display', sans-serif;
    font-size: 12rem;
    font-weight: 400;
    line-height: normal;
}
.Scoring_cff_player_0a {
    color: #b3f6fe;
    font-family: 'Wix Madefor Display', sans-serif;
    font-size: 12rem;
    font-weight: 600;
    line-height: normal;
}
.Scoring_cff_decorative_title_bf {
    color: #b3f6fe;
    font-family: 'Wix Madefor Display', sans-serif;
    font-size: 6rem;
    font-weight: 400;
    line-height: normal;
}
.Scoring_cff_decorative_body_b3 {
    color: #b3f6fe;
    font-family: 'Wix Madefor Display', sans-serif;
    font-size: 4rem;
    font-weight: 400;
    line-height: normal;
}
.Scoring_boxImage_7e {
    width: 100%;
    height: 100%;
}
.Scoring_transparent_f0 {
    opacity: 0;
}
.Scoring_fade_in_04 {
    animation-name: Scoring_fade_in_04;
    animation-duration: 300ms;
    animation-fill-mode: both;
    animation-timing-function: ease-out;
}
.Scoring_fade_from_left_f3 {
    animation-name: Scoring_fade_from_left_f3;
    animation-duration: 300ms;
    animation-fill-mode: both;
    animation-timing-function: ease-out;
}
.Scoring_fade_from_bottom_76 {
    animation-name: Scoring_fade_from_bottom_76;
    animation-duration: 300ms;
    animation-fill-mode: both;
    animation-timing-function: ease-out;
}
.Scoring_fade_out_e4 {
    animation-name: Scoring_fade_out_e4;
    animation-duration: 300ms;
    animation-fill-mode: both;
    animation-timing-function: ease-out;
}
.Scoring_fade_to_left_2c {
    animation-name: Scoring_fade_to_left_2c;
    animation-duration: 300ms;
    animation-fill-mode: both;
    animation-timing-function: ease-out;
}
.Scoring_fade_to_bottom_ac {
    animation-name: Scoring_fade_to_bottom_ac;
    animation-duration: 300ms;
    animation-fill-mode: both;
    animation-timing-function: ease-out;
}
.Scoring_delay_100_dc {
    animation-delay: 100ms;
}
.Scoring_delay_200_13 {
    animation-delay: 200ms;
}
.Scoring_delay_300_b8 {
    animation-delay: 300ms;
}
.Scoring_delay_400_5a {
    animation-delay: 400ms;
}
.Scoring_delay_500_dc {
    animation-delay: 500ms;
}
.Scoring_delay_600_0c {
    animation-delay: 600ms;
}
.Scoring_delay_700_a6 {
    animation-delay: 700ms;
}
.Scoring_delay_800_08 {
    animation-delay: 800ms;
}
.Scoring_delay_1000_46 {
    animation-delay: 1000ms;
}
.Scoring_delay_1250_6c {
    animation-delay: 1250ms;
}
.Scoring_delay_1500_ac {
    animation-delay: 1500ms;
}
.Scoring_delay_3000_f0 {
    animation-delay: 3000ms;
}
.Scoring_glitch_6b {
    animation-name: Scoring_glitch_6b;
    animation-duration: 3500ms;
    animation-iteration-count: infinite;
}
@keyframes Scoring_fade_in_04 {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
@keyframes Scoring_fade_from_left_f3 {
    from {
        opacity: 0;
        transform: translateX(-100rem);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes Scoring_fade_from_bottom_76 {
    from {
        opacity: 0;
        transform: translateY(50rem);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes Scoring_fade_out_e4 {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}
@keyframes Scoring_fade_to_left_2c {
    from {
        opacity: 1;
        transform: translateX(0);
    }

    to {
        opacity: 0;
        transform: translateX(-100rem);
    }
}
@keyframes Scoring_fade_to_bottom_ac {
    from {
        opacity: 1;
        transform: translateX(0);
    }

    to {
        opacity: 0;
        transform: translateY(50rem);
    }
}
@keyframes Scoring_glitch_6b {
    0% {
        opacity: 1;
        transform: none;
    }

    7% {
        opacity: 0.75;
        transform: matrix(1, -0.01, -0.01, 1, 0, 0);
    }

    10% {
        opacity: 1;
        transform: none;
    }

    27% {
        opacity: 1;
        transform: none;
    }

    30% {
        opacity: 0.75;
        transform: matrix(1, -0.01, 0, 1, 0, 0);
    }

    35% {
        opacity: 1;
        transform: none;
    }

    52% {
        opacity: 1;
        transform: none;
    }

    55% {
        opacity: 0.75;
        transform: matrix(1, 0.02, -0.02, 1, 0, 0);
    }

    50% {
        opacity: 1;
        transform: none;
    }

    72% {
        opacity: 1;
        transform: none;
    }

    75% {
        opacity: 0.75;
        transform: matrix(1, -0.04, -0.02, 1, 0, 0);
    }

    80% {
        opacity: 1;
        transform: none;
    }

    100% {
        opacity: 1;
        transform: none;
    }
}
@keyframes Scoring_glitch1_ab {
    0% {
        opacity: 0;
        transform: translateX(-4rem);
    }

    7% {
        opacity: 0.75;
        transform: translateX(-4rem);
    }

    10% {
        opacity: 1;
        transform: translateX(-4rem);
    }

    27% {
        opacity: 0;
        transform: translateX(-4rem);
    }

    30% {
        opacity: 0.75;
        transform: translateX(-4rem);
    }

    35% {
        opacity: 0;
        transform: translateX(-4rem);
    }

    52% {
        opacity: 0;
        transform: translateX(-4rem);
    }

    55% {
        opacity: 0;
        transform: translateX(-4rem);
    }

    50% {
        opacity: 1;
        transform: translateX(-4rem);
    }

    72% {
        opacity: 0;
        transform: translateX(-4rem);
    }

    75% {
        opacity: 0.75;
        transform: translateX(-4rem);
    }

    80% {
        opacity: 1;
        transform: translateX(-4rem);
    }

    100% {
        opacity: 0;
        transform: translateX(-4rem);
    }
}
@keyframes Scoring_glitch2_41 {
    0% {
        opacity: 0.25;
        transform: translateX(4rem);
    }

    7% {
        opacity: 0.5;
        transform: translate(6rem, -1rem);
    }

    10% {
        opacity: 0.25;
        transform: translateX(4rem);
    }

    27% {
        opacity: 0.25;
        transform: translateX(4rem);
    }

    30% {
        opacity: 0.5;
        transform: translate(2rem, -2rem);
    }

    35% {
        opacity: 0.25;
        transform: translateX(4rem);
    }

    52% {
        opacity: 0.25;
        transform: translateX(4rem);
    }

    55% {
        opacity: 0.5;
        transform: translate(2rem, -1rem);
    }

    50% {
        opacity: 0.25;
        transform: translateX(4rem);
    }

    72% {
        opacity: 0.25;
        transform: translateX(4rem);
    }

    75% {
        opacity: 0.5;
        transform: translate(6rem, -6rem);
    }

    80% {
        opacity: 0.25;
        transform: translateX(4rem);
    }

    100% {
        opacity: 0.25;
        transform: translateX(4rem);
    }
}
@keyframes Scoring_glitch3_71 {
    0% {
        opacity: 1;
    }

    7% {
        opacity: 1;
    }

    8% {
        opacity: 0.8;
    }

    10% {
        opacity: 1;
    }

    74% {
        opacity: 1;
    }

    75% {
        opacity: 0.3;
    }

    77% {
        opacity: 1;
    }
}
/* CFF colors are not defined in JS and SCSS map throws an error, so I hardcoded them */
.Scoring_CFF_MAIN_e8 {
    color: #b3f6fe;
}
.Scoring_CFF_SUPPORT_43 {
    color: #03ffff;
}
.Scoring_CFF_DONE_d7 {
    color: #4fff4c;
}
.Scoring_CFF_PHASE_2d {
    color: #d3ff4c;
}
.Scoring_CFF_IMPORTANT_ed {
    color: #ffde96;
}
.Scoring_CFF_HERO_f3 {
    color: #ffb64c;
}
.Scoring_CFF_ATTENTION_c5 {
    color: #ed1f36;
}
.Scoring_CFF_BACKGROUND_7d {
    color: #091929;
}
.Scoring_CFF_MINE_10 {
    color: #ff595a;
}
.Scoring_CFF_VORTEX_56 {
    color: #ef3dff;
}
.Scoring_CFF_BARRIER_f1 {
    color: #3dbdff;
}
.Scoring_CFF_JUMP_88 {
    color: #3dff91;
}
.Scoring_scoring_18 {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 550rem;
    margin-left: 200rem;
    position: relative;
    z-index: 1;
}
.Scoring_scoring_score_53 {
    width: 65rem;
    color: #b3f6fe;
    font-family: 'Wix Madefor Display', sans-serif;
    font-size: 24rem;
    font-weight: 400;
    line-height: normal;
    margin-right: 37rem;
    text-align: right;
}
.mediaLarge .Scoring_scoring_score_53 {
    color: #b3f6fe;
    font-family: 'Wix Madefor Display', sans-serif;
    font-size: 32rem;
    font-weight: 400;
    line-height: normal;
}
.Scoring_scoring_text_08 {
    color: #03ffff;
    font-family: 'Wix Madefor Display', sans-serif;
    font-size: 18rem;
    font-weight: 400;
    line-height: normal;
}
.Scoring_scoring_fragmentDelivering_7c .Scoring_scoring_score_53,
.Scoring_scoring_evacuation_ea .Scoring_scoring_score_53 {
    color: #ffde96;
}
.Scoring_scoring_fragmentDelivering_7c .Scoring_scoring_text_08,
.Scoring_scoring_evacuation_ea .Scoring_scoring_text_08 {
    color: #ffb64c;
    font-family: 'Wix Madefor Display', sans-serif;
    font-size: 18rem;
    font-weight: 400;
    line-height: normal;
}
.mediaMedium .Scoring_scoring_fragmentDelivering_7c .Scoring_scoring_text_08,
.mediaMedium .Scoring_scoring_evacuation_ea .Scoring_scoring_text_08 {
    color: #ffb64c;
    font-family: 'Wix Madefor Display', sans-serif;
    font-size: 24rem;
    font-weight: 400;
    line-height: normal;
}
.Scoring_scoring_kill_d9 .Scoring_scoring_text_08,
.Scoring_scoring_fragmentHolderKill_cf .Scoring_scoring_text_08 {
    color: #03ffff;
    font-family: 'Wix Madefor Display', sans-serif;
    font-size: 18rem;
    font-weight: 400;
    line-height: normal;
}
.mediaMedium .Scoring_scoring_kill_d9 .Scoring_scoring_text_08,
.mediaMedium .Scoring_scoring_fragmentHolderKill_cf .Scoring_scoring_text_08 {
    color: #03ffff;
    font-family: 'Wix Madefor Display', sans-serif;
    font-size: 24rem;
    font-weight: 400;
    line-height: normal;
}
