.FormatText_base_d0 {
    display: flex;
    flex-wrap: wrap;
}

.Content_base_91 {
    width: 500rem;
    min-height: 145rem;
    border: 1rem solid #f2f2e61a;
    border-radius: 2rem;
    background: linear-gradient(180deg, rgba(51, 51, 41, .3) 0%, rgba(51, 51, 41, 0) 16%, rgba(51, 51, 41, 0) 88%, rgba(51, 51, 41, .1) 100%),
    linear-gradient(0deg, #030200, #030200);
}

.Content_content_b9 {
    padding: 0 31rem;
}

.Content_title_17 {
    color: #E9E2BF;
    font-size: 15rem;
    font-weight: 700;
    line-height: 1.15;
    margin: 20rem 0 10rem;
}

.Content_markableText_70 {
    color: #E9E2BF;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
}

.Content_descriptionBlock_c4 {
    color: #8C8C7E;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
}

.TooltipDecorator_base_c9 {
    display: flex;
    position: absolute;
}

.TooltipDecorator_decorator_3d {
    padding: 4rem 6rem 8rem; /* border offset*/
    border-image-source: url('R.atlases.components.tooltip_background');
    border-image-slice: 24 fill;
    border-image-width: 24rem;
    position: relative;
}

.TooltipDecorator_decoratorContent_de {
    background-color: #000;
}

