.Header_base_81 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 50rem;
    color: #fff;
}
.mediaMedium .Header_base_81 {
    margin-top: 70rem;
}
.mediaLarge .Header_base_81 {
    margin-top: 75rem;
}
.mediaExtraLarge .Header_base_81 {
    margin-top: 105rem;
}

.Header_title_e6 {
    color: #f2f2f7;
    font-size: 56rem;
    font-weight: 700;
    line-height: 1.1;
}

.mediaMedium .Header_title_e6 {
    font-size: 73rem;
}

.Header_timerText_26 {
    color:;
    font-size: 20rem;
    font-weight: 400;
    line-height: 1.2;
}

.Header_timer_da {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16rem;
}

.Header_timerIcon_c4 {
    width: 13rem;
    height: 13rem;
    margin: 0 8rem -6rem 0;
    background: url('R.images.gui_lootboxes.gui.maps.welcomeScreen.time') no-repeat center / 100%;
}
