.TooltipAdvancedFooter_base_56 {
    display: flex;
    padding: 12rem 20rem 20rem;
}

.TooltipAdvancedFooter_altBtn_02 {
    width: 29rem;
    height: 26rem;
    margin-right: 8rem;
    background: url('R.images.gui.maps.icons.tooltip.tooltip_alt_btn') no-repeat center / cover;
}

