.TooltipDecorator_base_c9 {
    display: flex;
    position: absolute;
}

.TooltipDecorator_base__theme-default_6d .TooltipDecorator_decorator_3d {
    padding: 4rem 6rem 8rem;
    border-image-source: url('R.atlases.components.tooltip_background');
    border-image-slice: 24 fill;
    border-image-width: 24rem;
    position: relative;
}

.SkillUntrainedHeader_base_74 {
    display: flex;
}

.SkillUntrainedHeader_gradient_03 {
    width: 200rem;
    height: 144rem;
    background: radial-gradient(73% 76% at 0% 0%, rgba(177, 0, 21, 0.5) 0%, rgba(177, 0, 21, 0) 100%);
    position: absolute;
    top: 0;
    left: 0;
}

.SkillUntrainedHeader_icon_21 {
    width: 62rem;
    height: 40rem;
    margin: -7rem 10rem 0 -9rem;
    background: url('R.images.gui.maps.icons.tooltip.skill_untrained_icon') no-repeat center / cover;
}

.SkillUntrainedHeader_header_96 {
    color: #e9e2bf;
    font-size: 18rem;
    font-weight: 700;
    line-height: 1.1;
    margin-top: 3rem;
}

.SkillUntrainedAdditionalApp_base_a7 {
    display: flex;
    flex-direction: column;
    width: 360rem;
    position: relative;
}

.SkillUntrainedAdditionalApp_movie_74 {
    width: 350rem;
    height: 202rem;
    margin: 5rem;
    z-index: 2;
}

.SkillUntrainedAdditionalApp_header_db {
    padding: 17rem 20rem 8rem;
}

.SkillUntrainedAdditionalApp_description_93 {
    color: #8c8c7e;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    padding: 10rem 20rem 20rem;
}
