.TooltipDecorator_base_c9 {
    display: flex;
    position: absolute;
}

.TooltipDecorator_base__theme-default_6d .TooltipDecorator_decorator_3d {
    padding: 4rem 6rem 8rem;
    border-image-source: url('R.images.gui.maps.icons.tooltip.tooltip_background');
    border-image-slice: 24 fill;
    border-image-width: 24rem;
    position: relative;
}

.FormatText_base_d0 {
    display: flex;
    flex-wrap: wrap;
}

.Content_base_7d {
    display: flex;
    flex-direction: column;
    width: 390rem;
    padding: 20rem;
}

.Content_header_8e {
    color: #ee7000;
    font-size: 15rem;
    font-weight: 700;
    line-height: 1.15;
}

.Content_header__critical_93 {
    color: #ff2717;
}

.Content_description_66 {
    color: #8c8c7e;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    margin-top: 8rem;
}
