.App_base_3c {
    width: 100%;
    max-width: 292rem;
    height: 100%;
    max-height: 283rem;
    color: #fff;
}
.App_backShadow_1e {
    min-width: 292rem;
    min-height: 283rem;
    background-repeat: no-repeat;
    background-position: 0 80rem;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
    animation: App_opacityAnimation_f9 4s ease-in both;
}
.App_resultBackground_6f {
    min-width: 292rem;
    min-height: 42rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    top: 80rem;
    animation-name: App_resultBackgroundAnimation_e3, App_slideOut_a4;
    animation-duration: .5s, 3s;
    animation-fill-mode: both;
    animation-timing-function: ease-in;
    animation-delay: 0s, .5s;
}
.App_base__victory_a3 .App_resultBackground_6f {
    background-size: contain;
}
.App_base__defeat_1e .App_resultBackground_6f {
    background-size: contain;
}
.App_resultBackgroundFadeOut_e8 {
    min-width: 292rem;
    min-height: 42rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    top: 80rem;
    animation-name: App_resultBackgroundFadeOutAnimation_d0;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    animation-delay: .2s;
}
.App_base__victory_a3 .App_resultBackgroundFadeOut_e8 {
    background-size: contain;
}
.App_base__defeat_1e .App_resultBackgroundFadeOut_e8 {
    background-size: contain;
}
.App_result_50 {
    min-width: 292rem;
    color: #fff;
    font-size: 18rem;
    font-weight: 700;
    text-shadow: 0 0 12rem #fff;
    position: relative;
    top: 85rem;
    animation: App_resultAnimation_99 3s ease-out both .2s;
}
.App_base__victory_a3 .App_result_50 {
    color: #bae3ef;
    text-shadow: 0 0 12rem #009dcf;
}
.App_base__defeat_1e .App_result_50 {
    color: #d9caca;
    text-shadow: 0 0 12rem #fd0000;
}
.App_upperStatBase_f1 {
    min-width: 292rem;
    font-size: 14rem;
    position: relative;
    top: 90rem;
    left: 10rem;
}
.App_base__victory_a3 .App_upperStatBase_f1 {
    color: #bae3ef;
    text-shadow: 0 0 12rem #009dcf;
}
.App_base__defeat_1e .App_upperStatBase_f1 {
    color: #d9caca;
    text-shadow: 0 0 12rem #fd0000;
}
.App_lowerStatBase_4d {
    min-width: 292rem;
    padding-left: 25rem;
    background-position: left center;
    font-size: 14rem;
    position: relative;
    top: 100rem;
    left: 10rem;
}
.App_map_3b {
    animation: App_upperStatAnimation_81 3s ease-out both .5s;
}
.App_vehicle_0f {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 292rem;
    animation: App_upperStatAnimation_81 3s both .6s;
}
.App_credits_9c {
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
    animation: App_lowerStatAnimation_f0 3s both .7s;
}
.App_experience_44 {
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
    animation: App_lowerStatAnimation_f0 3s both .8s;
}
.App_crystals_47 {
    background-repeat: no-repeat;
    background-position: left top;
    background-size: contain;
    animation: App_lowerStatAnimation_f0 3s both .9s;
}
.App_upperGlow_f9 {
    min-width: 292rem;
    min-height: 283rem;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
    animation-name: App_opacityAnimation_f9;
    animation-duration: 4s;
    animation-fill-mode: both;
    animation-timing-function: ease-in;
}
.App_base__victory_a3 .App_upperGlow_f9 {
    background-size: contain;
}
.App_base__defeat_1e .App_upperGlow_f9 {
    background-size: contain;
}
.App_upperGlowFadeOut_81 {
    min-width: 292rem;
    min-height: 283rem;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
    animation-name: App_upperGlowFadeOutAnimation_a3;
    animation-duration: 1.5s;
    animation-fill-mode: both;
    animation-timing-function: ease-out;
    animation-delay: .2s;
}
.App_base__victory_a3 .App_upperGlowFadeOut_81 {
    background-size: contain;
}
.App_base__defeat_1e .App_upperGlowFadeOut_81 {
    background-size: contain;
}
.App_vehicleIcon_c5 {
    width: 16rem;
    height: 16rem;
}
@keyframes App_slideOut_a4 {
    from {
        margin-left: -1rem;

        /* if we don't specify units GF later complains about unit mismatch between from and to */
        /* stylelint-disable-next-line */
        left: 1rem;
    }

    to {
        left: -292rem;
    }
}
@keyframes App_resultBackgroundAnimation_e3 {
    0% {
        opacity: 0;
        transform: scaleX(1.5);
    }

    40% {
        opacity: 1;
        transform: scaleX(1.5);
    }

    100% {
        transform: scaleX(1);
    }
}
@keyframes App_resultBackgroundFadeOutAnimation_d0 {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}
@keyframes App_resultAnimation_99 {
    0% {
        opacity: 0;
        left: -20rem;
    }

    20% {
        opacity: 1;
        left: 10rem;
    }

    80% {
        opacity: 1;
        left: 10rem;
    }

    100% {
        opacity: 0;
        left: -100rem;
    }
}
@keyframes App_opacityAnimation_f9 {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
@keyframes App_upperStatAnimation_81 {
    0% {
        opacity: 0;
        top: 70rem;
    }

    20% {
        opacity: 1;
        top: 90rem;
    }

    80% {
        opacity: 1;
        left: 10rem;
    }

    100% {
        opacity: 0;
        left: -100rem;
    }
}
@keyframes App_lowerStatAnimation_f0 {
    0% {
        opacity: 0;
        top: 80rem;
    }

    20% {
        opacity: 1;
        top: 100rem;
    }

    80% {
        opacity: 1;
        left: 10rem;
    }

    100% {
        opacity: 0;
        left: -100rem;
    }
}
@keyframes App_upperGlowFadeOutAnimation_a3 {
    from {
        opacity: .8;
        transform: scaleX(1.5);
    }

    to {
        opacity: 0;
        transform: scaleX(1);
    }
}

body {
    margin: 0;
    line-height: normal;
    overflow: hidden;
}

