.TooltipDecorator_base_c9 {
    display: flex;
    position: absolute;
}

.TooltipDecorator_base__theme-default_6d .TooltipDecorator_decorator_3d {
        padding: 4rem 6rem 8rem;
        border-image-source: url('R.atlases.components.tooltip_background');
        border-image-slice: 24 fill;
        border-image-width: 24rem;
        position: relative;
    }

.Divided_base_06 {
    position: relative;
}

.Divided_divider_64 {
    width: 360rem;
    height: 1rem;
    background: url('R.images.gui.maps.icons.tooltip.tooltip_perks_divider') no-repeat center / cover;
    position: absolute;
    bottom: 0;
    left: 0;
}

.default_asterisk_d6 {
    width: 16rem;
    height: 16rem;
    background: url('R.images.gui.maps.icons.tooltip.asterisk_optional') no-repeat center / cover;
}

.default_zeroPerk_bb {
    width: 16rem;
    height: 16rem;
    background: url('R.images.gui.maps.icons.tankmen.crew.zeroSkill16x16') no-repeat center / cover;
}

.HeaderSection_base_f2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8rem 20rem;
}

.HeaderSection_image_2d {
    width: 52rem;
    height: 52rem;
    margin-right: 8rem;
    background: no-repeat center /cover;
}

.HeaderSection_textContainer_7d {
    display: flex;
    flex-direction: column;
}

.HeaderSection_title_b8 {
    color: #E9E2BF;
    font-size: 18rem;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 2rem;
}

.HeaderSection_subtitle_a6 {
    display: flex;
    align-items: center;
}

.ExtendedText_base_71 {
    display: flex;
    line-height: 1.2;
    position: relative;
}

    .ExtendedText_base__zeroPadding_25 {
        padding: 0;
    }

    .ExtendedText_base__isTruncationAvailable_5b {
        width: 100%;
    }

.ExtendedText_truncated_97 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
}

.ExtendedText_truncated__hide_31 {
        opacity: 0;
    }

.ExtendedText_unTruncated_b8 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    align-content: flex-start;
    color: #FF2717;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    pointer-events: none;
}

.colors_blackReal_fc {
    color: #000000;
}

.colors_whiteReal_31 {
    color: #FFFFFF;
}

.colors_white_45 {
    color: #F2F2F7;
}

.colors_whiteOrange_81 {
    color: #FEFEEC;
}

.colors_whiteSpanish_c3 {
    color: #E9E2BF;
}

.colors_par_5b {
    color: #8C8C7E;
}

.colors_parSecondary_fd {
    color: #595950;
}

.colors_parTertiary_97 {
    color: #37362E;
}

.colors_red_79 {
    color: #FF2717;
}

.colors_redDark_73 {
    color: #B70000;
}

.colors_yellow_76 {
    color: #FEAB34;
}

.colors_orange_cd {
    color: #EE7000;
}

.colors_cream_0f {
    color: #FFDD99;
}

.colors_brown_82 {
    color: #CBAC77;
}

.colors_greenBright_68 {
    color: #80D43A;
}

.colors_green_fa {
    color: #7AB300;
}

.colors_greenDark_a9 {
    color: #497212;
}

.colors_blueBooster_26 {
    color: #CCFFFF;
}

.colors_blueTeamkiller_86 {
    color: #09E2FF;
}

.colors_cred_35 {
    color: #CED9D9;
}

.colors_gold_c3 {
    color: #FFC363;
}

.colors_bond_ce {
    color: #C9C9B6;
}

.colors_prom_83 {
    color: #A29B70;
}

.renderers_noBreakWrapper_10 {
    display: flex;
    flex-wrap: nowrap;
}

.renderers_lineBreak_b5 {
    width: 100%;
    height: 0;
}

.renderers_newLine_bd {
    flex: 1;
    width: 100%;
}

.renderers_word_f3 {
    white-space: nowrap;
    overflow-wrap: normal;
}

.TooltipAdvancedFooter_base_d6 {
    display: flex;
    padding: 12rem 20rem 20rem;
}

.TooltipAdvancedFooter_altBtn_e0 {
    width: 29rem;
    height: 26rem;
    margin-right: 8rem;
    background: url('R.images.gui.maps.icons.tooltip.tooltip_alt_btn') no-repeat center / cover;
}

.SkillsSection_base_d2 {
    padding: 15rem 20rem 18rem;
}

.SkillsSection_skillsList_02 {
    margin-top: 6rem;
}

.SkillsSection_skill_8c {
    display: flex;
    padding: 0 12rem;
}

.SkillsSection_skill_8c + .SkillsSection_skill_8c {
        margin-top: 6rem;
    }

.SkillsSection_skillValue_42 {
    display: flex;
    justify-content: flex-end;
    min-width: 45rem;
    margin-right: 8rem;
}

.SkillsSection_skillValue__positive_24 {
        color: #80D43A;
    }

.SkillsSection_skillValue__neutral_97 {
        color: #FEAB34;
    }

.SkillsSection_skillText_7d {
    display: flex;
    flex: 1;
    color: #E9E2BF;
}

.TypeInfo_base_9e {
    display: flex;
    color: #595950;
}

.TypeInfo_asterisk_97 {
    margin-top: 1rem;
}

.TypeInfo_conditionalText_93 {
    flex: 0;
}

.TypeInfo_commonIcon_48 {
    width: 35rem;
    height: 26rem;
    margin: -3rem 0 0 -17rem;
    background: url('R.images.gui.maps.icons.tankmen.crew.crewOperations') no-repeat center / cover;
}

.TypeInfo_commonText_53 {
    margin-left: -4rem;
}

.ExtraInfo_base_55 {
    display: flex;
    flex-direction: column;
    padding: 8rem 20rem 12rem;
    color: #595950;
}

.ExtraInfo_zeroPerkBlock_01 {
    display: flex;
    margin-top: 8rem;
}

.ExtraInfo_zeroPerkIcon_63 {
    position: relative;
    top: 3rem;
    right: 1rem;
}

.MainContentSection_description_ac {
    padding: 20rem;
    background: url('R.images.gui.maps.icons.tooltip.tooltip_accent_bg') no-repeat center / cover;
}

.MainContentSection_irrelevant_99 {
    padding: 11rem 20rem;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.4) 0%, #000000 50%, rgba(0, 0, 0, 0.4) 100%);
    color: #FF2717;
    text-align: center;
}

.CrewPerksApp_base_b3 {
    color: #8C8C7E;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    width: 360rem;
    padding-right: 15rem;
    position: relative;
}

