.HorizontalBar_base_49 {
    display: flex;
    width: 100%;
    height: 13rem;
    position: relative;
}

    .HorizontalBar_base__nonActive_82 {
        visibility: hidden;
    }

    .HorizontalBar_base_49 .disable,
    .HorizontalBar_base_49 .disable:hover {
        opacity: .3;
        cursor: default;
    }

.HorizontalBar_leftButton_5f,
.HorizontalBar_rightButton_03 {
    width: 13rem;
    height: 13rem;
    border: 1rem solid #7e7b68;
    box-shadow: inset 0 0 1rem rgba(255,255,190, .3);
    background: no-repeat center / 7rem 5rem;
    opacity: .5;
    z-index: 1;
    transform: rotate(-90deg);
    transition: opacity 130ms linear;
    cursor: pointer;
}

.HorizontalBar_leftButton_5f:hover, .HorizontalBar_rightButton_03:hover {
        opacity: 1;
    }

.HorizontalBar_leftButton_5f {
    background-image: url('R.images.gui.maps.icons.components.scroll_area.arrow_top');
}

.HorizontalBar_rightButton_03 {
    background-image: url('R.images.gui.maps.icons.components.scroll_area.arrow_down');
}

.HorizontalBar_track_0d {
    flex: 1;
    margin: 0 1rem;
    position: relative;
    cursor: pointer;
}

.HorizontalBar_thumb_fd {
    display: none;
    flex: 0 0 100%;
    width: 100%;
    min-width: 20rem;
    height: 13rem;
    border: 1rem solid #7e7b68;
    box-shadow: inset 0 0 1rem rgba(255,255,190, .3);
    background: #26241b url('R.images.gui.maps.icons.components.scroll_area.thumb_horizontal') no-repeat center / 8rem 7rem;
    opacity: .5;
    position: absolute;
    z-index: 1;
    transition: opacity 130ms linear;
    cursor: pointer;
}

.HorizontalBar_thumb_fd:hover {
        opacity: 1;
    }

.HorizontalBar_rail_32 {
    height: 0;
    border-top: 1rem solid #2f2e24;
    position: absolute;
    top: 6rem;
    right: 5rem;
    left: 5rem;
}

.HorizontalBar_rail_32:hover {
        opacity: .7;
    }


.HorizontalScroll_base_29 {
    width: 100%;
}

.HorizontalScroll_wrapper_1e {
    display: flex;
    width: 100%;
    overflow-x: hidden;
}

.HorizontalScroll_defaultScrollArea_8d {
    width: 100%;
    margin-bottom: 7rem;
}

.VerticalBar_base_f3 {
    display: flex;
    flex-direction: column;
    width: 13rem;
    height: 100%;
    position: relative;
}

    .VerticalBar_base__nonActive_42 {
        visibility: hidden;
    }

    .VerticalBar_base_f3 .disable,
    .VerticalBar_base_f3 .disable:hover {
        opacity: .3;
        cursor: default;
    }

.VerticalBar_topButton_d7,
.VerticalBar_bottomButton_06 {
    width: 13rem;
    height: 13rem;
    border: 1rem solid #7e7b68;
    box-shadow: inset 0 0 1rem rgba(255,255,190, .3);
    background: no-repeat center / 7rem 5rem;
    opacity: .5;
    z-index: 1;
    transition: opacity 130ms linear;
    cursor: pointer;
}

.VerticalBar_topButton_d7:hover, .VerticalBar_bottomButton_06:hover {
        opacity: 1;
    }

.VerticalBar_topButton_d7 {
    background-image: url('R.images.gui.maps.icons.components.scroll_area.arrow_top');
}

.VerticalBar_bottomButton_06 {
    background-image: url('R.images.gui.maps.icons.components.scroll_area.arrow_down');
}

.VerticalBar_track_df {
    flex: 1;
    margin: 1rem 0;
    position: relative;
    cursor: pointer;
}

.VerticalBar_thumb_32 {
    display: none;
    flex: 0 0 13rem;
    width: 13rem;
    height: 100%;
    min-height: 20rem;
    border: 1rem solid #7e7b68;
    box-shadow: inset 0 0 1rem rgba(255,255,190, .3);
    background: #26241b url('R.images.gui.maps.icons.components.scroll_area.thumb') no-repeat center / 7rem 8rem;
    opacity: .5;
    position: absolute;
    z-index: 1;
    transition: opacity 130ms linear;
    cursor: pointer;
}

.VerticalBar_thumb_32:hover {
        opacity: 1;
    }

.VerticalBar_rail_43 {
    width: 0;
    height: 100%;
    border-left: 1rem solid #2f2e24;
    border-top: 5rem solid transparent;
    border-bottom: 5rem solid transparent;
    position: absolute;
    top: 0;
    left: 6rem;
    z-index: 0;
}

.VerticalBar_rail_43:hover {
        opacity: .7;
    }


.VerticalScroll_content_cb {
    height: 100%;
    overflow-y: hidden;
}

.VerticalScroll_defaultScroll_f8 {
    display: flex;
}

.VerticalScroll_bar_1e {
    flex: 1;
    margin-left: 7rem;
}

.VerticalScroll_area_af {
    flex: 1;
}

.ScrollWithLips_base_69 {
    position: relative;
}
.ScrollWithLips_scrollContent_19 {
    height: auto;
}
.ScrollWithLips_lip_90 {
    height: 96rem;
    background: url('R.images.gui.maps.icons.battlePass.buy.lip') no-repeat center center / cover;
    position: absolute;
    right: 50rem;
    left: 50rem;
    z-index: 2;
    pointer-events: none;
}
.mediaMedium .ScrollWithLips_lip_90 {
        height: 112rem;
        right: 20rem;
        left: 20rem;
}
.mediaLarge .ScrollWithLips_lip_90 {
        height: 144rem;
        right: 45rem;
        left: 45rem;
}
.ScrollWithLips_lip__top_ab {
        top: -1rem;
        transform: translate(0, -50%);
    }
.ScrollWithLips_lip__bottom_17 {
        bottom: 0;
        transform: translate(0, 50%) rotate(180deg);
    }
.ScrollWithLips_scroll_7e {
    visibility: hidden;
}
.ScrollWithLips_scroll__loaded_b2 {
        visibility: visible;
    }
.ScrollWithLips_topButton_4e {
    background: #26241b url('R.images.gui.maps.icons.components.scroll_area.arrow_top') no-repeat center / 7rem 5rem;
}
.ScrollWithLips_bottomButton_1e {
    background: #26241b url('R.images.gui.maps.icons.components.scroll_area.arrow_down') no-repeat center / 7rem 5rem;
}
.ScrollWithLips_track_4f {
    margin: 0 0 1rem;
}

