.App_base_fc {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 1rem;
}

.App_content_cb {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 352rem;
    height: 56rem;
    background: url('R.images.gui.maps.icons.comp7.icons.modifierBackground') no-repeat center / cover;
    overflow: hidden;
}

.App_description_f7 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 6rem;
}

.App_title_60 {
    color: rgba(255, 255, 255, 0.9);
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    margin-bottom: 1rem;
}

.App_name_4a {
    color: rgba(255, 255, 255, 0.9);
    font-size: 14rem;
    font-weight: 700;
    line-height: 1.15;
}

.App_icon_fe {
    width: 48rem;
    height: 48rem;
    margin-left: 6rem;
    margin-right: 22rem;
    background: url('R.images.gui.maps.icons.comp7.icons.shield') no-repeat center / cover;
}
