.TooltipDecorator_base_c9 {
    display: flex;
    position: absolute;
}

.TooltipDecorator_base__theme-default_6d .TooltipDecorator_decorator_3d {
    padding: 4rem 6rem 8rem;
    border-image-source: url('R.atlases.components.tooltip_background');
    border-image-slice: 24 fill;
    border-image-width: 24rem;
    position: relative;
}

.Content_base_c2 {
    line-height: normal;
}
.Content_separator_89 {
    width: 283rem;
    height: 1rem;
    background: url('R.images.gui.maps.icons.battlePass.tooltips.Devider_points') 50% / contain no-repeat;
}
.Content_rewards_43 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 403rem;
    height: 154rem;
    background: url('R.images.gui.maps.icons.battlePass.tooltips.Ribbon_large') bottom / cover no-repeat;
    color: #c9c9b6;
    font-size: 14rem;
}
.Content_base_c2 {
    width: 420rem;
    padding: 11rem 20rem 8rem;
}
.Content_image_47 {
    width: 100%;
    height: 222rem;
    margin-bottom: 12rem;
    background: url('R.images.gui.maps.icons.battlePass.rewards.bpcoin') no-repeat 50% / contain;
}
.Content_section_56 {
    display: flex;
    flex-direction: column;
    background: linear-gradient(
        90deg,
        transparent,
        rgba(201, 201, 182, 0.07) 37%,
        rgba(201, 201, 182, 0.07) 63%,
        transparent
    );
}
.Content_title_54 {
    color: #e9e2bf;
    font-size: 18rem;
    font-weight: 700;
    line-height: 1.1;
    margin: 18rem 0 12rem;
}
.Content_text_30 {
    color: #8c8c7e;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    margin-bottom: 20rem;
    line-height: 1.5;
}
.Content_secondaryText_18 {
    color: #595950;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    display: flex;
    flex-direction: column;
    margin: 16rem 0 17rem;
    line-height: 1.5;
}
