.TextButton_base_b6 {
    display: flex;
    align-items: center;
    padding: 0 3rem;
    font-size: 12rem;
    position: relative;
    cursor: pointer;
}

.TextButton_base__right_39 {
    flex-direction: row-reverse;
}
.TextButton_icon_17 {
    width: 32rem;
    height: 32rem;
    background: no-repeat center / contain;
    position: relative;
}
.TextButton_icon__back_43,
.TextButton_icon__forward_59 {
    margin: -1rem -5rem;
    background-image: url('R.images.gui.maps.icons.components.text_button.back');
    transform: translateY(1rem);
}
.TextButton_icon__forward_59 {
    transform: rotate(180deg) translateY(1rem);
}
.TextButton_icon__close_53 {
    margin: -1rem 0;
    background-image: url('R.images.gui.maps.icons.components.text_button.close');
}
.TextButton_icon__info_33 {
    margin: -1rem -5rem;
    background-image: url('R.images.gui.maps.icons.components.text_button.info');
}
.TextButton_glow_a4 {
    width: 100%;
    height: 100%;
    background: no-repeat center / contain;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity 0.16s;
}
.TextButton_icon__back_43 .TextButton_glow_a4,
.TextButton_icon__forward_59 .TextButton_glow_a4 {
    background-image: url('R.images.gui.maps.icons.components.text_button.back_hover');
}
.TextButton_icon__close_53 .TextButton_glow_a4 {
    background-image: url('R.images.gui.maps.icons.components.text_button.close_hover');
}
.TextButton_icon__info_33 .TextButton_glow_a4 {
    background-image: url('R.images.gui.maps.icons.components.text_button.info_hover');
}
.TextButton_base_b6:hover .TextButton_glow_a4 {
    opacity: 1;
}
.TextButton_base_b6:active .TextButton_glow_a4 {
    opacity: 0;
}
.TextButton_caption_82 {
    position: relative;
    transition:
        color 0.16s,
        text-shadow 0.16s;
}
.TextButton_caption__back_b9,
.TextButton_caption__forward_4e,
.TextButton_caption__close_36 {
    color: #ffdd99;
    text-shadow:
        0 0 10rem rgba(255, 42, 0, 1),
        0 0 10rem rgba(255, 42, 0, 0.4),
        0 0 10rem rgba(255, 42, 0, 0.4),
        0 0 2rem rgba(255, 42, 0, 0.4),
        0 0 1rem rgba(255, 42, 0, 0.4),
        0 0 2rem rgba(255, 42, 0, 0.4),
        0 0 1rem rgba(255, 42, 0, 0.4);
}
.TextButton_base_b6:hover .TextButton_caption__back_b9,
.TextButton_base_b6:hover .TextButton_caption__forward_4e,
.TextButton_base_b6:hover .TextButton_caption__close_36 {
    color: #fffa9f;
}
.TextButton_base_b6:active .TextButton_caption__back_b9,
.TextButton_base_b6:active .TextButton_caption__forward_4e,
.TextButton_base_b6:active .TextButton_caption__close_36 {
    color: #ffdd99;
}
.TextButton_caption__info_23 {
    padding: 0 5rem;
    color: #ccffff;
    text-shadow:
        0 0 12rem rgba(31, 68, 255, 0.8),
        0 0 8rem #00eaff;
}
.TextButton_base_b6:hover .TextButton_caption__info_23 {
    color: #e3ffff;
    text-shadow:
        0 0 12rem rgba(31, 68, 255, 0.8),
        0 0 12rem rgba(0, 234, 255, 1),
        0 0 8rem #00eaff;
}
.TextButton_base_b6:active .TextButton_caption__info_23 {
    color: #ccffff;
    text-shadow:
        0 0 12rem rgba(31, 68, 255, 0.6),
        0 0 8rem #00eaff;
}
.TextButton_goto_e7 {
    color: #7c7c6c;
}
.TextButton_base__left_ff .TextButton_goto_e7 {
    margin-left: 8rem;
}
.TextButton_base__right_39 .TextButton_goto_e7 {
    margin-right: 8rem;
}
.TextButton_shine_e2 {
    width: 90rem;
    height: 40rem;
    background: url('R.images.gui.maps.icons.components.text_button.shine') no-repeat center / contain;
    opacity: 0;
    position: absolute;
    top: -4rem;
    transition: opacity 0.16s;
    pointer-events: none;
}
.TextButton_base__left_ff .TextButton_shine_e2 {
    left: -4rem;
}
.TextButton_base__right_39 .TextButton_shine_e2 {
    right: -4rem;
    transform: rotate(180deg);
}
.TextButton_base_b6:hover .TextButton_shine_e2 {
    opacity: 1;
}
.TextButton_base_b6:active .TextButton_shine_e2 {
    opacity: 0;
}

.SceneWrapper_base_a5 {
    width: 100%;
    height: 100vh;
    cursor: grab;
}

.SceneWrapper_grab_58 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.SceneWrapper_grab__down_ce {
    cursor: all-scroll;
}

.BattleMode_base_fe {
    width: 1108rem;
    height: 80rem;
    background: url('R.images.historical_battles.gui.maps.icons.battleMode.bg') no-repeat 50% / contain;
    position: relative;
}

.mediaMedium .BattleMode_base_fe {
    width: 1392rem;
    height: 100rem;
}

.BattleMode_shadowContainer_53 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.BattleMode_shadowRight_0b {
    width: 50%;
    height: 100%;
    background: url('R.images.historical_battles.gui.maps.icons.hangar.shopButton.bg_right') no-repeat center / contain;
    opacity: 0;
    position: absolute;
    right: 0;
    transition: opacity ease-in-out 0.3s;
}

.BattleMode_shadowRight__hover_7e {
    opacity: 0.8;
}

.BattleMode_shadowLeft_54 {
    width: 50%;
    height: 100%;
    background: url('R.images.historical_battles.gui.maps.icons.hangar.shopButton.bg_left') no-repeat center / contain;
    opacity: 0;
    transition: opacity ease-in-out 0.3s;
}

.BattleMode_shadowLeft__hover_b8 {
    opacity: 0.8;
}

.BattleMode_disabledBg_8c {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url('R.images.historical_battles.gui.maps.icons.battleMode.bg_disabled') no-repeat 50% / contain;
    z-index: 1;
}

.BattleMode_buttonsPanel_4c {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.BattleMode_icon_af {
    width: 48rem;
    height: 48rem;
    opacity: 0.8;
    z-index: 1;
    transition: opacity ease-in-out 0.1s;
}

.mediaMedium .BattleMode_icon_af {
    width: 64rem;
    height: 64rem;
}

.BattleMode_icon_af.BattleMode_shopIcon_ce {
    background: url('R.images.historical_battles.gui.maps.icons.hangar.shopButton.shop_icon') no-repeat center / contain;
}

.BattleMode_icon_af.BattleMode_progressionIcon_37 {
    background: url('R.images.historical_battles.gui.maps.icons.hangar.shopButton.progress_icon') no-repeat center /
        contain;
}

.BattleMode_leftButtonContainer_19 {
    margin-right: 30rem;
    opacity: 0.8;
    transition: opacity 0.3s ease-in-out;
}

.BattleMode_leftButtonContainer_19:hover {
    opacity: 1;
}

.BattleMode_modeButton_91 {
    width: 233rem;
    height: 80rem;
}

.mediaMedium .BattleMode_modeButton_91 {
    width: 293rem;
    height: 100rem;
}

.BattleMode_rightButtonContainer_fd {
    margin-left: 30rem;
    opacity: 0.8;
    transition: opacity 0.3s ease-in-out;
}

.BattleMode_rightButtonContainer_fd:hover {
    opacity: 1;
}

.MenuButton_base_e9 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 233rem;
    height: 80rem;
    position: relative;
    z-index: 5;
    pointer-events: auto;
}

.mediaMedium .MenuButton_base_e9 {
    width: 293rem;
    height: 100rem;
}

.MenuButton_base_e9:hover {
    cursor: pointer;
}

.MenuButton_base_e9:hover .MenuButton_label_be {
    text-shadow:
        0 0 19rem rgba(238, 85, 34, 0.5),
        0 0 4rem rgba(49, 25, 0, 0.66);
}

.MenuButton_base_e9:hover .MenuButton_hoverBg_98 {
    opacity: 1;
}

.MenuButton_label_be {
    color: #fefeec;
    font-size: 18rem;
    font-weight: 400;
    line-height: 1.25;
    margin-left: 8rem;
    font-weight: 500;
    line-height: 1.2;
    text-shadow: 0 0 7rem #000;
    z-index: 1;
}

.MenuButton_hoverBg_98 {
    width: 100%;
    height: 200rem;
    background: url('R.images.historical_battles.gui.maps.icons.hangar.shopButton.shine_wide_red') no-repeat center /
        contain;
    opacity: 0;
    position: absolute;
    transform: translateY(14%);
    transition: opacity 0.3s ease;
}

.mediaMedium .MenuButton_hoverBg_98 {
    transform: translateY(32rem);
}

.Counter_base_9e {
    display: flex;
    min-width: 14rem;
    height: 14rem;
    position: relative;
    z-index: 0;
    animation: Counter_show_be ease-in-out forwards;
}

.Counter_base__big_19 {
    min-width: 21rem;
    height: 21rem;
}

.Counter_base__small_3b {
    min-width: 13rem;
    height: 13rem;
}

.Counter_base__empty_98 {
    min-width: 6rem;
    height: 6rem;
}

.Counter_base__animated_40 {
    animation-duration: 0.2s;
}

.Counter_base__hidden_56 {
    animation-name: Counter_hide_b6;
}
.Counter_bg_74 {
    border: 1rem solid #fe4e0f;
    border-radius: 7rem;
    box-shadow:
        0 0 0 1rem rgba(0, 0, 0, 0.3),
        0 0 6rem rgba(254, 103, 0, 0.2),
        0 0 12rem 4rem rgba(249, 0, 0, 0.3);
    background-image: url('R.images.gui.maps.icons.components.counter.pattern');
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}
.Counter_base__big_19 .Counter_bg_74 {
    border-radius: 11rem;
}
.Counter_base__small_3b .Counter_bg_74 {
    border-radius: 7rem;
}
.Counter_value_3e {
    display: flex;
    padding: 0 4rem;
    color: #fefeec;
    font-size: 11rem;
    line-height: 13rem;
    white-space: nowrap;
}
.Counter_base__big_19 .Counter_value_3e {
    padding: 0 7rem;
    font-size: 14rem;
    line-height: 20rem;
}
.Counter_base__small_3b .Counter_value_3e {
    font-size: 9rem;
    line-height: 12rem;
}
.Counter_value__text_d6 {
    padding: 0 7rem;
}
.Counter_base__big_19 .Counter_value__text_d6 {
    padding: 0 10rem;
}
.Counter_base__small_3b .Counter_value__text_d6 {
    padding: 0 5rem;
    font-size: 10rem;
}
.Counter_base__pattern_71 .Counter_value_3e {
    display: none;
}
.Counter_plus_15 {
    position: relative;
    top: -1rem;
}
.Counter_pattern_83 {
    display: none;
}
.Counter_base__pattern_71 .Counter_pattern_83 {
    display: block;
    border-radius: 50%;
    background-image: url('R.images.gui.maps.icons.components.counter.pattern');
    opacity: 0.8;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
@keyframes Counter_show_be {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}
@keyframes Counter_hide_b6 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

.Box_mt__XS_0c {
    margin-top: 4rem;
}
.Box_mt__SM_eb {
    margin-top: 8rem;
}
.Box_mt__SMp_cf {
    margin-top: 10rem;
}
.Box_mt__MD_25 {
    margin-top: 16rem;
}
.Box_mt__MDp_49 {
    margin-top: 20rem;
}
.Box_mt__LG_e8 {
    margin-top: 32rem;
}
.Box_mt__XL_83 {
    margin-top: 64rem;
}

.Box_mr__XS_7c {
    margin-right: 4rem;
}

.Box_mr__SM_08 {
    margin-right: 8rem;
}

.Box_mr__SMp_06 {
    margin-right: 10rem;
}

.Box_mr__MD_4a {
    margin-right: 16rem;
}

.Box_mr__MDp_b6 {
    margin-right: 20rem;
}

.Box_mr__LG_d0 {
    margin-right: 32rem;
}

.Box_mr__XL_db {
    margin-right: 64rem;
}

.Box_mb__XS_bb {
    margin-bottom: 4rem;
}

.Box_mb__SM_83 {
    margin-bottom: 8rem;
}

.Box_mb__SMp_04 {
    margin-bottom: 10rem;
}

.Box_mb__MD_ed {
    margin-bottom: 16rem;
}

.Box_mb__MDp_65 {
    margin-bottom: 20rem;
}

.Box_mb__LG_c8 {
    margin-bottom: 32rem;
}

.Box_mb__XL_f8 {
    margin-bottom: 64rem;
}

.Box_ml__XS_8a {
    margin-left: 4rem;
}

.Box_ml__SM_e6 {
    margin-left: 8rem;
}

.Box_ml__SMp_fb {
    margin-left: 10rem;
}

.Box_ml__MD_2b {
    margin-left: 16rem;
}

.Box_ml__MDp_c7 {
    margin-left: 20rem;
}

.Box_ml__LG_39 {
    margin-left: 32rem;
}

.Box_ml__XL_4a {
    margin-left: 64rem;
}

.FormatText_base_d0 {
    display: flex;
    flex-wrap: wrap;
}

/* eslint-disable-next-line expectedscss*/
.Text_paragraph-P10_2c {
    font-size: 10rem;
    font-weight: 400;
    line-height: 1.2;
}
.Text_paragraph-P12_22 {
    font-size: 12rem;
    font-weight: 400;
    line-height: 1.3;
}
.Text_paragraph-P14_a7 {
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
}
.Text_paragraph-P16_90 {
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
}
.Text_paragraph-P18_50 {
    font-size: 18rem;
    font-weight: 400;
    line-height: 1.25;
}
.Text_paragraph-P24_33 {
    font-size: 24rem;
    font-weight: 400;
    line-height: 32rem;
}
.Text_heading-H14_8b {
    font-size: 14rem;
    font-weight: 700;
    line-height: 1.15;
}
.Text_heading-H15_9e {
    font-size: 15rem;
    font-weight: 700;
    line-height: 1.15;
}
.Text_heading-H18_b7 {
    font-size: 18rem;
    font-weight: 700;
    line-height: 1.1;
}
.Text_heading-H20R_f6 {
    font-size: 20rem;
    font-weight: 400;
    line-height: 1.2;
}
.Text_heading-H22_27 {
    font-size: 22rem;
    font-weight: 700;
    line-height: 1.2;
}
.Text_heading-H24R_be {
    font-size: 24rem;
    font-weight: 400;
    line-height: 1.2;
}
.Text_heading-H24_0c {
    font-size: 24rem;
    font-weight: 700;
    line-height: 1.2;
}
.Text_heading-H28_78 {
    font-size: 28rem;
    font-weight: 700;
    line-height: 1.1;
}
.Text_heading-H36_32 {
    font-size: 36rem;
    font-weight: 700;
    line-height: 1.1;
}
.Text_heading-H56_c3 {
    font-size: 56rem;
    font-weight: 700;
    line-height: 1.1;
}
.Text_heading-H73_8f {
    font-size: 73rem;
    font-weight: 700;
    line-height: 1.1;
}
.Text_heading-H144_a9 {
    font-size: 144rem;
    font-weight: 700;
    line-height: 1;
}
.Text_BLACK_REAL_30 {
    color: #000000;
}
.Text_WHITE_REAL_bc {
    color: #ffffff;
}
.Text_WHITE_62 {
    color: #f2f2f7;
}
.Text_WHITE_ORANGE_54 {
    color: #fefeec;
}
.Text_WHITE_SPANISH_df {
    color: #e9e2bf;
}
.Text_PAR_15 {
    color: #8c8c7e;
}
.Text_PAR_SECONDARY_5d {
    color: #595950;
}
.Text_PAR_TERTIARY_c9 {
    color: #37362e;
}
.Text_INFO_RED_30 {
    color: #ff0000;
}
.Text_RED_66 {
    color: #ff2717;
}
.Text_RED_DARK_d8 {
    color: #b70000;
}
.Text_YELLOW_ed {
    color: #feab34;
}
.Text_ORANGE_be {
    color: #ee7000;
}
.Text_CREAM_57 {
    color: #ffdd99;
}
.Text_BROWN_18 {
    color: #cbac77;
}
.Text_GREEN_BRIGHT_3f {
    color: #80d43a;
}
.Text_GREEN_e3 {
    color: #7ab300;
}
.Text_GREEN_DARK_f1 {
    color: #497212;
}
.Text_BLUE_BOOSTER_21 {
    color: #ccffff;
}
.Text_BLUE_TEAMKILLER_ab {
    color: #09e2ff;
}
.Text_CRED_f7 {
    color: #ced9d9;
}
.Text_GOLD_28 {
    color: #ffc363;
}
.Text_BOND_be {
    color: #c9c9b6;
}
.Text_PROM_65 {
    color: #a29b70;
}

.HBCoin_base_d8 {
    display: flex;
    align-items: center;
    position: relative;
}

.HBCoin_label__defence_a3 {
    color: #bdfbff;
}

.HBCoin_label__counterattack_e6 {
    color: #ffdd99;
}

.HBCoin_label__offence_3e {
    color: #f2f2f7;
}

.HBCoin_label__counterattackGlow_e3 {
    text-shadow:
        0 0 4rem rgba(255, 127, 0, 0.25),
        0 0 8rem #ff2a00,
        0 0 15rem #e52;
}

.HBCoin_label__offenceGlow_7c {
    text-shadow:
        0 0 4rem rgba(255, 127, 0, 0.25),
        0 0 8rem #ff2a00,
        0 0 15rem #e52;
}

.HBCoin_label__defenceGlow_78 {
    text-shadow:
        0 0 4rem rgba(0, 31, 185, 0.25),
        0 0 8rem #0075ff,
        0 0 15rem #00c2ff;
}

.HBCoin_label_7f {
    text-shadow: none;
}

.HBCoin_label__animated_82 {
    transition:
        text-shadow 0.2s,
        font-size 0.2s ease-out;
}

.HBCoin_label__notEnough_0e {
    color: #ff2717;
}

.HBCoin_label__sizeP14_c0 {
    color: #8c8c7e;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    padding-bottom: 2rem;
}

.HBCoin_label__sizeH15_73 {
    color: #e9e2bf;
    font-size: 15rem;
    font-weight: 700;
    line-height: 1.15;
    padding-bottom: 2rem;
}

.HBCoin_label__sizeH18_f6 {
    color: #ffdd99;
    font-size: 18rem;
    font-weight: 700;
    line-height: 1.1;
    padding-bottom: 4rem;
}

.HBCoin_label__sizeH22_9c {
    color: #ced9d9;
    font-size: 22rem;
    font-weight: 700;
    line-height: 1.2;
    padding-bottom: 3rem;
}

.HBCoin_label__sizeH24_b0 {
    color: #ffdd99;
    font-size: 24rem;
    font-weight: 700;
    line-height: 1.2;
    padding-bottom: 5rem;
}

.HBCoin_label__sizeH28_6d {
    color: #f2f2f7;
    font-size: 28rem;
    font-weight: 700;
    line-height: 1.1;
    padding-bottom: 5rem;
}

.HBCoin_label__sizeH36_10 {
    color: #f2f2f7;
    font-size: 36rem;
    font-weight: 700;
    line-height: 1.1;
    padding-bottom: 7rem;
}

.HBCoin_label__sizeH42_4f {
    padding-bottom: 7rem;
    font-size: 42rem;
    font-weight: 700;
    line-height: 1.1;
}

.HBCoin_label__sizeH56_88 {
    padding-bottom: 7rem;
    font-size: 56rem;
    font-weight: 700;
    line-height: 1.1;
}

.HBCoin_label__sizeH73_c1 {
    color: #f2f2f7;
    font-size: 73rem;
    font-weight: 700;
    line-height: 1.1;
    padding-bottom: 16rem;
}

.HBCoin_label__progression_08 {
    color: #ffdd99;
}

.HBCoin_icon_27 {
    background: no-repeat 50% / contain;
}

.HBCoin_icon__animated_17 {
    transition:
        width 0.2s linear,
        height 0.2s linear,
        margin-left 0.2s;
}

.HBCoin_icon__size16x16_6b {
    width: 16rem;
    height: 16rem;
    margin-left: 3rem;
}

.HBCoin_icon__size24x24_35 {
    width: 24rem;
    height: 24rem;
    margin-left: 3rem;
}

.HBCoin_icon__size32x32_70 {
    width: 32rem;
    height: 32rem;
    margin-left: 5rem;
}

.HBCoin_icon__size48x48_42 {
    width: 48rem;
    height: 48rem;
    margin-left: 10rem;
}

.HBCoin_icon__size134x134_4d {
    width: 134rem;
    height: 134rem;
}

.HBCoin_stockBg_25 {
    width: 80rem;
    height: 45rem;
    background: url('R.images.gui.maps.icons.library.RedActionBG') no-repeat 0 / contain;
    position: absolute;
    right: -30rem;
    bottom: -17rem;
    z-index: -1;
}

.HBCoin_stockBg__sizeH18_9b {
    bottom: -12rem;
}

.HBCoin_stockBg__sizeH22_5a {
    bottom: -11rem;
}

.mediaExtraLarge .HBCoin_stockBg_25 {
    bottom: -10rem;
}

.Timer_base_da {
    display: flex;
    height: 18rem;
}

.Timer_iconWrapper_ff {
    width: 18rem;
    height: 18rem;
    position: relative;
    top: 1rem;
}

.Timer_icon_01 {
    position: absolute;
    top: -7rem;
    right: -7rem;
    bottom: -7rem;
    left: -7rem;
    background: url('R.images.gui.maps.icons.components.countdown.clock') no-repeat 50% / contain;
}

.Timer_label_04 {
    color: #c9c9b6;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    padding: 0 3rem;
}

.Timer_base__highlightedStyle_6d .Timer_label_04 {
    color: #feab34;
}

.Timer_base__accentStyle_3d .Timer_label_04 {
    color: #e9e2bf;
}

.Timer_time_79 {
    color: #ffdd99;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    text-shadow:
        0 0 4rem rgba(255, 127, 0, 0.25),
        0 0 8rem #ff2a00,
        0 0 15rem #e52;
}

.ModeButton_base_2f {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    pointer-events: auto;
}

.ModeButton_base__nonInteractive_87 {
    pointer-events: none;
}

.ModeButton_contentWrapper_35 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.4;
    top: 1rem;
    z-index: 5;
    transition: opacity ease-in-out 0.1s;
}

.ModeButton_base__highlighted_f5 .ModeButton_contentWrapper_35,
.ModeButton_base__available_e8 .ModeButton_contentWrapper_35 {
    opacity: 0.8;
}

.ModeButton_base__disabled_62 .ModeButton_contentWrapper_35 {
    opacity: 0.5;
}

.ModeButton_base__selected_58 .ModeButton_contentWrapper_35,
.ModeButton_base__hovered_24 .ModeButton_contentWrapper_35 {
    opacity: 1;
}

.ModeButton_content_88 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 10rem;
    bottom: 3rem;
    cursor: pointer;
}

.mediaMedium .ModeButton_content_88 {
    top: 15rem;
}

.ModeButton_base__selected_58 .ModeButton_content_88,
.ModeButton_base__disabled_62 .ModeButton_content_88 {
    cursor: default;
}

.ModeButton_labelWrapper_87 {
    display: flex;
    align-items: flex-end;
    height: 48rem;
    padding-bottom: 3rem;
    position: relative;
}

.ModeButton_base__selected_58 .ModeButton_labelWrapper_87 {
    padding-bottom: 1rem;
}

.mediaMedium .ModeButton_base__selected_58 .ModeButton_labelWrapper_87 {
    padding-bottom: 3rem;
}

.mediaMedium .ModeButton_labelWrapper_87 {
    height: 61rem;
}

.ModeButton_info_29 {
    height: 24rem;
    margin-bottom: 8rem;
}

.mediaMedium .ModeButton_info_29 {
    height: 27rem;
    margin-bottom: 14rem;
}

.ModeButton_coin_06 {
    position: relative;
    top: 3rem;
}

.mediaMedium .ModeButton_base__selected_58 .ModeButton_coin_06 {
    top: 5rem;
}

.ModeButton_counter_47 {
    width: 13rem;
    height: 13rem;
    display: none;
    position: absolute;
    top: 6rem;
    right: -18rem;
    pointer-events: none;
}

.ModeButton_base__highlighted_f5 .ModeButton_counter_47 {
    display: flex;
}

.ModeButton_base__selected_58 .ModeButton_counter_47 {
    display: none;
}

.mediaMedium .ModeButton_counter_47 {
    top: 10rem;
}

.ModeButton_label_34 {
    color: #fefeec;
    font-size: 56rem;
    font-weight: 700;
    line-height: 1.1;
    text-shadow: 0 3rem 2rem rgba(80, 0, 0, 0.5);
    mix-blend-mode: soft-light;
    transition: font-size 0.2s ease-out;
}

.mediaMedium .ModeButton_label_34 {
    font-size: 55rem;
}

.mediaLarge .ModeButton_label_34 {
    font-size: 55rem;
}

.ModeButton_base__selected_58 .ModeButton_label_34 {
    font-size: 24rem;
}

.mediaMedium .ModeButton_base__selected_58 .ModeButton_label_34 {
    font-size: 48rem;
}

.mediaLarge .ModeButton_base__selected_58 .ModeButton_label_34 {
    font-size: 55rem;
}

.ModeButton_pendingFrontLabel_51 {
    color: #c9c9b6;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
}

.ModeButton_swfArrows_f3,
.ModeButton_bg_33 {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    background: no-repeat 50% / contain;
    top: 0;
    z-index: 0;
    pointer-events: none;
    width: 334rem;
    height: 148rem;
    opacity: 0;
    animation: ModeButton_opacity_8a 0.7s ease 0.1s forwards;
}

.mediaMedium .ModeButton_swfArrows_f3,
.mediaMedium .ModeButton_bg_33 {
    width: 420rem;
    height: 186rem;
}

.ModeButton_bg_33 {
    mask-size: 100%;
}

.ModeButton_cloudBg_97 {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    background: no-repeat 50% / contain;
    top: 0;
    z-index: 1;
    pointer-events: none;
    display: none;
    width: 318rem;
    height: 148rem;
    background-image: url('R.images.historical_battles.gui.maps.icons.battleMode.cloud.offence');
    mix-blend-mode: screen;
}

.mediaMedium .ModeButton_cloudBg_97 {
    width: 430rem;
    height: 186rem;
}

.ModeButton_base__available_e8 .ModeButton_cloudBg_97 {
    display: flex;
}

.ModeButton_base__selected_58 .ModeButton_cloudBg_97 {
    display: none;
}

.ModeButton_shineBg_ad {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    background: no-repeat 50% / contain;
    top: 0;
    z-index: 4;
    pointer-events: none;
    width: 334rem;
    height: 116rem;
    background-image: url('R.images.historical_battles.gui.maps.icons.battleMode.shine.offence');
    opacity: 0;
    mix-blend-mode: screen;
    transition: opacity 0.4s ease-in-out;
}

.mediaMedium .ModeButton_shineBg_ad {
    width: 430rem;
    height: 146rem;
}

.ModeButton_base__hovered_24.ModeButton_base__available_e8 .ModeButton_shineBg_ad,
.ModeButton_base__selected_58.ModeButton_base__available_e8 .ModeButton_shineBg_ad,
.ModeButton_base__hovered_24.ModeButton_base__highlighted_f5 .ModeButton_shineBg_ad,
.ModeButton_base__selected_58.ModeButton_base__highlighted_f5 .ModeButton_shineBg_ad {
    opacity: 1;
}

.ModeButton_highLightSwf_0d {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    background: no-repeat 50% / contain;
    top: 0;
    z-index: 3;
    pointer-events: none;
    width: 196rem;
    height: 96rem;
    background-image: url('swf://gui/flash/animations/historicalBattles/battleMode/notifySparks.swf?name=sparks');
    opacity: 1;
    mix-blend-mode: screen;
    transition:
        opacity 0.7s,
        transform 0.7s;
}

.ModeButton_base__counterattack_4c .ModeButton_highLightSwf_0d {
    animation-delay: 0.5s;
}

.ModeButton_base__hovered_24 .ModeButton_highLightSwf_0d {
    opacity: 0;
}

.ModeButton_highLightBg_83 {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    background: no-repeat 50% / contain;
    top: 0;
    z-index: 1;
    pointer-events: none;
    display: none;
    width: 362rem;
    height: 144rem;
    background-image: url('R.images.historical_battles.gui.maps.icons.battleMode.highlight');
}

.ModeButton_base__highlighted_f5 .ModeButton_highLightBg_83 {
    display: flex;
    animation: ModeButton_pulse_0e 3.5s infinite linear;
}

.ModeButton_base__counterattack_4c .ModeButton_highLightBg_83 {
    animation-delay: 0.5s;
}

.ModeButton_base__hovered_24 .ModeButton_highLightBg_83,
.ModeButton_base__selected_58 .ModeButton_highLightBg_83 {
    display: none;
}

@keyframes ModeButton_pulse_0e {
    0% {
        opacity: 1;
    }

    40% {
        opacity: 0;
    }

    80% {
        opacity: 1;
    }
}

@keyframes ModeButton_opacity_8a {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.FadingCover_base_0b {
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0;
    transition: opacity ease-in-out;
    pointer-events: none;
}

.FadingCover_base__isVisible_72 {
    opacity: 1;
    pointer-events: auto;
}

.Icon_base_0e {
    width: 100%;
    height: 100%;
    background: no-repeat 50% / contain;
    opacity: 0;
    position: relative;
}

.Icon_base__active_13 {
    opacity: 1;
}

.FrontmanBgIcon_base_7d {
    width: 365rem;
    height: 454rem;
    position: relative;
}

.mediaSmall .FrontmanBgIcon_base_7d {
    width: 380rem;
    height: 500rem;
}

.mediaMedium .FrontmanBgIcon_base_7d {
    width: 466rem;
    height: 580rem;
}

.mediaLarge .FrontmanBgIcon_base_7d {
    width: 586rem;
    height: 728rem;
}

.mediaExtraLarge .FrontmanBgIcon_base_7d {
    width: 840rem;
    height: 1008rem;
}

.FrontmanBgIcon_tooltipBlocker_0e {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.FrontmanBgIcon_item_85 {
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
}

.TextOverflow_base_3b {
    flex: 0 1 auto;
    width: auto;
    line-height: 1.3;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.VehicleType_base_62 {
    background: no-repeat 50% / contain;
}

.VehicleType_base__c_16x16_b9 {
    width: 16rem;
    height: 16rem;
}

.VehicleType_base__c_24x24_54 {
    width: 24rem;
    height: 24rem;
}

.VehicleType_base__c_48x48_11 {
    width: 48rem;
    height: 48rem;
}

.VehicleType_base__c_60x60_a1 {
    width: 60rem;
    height: 60rem;
}

.VehicleType_base__c_83x74_26 {
    width: 83rem;
    height: 74rem;
}

.FrontmanCard_base_37 {
    width: 290rem;
    height: 100rem;
    border: 1rem solid rgba(255, 255, 255, 0.1);
    border-radius: 2rem;
    background-color: rgba(0, 0, 0, 0.6);
    position: relative;
    transition: all 0.16s;
    cursor: pointer;
}

.FrontmanCard_base__selected_f7 {
    border-color: #ffb266;
    cursor: default;
}

.FrontmanCard_base__disabled_94 {
    cursor: default;
}

.FrontmanCard_icon_fd {
    width: 120rem;
    height: 104rem;
    background: no-repeat 50% / contain;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 4;
}

.FrontmanCard_infoContainer_ab {
    display: flex;
    flex-direction: column;
    width: 180rem;
    height: 100rem;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 3;
}

.FrontmanCard_textOverflowContainer_63 {
    display: flex;
    flex-direction: column;
    width: 160rem;
    margin: 22rem 8rem 0;
    opacity: 0.5;
}

.FrontmanCard_base__active_ee .FrontmanCard_textOverflowContainer_63 {
    opacity: 1;
}

.FrontmanCard_name_54 {
    color: #e9e2bf;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    margin-top: -2rem;
    text-overflow: ellipsis;
}

.FrontmanCard_role_57 {
    color: #fefeec;
    font-size: 22rem;
    font-weight: 700;
    line-height: 1.2;
    margin-top: -4rem;
    margin-bottom: 4rem;
}

.FrontmanCard_tankInfo_e8 {
    display: flex;
    align-items: center;
    margin: -2rem -5rem 0;
}

.FrontmanCard_tankName_ad {
    color: #e9e2bf;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    margin: -2rem 0rem 0;
}

.FrontmanCard_tankName__elite_8f {
    color: #feab34;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    margin: -2rem 2rem 0;
}

.FrontmanCard_roleIcon_25 {
    width: 16rem;
    height: 16rem;
    background: no-repeat 50% / contain;
    opacity: 0.5;
    position: absolute;
    top: 6rem;
    right: 5rem;
    z-index: 2;
}

.FrontmanCard_base__active_ee .FrontmanCard_roleIcon_25 {
    opacity: 1;
}

.FrontmanCard_inPlatoon_b3 {
    color: #feab34;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
}

.FrontmanCard_lineBg_3d {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url('R.images.gui.maps.icons.library.disabled_pattern') center / 9rem;
    z-index: 1;
}

.FrontmanCard_infoBg_55 {
    width: 100%;
    height: 100%;
    width: 180rem;
    height: 100rem;
    background: url('R.images.historical_battles.gui.maps.icons.hangar.carousel_item_bg') no-repeat 50% / contain;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
}

.FrontmanCard_disabled_bc {
    color: #ff2717;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    margin-left: 8rem;
}

.FrontmanCard_disabled__inPlatoon_b2 {
    color: #feab34;
}

.FrontmanCard_lock_4b {
    width: 24rem;
    height: 24rem;
    margin-right: -4rem;
    margin-bottom: 2rem;
    background: url('R.images.gui.maps.icons.library.icon_lock') no-repeat 50% / contain;
}

.FrontmanCarousel_base_af {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding-top: 11rem;
    position: relative;
}

.FrontmanCarousel_item_53 {
    margin: 0 6rem;
    position: relative;
}

.CButton_base_40 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    box-shadow: 0 0 0 1rem rgba(0, 0, 0, 0.6);
    position: relative;
    cursor: pointer;
}

.CButton_base__main_42,
.CButton_base__primary_7f,
.CButton_base__primaryGreen_6f,
.CButton_base__primaryRed_ec,
.CButton_base__secondary_50 {
    background-size: 100% 100%;
}

.CButton_base__main_42 {
    background-image: url('R.images.gui.maps.icons.components.button.back_main');
}

.CButton_base__primary_7f {
    background-image: url('R.images.gui.maps.icons.components.button.back_primary');
}

.CButton_base__primaryGreen_6f {
    background-image: url('R.images.gui.maps.icons.components.button.back_primary_green');
}

.CButton_base__primaryRed_ec {
    background-image: url('R.images.gui.maps.icons.components.button.back_primary_red');
}

.CButton_base__secondary_50 {
    background-image: url('R.images.gui.maps.icons.components.button.back_secondary');
}

.CButton_base__ghost_ed {
    border-radius: 3rem;
    box-shadow:
        0 0 0 1rem rgba(0, 0, 0, 0.3),
        0 0 0 1rem rgba(255, 255, 255, 0.15) inset;
    background-color: rgba(0, 0, 0, 0.15);
}

.CButton_base__extraSmall_27 {
    min-height: 17rem;
    padding: 0 16rem;
}

.CButton_base__small_df,
.CButton_base__medium_74 {
    padding: 0 20rem;
}

.CButton_base__small_df {
    min-height: 18rem;
}

.CButton_base__medium_74 {
    min-height: 32rem;
}

.CButton_base__disabled_d9 {
    cursor: default;
}
/* Element .back and background-image in element .base need for fix bug in GF https://jira.wargaming.net/browse/WOTD-158525
The bug is that under certain conditions, when using border-image, stripes appear. Strip is a single-pixel gap
between 'border-image-width' and 'fill'.
This bug is reproduced in Google Chrome 81.0.4044.113
*/
.CButton_back_e5 {
    border-image-slice: 4 fill;
    border-image-width: 4rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.CButton_base__main_42 .CButton_back_e5 {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_main');
}
.CButton_base__primary_7f .CButton_back_e5 {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_primary');
}
.CButton_base__primaryGreen_6f .CButton_back_e5 {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_primary_green');
}
.CButton_base__primaryRed_ec .CButton_back_e5 {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_primary_red');
}
.CButton_base__secondary_50 .CButton_back_e5 {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_secondary');
}
.CButton_texture_fe {
    background: url('R.images.gui.maps.icons.components.button.standard_texture_file');
    background-size: 155rem 31rem;
    mix-blend-mode: soft-light;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.CButton_state_11 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: box-shadow 0.16s ease-in-out;
}
.CButton_base__focus_83 .CButton_state_11 {
    border-radius: 2rem;
    box-shadow: inset 0 0 2rem 1rem rgba(255, 85, 0, 0.2);
}
.CButton_stateHighlightHover_ff,
.CButton_stateHighlightActive_35,
.CButton_stateDisabled_54 {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.CButton_base__firstHover_d5 .CButton_stateHighlightHover_ff,
.CButton_base__firstHover_d5 .CButton_stateHighlightActive_35,
.CButton_base__firstHover_d5 .CButton_stateDisabled_54 {
    transition: opacity 0.16s ease-in-out;
}
.CButton_stateHighlightHover_ff {
    background-image: linear-gradient(
        180deg,
        rgba(252, 248, 235, 0.25) 0%,
        rgba(252, 248, 235, 0.1) 50%,
        rgba(255, 255, 255, 0) 100%
    );
}
.CButton_base_40:hover .CButton_stateHighlightHover_ff {
    opacity: 1;
}
.CButton_base_40:active .CButton_stateHighlightHover_ff {
    opacity: 0;
}
.CButton_base__disabled_d9:hover .CButton_stateHighlightHover_ff {
    opacity: 0;
}
.CButton_base__ghost_ed .CButton_stateHighlightHover_ff {
    box-shadow: 0 15rem 12rem 0 rgba(242, 242, 230, 0.11) inset;
    background-color: rgba(8, 6, 0, 0.18);
    background-image: none;
}
.CButton_stateHighlightActive_35 {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.15) 100%);
}
.CButton_base__highlightActive_b2 .CButton_stateHighlightActive_35 {
    opacity: 1;
}
.CButton_stateDisabled_54 {
    background-color: rgba(0, 0, 0, 0.25);
    background-image: url('R.images.gui.maps.icons.components.button.texture_disable');
    background-size: 15rem;
}
.CButton_base__disabled_d9 .CButton_stateDisabled_54 {
    opacity: 1;
}
.CButton_content_cc {
    display: flex;
    align-items: center;
    color: #f2f2e6;
    font-weight: 700;
    line-height: 1.2;
    text-shadow: 0 -1rem 1rem #000;
    letter-spacing: 0.03em;
    transform: translateY(-1rem);
}
.CButton_content_cc[lang='ja'],
.CButton_content_cc[lang='ko'],
.CButton_content_cc[lang='zh_tw'],
.CButton_content_cc[lang='zh_sg'],
.CButton_content_cc[lang='zh_cn'],
.CButton_content_cc[lang='th'] {
    font-weight: 400;
}
.CButton_base__main_42 .CButton_content_cc,
.CButton_base__primaryRed_ec .CButton_content_cc {
    text-shadow: 0 -1rem 1rem #600;
}
.CButton_base__secondary_50 .CButton_content_cc {
    color: rgba(254, 254, 236, 0.75);
}
.CButton_base__primaryGreen_6f .CButton_content_cc {
    text-shadow: 0 -1rem 1rem #1c2502;
}
.CButton_base__extraSmall_27 .CButton_content_cc {
    font-size: 12rem;
}
.CButton_base__small_df .CButton_content_cc {
    font-size: 14rem;
}
.CButton_base__medium_74 .CButton_content_cc {
    font-size: 15rem;
}
.CButton_base__disabled_d9 .CButton_content_cc {
    opacity: 0.6;
}

.ChangeVehicleButton_base_23 {
    position: relative;
}

.ChangeVehicleButton_counter_b8 {
    position: absolute;
    top: -6rem;
    right: -6rem;
}

.ChangeVehicleButton_spark_64 {
    width: 160rem;
    height: 170rem;
    background: url('R.images.historical_battles.gui.maps.icons.common.button_spark') no-repeat 50% / contain;
    mix-blend-mode: additive;
    position: absolute;
    z-index: 1;
    pointer-events: none;
}

.ChangeVehicleButton_spark__top_00 {
    top: -85rem;
    left: 0;
}

.ChangeVehicleButton_spark__bottom_6b {
    top: -53rem;
    left: 0;
}

.ChangeVehicleButton_spark__animated_02 {
    animation: ChangeVehicleButton_light_a7 3s ease-in infinite;
}

@keyframes ChangeVehicleButton_light_a7 {
    0% {
        opacity: 1;
    }

    25% {
        opacity: 0.5;
    }

    50% {
        opacity: 0.15;
    }

    75% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

.Ability_base_80 {
    width: 48rem;
    height: 48rem;
    border: 1rem solid #484745;
    border-radius: 2rem;
    background-color: rgba(0, 0, 0, 0.6);
    overflow: hidden;
    position: relative;
}

.Ability_icon_52 {
    width: 48rem;
    height: 48rem;
    background: no-repeat 50% / contain;
    position: absolute;
    top: -1rem;
    left: -1rem;
}

.Abilities_base_ab {
    display: flex;
}

.Abilities_item_cb {
    margin-right: 10rem;
}

.Skill_base_4e {
    width: 380rem;
    height: 100rem;
    position: relative;
}

.Skill_skillContent_4c {
    display: flex;
    align-items: center;
}

.Skill_slot_cc {
    width: 64rem;
    height: 64rem;
    border: 1rem solid rgba(255, 255, 255, 0.4);
    border-radius: 4rem;
    background: #000;
    opacity: 0.6;
    position: relative;
}

.Skill_skill_af {
    width: 64rem;
    height: 64rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    left: 0;
}

.Skill_title_83 {
    color: #e9e2bf;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
}

.Skill_subtitle_9a {
    color: #fefeec;
    font-size: 24rem;
    font-weight: 700;
    line-height: 1.2;
}

.Skill_info_f6 {
    margin-left: 16rem;
}

.Skill_description_74 {
    color: #8c8c7e;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    margin-top: 12rem;
}

.Skill_divider_13 {
    width: 100%;
    height: 1rem;
    margin-top: 18rem;
    background: rgba(255, 255, 255, 0.2);
}

.FrontmanWidget_base_71 {
    width: 442rem;
    height: 546rem;
    padding-left: 30rem;
    position: relative;
}

.mediaMedium .FrontmanWidget_base_71 {
    width: 516rem;
    height: 638rem;
}

.mediaLarge .FrontmanWidget_base_71 {
    padding-left: 30rem;
}
.FrontmanWidget_bg_21 {
    width: 516rem;
    height: 638rem;
    background: url('R.images.historical_battles.gui.maps.icons.hangar.widget_back_front') no-repeat 50% / contain;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.FrontmanWidget_header_ae {
    color: #e9e2bf;
    font-size: 18rem;
    font-weight: 700;
    line-height: 1.1;
    margin-top: 82rem;
}
.mediaMedium .FrontmanWidget_header_ae {
    margin: 145rem 0 1rem;
}
.mediaLarge .FrontmanWidget_header_ae {
    margin-top: 110rem;
    font-size: 24rem;
}
.FrontmanWidget_role_9b {
    color: #fefeec;
    font-size: 36rem;
    font-weight: 700;
    line-height: 1.1;
    margin-top: 8rem;
    padding-bottom: 10rem;
}
.mediaLarge .FrontmanWidget_role_9b {
    color: #fefeec;
    font-size: 56rem;
    font-weight: 700;
    line-height: 1.1;
}
.FrontmanWidget_progress_60 {
    margin-top: 16rem;
}
.mediaMedium .FrontmanWidget_progress_60 {
    margin-top: 24rem;
}
.mediaLarge .FrontmanWidget_progress_60 {
    margin-top: 18rem;
}
.FrontmanWidget_tankDescription_8f {
    color: #e9e2bf;
    font-size: 18rem;
    font-weight: 700;
    line-height: 1.1;
    margin: 48rem 0 1rem;
}
.mediaMedium .FrontmanWidget_tankDescription_8f {
    margin: 46rem 0 0;
    font-size: 22rem;
}
.mediaLarge .FrontmanWidget_tankDescription_8f {
    margin: 46rem 0 0;
}
.FrontmanWidget_warning_7c {
    color: #feab34;
    font-size: 14rem;
    font-weight: 700;
    line-height: 1.15;
    display: flex;
    align-items: center;
    margin-top: 2rem;
    opacity: 0;
    transform: translateY(-24rem);
    transition:
        transform 0.3s ease-in-out 0.1s,
        opacity 0.3s ease-in-out 0.1s;
}
.mediaMedium .FrontmanWidget_warning_7c {
    margin-top: -1rem;
}
.FrontmanWidget_warning__show_fe {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}
.FrontmanWidget_infoIcon_76 {
    width: 16rem;
    height: 16rem;
    margin: 2rem 4rem 0 0;
    background: url('R.images.historical_battles.gui.maps.icons.hangar.info_comander') no-repeat 50% / contain;
}
.mediaMedium .FrontmanWidget_infoIcon_76 {
    margin-top: 1rem;
}
.FrontmanWidget_tankName_ff {
    color: #e9e2bf;
    font-size: 18rem;
    font-weight: 700;
    line-height: 1.1;
    display: flex;
    align-items: center;
    margin-top: -27rem;
    z-index: 1;
}
.FrontmanWidget_tankName__noProfile_68 {
    margin-bottom: -18rem;
}
.mediaMedium .FrontmanWidget_tankName__noProfile_68 {
    color: #e9e2bf;
    font-size: 22rem;
    font-weight: 700;
    line-height: 1.2;
    margin-top: -26rem;
}
.mediaLarge .FrontmanWidget_tankName__noProfile_68 {
    margin-top: -26rem;
}
.FrontmanWidget_tankName__profile_93 {
    margin-bottom: -18rem;
    color: #feab34;
    font-size: 18rem;
    font-weight: 700;
    line-height: 1.1;
}
.mediaMedium .FrontmanWidget_tankName__profile_93 {
    margin-top: -26rem;
    color: #feab34;
    font-size: 22rem;
    font-weight: 700;
    line-height: 1.2;
}
.mediaLarge .FrontmanWidget_tankName__profile_93 {
    margin-top: -26rem;
}
.FrontmanWidget_vehType__silver_e6 {
    margin-left: -24rem;
    margin-top: 4rem;
    margin-right: -20rem;
}
.FrontmanWidget_vehType__elite_a0 {
    margin-left: -16rem;
    margin-top: 4rem;
    margin-right: -12rem;
}
.FrontmanWidget_abilityBg_d1 {
    width: 268rem;
    height: 232rem;
    background: url('R.images.historical_battles.gui.maps.icons.hangar.glow_small_orange') no-repeat 50% / contain;
    opacity: 0;
    position: absolute;
    top: -64rem;
    left: -30rem;
    z-index: -1;
    transition: opacity 0.3s ease-in-out 0.1s;
    pointer-events: none;
}
.mediaMedium .FrontmanWidget_abilityBg_d1 {
    top: -56rem;
}
.mediaLarge .FrontmanWidget_abilityBg_d1 {
    left: -40rem;
}
.FrontmanWidget_abilityBg__show_aa {
    opacity: 1;
}
.FrontmanWidget_abilities_37 {
    margin-top: 28rem;
}
.mediaMedium .FrontmanWidget_abilities_37 {
    margin-top: 30rem;
}
.mediaLarge .FrontmanWidget_abilities_37 {
    margin-top: 29rem;
}
.FrontmanWidget_abilities__profiled_79 {
    margin-top: 28rem;
}
.mediaMedium .FrontmanWidget_abilities__profiled_79 {
    margin-top: 30rem;
}
.mediaLarge .FrontmanWidget_abilities__profiled_79 {
    margin-top: 29rem;
}
.FrontmanWidget_changeBtn_5a {
    width: 162rem;
    margin-top: 16rem;
    position: relative;
}
.mediaMedium .FrontmanWidget_changeBtn_5a {
    margin-top: 20rem;
}
.FrontmanWidget_counter_8c {
    position: absolute;
    top: 6rem;
    right: -6rem;
    z-index: 1;
}
.FrontmanWidget_bottom_1e {
    margin-top: -20rem;
    position: relative;
}
.FrontmanWidget_skillWrapper_31 {
    margin-top: 6rem;
}
.mediaLarge .FrontmanWidget_skillWrapper_31 {
    margin-top: 10rem;
}
.FrontmanWidget_roleWrapper_15 {
    display: flex;
    align-items: center;
}
.FrontmanWidget_roleIcon_03 {
    width: 34rem;
    height: 34rem;
    margin-right: 12rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.mediaSmall .FrontmanWidget_roleIcon_03 {
    width: 30rem;
    height: 30rem;
}
.mediaLarge .FrontmanWidget_roleIcon_03 {
    width: 52rem;
    height: 52rem;
    margin-right: 16rem;
}
.FrontmanWidget_lockWrapper_1a {
    width: 24rem;
    height: 24rem;
    margin-top: 4rem;
    z-index: 1;
}
.FrontmanWidget_lock_80 {
    width: 100%;
    height: 100%;
    background: url('R.images.gui.maps.icons.library.icon_lock') no-repeat 50% / contain;
}

.Countdown_base_fe {
    display: flex;
    align-items: center;
}

.Countdown_icon_8b {
    width: 32rem;
    height: 32rem;
    background: no-repeat center / contain;
}

.Countdown_description_8d {
    color: #ffdd99;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
}

.ExtendedText_base_71 {
    display: flex;
    line-height: 1.2;
    position: relative;
}

.ExtendedText_base__zeroPadding_25 {
    padding: 0;
}

.ExtendedText_base__isTruncationAvailable_5b {
    width: 100%;
}

.ExtendedText_truncated_97 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
}

.ExtendedText_truncated__hide_31 {
    opacity: 0;
}

.ExtendedText_unTruncated_b8 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    align-content: flex-start;
    color: #ff2717;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    pointer-events: none;
}

.colors_blackReal_fc {
    color: #000000;
}

.colors_whiteReal_31 {
    color: #ffffff;
}

.colors_white_45 {
    color: #f2f2f7;
}

.colors_whiteOrange_81 {
    color: #fefeec;
}

.colors_whiteSpanish_c3 {
    color: #e9e2bf;
}

.colors_par_5b {
    color: #8c8c7e;
}

.colors_parSecondary_fd {
    color: #595950;
}

.colors_parTertiary_97 {
    color: #37362e;
}

.colors_red_79 {
    color: #ff2717;
}

.colors_redDark_73 {
    color: #b70000;
}

.colors_yellow_76 {
    color: #feab34;
}

.colors_orange_cd {
    color: #ee7000;
}

.colors_cream_0f {
    color: #ffdd99;
}

.colors_brown_82 {
    color: #cbac77;
}

.colors_greenBright_68 {
    color: #80d43a;
}

.colors_green_fa {
    color: #7ab300;
}

.colors_greenDark_a9 {
    color: #497212;
}

.colors_blueBooster_26 {
    color: #ccffff;
}

.colors_blueTeamkiller_86 {
    color: #09e2ff;
}

.colors_cred_35 {
    color: #ced9d9;
}

.colors_gold_c3 {
    color: #ffc363;
}

.colors_bond_ce {
    color: #c9c9b6;
}

.colors_prom_83 {
    color: #a29b70;
}

.renderers_noBreakWrapper_10 {
    display: flex;
    flex-wrap: nowrap;
}

.renderers_lineBreak_b5 {
    width: 100%;
    height: 0;
}

.renderers_newLine_bd {
    flex: 1;
    width: 100%;
}

.OrderCountDown_base_1f {
    width: 130rem;
    height: 20rem;
    position: relative;
}

.OrderCountDown_timer_96 {
    margin-left: -8rem;
    position: relative;
    z-index: 2;
}

.OrderCountDown_highlight_4a {
    width: 130rem;
    height: 47rem;
    background: url('R.images.historical_battles.gui.maps.icons.order.timerHighlight') no-repeat 50% / contain;
    position: absolute;
    top: -12rem;
    left: 8rem;
    z-index: 1;
}

.OrderCountDown_pending_b4 {
    display: flex;
    align-items: center;
}

.OrderCountDown_pendingTime_00 {
    color: #ffdd99;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
}

@keyframes OrderItem_fadeIn_0b {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes OrderItem_fadeOut_f6 {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes OrderItem_rotating_94 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.OrderItem_base_c0 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.OrderItem_order_2b {
    width: 130rem;
    height: 64rem;
    margin: 0 5rem;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.3) 100%);
    position: relative;
    cursor: pointer;
}

.OrderItem_base__x5_e3 .OrderItem_order_2b {
    cursor: default;
}

.OrderItem_hover_ee {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.05);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.OrderItem_hover_ee:hover {
    opacity: 1;
}

.OrderItem_base__active_4f .OrderItem_hover_ee {
    background-color: rgba(255, 255, 255, 0.1);
}

.OrderItem_base__active_4f .OrderItem_hover_ee:hover {
    opacity: 1;
}

.OrderItem_orderIcon_17 {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 80rem;
    height: 80rem;
    background: no-repeat 50% / contain;
    top: -32rem;
}

.OrderItem_base__disabled_51 .OrderItem_orderIcon_17 {
    filter: brightness(80%);
}

.OrderItem_count_08 {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    color: #8c8c7e;
    font-size: 15rem;
    font-weight: 700;
    line-height: 1.15;
    bottom: 10rem;
}

.OrderItem_base__active_4f .OrderItem_count_08 {
    color: #e9e2bf;
}

.OrderItem_swf_0a {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 128rem;
    height: 96rem;
    top: -40rem;
    pointer-events: none;
}

.OrderItem_borderStatic_dc,
.OrderItem_borderWave_c6 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 1rem solid #ffb266;
    border-radius: 2rem;
    opacity: 0;
    pointer-events: none;
}

.OrderItem_borderStatic_dc {
    box-shadow: inset 0 0 30rem rgba(255, 122, 0, 0.3);
}

.OrderItem_base__active_4f .OrderItem_borderStatic_dc {
    opacity: 0;
    animation-name: OrderItem_fadeIn_0b;
    animation-duration: 6s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.07, 0.82, 0.17, 1);
    animation-delay: 0s;
    animation-iteration-count: 1;
}

.OrderItem_borderWave_c6 {
    animation: OrderItem_borderScaleOut_38 1.5s ease-out 0.65s;
}

@keyframes OrderItem_borderScaleOut_38 {
    0% {
        opacity: 0;
        transform: scale(1);
    }

    10% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: scale(1.4, 1.8);
    }
}

.OrderItem_buyButton_9f {
    width: 104rem;
    height: 20rem;
    margin-top: 8rem;
}

.OrderList_base_49 {
    display: flex;
    justify-content: center;
    align-self: center;
    text-align: center;
    position: relative;
    z-index: 2;
}

.OrderPanel_base_3f {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.OrderPanel_ordersLabel_8f {
    color: #e9e2bf;
    font-size: 14rem;
    font-weight: 700;
    line-height: 1.15;
    margin-bottom: 22rem;
    text-align: center;
    text-shadow: 0 0 14rem #ff00;
    z-index: 3;
}

.OrderPanel_back_c9 {
    width: 660rem;
    height: 170rem;
    background: url('R.images.historical_battles.gui.maps.icons.order.boosters_back') no-repeat 50% / contain;
    position: absolute;
    bottom: -8rem;
    left: 50%;
    z-index: -1;
    transform: translateX(-50%);
    pointer-events: none;
}

.StatusWarning_base_bb {
    color: #ffdd99;
    font-size: 14rem;
    font-weight: 700;
    line-height: 1.15;
    white-space: pre;
}

.StatusWarning_base__regular_cb {
    text-shadow:
        0 0 4rem rgba(255, 127, 0, 0.25),
        0 0 8rem #ff2a00,
        0 0 15rem #e52;
    background: linear-gradient(
        270deg,
        rgba(52, 1, 1, 0) 0%,
        rgba(52, 1, 1, 0.6) 30%,
        rgba(52, 1, 1, 0.65) 50%,
        rgba(52, 1, 1, 0.6) 67%,
        rgba(52, 1, 1, 0) 100%
    );
}

.StatusWarning_base__banned_05 {
    background: url('R.images.historical_battles.gui.maps.icons.common.banBg') no-repeat 50% / contain;
    color: #e9e2bf;
    text-shadow: 0 0 14rem #ff0000;
}

.mediaSmall .StatusWarning_base_bb {
    font-size: 15rem;
}

.StatusWarning_content_c4 {
    max-width: 300rem;
    padding: 6rem 15rem 8rem;
    text-align: center;
}

.mediaSmall .StatusWarning_content_c4 {
    max-width: 430rem;
    padding: 8rem 15rem 13rem;
}

.StatusWarning_border_99 {
    height: 1rem;
    background: linear-gradient(
        270deg,
        rgba(255, 221, 153, 0) 0%,
        #ffdd99 30%,
        #ffdd99 50%,
        #ffdd99 67%,
        rgba(255, 221, 153, 0) 100%
    );
    filter: drop-shadow(0 0 4rem rgba(255, 127, 0, 0.25)) drop-shadow(0 0 8rem #ff2a00) drop-shadow(0 0 15rem #e52);
    opacity: 0.5;
}

.StatusWarning_contentWrapper_16 {
    display: flex;
    align-items: center;
}

.StatusWarning_horizontalBorder_5e {
    width: 78rem;
    height: 2rem;
    padding-right: 8rem;
    background: linear-gradient(90deg, rgba(255, 221, 153, 0.3) 0.64%, rgba(255, 221, 153, 0) 100%);
}

.StatusWarning_horizontalBorder__left_14 {
    padding-left: 8rem;
    padding-right: 0;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.StatusWarning_base__banned_05 .StatusWarning_horizontalBorder_5e {
    background: linear-gradient(90deg, rgba(233, 226, 191, 0.3) 0%, rgba(233, 226, 191, 0) 100%);
}

.StatusOrBanDisplay_statusMix_5c {
    position: absolute;
    top: 126rem;
    left: 50%;
    z-index: 2;
    transform: translateX(-50%);
}

.mediaSmall .StatusOrBanDisplay_statusMix_5c {
    top: 136rem;
}

.mediaMedium .StatusOrBanDisplay_statusMix_5c {
    top: 176rem;
}

.mediaLarge .StatusOrBanDisplay_statusMix_5c {
    top: 204rem;
}

.StatusOrBanDisplay_icon_ec {
    width: 38rem;
    height: 38rem;
    margin: -9rem -14rem -14rem;
    background: url('R.images.historical_battles.gui.maps.icons.common.info') no-repeat 50% / contain;
    cursor: pointer;
}

.HangarApp_base_22 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.HangarApp_status_23 {
    transition: opacity 0.2s 0.2s;
}

.HangarApp_base__hide_60 .HangarApp_status_23 {
    opacity: 0;
    pointer-events: none;
}

.HangarApp_base__show_b1 .HangarApp_status_23 {
    opacity: 1;
}

.HangarApp_status_23 {
    z-index: 9;
}

.HangarApp_vignette_3f {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url('R.images.historical_battles.gui.maps.icons.backgrounds.vignette_lobby') no-repeat 50% / 100%;
    z-index: -1;
}

.HangarApp_base__frontNotAvailable_33 .HangarApp_vignette_3f {
    z-index: 4;
}

.HangarApp_header_02 {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 50%;
    z-index: 8;
    transform: translate(-50%, 0);
    transition: transform 0.2s 0.2s;
    pointer-events: none;
}

.HangarApp_base__hide_60 .HangarApp_header_02 {
    transform: translate(-50%, -190rem);
}

.HangarApp_footer_36 {
    height: 122rem;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translate(0, 0);
    transition: transform 0.2s 0.2s;
    cursor: default;
}

.HangarApp_base__hide_60 .HangarApp_footer_36 {
    transform: translate(0, 130rem);
}

.HangarApp_footerBg_07 {
    height: 122rem;
    background-color: rgba(0, 2, 17, 0.4);
    mix-blend-mode: hard-light;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    pointer-events: none;
}

.HangarApp_sceneWrapper_52 {
    position: absolute;
    top: 1rem;
    right: 1rem;
    bottom: 1rem;
    left: 1rem;
    z-index: 0;
}

.HangarApp_orderPanelContainer_08 {
    transition: opacity 0.2s 0.2s;
}

.HangarApp_base__hide_60 .HangarApp_orderPanelContainer_08 {
    opacity: 0;
    pointer-events: none;
}

.HangarApp_base__show_b1 .HangarApp_orderPanelContainer_08 {
    opacity: 1;
}

.HangarApp_orderPanelContainer_08 {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    top: -133rem;
}

.HangarApp_shopButton_7c {
    transition: opacity 0.2s 0.2s;
}

.HangarApp_base__hide_60 .HangarApp_shopButton_7c {
    opacity: 0;
    pointer-events: none;
}

.HangarApp_base__show_b1 .HangarApp_shopButton_7c {
    opacity: 1;
}

.HangarApp_shopButton_7c {
    position: absolute;
    top: 130rem;
    right: 20rem;
    z-index: 6;
}

.HangarApp_base__frontNotAvailable_33 .HangarApp_shopButton_7c {
    display: none;
}

.mediaSmall .HangarApp_shopButton_7c {
    top: 90rem;
}

.mediaMedium .HangarApp_shopButton_7c {
    top: 30rem;
}

.mediaLarge .HangarApp_shopButton_7c {
    right: 30rem;
}

.HangarApp_frontmanWidget_91 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: opacity 0.2s 0.2s;
}

.HangarApp_base__hide_60 .HangarApp_frontmanWidget_91 {
    opacity: 0;
    pointer-events: none;
}

.HangarApp_base__show_b1 .HangarApp_frontmanWidget_91 {
    opacity: 1;
}

.HangarApp_bigFrontmanIcon_cc {
    transition: opacity 0.2s 0.2s;
}

.HangarApp_base__hide_60 .HangarApp_bigFrontmanIcon_cc {
    opacity: 0;
    pointer-events: none;
}

.HangarApp_base__show_b1 .HangarApp_bigFrontmanIcon_cc {
    opacity: 1;
}

.HangarApp_bigFrontmanIcon_cc {
    display: none;
    position: absolute;
    right: 0;
    bottom: 0;
    pointer-events: none;
}

.mediaSmall .HangarApp_bigFrontmanIcon_cc {
    display: flex;
}

.HangarApp_infoButton_42 {
    position: absolute;
    top: 11rem;
    left: 15rem;
    z-index: 9;
}

.mediaSmall .HangarApp_infoButton_42 {
    top: 31rem;
    left: 35rem;
}

.HangarApp_closeButton_f3 {
    position: absolute;
    top: 11rem;
    right: 15rem;
    z-index: 9;
}

.mediaSmall .HangarApp_closeButton_f3 {
    top: 31rem;
    right: 35rem;
}

.HangarApp_fadingCover_c8 {
    z-index: 1;
}
