.NotEnoughCredits_base_5c {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 14rem;
}

.NotEnoughCredits_title_64 {
    color: #FF2717;
    font-size: 15rem;
    font-weight: 700;
    line-height: 1.15;
}

.NotEnoughCredits_description_0f {
    color: #8C8C7E;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    margin-top: 4rem;
}

