.CButton_base_40 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    box-shadow: 0 0 0 1rem rgba(0, 0, 0, 0.6);
    position: relative;
    cursor: pointer;
}

.CButton_base__main_42,
.CButton_base__primary_7f,
.CButton_base__primaryGreen_6f,
.CButton_base__primaryRed_ec,
.CButton_base__secondary_50 {
    background-size: 100% 100%;
}

.CButton_base__main_42 {
    background-image: url('R.images.gui.maps.icons.components.button.back_main');
}

.CButton_base__primary_7f {
    background-image: url('R.images.gui.maps.icons.components.button.back_primary');
}

.CButton_base__primaryGreen_6f {
    background-image: url('R.images.gui.maps.icons.components.button.back_primary_green');
}

.CButton_base__primaryRed_ec {
    background-image: url('R.images.gui.maps.icons.components.button.back_primary_red');
}

.CButton_base__secondary_50 {
    background-image: url('R.images.gui.maps.icons.components.button.back_secondary');
}

.CButton_base__ghost_ed {
    border-radius: 3rem;
    box-shadow:
        0 0 0 1rem rgba(0, 0, 0, 0.3),
        0 0 0 1rem rgba(255, 255, 255, 0.15) inset;
    background-color: rgba(0, 0, 0, 0.15);
}

.CButton_base__extraSmall_27 {
    min-height: 17rem;
    padding: 0 16rem;
}

.CButton_base__small_df,
.CButton_base__medium_74 {
    padding: 0 20rem;
}

.CButton_base__small_df {
    min-height: 18rem;
}

.CButton_base__medium_74 {
    min-height: 32rem;
}

.CButton_base__large_5c {
    min-height: 48rem;
}

.CButton_base__disabled_d9 {
    cursor: default;
}
/* Element .back and background-image in element .base need for fix bug in GF https://jira.wargaming.net/browse/WOTD-158525
The bug is that under certain conditions, when using border-image, stripes appear. Strip is a single-pixel gap
between 'border-image-width' and 'fill'.
This bug is reproduced in Google Chrome 81.0.4044.113
*/
.CButton_back_e5 {
    border-image-slice: 4 fill;
    border-image-width: 4rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.CButton_base__main_42 .CButton_back_e5 {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_main');
}
.CButton_base__primary_7f .CButton_back_e5 {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_primary');
}
.CButton_base__primaryGreen_6f .CButton_back_e5 {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_primary_green');
}
.CButton_base__primaryRed_ec .CButton_back_e5 {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_primary_red');
}
.CButton_base__secondary_50 .CButton_back_e5 {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_secondary');
}
.CButton_texture_fe {
    background: url('R.images.gui.maps.icons.components.button.standard_texture_file');
    background-size: 155rem 31rem;
    mix-blend-mode: soft-light;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.CButton_state_11 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: box-shadow 0.16s ease-in-out;
}
.CButton_base__focus_83 .CButton_state_11 {
    border-radius: 2rem;
    box-shadow: inset 0 0 2rem 1rem rgba(255, 85, 0, 0.2);
}
.CButton_stateHighlightHover_ff,
.CButton_stateHighlightActive_35,
.CButton_stateDisabled_54 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.CButton_stateHighlightHover_ff {
    background-image: linear-gradient(
        180deg,
        rgba(252, 248, 235, 0.25) 0%,
        rgba(252, 248, 235, 0.1) 50%,
        rgba(255, 255, 255, 0) 100%
    );
    opacity: 0;
}
.CButton_base_40:hover .CButton_stateHighlightHover_ff {
    opacity: 1;
}
.CButton_base_40:active .CButton_stateHighlightHover_ff {
    opacity: 0;
}
.CButton_base__disabled_d9:hover .CButton_stateHighlightHover_ff {
    opacity: 0;
}
.CButton_base__ghost_ed .CButton_stateHighlightHover_ff {
    box-shadow: 0 15rem 12rem 0 rgba(242, 242, 230, 0.11) inset;
    background-color: rgba(8, 6, 0, 0.18);
    background-image: none;
}
.CButton_stateHighlightActive_35 {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.15) 100%);
    opacity: 0;
}
.CButton_base__highlightActive_b2 .CButton_stateHighlightActive_35 {
    opacity: 1;
}
.CButton_stateDisabled_54 {
    background-color: rgba(0, 0, 0, 0.25);
    background-image: url('R.images.gui.maps.icons.components.button.texture_disable');
    background-size: 15rem 15rem;
    visibility: hidden;
}
.CButton_base__disabled_d9 .CButton_stateDisabled_54 {
    visibility: inherit;
}
.CButton_content_cc {
    display: flex;
    align-items: center;
    color: #f2f2e6;
    font-weight: 700;
    line-height: 1.2;
    text-shadow: 0 -1rem 1rem #000;
    letter-spacing: 0.03em;
    transform: translateY(-1rem);
}
.CButton_content_cc[lang='ja'],
.CButton_content_cc[lang='ko'],
.CButton_content_cc[lang='zh_tw'],
.CButton_content_cc[lang='zh_sg'],
.CButton_content_cc[lang='zh_cn'],
.CButton_content_cc[lang='th'] {
    font-weight: 400;
}
.CButton_base__main_42 .CButton_content_cc,
.CButton_base__primaryRed_ec .CButton_content_cc {
    text-shadow: 0 -1rem 1rem #600;
}
.CButton_base__secondary_50 .CButton_content_cc {
    color: rgba(254, 254, 236, 0.75);
}
.CButton_base__primaryGreen_6f .CButton_content_cc {
    text-shadow: 0 -1rem 1rem #1c2502;
}
.CButton_base__extraSmall_27 .CButton_content_cc {
    font-size: 12rem;
}
.CButton_base__small_df .CButton_content_cc {
    font-size: 14rem;
}
.CButton_base__medium_74 .CButton_content_cc {
    font-size: 15rem;
}
.CButton_base__large_5c .CButton_content_cc {
    font-size: 18rem;
}
.CButton_base__disabled_d9 .CButton_content_cc {
    opacity: 0.6;
}

.FormatText_base_d0 {
    display: flex;
    flex-wrap: wrap;
}

.TankType_base_ba {
    width: 44rem;
    height: 37rem;
    position: relative;
}

.TankType_icon_f9 {
    width: 81rem;
    height: 73rem;
    background: no-repeat 50% / contain;
    position: absolute;
    top: -17rem;
    left: -18rem;
}

.TankType_icon__lightTank_6d {
    background-image: url('R.images.gui.maps.icons.marathon.tankTypes.type_tank_big_lighttank');
}

.TankType_icon__mediumTank_f0 {
    background-image: url('R.images.gui.maps.icons.marathon.tankTypes.type_tank_big_mediumtank');
}

.TankType_icon__heavyTank_3c {
    background-image: url('R.images.gui.maps.icons.marathon.tankTypes.type_tank_big_heavytank');
}

.TankType_icon__spg_f1 {
    background-image: url('R.images.gui.maps.icons.marathon.tankTypes.type_tank_big_spg');
}

.TankType_icon__at_spg_d6 {
    background-image: url('R.images.gui.maps.icons.marathon.tankTypes.type_tank_big_at-spg');
}

.TextButton_base_b6 {
    display: flex;
    align-items: center;
    padding: 0 3rem;
    font-size: 12rem;
    position: relative;
    cursor: pointer;
}

.TextButton_base__right_39 {
    flex-direction: row-reverse;
}
.TextButton_icon_17 {
    width: 32rem;
    height: 32rem;
    background: no-repeat center / contain;
    position: relative;
}
.TextButton_icon__back_43,
.TextButton_icon__forward_59 {
    margin: -1rem -5rem;
    background-image: url('R.images.gui.maps.icons.components.text_button.back');
    transform: translateY(1rem);
}
.TextButton_icon__forward_59 {
    transform: rotate(180deg) translateY(1rem);
}
.TextButton_icon__close_53 {
    margin: -1rem 0;
    background-image: url('R.images.gui.maps.icons.components.text_button.close');
}
.TextButton_icon__info_33 {
    margin: -1rem -5rem;
    background-image: url('R.images.gui.maps.icons.components.text_button.info');
}
.TextButton_glow_a4 {
    width: 100%;
    height: 100%;
    background: no-repeat center / contain;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity 0.16s;
}
.TextButton_icon__back_43 .TextButton_glow_a4,
.TextButton_icon__forward_59 .TextButton_glow_a4 {
    background-image: url('R.images.gui.maps.icons.components.text_button.back_hover');
}
.TextButton_icon__close_53 .TextButton_glow_a4 {
    background-image: url('R.images.gui.maps.icons.components.text_button.close_hover');
}
.TextButton_icon__info_33 .TextButton_glow_a4 {
    background-image: url('R.images.gui.maps.icons.components.text_button.info_hover');
}
.TextButton_base_b6:hover .TextButton_glow_a4 {
    opacity: 1;
}
.TextButton_base_b6:active .TextButton_glow_a4 {
    opacity: 0;
}
.TextButton_caption_82 {
    position: relative;
    transition:
        color 0.16s,
        text-shadow 0.16s;
}
.TextButton_caption__back_b9,
.TextButton_caption__forward_4e,
.TextButton_caption__close_36 {
    color: #ffdd99;
    text-shadow:
        0 0 10rem rgba(255, 42, 0, 1),
        0 0 10rem rgba(255, 42, 0, 0.4),
        0 0 10rem rgba(255, 42, 0, 0.4),
        0 0 2rem rgba(255, 42, 0, 0.4),
        0 0 1rem rgba(255, 42, 0, 0.4),
        0 0 2rem rgba(255, 42, 0, 0.4),
        0 0 1rem rgba(255, 42, 0, 0.4);
}
.TextButton_base_b6:hover .TextButton_caption__back_b9,
.TextButton_base_b6:hover .TextButton_caption__forward_4e,
.TextButton_base_b6:hover .TextButton_caption__close_36 {
    color: #fffa9f;
}
.TextButton_base_b6:active .TextButton_caption__back_b9,
.TextButton_base_b6:active .TextButton_caption__forward_4e,
.TextButton_base_b6:active .TextButton_caption__close_36 {
    color: #ffdd99;
}
.TextButton_caption__info_23 {
    padding: 0 5rem;
    color: #ccffff;
    text-shadow:
        0 0 12rem rgba(31, 68, 255, 0.8),
        0 0 8rem #00eaff;
}
.TextButton_base_b6:hover .TextButton_caption__info_23 {
    color: #e3ffff;
    text-shadow:
        0 0 12rem rgba(31, 68, 255, 0.8),
        0 0 12rem rgba(0, 234, 255, 1),
        0 0 8rem #00eaff;
}
.TextButton_base_b6:active .TextButton_caption__info_23 {
    color: #ccffff;
    text-shadow:
        0 0 12rem rgba(31, 68, 255, 0.6),
        0 0 8rem #00eaff;
}
.TextButton_goto_e7 {
    color: #7c7c6c;
}
.TextButton_base__left_ff .TextButton_goto_e7 {
    margin-left: 8rem;
}
.TextButton_base__right_39 .TextButton_goto_e7 {
    margin-right: 8rem;
}
.TextButton_shine_e2 {
    width: 90rem;
    height: 40rem;
    background: url('R.images.gui.maps.icons.components.text_button.shine') no-repeat center / contain;
    opacity: 0;
    position: absolute;
    top: -4rem;
    transition: opacity 0.16s;
    pointer-events: none;
}
.TextButton_base__left_ff .TextButton_shine_e2 {
    left: -4rem;
}
.TextButton_base__right_39 .TextButton_shine_e2 {
    right: -4rem;
    transform: rotate(180deg);
}
.TextButton_base_b6:hover .TextButton_shine_e2 {
    opacity: 1;
}
.TextButton_base_b6:active .TextButton_shine_e2 {
    opacity: 0;
}

.ViewDecorator_base_aa {
    width: 100%;
    height: 100%;
    background: no-repeat 50% / cover;
}
.ViewDecorator_container_98 {
    visibility: hidden;
}
.ViewDecorator_container__shown_da {
    visibility: visible;
}
.ViewDecorator_leftBlock_63 {
    position: absolute;
    top: 31rem;
    left: 15rem;
    z-index: 1;
}
.ViewDecorator_leftBlock__small_6a {
    top: 11rem;
    left: 10rem;
}
.ViewDecorator_rightBlock_71 {
    position: absolute;
    top: 31rem;
    right: 16rem;
    z-index: 1;
}
.ViewDecorator_rightBlock__small_ef {
    top: 11rem;
    right: 8rem;
}
.ViewDecorator_view_9e {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Reward_base_ea {
    display: flex;
    flex-direction: column;
    position: relative;
}

.Reward_base__s48x48_46,
.Reward_base__small_c0 {
    width: 48rem;
    height: 48rem;
}

.Reward_base__s80x80_ce,
.Reward_base__big_e5 {
    width: 80rem;
    height: 80rem;
}

.Reward_base__s128x100_c3 {
    width: 128rem;
    height: 100rem;
}

.Reward_base__s180x135_7c {
    width: 180rem;
    height: 135rem;
}

.Reward_base__s232x174_67 {
    width: 232rem;
    height: 174rem;
}

.Reward_base__s296x222_78 {
    width: 296rem;
    height: 222rem;
}

.Reward_base__s400x300_07 {
    width: 400rem;
    height: 300rem;
}

.Reward_base__s600x450_f8 {
    width: 600rem;
    height: 450rem;
}

.Reward_tooltipWrapper_b5 {
    height: 100%;
}

.Reward_icon_df {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    position: relative;
    z-index: 1;
}

.Reward_overlay_68 {
    background: no-repeat center / 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.Reward_base__s48x48_46 .Reward_overlay_68,
.Reward_base__small_c0 .Reward_overlay_68 {
    width: 96rem;
    height: 96rem;
    background-size: 100%;
    overflow: visible;
}

.Reward_base__s80x80_ce .Reward_overlay_68,
.Reward_base__big_e5 .Reward_overlay_68 {
    width: 128rem;
    height: 128rem;
}

.Reward_base__s180x135_7c .Reward_overlay_68 {
    width: 266rem;
    height: 241rem;
}

.Reward_base__s232x174_67 .Reward_overlay_68 {
    width: 344rem;
    height: 312rem;
}

.Reward_base__s296x222_78 .Reward_overlay_68 {
    width: 450rem;
    height: 408rem;
}

.Reward_base__s400x300_07 .Reward_overlay_68 {
    width: 618rem;
    height: 590rem;
}

.Reward_base__s600x450_f8 .Reward_overlay_68 {
    width: 670rem;
    height: 575rem;
}

.Reward_highlight_36 {
    width: 100%;
    height: 100%;
    background: no-repeat center / contain;
    position: absolute;
    z-index: 0;
}

.Reward_image_89 {
    position: relative;
}

.Reward_info_72 {
    color: #e9e2bf;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    margin-top: -13rem;
    text-align: center;
    z-index: 1;
}

.Reward_base__s48x48_46 .Reward_info_72,
.Reward_base__small_c0 .Reward_info_72 {
    margin: -10rem -10rem 0;
}

.Reward_info__multi_63 {
    margin-right: 2rem;
    text-align: right;
}

.Reward_base__s48x48_46 .Reward_info__multi_63,
.Reward_base__small_c0 .Reward_info__multi_63 {
    margin-right: 0;
}

.Reward_info__credits_ef {
    color: #ced9d9;
}

.Reward_info__gold_36 {
    color: #ffc363;
}

.Reward_info__crystal_36 {
    color: #c9c9b6;
}

.Reward_info__premiumTank_d3 {
    color: #ffdd99;
}

.Reward_title_36 {
    color: #e9e2bf;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    max-width: 80rem;
    margin: -13rem -16rem 0;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.mediaMedium .Reward_title_36 {
    max-width: 100rem;
    margin-left: -10rem;
    margin-right: -10rem;
}

.Reward_timer_d3 {
    background: no-repeat center / contain;
    position: absolute;
    z-index: 1;
}

.Reward_base__s48x48_46 .Reward_timer_d3,
.Reward_base__small_c0 .Reward_timer_d3 {
    width: 23rem;
    height: 23rem;
    background-image: url('R.images.gui.maps.icons.quests.bonuses.small.timer');
    top: -6rem;
    right: -6rem;
}

.Reward_base__s80x80_ce .Reward_timer_d3,
.Reward_base__big_e5 .Reward_timer_d3 {
    width: 48rem;
    height: 48rem;
    background-image: url('R.images.gui.maps.icons.quests.bonuses.big.timer');
    top: -14rem;
    right: -14rem;
}

.Rewards_base_26 {
    display: flex;
}

.Rewards_base__vertical_9f {
    flex-direction: column;
}

.Rewards_reward_7b {
    margin: 0 10rem;
}

.Rewards_reward__vertical_c6 {
    margin: 15rem 0;
}

.RestReward_base_19 {
    margin: 0 10rem;
}

.RewardsList_base_59 {
    display: flex;
}

@keyframes RewardApp_ribbonIn_72 {
    from {
        opacity: 0;
        transform: scale(0.8);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes RewardApp_prizeIn_1a {
    from {
        opacity: 0;
        transform: translateY(-60rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes RewardApp_radial_fd {
    to {
        transform: rotate(360deg);
    }
}

@keyframes RewardApp_fadeIn_33 {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.RewardApp_base_55 {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.RewardApp_radial_fd {
    width: 1163rem;
    height: 1080rem;
    background: no-repeat 50% / contain;
    background-image: url('R.images.gui.maps.icons.marathon.rewardWindow.bg_glow');
    mix-blend-mode: screen;
    position: absolute;
    top: -20rem;
    left: 50%;
    z-index: 1;
    transform: translateX(-50%);
    animation: RewardApp_fadeIn_33 0.3s 1s both;
}

.RewardApp_base__extraSmall_54 .RewardApp_radial_fd,
.RewardApp_base__small_0d .RewardApp_radial_fd {
    top: -180rem;
}

.RewardApp_ribbon_c4 {
    width: 1920rem;
    height: 500rem;
    margin-left: -960rem;
    background: url('R.images.gui.maps.icons.marathon.rewardWindow.gold_ribbon') no-repeat 50% / contain;
    position: absolute;
    top: 450rem;
    left: 50%;
    z-index: 2;
    animation: RewardApp_ribbonIn_72 0.5s 0.5s both;
}

.RewardApp_base__extraSmall_54 .RewardApp_ribbon_c4,
.RewardApp_base__small_0d .RewardApp_ribbon_c4 {
    width: 1258rem;
    height: 328rem;
    margin-left: -629rem;
    top: 320rem;
}

.RewardApp_header_b7 {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 70rem;
    right: 0;
    left: 0;
}

.RewardApp_base__extraSmall_54 .RewardApp_header_b7,
.RewardApp_base__small_0d .RewardApp_header_b7 {
    top: 40rem;
}

.RewardApp_title_aa {
    color: #f2f2f7;
    font-size: 73rem;
    font-weight: 700;
    line-height: 1.1;
    margin-top: -4rem;
}

.RewardApp_base__extraSmall_54 .RewardApp_title_aa,
.RewardApp_base__small_0d .RewardApp_title_aa {
    font-size: 36rem;
}

.RewardApp_supTitle_d1 {
    color: #f2f2f7;
    font-size: 22rem;
    font-weight: 700;
    line-height: 1.2;
}

.RewardApp_base__extraSmall_54 .RewardApp_supTitle_d1,
.RewardApp_base__small_0d .RewardApp_supTitle_d1 {
    font-size: 20rem;
}

.RewardApp_box_3e {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
    top: 260rem;
    z-index: 4;
}

.RewardApp_base__extraSmall_54 .RewardApp_box_3e,
.RewardApp_base__small_0d .RewardApp_box_3e {
    top: 140rem;
}

.RewardApp_boxContainer_51 {
    animation: RewardApp_prizeIn_1a 0.5s 0.7s both;
}

.RewardApp_name_33 {
    color: #fefeec;
    font-size: 36rem;
    font-weight: 700;
    line-height: 1.1;
    display: flex;
    justify-content: center;
    animation: RewardApp_fadeIn_33 0.5s 1.2s both;
}

.RewardApp_base__extraSmall_54 .RewardApp_name_33,
.RewardApp_base__small_0d .RewardApp_name_33 {
    font-size: 28rem;
}

.RewardApp_nameType_40 {
    position: relative;
    top: 2rem;
}

.RewardApp_base__extraSmall_54 .RewardApp_nameType_40,
.RewardApp_base__small_0d .RewardApp_nameType_40 {
    top: -4rem;
}

.RewardApp_prize_ce {
    width: 485rem;
    height: 364rem;
    margin-top: 28rem;
    background: no-repeat 50% / contain;
    position: relative;
    left: -59rem;
}

.RewardApp_base__extraSmall_54 .RewardApp_prize_ce,
.RewardApp_base__small_0d .RewardApp_prize_ce {
    margin-top: 0;
}

.RewardApp_prizeReward_e6 {
    width: 80rem;
    height: 80rem;
    background: no-repeat 50% / contain;
    position: absolute;
    top: 249rem;
    right: 65rem;
}

.RewardApp_rewards_0f {
    display: flex;
    justify-content: center;
    margin-top: -33rem;
    animation: RewardApp_prizeIn_1a 0.5s 1s both;
}

.RewardApp_buttons_1d {
    display: flex;
    justify-content: center;
    height: 32rem;
    position: absolute;
    right: 0;
    bottom: 130rem;
    left: 0;
    z-index: 4;
    animation: RewardApp_fadeIn_33 0.5s 1s both;
}

.RewardApp_base__medium_ac .RewardApp_buttons_1d,
.RewardApp_base__extraSmall_54 .RewardApp_buttons_1d,
.RewardApp_base__small_0d .RewardApp_buttons_1d {
    bottom: 90rem;
}

.RewardApp_button_89 {
    width: 160rem;
    height: 32rem;
    margin: 0 7rem;
}

.RewardApp_button__lang_de_e1,
.RewardApp_button__lang_hu_13,
.RewardApp_button__lang_uk_0c,
.RewardApp_button__lang_nl_08 {
    width: 190rem;
}
