.Layout_base_81 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 996rem;
    height: 100%;
    position: relative;
}

    .Layout_base__small_cb,
    .Layout_base__medium_df {
        width: 1310rem;
    }

    .Layout_base__large_f6,
    .Layout_base__huge_d2 {
        width: 1560rem;
    }
.Layout_header_46 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 10rem 0 20rem;
}
.Layout_base__compare_56 .Layout_header_46 {
        flex-direction: column;
        align-items: center;
    }
.Layout_header__small_cb,
    .Layout_header__tiny_4b {
        margin: 10rem 0 16rem;
    }
.Layout_content_79 {
    display: flex;
    justify-content: space-between;
    flex: 1;
    width: 100%;
}
.Layout_base__compare_56 .Layout_content_79 {
        justify-content: center;
        margin-top: 7rem;
        padding-top: 20rem;
        padding-bottom: 10rem;
    }
.Layout_main_df {
    width: 596rem;
    border-top: 1rem solid rgba(255,255,255, .1);
    border-bottom: 1rem solid rgba(255,255,255, .1);
}
.Layout_base__compare_56 .Layout_main_df {
        width: 902rem;
    }
.Layout_base__small_cb .Layout_main_df,
    .Layout_base__medium_df .Layout_main_df {
        width: 902rem;
    }
.Layout_base__large_f6 .Layout_main_df,
    .Layout_base__huge_d2 .Layout_main_df {
        width: 1102rem;
    }
.Layout_inner_3e {
    margin: 0 -16rem;
}
.Layout_base__large_f6 .Layout_inner_3e,
    .Layout_base__huge_d2 .Layout_inner_3e {
        margin: 0 -20rem;
    }
.Layout_footer_f4 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 166rem;
    padding-top: 20rem;
}

.WeaponOccupancy_base_19 {
    display: flex;
    color: #7AB300;
    font-weight: 700;
}

    .WeaponOccupancy_base__incomplete_e0 {
        color: #FF2717;
    }

.WeaponOccupancy_tip_18 {
    margin-right: 5rem;
}

.WeaponOccupancy_occupancy_6e {
    color: #80D43A;
    font-size: 24rem;
}

.WeaponOccupancy_occupancy__incomplete_e1 {
        color: #FF2717;
    }

.WeaponOccupancy_occupancy__large_37,
    .WeaponOccupancy_occupancy__huge_a5 {
        font-size: 28rem;
    }

