.FormatText_base_d0 {
    display: flex;
    flex-wrap: wrap;
}

@keyframes Title_showIn_6a {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0%);
    }
}

@keyframes Title_showOut_62 {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-100%);
    }
}

@keyframes Title_fadeIn_93 {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes Title_fadeOut_06 {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes Title_windowIn_bc {
    from {
        opacity: 0;
        transform: scale(1.1);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.Title_base_eb {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Title_icon_01 {
    width: 194rem;
    height: 152rem;
    background: url('R.images.gui.maps.icons.account_completion.rectangle_small') no-repeat 50% / contain;
    position: relative;
}

.mediaMedium .Title_icon_01 {
        width: 272rem;
        height: 206rem;
        margin-bottom: -6rem;
        background-image: url('R.images.gui.maps.icons.account_completion.rectangle');
}

.Title_title_9f {
    color: #F2F2F7;
    font-size: 28rem;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 9rem;
}

.mediaMedium .Title_title_9f {
        color: #F2F2F7;
        font-size: 36rem;
        font-weight: 700;
        line-height: 1.1;
        margin-bottom: 10rem;
}

.Title_br_3d {
    width: 100%;
}

.Title_subTitle_af {
    margin-bottom: 11rem;
}

.mediaMedium .Title_subTitle_af {
        margin-bottom: 24rem;
}

.Title_subTitleText_a7 {
    color: #E9E2BF;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    display: flex;
    justify-content: center;
    width: 330rem;
}

.mediaMedium .Title_subTitleText_a7 {
        color: #E9E2BF;
        font-size: 16rem;
        font-weight: 400;
        line-height: 1.25;
        width: 470rem;
}

.Title_subTitleText__binding_54 {
        color: #8C8C7E;
    }

.Title_subTitleIcon_57 {
    width: 24rem;
    height: 24rem;
    background: url('R.images.gui.maps.icons.library.info') no-repeat center / contain;
    transform: translate(-5rem, -2rem);
}

.mediaMedium .Title_subTitleIcon_57 {
        transform: translate(-5rem, 0);
}

.CButton_base_40 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    box-shadow: 0 0 0 1rem rgba(0,0,0, .6);
    position: relative;
    cursor: pointer;
}

    .CButton_base__main_42,
    .CButton_base__primary_7f,
    .CButton_base__primaryGreen_6f,
    .CButton_base__primaryRed_ec,
    .CButton_base__secondary_50 {
        background-size: 100% 100%;
    }

    .CButton_base__main_42 {
        background-image: url('R.images.gui.maps.icons.components.button.back_main');
    }

    .CButton_base__primary_7f {
        background-image: url('R.images.gui.maps.icons.components.button.back_primary');
    }

    .CButton_base__primaryGreen_6f {
        background-image: url('R.images.gui.maps.icons.components.button.back_primary_green');
    }

    .CButton_base__primaryRed_ec {
        background-image: url('R.images.gui.maps.icons.components.button.back_primary_red');
    }

    .CButton_base__secondary_50 {
        background-image: url('R.images.gui.maps.icons.components.button.back_secondary');
    }

    .CButton_base__ghost_ed {
        border-radius: 3rem;
        box-shadow: 0 0 0 1rem rgba(0,0,0, .3),
            0 0 0 1rem rgba(255,255,255, .15) inset;
        background-color: rgba(0,0,0, .15);
    }

    .CButton_base__extraSmall_27 {
        min-height: 17rem;
        padding: 0 16rem;
    }

    .CButton_base__small_df,
    .CButton_base__medium_74 {
        padding: 0 20rem;
    }

    .CButton_base__small_df {
        min-height: 18rem;
    }

    .CButton_base__medium_74 {
        min-height: 32rem;
    }

    .CButton_base__disabled_d9 {
        cursor: default;
    }
/* Element .back and background-image in element .base need for fix bug in GF https://jira.wargaming.net/browse/WOTD-158525
The bug is that under certain conditions, when using border-image, stripes appear. Strip is a single-pixel gap
between 'border-image-width' and 'fill'.
This bug is reproduced in Google Chrome 81.0.4044.113
*/
.CButton_back_e5 {
    border-image-slice: 4 fill;
    border-image-width: 4rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.CButton_base__main_42 .CButton_back_e5 {
        border-image-source: url('R.images.gui.maps.icons.components.button.back_main');
    }
.CButton_base__primary_7f .CButton_back_e5 {
        border-image-source: url('R.images.gui.maps.icons.components.button.back_primary');
    }
.CButton_base__primaryGreen_6f .CButton_back_e5 {
        border-image-source: url('R.images.gui.maps.icons.components.button.back_primary_green');
    }
.CButton_base__primaryRed_ec .CButton_back_e5 {
        border-image-source: url('R.images.gui.maps.icons.components.button.back_primary_red');
    }
.CButton_base__secondary_50 .CButton_back_e5 {
        border-image-source: url('R.images.gui.maps.icons.components.button.back_secondary');
    }
.CButton_texture_fe {
    background: url('R.images.gui.maps.icons.components.button.standard_texture_file');
    background-size: 155rem 31rem;
    mix-blend-mode: soft-light;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.CButton_state_11 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: box-shadow .16s ease-in-out;
}
.CButton_base__focus_83 .CButton_state_11 {
        border-radius: 2rem;
        box-shadow: inset 0 0 2rem 1rem rgba(255,85,0, .2);
    }
.CButton_stateHighlightHover_ff,
.CButton_stateHighlightActive_35,
.CButton_stateDisabled_54 {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.CButton_base__firstHover_d5 .CButton_stateHighlightHover_ff, .CButton_base__firstHover_d5 .CButton_stateHighlightActive_35, .CButton_base__firstHover_d5 .CButton_stateDisabled_54 {
        transition: opacity .16s ease-in-out;
    }
.CButton_stateHighlightHover_ff {
    background-image: linear-gradient(180deg, rgba(252,248,235, .25) 0%, rgba(252,248,235, .1) 50%, rgba(255,255,255, 0) 100%);
}
.CButton_base_40:hover .CButton_stateHighlightHover_ff {
        opacity: 1;
    }
.CButton_base_40:active .CButton_stateHighlightHover_ff {
        opacity: 0;
    }
.CButton_base__disabled_d9:hover .CButton_stateHighlightHover_ff {
        opacity: 0;
    }
.CButton_base__ghost_ed .CButton_stateHighlightHover_ff {
        box-shadow: 0 15rem 12rem 0 rgba(242,242,230, .11) inset;
        background-color: rgba(8,6,0, .18);
        background-image: none;
    }
.CButton_stateHighlightActive_35 {
    background-image: linear-gradient(180deg, rgba(0,0,0, .3) 0%, rgba(0,0,0, .15) 100%);
}
.CButton_base__highlightActive_b2 .CButton_stateHighlightActive_35 {
        opacity: 1;
    }
.CButton_stateDisabled_54 {
    background-color: rgba(0,0,0, .25);
    background-image: url('R.images.gui.maps.icons.components.button.texture_disable');
    background-size: 15rem;
}
.CButton_base__disabled_d9 .CButton_stateDisabled_54 {
        opacity: 1;
    }
.CButton_content_cc {
    display: flex;
    align-items: center;
    color: #f2f2e6;
    font-weight: 700;
    line-height: 1.2;
    text-shadow: 0 -1rem 1rem #000;
    letter-spacing: .03em;
    transform: translateY(-1rem);
}
.CButton_content_cc[lang=ja],
    .CButton_content_cc[lang=ko],
    .CButton_content_cc[lang=zh_tw],
    .CButton_content_cc[lang=zh_sg],
    .CButton_content_cc[lang=zh_cn],
    .CButton_content_cc[lang=th] {
        font-weight: 400;
    }
.CButton_base__main_42 .CButton_content_cc,
    .CButton_base__primaryRed_ec .CButton_content_cc {
        text-shadow: 0 -1rem 1rem #600;
    }
.CButton_base__secondary_50 .CButton_content_cc {
        color: rgba(254,254,236, .75);
    }
.CButton_base__primaryGreen_6f .CButton_content_cc {
        text-shadow: 0 -1rem 1rem #1c2502;
    }
.CButton_base__extraSmall_27 .CButton_content_cc {
        font-size: 12rem;
    }
.CButton_base__small_df .CButton_content_cc {
        font-size: 14rem;
    }
.CButton_base__medium_74 .CButton_content_cc {
        font-size: 15rem;
    }
.CButton_base__disabled_d9 .CButton_content_cc {
        opacity: .6;
    }

.TextButton_base_b6 {
    display: flex;
    align-items: center;
    padding: 0 3rem;
    font-size: 12rem;
    position: relative;
    cursor: pointer;
}

    .TextButton_base__right_39 {
        flex-direction: row-reverse;
    }
.TextButton_icon_17 {
    width: 32rem;
    height: 32rem;
    background: no-repeat center / contain;
    position: relative;
}
.TextButton_icon__back_43,
    .TextButton_icon__forward_59 {
        margin: -1rem -5rem;
        background-image: url('R.images.gui.maps.icons.components.text_button.back');
        transform: translateY(1rem);
    }
.TextButton_icon__forward_59 {
        transform: rotate(180deg) translateY(1rem);
    }
.TextButton_icon__close_53 {
        margin: -1rem 0;
        background-image: url('R.images.gui.maps.icons.components.text_button.close');
    }
.TextButton_icon__info_33 {
        margin: -1rem -5rem;
        background-image: url('R.images.gui.maps.icons.components.text_button.info');
    }
.TextButton_glow_a4 {
    width: 100%;
    height: 100%;
    background: no-repeat center / contain;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity .16s;
}
.TextButton_icon__back_43 .TextButton_glow_a4,
    .TextButton_icon__forward_59 .TextButton_glow_a4 {
        background-image: url('R.images.gui.maps.icons.components.text_button.back_hover');
    }
.TextButton_icon__close_53 .TextButton_glow_a4 {
        background-image: url('R.images.gui.maps.icons.components.text_button.close_hover');
    }
.TextButton_icon__info_33 .TextButton_glow_a4 {
        background-image: url('R.images.gui.maps.icons.components.text_button.info_hover');
    }
.TextButton_base_b6:hover .TextButton_glow_a4 {
        opacity: 1;
    }
.TextButton_base_b6:active .TextButton_glow_a4 {
        opacity: 0;
    }
.TextButton_caption_82 {
    position: relative;
    transition: color .16s, text-shadow .16s;
}
.TextButton_caption__back_b9,
    .TextButton_caption__forward_4e,
    .TextButton_caption__close_36 {
        color: #FFDD99;
        text-shadow: 0 0 10rem rgba(255,42,0, 1),
            0 0 10rem rgba(255,42,0, .4),
            0 0 10rem rgba(255,42,0, .4),
            0 0 2rem rgba(255,42,0, .4),
            0 0 1rem rgba(255,42,0, .4),
            0 0 2rem rgba(255,42,0, .4),
            0 0 1rem rgba(255,42,0, .4);
    }
.TextButton_base_b6:hover .TextButton_caption__back_b9, .TextButton_base_b6:hover .TextButton_caption__forward_4e, .TextButton_base_b6:hover .TextButton_caption__close_36 {
            color: #fffa9f;
        }
.TextButton_base_b6:active .TextButton_caption__back_b9, .TextButton_base_b6:active .TextButton_caption__forward_4e, .TextButton_base_b6:active .TextButton_caption__close_36 {
            color: #FFDD99;
        }
.TextButton_caption__info_23 {
        padding: 0 5rem;
        color: #CCFFFF;
        text-shadow: 0 0 12rem rgba(31,68,255, .8),
            0 0 8rem #00eaff;
    }
.TextButton_base_b6:hover .TextButton_caption__info_23 {
            color: #e3ffff;
            text-shadow: 0 0 12rem rgba(31,68,255, .8),
                0 0 12rem rgba(0,234,255, 1),
                0 0 8rem #00eaff;
        }
.TextButton_base_b6:active .TextButton_caption__info_23 {
            color: #CCFFFF;
            text-shadow: 0 0 12rem rgba(31,68,255, .6),
                0 0 8rem #00eaff;
        }
.TextButton_goto_e7 {
    color: #7c7c6c;
}
.TextButton_base__left_ff .TextButton_goto_e7 {
        margin-left: 8rem;
    }
.TextButton_base__right_39 .TextButton_goto_e7 {
        margin-right: 8rem;
    }
.TextButton_shine_e2 {
    width: 90rem;
    height: 40rem;
    background: url('R.images.gui.maps.icons.components.text_button.shine') no-repeat center / contain;
    opacity: 0;
    position: absolute;
    top: -4rem;
    transition: opacity .16s;
    pointer-events: none;
}
.TextButton_base__left_ff .TextButton_shine_e2 {
        left: -4rem;
    }
.TextButton_base__right_39 .TextButton_shine_e2 {
        right: -4rem;
        transform: rotate(180deg);
    }
.TextButton_base_b6:hover .TextButton_shine_e2 {
        opacity: 1;
    }
.TextButton_base_b6:active .TextButton_shine_e2 {
        opacity: 0;
    }

.CurtainSubViewTemplate_base_a7 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 580rem;
    height: 100vh;
    background: url('R.images.gui.maps.icons.account_completion.curtain_top_bg_small') no-repeat center top / contain;
    position: relative;
    cursor: auto;
}
    .CurtainSubViewTemplate_base__small_53,
    .CurtainSubViewTemplate_base__extraSmall_2d {
        width: 386rem;
        background-image: url('R.images.gui.maps.icons.account_completion.curtain_top_bg');
    }

.CurtainSubViewTemplate_closeButton_40 {
    position: absolute;
    top: 11rem;
    right: 9rem;
}

.CurtainSubViewTemplate_base__small_53 .CurtainSubViewTemplate_closeButton_40,
    .CurtainSubViewTemplate_base__extraSmall_2d .CurtainSubViewTemplate_closeButton_40 {
        right: 5rem;
    }

@keyframes RenamingCompleteViewApp_showIn_2c {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0%);
    }
}

@keyframes RenamingCompleteViewApp_showOut_bb {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-100%);
    }
}

@keyframes RenamingCompleteViewApp_fadeIn_c9 {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes RenamingCompleteViewApp_fadeOut_c2 {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes RenamingCompleteViewApp_windowIn_0e {
    from {
        opacity: 0;
        transform: scale(1.1);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.RenamingCompleteViewApp_base_ae {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 730rem;
}

.RenamingCompleteViewApp_base__small_7f .RenamingCompleteViewApp_base_ae,
    .RenamingCompleteViewApp_base__extraSmall_4e .RenamingCompleteViewApp_base_ae {
        min-height: 600rem;
    }

.RenamingCompleteViewApp_container_b7 {
    width: 100%;
    height: 198rem;
    position: relative;
}

.RenamingCompleteViewApp_base__small_7f .RenamingCompleteViewApp_container_b7,
    .RenamingCompleteViewApp_base__extraSmall_4e .RenamingCompleteViewApp_container_b7 {
        height: 135rem;
    }

.RenamingCompleteViewApp_name_15 {
    margin-top: -23rem;
    color: #E9E2BF;
    font-size: 36rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.RenamingCompleteViewApp_name__small_8f {
        font-size: 24rem;
    }

.RenamingCompleteViewApp_divider_f3 {
    width: 416rem;
    height: 1rem;
    margin-bottom: 22rem;
    background-color: #FFFFFF;
    opacity: .1;
}

.RenamingCompleteViewApp_base__small_7f .RenamingCompleteViewApp_divider_f3,
    .RenamingCompleteViewApp_base__extraSmall_4e .RenamingCompleteViewApp_divider_f3 {
        width: 306rem;
    }

.RenamingCompleteViewApp_button_22 {
    width: 232rem;
}

