.TextButton_base_b6 {
    display: flex;
    align-items: center;
    padding: 0 3rem;
    font-size: 12rem;
    position: relative;
    cursor: pointer;
}

    .TextButton_base__right_39 {
        flex-direction: row-reverse;
    }
.TextButton_icon_17 {
    width: 32rem;
    height: 32rem;
    background: no-repeat center / contain;
    position: relative;
}
.TextButton_icon__back_43,
    .TextButton_icon__forward_59 {
        margin: -1rem -5rem;
        background-image: url('R.images.gui.maps.icons.components.text_button.back');
        transform: translateY(1rem);
    }
.TextButton_icon__forward_59 {
        transform: rotate(180deg) translateY(1rem);
    }
.TextButton_icon__close_53 {
        margin: -1rem 0;
        background-image: url('R.images.gui.maps.icons.components.text_button.close');
    }
.TextButton_icon__info_33 {
        margin: -1rem -5rem;
        background-image: url('R.images.gui.maps.icons.components.text_button.info');
    }
.TextButton_glow_a4 {
    width: 100%;
    height: 100%;
    background: no-repeat center / contain;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity .16s;
}
.TextButton_icon__back_43 .TextButton_glow_a4,
    .TextButton_icon__forward_59 .TextButton_glow_a4 {
        background-image: url('R.images.gui.maps.icons.components.text_button.back_hover');
    }
.TextButton_icon__close_53 .TextButton_glow_a4 {
        background-image: url('R.images.gui.maps.icons.components.text_button.close_hover');
    }
.TextButton_icon__info_33 .TextButton_glow_a4 {
        background-image: url('R.images.gui.maps.icons.components.text_button.info_hover');
    }
.TextButton_base_b6:hover .TextButton_glow_a4 {
        opacity: 1;
    }
.TextButton_base_b6:active .TextButton_glow_a4 {
        opacity: 0;
    }
.TextButton_caption_82 {
    position: relative;
    transition: color .16s, text-shadow .16s;
}
.TextButton_caption__back_b9,
    .TextButton_caption__forward_4e,
    .TextButton_caption__close_36 {
        color: #FFDD99;
        text-shadow: 0 0 10rem rgba(255,42,0, 1),
            0 0 10rem rgba(255,42,0, .4),
            0 0 10rem rgba(255,42,0, .4),
            0 0 2rem rgba(255,42,0, .4),
            0 0 1rem rgba(255,42,0, .4),
            0 0 2rem rgba(255,42,0, .4),
            0 0 1rem rgba(255,42,0, .4);
    }
.TextButton_base_b6:hover .TextButton_caption__back_b9, .TextButton_base_b6:hover .TextButton_caption__forward_4e, .TextButton_base_b6:hover .TextButton_caption__close_36 {
            color: #fffa9f;
        }
.TextButton_base_b6:active .TextButton_caption__back_b9, .TextButton_base_b6:active .TextButton_caption__forward_4e, .TextButton_base_b6:active .TextButton_caption__close_36 {
            color: #FFDD99;
        }
.TextButton_caption__info_23 {
        padding: 0 5rem;
        color: #CCFFFF;
        text-shadow: 0 0 12rem rgba(31,68,255, .8),
            0 0 8rem #00eaff;
    }
.TextButton_base_b6:hover .TextButton_caption__info_23 {
            color: #e3ffff;
            text-shadow: 0 0 12rem rgba(31,68,255, .8),
                0 0 12rem rgba(0,234,255, 1),
                0 0 8rem #00eaff;
        }
.TextButton_base_b6:active .TextButton_caption__info_23 {
            color: #CCFFFF;
            text-shadow: 0 0 12rem rgba(31,68,255, .6),
                0 0 8rem #00eaff;
        }
.TextButton_goto_e7 {
    color: #7c7c6c;
}
.TextButton_base__left_ff .TextButton_goto_e7 {
        margin-left: 8rem;
    }
.TextButton_base__right_39 .TextButton_goto_e7 {
        margin-right: 8rem;
    }
.TextButton_shine_e2 {
    width: 90rem;
    height: 40rem;
    background: url('R.images.gui.maps.icons.components.text_button.shine') no-repeat center / contain;
    opacity: 0;
    position: absolute;
    top: -4rem;
    transition: opacity .16s;
    pointer-events: none;
}
.TextButton_base__left_ff .TextButton_shine_e2 {
        left: -4rem;
    }
.TextButton_base__right_39 .TextButton_shine_e2 {
        right: -4rem;
        transform: rotate(180deg);
    }
.TextButton_base_b6:hover .TextButton_shine_e2 {
        opacity: 1;
    }
.TextButton_base_b6:active .TextButton_shine_e2 {
        opacity: 0;
    }

.CloseBtn_base_0e {
    position: absolute;
    top: 40rem;
    right: 40rem;
    z-index: 10;
}

