.FormatText_base_d0 {
    display: flex;
    flex-wrap: wrap;
}

.Currency_base_57 {
    display: flex;
    align-items: center;
    position: relative;
}
.Currency_icon_c5 {
    --icon-height: 16rem;
    --icon-width: var(--icon-height);
    width: var(--icon-width);
    height: var(--icon-height);
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    z-index: 1;
}
.Currency_base__small_af .Currency_icon_c5,
    .Currency_base__big_bc .Currency_icon_c5,
    .Currency_base__large_65 .Currency_icon_c5,
    .Currency_base__extraLarge_4d .Currency_icon_c5 {
        transform: translateY(3rem);
    }
.Currency_icon__credits-small_9b {
        background-image: url('R.images.gui.maps.icons.library.CreditsIcon_2');
    }
.Currency_icon__credits-big_96 {
        background-image: url('R.images.gui.maps.icons.library.CreditsIcon_1');
    }
.Currency_icon__credits-large_ac {
        --icon-height: 48rem;
        margin-left: -1rem;
        background-image: url('R.images.gui.maps.shop.rewards.c_48x48.money_silver');
    }
.Currency_base__large_65 .Currency_icon__credits-large_ac {
            transform: translateY(4rem);
        }
.Currency_icon__credits-extraLarge_16 {
        --icon-height: 80rem;
        margin-right: -2rem;
        background-image: url('R.images.gui.maps.icons.library.credits_icon_80x80');
    }
.Currency_icon__gold-small_86 {
        background-image: url('R.images.gui.maps.icons.library.GoldIcon_2');
    }
.Currency_base__small_af .Currency_icon__gold-small_86 {
            transform: translateY(2rem);
        }
.Currency_icon__gold-big_15 {
        background-image: url('R.images.gui.maps.icons.library.GoldIcon_1');
    }
.Currency_base__big_bc .Currency_icon__gold-big_15 {
            transform: translateY(4rem);
        }
.Currency_icon__gold-large_36 {
        --icon-height: 48rem;
        margin-left: -1rem;
        background-image: url('R.images.gui.maps.shop.rewards.c_48x48.money_gold');
    }
.Currency_base__large_65 .Currency_icon__gold-large_36 {
            transform: translateY(4rem);
        }
.Currency_icon__gold-extraLarge_a0 {
        --icon-height: 80rem;
        background-image: url('R.images.gui.maps.icons.library.gold_icon_80x80');
    }
.Currency_icon__crystal-small_27 {
        background-image: url('R.images.gui.maps.icons.library.CrystalIcon_2');
    }
.Currency_base__small_af .Currency_icon__crystal-small_27 {
            transform: translateY(2rem);
        }
.Currency_icon__crystal-big_cd {
        --icon-height: 22rem;
        --icon-width: 23rem;
        background-image: url('R.images.gui.maps.icons.library.crystal_23x22');
    }
.Currency_base__big_bc .Currency_icon__crystal-big_cd {
            transform: translateY(4rem);
        }
.Currency_icon__crystal-large_d3 {
        --icon-height: 48rem;
        margin-left: -1rem;
        background-image: url('R.images.gui.maps.shop.rewards.c_48x48.money_bonds');
    }
.Currency_icon__crystal-extraLarge_09 {
        --icon-height: 80rem;
        background-image: url('R.images.gui.maps.icons.library.crystal_80x80');
    }
.Currency_base__extraLarge_4d .Currency_icon__crystal-extraLarge_09 {
            transform: translateY(7rem);
        }
.Currency_icon__xp-small_a7 {
        background-image: url('R.images.gui.maps.icons.library.NormalXpIcon');
    }
.Currency_base__small_af .Currency_icon__xp-small_a7 {
            transform: translateY(1rem);
        }
.Currency_icon__xp-big_97 {
        --icon-height: 22rem;
        --icon-width: 23rem;
        margin-left: -5rem;
        background-image: url('R.images.gui.maps.icons.library.xpIcon_23x22');
    }
.Currency_base__big_bc .Currency_icon__xp-big_97 {
            transform: translateY(2rem);
        }
.Currency_icon__xp-large_6b {
        --icon-height: 48rem;
        margin: 0 -5rem 0 -6rem;
        background-image: url('R.images.gui.maps.shop.rewards.c_48x48.exp');
    }
.Currency_icon__xp-extraLarge_67 {
        --icon-height: 80rem;
        margin: 0 -5rem;
        background-image: url('R.images.gui.maps.icons.library.xp_tank_icon_80x80');
    }
.Currency_icon__freeXP-small_ca {
        background-image: url('R.images.gui.maps.icons.library.freeXPIcon16x16');
    }
.Currency_base__small_af .Currency_icon__freeXP-small_ca {
            transform: translateY(1rem);
        }
.Currency_icon__freeXP-big_21 {
        --icon-height: 24rem;
        margin-left: -5rem;
        background-image: url('R.images.gui.maps.icons.library.freeXPIconBig24x24');
    }
.Currency_icon__freeXP-large_c8 {
        --icon-height: 48rem;
        margin: 0 -5rem 0 -6rem;
        background-image: url('R.images.gui.maps.shop.rewards.c_48x48.freeExp');
    }
.Currency_icon__freeXP-extraLarge_58 {
        --icon-height: 80rem;
        margin: 0 -5rem;
        background-image: url('R.images.gui.maps.icons.library.free_xp_icon_80x80');
    }
.Currency_base__extraLarge_4d .Currency_icon__freeXP-extraLarge_58 {
            transform: translateY(4rem);
        }
.Currency_icon__equipCoin-small_32 {
        --icon-height: 16rem;
        margin-right: -2rem;
        background-image: url('R.images.gui.maps.icons.library.equipCoin_1');
    }
.Currency_base__small_af .Currency_icon__equipCoin-small_32 {
            transform: translateX(-1rem) translateY(1rem);
        }
.Currency_icon__equipCoin-big_79 {
        --icon-height: 24rem;
        background-image: url('R.images.gui.maps.icons.library.equipCoinBig');
    }
.Currency_base__big_bc .Currency_icon__equipCoin-big_79 {
            transform: translateX(-5rem) translateY(3rem);
        }
.Currency_icon__equipCoin-large_2c {
        --icon-height: 48rem;
        margin-right: 2rem;
        background-image: url('R.images.gui.maps.shop.rewards.c_48x48.equipCoin');
    }
.Currency_icon__equipCoin-extraLarge_8a {
        --icon-height: 80rem;
        margin-right: 8rem;
        background-image: url('R.images.gui.maps.icons.library.equipCoin_icon_80x80');
    }
.Currency_base__extraLarge_4d .Currency_icon__equipCoin-extraLarge_8a {
            transform: translateX(2rem) translateY(4rem);
        }
.Currency_icon__stpCoin-small_6b {
        --icon-height: 16rem;
        margin-right: -2rem;
        background-image: url('R.images.gui.maps.icons.library.stpcoin.stpcoinSmall');
    }
.Currency_base__small_af .Currency_icon__stpCoin-small_6b {
            transform: translateX(-1rem) translateY(1rem);
        }
.Currency_icon__stpCoin-big_da {
        --icon-height: 24rem;
        background-image: url('R.images.gui.maps.icons.library.stpcoin.stpcoinBig');
    }
.Currency_base__big_bc .Currency_icon__stpCoin-big_da {
            transform: translateX(-5rem) translateY(3rem);
        }
.Currency_icon__stpCoin-large_ee {
        --icon-height: 48rem;
        margin-right: 2rem;
        background-image: url('R.images.gui.maps.icons.library.stpcoin.stpcoinLarge');
    }
.Currency_icon__stpCoin-extraLarge_fa {
        --icon-height: 80rem;
        margin-right: 8rem;
        background-image: url('R.images.gui.maps.icons.library.stpcoin.stpcoinExtraLarge');
    }
.Currency_base__extraLarge_4d .Currency_icon__stpCoin-extraLarge_fa {
            transform: translateX(2rem) translateY(4rem);
        }
.Currency_value_e1 {
    /* font-size inherit does not work here, so 1em means the size does not change */
    /* stylelint-disable-next-line */
    --font-size: 1em;
    font-size: var(--font-size);
    position: relative;
    z-index: 2;
}
.Currency_base__small_af .Currency_value_e1 {
        padding-right: 2rem;
    }
.Currency_base__big_bc .Currency_value_e1 {
        --font-size: 24rem;
        padding-right: 5rem;
        font-weight: 700;
    }
.Currency_base__big_bc .Currency_value_e1 + .Currency_icon_c5 {
            font-size: 24rem;
        }
.Currency_base__large_65 .Currency_value_e1 {
        --font-size: 36rem;
        font-weight: 700;
    }
.Currency_base__large_65 .Currency_value_e1 + .Currency_icon_c5 {
            font-size: 36rem;
        }
.Currency_base__extraLarge_4d .Currency_value_e1 {
        --font-size: 56rem;
        font-weight: 700;
    }
.Currency_value__freeXP_cb {
        color: #F2F2F7;
    }
.Currency_value__credits_76 {
        color: #CED9D9;
    }
.Currency_value__gold_dd {
        color: #FFC363;
    }
.Currency_value__xp_b0,
    .Currency_value__crystal_19,
    .Currency_value__equipCoin_d0,
    .Currency_value__stpCoin_38 {
        color: #C9C9B6;
    }
.Currency_base__small_af .Currency_value__notEnough_56 {
            color: #FF2717;
        }
.Currency_base__big_bc .Currency_value__notEnough_56 {
            color: #B70000;
        }
.Currency_base__large_65 .Currency_value__notEnough_56 {
            color: #B70000;
        }
.Currency_base__extraLarge_4d .Currency_value__notEnough_56 {
            color: #B70000;
        }
.Currency_stock_87 {
    height: 13rem;
    color: #FFDD99;
    font-size: 13rem;
    line-height: 1;
    position: relative;
    z-index: 0;
    pointer-events: none;
}
.Currency_stock__indent_a1 {
        margin-left: 2rem;
    }
.Currency_base__small_af .Currency_stock_87 {
        transform: translateY(0rem);
    }
.Currency_base__big_bc .Currency_stock_87 {
        transform: translateY(4rem);
    }
.Currency_base__large_65 .Currency_stock_87 {
        transform: translateY(10rem);
    }
.Currency_base__extraLarge_4d .Currency_stock_87 {
        transform: translateY(18rem);
    }
.Currency_stock__interactive_93 {
        pointer-events: auto;
    }
.Currency_stockBackground_82 {
    width: 80rem;
    height: 45rem;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    right: -27rem;
    bottom: 0;
    z-index: -1;
    transform: translateY(17rem);
}

.Price_base_61 {
    display: flex;
    position: relative;
}

.Price_price_1b {
    display: flex;
}

.Price_price__discount_29 {
        padding-right: 20rem;
    }

.PriceBlock_base_54 {
    display: flex;
    width: 100%;
}

.PriceBlock_priceContainer_3f {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 100rem;
    margin-left: 3rem;
    line-height: 1;
}

.PriceBlock_description_29 {
    color: #8C8C7E;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    display: flex;
    align-items: center;
    margin-left: 17rem;
    line-height: 1;
}

.PriceBlock_freeLabel_45 {
    color: #FFDD99;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
}

.PriceBlock_notEnough_56 {
    color: #FF2717;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
}

