.RotationVehicle_base_2f {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80rem;
    height: 80rem;
    position: relative;
}

.RotationVehicle_base__received_32 {
    opacity: 0.3;
}

.RotationVehicle_icon_41 {
    width: 80rem;
    height: 80rem;
    background: no-repeat center / cover;
}

.RotationVehicle_label_b8 {
    color: #ffdd99;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-self: center;
    position: absolute;
    top: 58rem;
}

.RotationVehicle_labelContent_27 {
    display: flex;
    justify-content: center;
}

.RotationVehicle_lockIcon_78 {
    width: 32rem;
    height: 32rem;
    margin: -6rem;
    background: url('R.images.gui_lootboxes.gui.maps.rotation.lock') no-repeat center / cover;
}

.RotationVehicle_checkIcon_9e {
    width: 20rem;
    height: 22rem;
    margin-top: 2rem;
    background: url('R.images.gui_lootboxes.gui.maps.rotation.check') no-repeat center / cover;
}
