.TooltipDecorator_base_c9 {
    display: flex;
    position: absolute;
}

.TooltipDecorator_base__theme-default_6d .TooltipDecorator_decorator_3d {
    padding: 4rem 6rem 8rem;
    border-image-source: url('R.images.gui.maps.icons.tooltip.tooltip_background');
    border-image-slice: 24 fill;
    border-image-width: 24rem;
    position: relative;
}

.FormatText_base_d0 {
    display: flex;
    flex-wrap: wrap;
}

.Content_base_d2 {
    line-height: normal;
}
.Content_separator_b4 {
    width: 283rem;
    height: 1rem;
    background: url('R.images.gui.maps.icons.battlePass.tooltips.Devider_points') 50% / contain no-repeat;
}
.Content_rewards_dc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 403rem;
    height: 154rem;
    background: url('R.images.gui.maps.icons.battlePass.tooltips.Ribbon_large') bottom / cover no-repeat;
    color: #c9c9b6;
    font-size: 14rem;
}
.Content_base_d2 {
    width: 420rem;
    padding: 11rem 20rem 8rem;
}
.Content_base__bottom_ab {
    padding-bottom: 0;
}
.Content_image_90 {
    width: 100%;
    height: 222rem;
    margin-bottom: 12rem;
    background: url('R.images.gui.maps.icons.battlePass.progression.progression_style_not_chosen') no-repeat 50% /
        contain;
}
.Content_section_83 {
    display: flex;
    flex-direction: column;
    background: linear-gradient(
        90deg,
        transparent,
        rgba(201, 201, 182, 0.07) 37%,
        rgba(201, 201, 182, 0.07) 63%,
        transparent
    );
}
.Content_sectionBottom_01 {
    display: flex;
    flex-direction: column;
    background: linear-gradient(
        90deg,
        transparent,
        rgba(201, 201, 182, 0.07) 37%,
        rgba(201, 201, 182, 0.07) 63%,
        transparent
    );
    padding-bottom: 10rem;
}
.Content_title_c5 {
    color: #e9e2bf;
    font-size: 18rem;
    font-weight: 700;
    line-height: 1.1;
    margin: 18rem 0 12rem;
}
.Content_warning_d0 {
    color: #ee7000;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    display: flex;
    align-items: center;
    height: 24rem;
    margin-bottom: 7rem;
    padding-left: 28rem;
    background: url('R.images.gui.maps.icons.library.alertBigIcon') no-repeat 0 50% / contain;
}
.Content_text_bf {
    color: #8c8c7e;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    margin-bottom: 20rem;
    line-height: 1.5;
}
.Content_highlightedText_e0 {
    color: #cbac77;
}
.Content_subtitle_55 {
    color: #e9e2bf;
    font-size: 15rem;
    font-weight: 700;
    line-height: 1.15;
    margin: 15rem 0 5rem;
}
.Content_footerSeparator_9c {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 12rem 0;
}
.Content_paragraphs_c3 {
    color: #595950;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    display: flex;
    flex-direction: column;
    margin: 16rem 0 17rem;
    line-height: 1.5;
}
.Content_paragraphTop_18 {
    margin-bottom: 20rem;
}
