.TooltipDecorator_base_c9 {
    display: flex;
    position: absolute;
}

.TooltipDecorator_decorator_3d {
    padding: 4rem 6rem 8rem; /* border offset*/
    border-image-source: url('R.atlases.components.tooltip_background');
    border-image-slice: 24 fill;
    border-image-width: 24rem;
    position: relative;
}

.TooltipDecorator_decoratorContent_de {
    background-color: #000;
}

.App_base_78 {
    display: flex;
    flex-direction: column;
    width: 350rem;
    padding: 17rem 20rem 24rem;
    position: relative;
}

.App_title_88 {
    color: #E9E2BF;
    font-size: 18rem;
    font-weight: 700;
    line-height: 1.1;
}

.App_subtitle_af {
    color: #8C8C7E;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    margin-top: 5rem;
}

.App_mainIcon_b3 {
    width: 100%;
    height: 118rem;
    margin-top: 1rem;
    background: no-repeat center / contain;
    position: relative;
}

.App_mainIconDivider_0a {
    width: 282rem;
    height: 1rem;
    background: linear-gradient(270deg, rgba(140, 140, 126, .1) 0%, #636156 50.52%, rgba(140, 140, 126, .1) 100%);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.App_description_51 {
    color: #8C8C7E;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    margin-top: 21rem;
}

.App_iconsTitle_6e {
    color: #E9E2BF;
    font-size: 14rem;
    font-weight: 700;
    line-height: 1.15;
    margin-top: 22rem;
}

.App_icons_40 {
    display: flex;
    margin-top: 12rem;
}

.App_icon_18 {
    width: 52rem;
    height: 52rem;
    background: no-repeat center / contain;
}

.App_icon_18 + .App_icon_18 {
        margin-left: 2rem;
    }

