.CButton_base_40 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    box-shadow: 0 0 0 1rem rgba(0, 0, 0, 0.6);
    position: relative;
    cursor: pointer;
}

.CButton_base__main_42,
.CButton_base__primary_7f,
.CButton_base__primaryGreen_6f,
.CButton_base__primaryRed_ec,
.CButton_base__secondary_50 {
    background-size: 100% 100%;
}

.CButton_base__main_42 {
    background-image: url('R.images.gui.maps.icons.components.button.back_main');
}

.CButton_base__primary_7f {
    background-image: url('R.images.gui.maps.icons.components.button.back_primary');
}

.CButton_base__primaryGreen_6f {
    background-image: url('R.images.gui.maps.icons.components.button.back_primary_green');
}

.CButton_base__primaryRed_ec {
    background-image: url('R.images.gui.maps.icons.components.button.back_primary_red');
}

.CButton_base__secondary_50 {
    background-image: url('R.images.gui.maps.icons.components.button.back_secondary');
}

.CButton_base__ghost_ed {
    border-radius: 3rem;
    box-shadow:
        0 0 0 1rem rgba(0, 0, 0, 0.3),
        0 0 0 1rem rgba(255, 255, 255, 0.15) inset;
    background-color: rgba(0, 0, 0, 0.15);
}

.CButton_base__extraSmall_27 {
    min-height: 17rem;
    padding: 0 16rem;
}

.CButton_base__small_df,
.CButton_base__medium_74 {
    padding: 0 20rem;
}

.CButton_base__small_df {
    min-height: 18rem;
}

.CButton_base__medium_74 {
    min-height: 32rem;
}

.CButton_base__disabled_d9 {
    cursor: default;
}
/* Element .back and background-image in element .base need for fix bug in GF https://jira.wargaming.net/browse/WOTD-158525
The bug is that under certain conditions, when using border-image, stripes appear. Strip is a single-pixel gap
between 'border-image-width' and 'fill'.
This bug is reproduced in Google Chrome 81.0.4044.113
*/
.CButton_back_e5 {
    border-image-slice: 4 fill;
    border-image-width: 4rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.CButton_base__main_42 .CButton_back_e5 {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_main');
}
.CButton_base__primary_7f .CButton_back_e5 {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_primary');
}
.CButton_base__primaryGreen_6f .CButton_back_e5 {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_primary_green');
}
.CButton_base__primaryRed_ec .CButton_back_e5 {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_primary_red');
}
.CButton_base__secondary_50 .CButton_back_e5 {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_secondary');
}
.CButton_texture_fe {
    background: url('R.images.gui.maps.icons.components.button.standard_texture_file');
    background-size: 155rem 31rem;
    mix-blend-mode: soft-light;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.CButton_state_11 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: box-shadow 0.16s ease-in-out;
}
.CButton_base__focus_83 .CButton_state_11 {
    border-radius: 2rem;
    box-shadow: inset 0 0 2rem 1rem rgba(255, 85, 0, 0.2);
}
.CButton_stateHighlightHover_ff,
.CButton_stateHighlightActive_35,
.CButton_stateDisabled_54 {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.CButton_base__firstHover_d5 .CButton_stateHighlightHover_ff,
.CButton_base__firstHover_d5 .CButton_stateHighlightActive_35,
.CButton_base__firstHover_d5 .CButton_stateDisabled_54 {
    transition: opacity 0.16s ease-in-out;
}
.CButton_stateHighlightHover_ff {
    background-image: linear-gradient(
        180deg,
        rgba(252, 248, 235, 0.25) 0%,
        rgba(252, 248, 235, 0.1) 50%,
        rgba(255, 255, 255, 0) 100%
    );
}
.CButton_base_40:hover .CButton_stateHighlightHover_ff {
    opacity: 1;
}
.CButton_base_40:active .CButton_stateHighlightHover_ff {
    opacity: 0;
}
.CButton_base__disabled_d9:hover .CButton_stateHighlightHover_ff {
    opacity: 0;
}
.CButton_base__ghost_ed .CButton_stateHighlightHover_ff {
    box-shadow: 0 15rem 12rem 0 rgba(242, 242, 230, 0.11) inset;
    background-color: rgba(8, 6, 0, 0.18);
    background-image: none;
}
.CButton_stateHighlightActive_35 {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.15) 100%);
}
.CButton_base__highlightActive_b2 .CButton_stateHighlightActive_35 {
    opacity: 1;
}
.CButton_stateDisabled_54 {
    background-color: rgba(0, 0, 0, 0.25);
    background-image: url('R.images.gui.maps.icons.components.button.texture_disable');
    background-size: 15rem;
}
.CButton_base__disabled_d9 .CButton_stateDisabled_54 {
    opacity: 1;
}
.CButton_content_cc {
    display: flex;
    align-items: center;
    color: #f2f2e6;
    font-weight: 700;
    line-height: 1.2;
    text-shadow: 0 -1rem 1rem #000;
    letter-spacing: 0.03em;
    transform: translateY(-1rem);
}
.CButton_content_cc[lang='ja'],
.CButton_content_cc[lang='ko'],
.CButton_content_cc[lang='zh_tw'],
.CButton_content_cc[lang='zh_sg'],
.CButton_content_cc[lang='zh_cn'],
.CButton_content_cc[lang='th'] {
    font-weight: 400;
}
.CButton_base__main_42 .CButton_content_cc,
.CButton_base__primaryRed_ec .CButton_content_cc {
    text-shadow: 0 -1rem 1rem #600;
}
.CButton_base__secondary_50 .CButton_content_cc {
    color: rgba(254, 254, 236, 0.75);
}
.CButton_base__primaryGreen_6f .CButton_content_cc {
    text-shadow: 0 -1rem 1rem #1c2502;
}
.CButton_base__extraSmall_27 .CButton_content_cc {
    font-size: 12rem;
}
.CButton_base__small_df .CButton_content_cc {
    font-size: 14rem;
}
.CButton_base__medium_74 .CButton_content_cc {
    font-size: 15rem;
}
.CButton_base__disabled_d9 .CButton_content_cc {
    opacity: 0.6;
}

.Footer_base_62 {
    display: flex;
    align-items: flex-end;
}

.Footer_button_d3 {
    min-width: 200rem;
}
