.TooltipDecorator_base_c9 {
    display: flex;
    position: absolute;
}

.TooltipDecorator_base__theme-default_6d .TooltipDecorator_decorator_3d {
    padding: 4rem 6rem 8rem;
    border-image-source: url('R.images.gui.maps.icons.tooltip.tooltip_background');
    border-image-slice: 24 fill;
    border-image-width: 24rem;
    position: relative;
}

.Divided_base_06 {
    position: relative;
}

.Divided_divider_64 {
    width: 360rem;
    height: 1rem;
    background: url('R.images.gui.maps.icons.tooltip.tooltip_perks_divider') no-repeat center / cover;
    position: absolute;
    bottom: 0;
    left: 0;
}

.default_asterisk_d6 {
    width: 16rem;
    height: 16rem;
    background: url('R.images.gui.maps.icons.tooltip.asterisk_optional') no-repeat center / cover;
}

.default_zeroPerk_bb {
    width: 16rem;
    height: 16rem;
    background: url('R.images.gui.maps.icons.tankmen.crew.zeroSkill16x16') no-repeat center / cover;
}

.HeaderSection_base_f2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8rem 20rem;
}

.HeaderSection_image_2d {
    width: 52rem;
    height: 52rem;
    margin-right: 8rem;
    background: no-repeat center / cover;
}

.HeaderSection_textContainer_7d {
    display: flex;
    flex-direction: column;
}

.HeaderSection_title_b8 {
    color: #e9e2bf;
    font-size: 18rem;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 2rem;
}

.HeaderSection_subtitle_a6 {
    display: flex;
    align-items: center;
}

.AltContentSection_movie_a9 {
    width: 350rem;
    height: 202rem;
    margin: 5rem;
}

.AltContentSection_description_25 {
    padding: 16rem 20rem;
}

.AltContentSection_info_41 {
    display: flex;
    padding: 12rem 20rem 20rem;
}

.AltContentSection_infoIcon_9c {
    width: 16rem;
    height: 16rem;
    margin: 2rem 2rem 0rem 0rem;
    background: url('R.images.gui.maps.icons.library.InformationIcon') no-repeat center / cover;
}

.AltContentSection_infoText_68 {
    flex: 0;
    color: #595950;
}

.CrewPerksAdditionalApp_base_aa {
    color: #8c8c7e;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    width: 360rem;
}
