.TooltipDecorator_base_c9 {
    display: flex;
    position: absolute;
}

.TooltipDecorator_base__theme-default_6d .TooltipDecorator_decorator_3d {
    padding: 4rem 6rem 8rem;
    border-image-source: url('R.atlases.components.tooltip_background');
    border-image-slice: 24 fill;
    border-image-width: 24rem;
    position: relative;
}

.FormatText_base_d0 {
    display: flex;
    flex-wrap: wrap;
}

.FormatTextWithColorTags_blackReal_3c {
    color: #000000;
}

.FormatTextWithColorTags_whiteReal_8a {
    color: #ffffff;
}

.FormatTextWithColorTags_white_16 {
    color: #f2f2f7;
}

.FormatTextWithColorTags_whiteOrange_18 {
    color: #fefeec;
}

.FormatTextWithColorTags_whiteSpanish_10 {
    color: #e9e2bf;
}

.FormatTextWithColorTags_par_ca {
    color: #8c8c7e;
}

.FormatTextWithColorTags_parSecondary_8d {
    color: #595950;
}

.FormatTextWithColorTags_parTertiary_a3 {
    color: #37362e;
}

.FormatTextWithColorTags_red_60 {
    color: #ff2717;
}

.FormatTextWithColorTags_redDark_03 {
    color: #b70000;
}

.FormatTextWithColorTags_yellow_ad {
    color: #feab34;
}

.FormatTextWithColorTags_orange_e4 {
    color: #ee7000;
}

.FormatTextWithColorTags_cream_cd {
    color: #ffdd99;
}

.FormatTextWithColorTags_brown_c8 {
    color: #cbac77;
}

.FormatTextWithColorTags_greenBright_f0 {
    color: #80d43a;
}

.FormatTextWithColorTags_green_c5 {
    color: #7ab300;
}

.FormatTextWithColorTags_greenDark_af {
    color: #497212;
}

.FormatTextWithColorTags_blueBooster_ac {
    color: #ccffff;
}

.FormatTextWithColorTags_blueTeamkiller_6f {
    color: #09e2ff;
}

.FormatTextWithColorTags_cred_4e {
    color: #ced9d9;
}

.FormatTextWithColorTags_gold_90 {
    color: #ffc363;
}

.FormatTextWithColorTags_bond_71 {
    color: #c9c9b6;
}

.FormatTextWithColorTags_prom_dd {
    color: #a29b70;
}

/* This specific rule is used to fix https://jira.wargaming.net/browse/WOTPRG-9871 */

.FormatTextWithColorTags_parNoWidth_5a {
    width: 0;
    color: #8c8c7e;
}

.Reward_base_ea {
    display: flex;
    flex-direction: column;
    position: relative;
}

.Reward_base__s48x48_46,
.Reward_base__small_c0 {
    width: 48rem;
    height: 48rem;
}

.Reward_base__s80x80_ce,
.Reward_base__big_e5 {
    width: 80rem;
    height: 80rem;
}

.Reward_base__s128x100_c3 {
    width: 128rem;
    height: 100rem;
}

.Reward_base__s180x135_7c {
    width: 180rem;
    height: 135rem;
}

.Reward_base__s232x174_67 {
    width: 232rem;
    height: 174rem;
}

.Reward_base__s296x222_78 {
    width: 296rem;
    height: 222rem;
}

.Reward_base__s400x300_07 {
    width: 400rem;
    height: 300rem;
}

.Reward_base__s600x450_f8 {
    width: 600rem;
    height: 450rem;
}

.Reward_tooltipWrapper_b5 {
    height: 100%;
}

.Reward_icon_df {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    position: relative;
    z-index: 1;
}

.Reward_overlay_68 {
    background: no-repeat center / 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.Reward_base__s48x48_46 .Reward_overlay_68,
.Reward_base__small_c0 .Reward_overlay_68 {
    width: 96rem;
    height: 96rem;
    background-size: 100%;
    overflow: visible;
}

.Reward_base__s80x80_ce .Reward_overlay_68,
.Reward_base__big_e5 .Reward_overlay_68 {
    width: 128rem;
    height: 128rem;
}

.Reward_base__s180x135_7c .Reward_overlay_68 {
    width: 266rem;
    height: 241rem;
}

.Reward_base__s232x174_67 .Reward_overlay_68 {
    width: 344rem;
    height: 312rem;
}

.Reward_base__s296x222_78 .Reward_overlay_68 {
    width: 450rem;
    height: 408rem;
}

.Reward_base__s400x300_07 .Reward_overlay_68 {
    width: 618rem;
    height: 590rem;
}

.Reward_base__s600x450_f8 .Reward_overlay_68 {
    width: 670rem;
    height: 575rem;
}

.Reward_highlight_36 {
    width: 100%;
    height: 100%;
    background: no-repeat center / contain;
    position: absolute;
    z-index: 0;
}

.Reward_image_89 {
    position: relative;
}

.Reward_info_72 {
    color: #e9e2bf;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    margin-top: -13rem;
    text-align: center;
    z-index: 1;
}

.Reward_base__s48x48_46 .Reward_info_72,
.Reward_base__small_c0 .Reward_info_72 {
    margin: -10rem -10rem 0;
}

.Reward_info__multi_63 {
    margin-right: 2rem;
    text-align: right;
}

.Reward_base__s48x48_46 .Reward_info__multi_63,
.Reward_base__small_c0 .Reward_info__multi_63 {
    margin-right: 0;
}

.Reward_info__credits_ef {
    color: #ced9d9;
}

.Reward_info__gold_36 {
    color: #ffc363;
}

.Reward_info__crystal_36 {
    color: #c9c9b6;
}

.Reward_info__premiumTank_d3 {
    color: #ffdd99;
}

.Reward_title_36 {
    color: #e9e2bf;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    max-width: 80rem;
    margin: -13rem -16rem 0;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.mediaMedium .Reward_title_36 {
    max-width: 100rem;
    margin-left: -10rem;
    margin-right: -10rem;
}

.Reward_timer_d3 {
    background: no-repeat center / contain;
    position: absolute;
    z-index: 1;
}

.Reward_base__s48x48_46 .Reward_timer_d3,
.Reward_base__small_c0 .Reward_timer_d3 {
    width: 23rem;
    height: 23rem;
    background-image: url('R.images.gui.maps.icons.quests.bonuses.small.timer');
    top: -6rem;
    right: -6rem;
}

.Reward_base__s80x80_ce .Reward_timer_d3,
.Reward_base__big_e5 .Reward_timer_d3 {
    width: 48rem;
    height: 48rem;
    background-image: url('R.images.gui.maps.icons.quests.bonuses.big.timer');
    top: -14rem;
    right: -14rem;
}

@keyframes RewardList_showIn_5c {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0%);
    }
}

@keyframes RewardList_showOut_91 {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-100%);
    }
}

@keyframes RewardList_fadeIn_8d {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes RewardList_fadeOut_27 {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes RewardList_windowIn_3f {
    from {
        opacity: 0;
        transform: scale(1.1);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.RewardList_base_79 {
    position: relative;
}

.RewardList_base__divider_32 {
    height: 194rem;
}

.RewardList_title_2a {
    color: #e9e2bf;
    font-size: 18rem;
    font-weight: 700;
    line-height: 1.1;
    margin: 17rem 0 25rem;
    text-align: center;
}

.RewardList_base__small_ca .RewardList_title_2a,
.RewardList_base__extraSmall_95 .RewardList_title_2a {
    margin: 15rem 0 20rem;
}

.RewardList_divider_7d {
    width: 580rem;
    height: 194rem;
    margin-top: -14rem;
    background: url('R.images.gui.maps.icons.account_completion.rewards_back') no-repeat 50% / contain;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-356rem);
}

.RewardList_content_fb {
    display: flex;
    justify-content: space-around;
}

.RewardList_reward_40 {
    margin: 0 20rem;
}

.RewardList_base__small_ca .RewardList_reward_40,
.RewardList_base__extraSmall_95 .RewardList_reward_40 {
    margin: 0 15rem;
}

.App_base_0c {
    width: 370rem;
}

.App_header_aa {
    display: flex;
    flex-direction: column;
    padding: 17rem 21rem 21rem;
}

.App_title_46 {
    color: #e9e2bf;
    font-size: 18rem;
    font-weight: 700;
    line-height: 1.1;
}

.App_title__small_da {
    color: #e9e2bf;
    font-size: 14rem;
    font-weight: 700;
    line-height: 1.15;
    margin-top: 12rem;
    padding: 0 21rem;
}

.App_subtitle_25 {
    color: #8c8c7e;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    margin-top: 8rem;
}

.App_ribbon_20 {
    width: 370rem;
    height: 146rem;
    background: url('R.images.gui.maps.icons.account_completion.tooltips.ribbon') no-repeat center / cover;
    position: relative;
}

.App_rewards_33 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.App_reward_9c + .App_reward_9c {
    margin-left: 28rem;
}
