.TooltipDecorator_base_c9 {
    display: flex;
    position: absolute;
}

.TooltipDecorator_base__theme-default_6d .TooltipDecorator_decorator_3d {
    padding: 4rem 6rem 8rem;
    border-image-source: url('R.images.gui.maps.icons.tooltip.tooltip_background');
    border-image-slice: 24 fill;
    border-image-width: 24rem;
    position: relative;
}

.RenamingHangarTooltipApp_base_d6 {
    width: 361rem;
    margin: 0 -10rem;
}
.RenamingHangarTooltipApp_title_f2 {
    color: #e9e2bf;
    font-size: 15rem;
    font-weight: 700;
    line-height: 1.15;
    padding: 14rem 29rem 2rem;
}
.RenamingHangarTooltipApp_text_74 {
    color: #8c8c7e;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    padding: 4rem 29rem 0;
}
.RenamingHangarTooltipApp_separator_3a {
    width: 363rem;
    height: 80rem;
    margin: -26rem -1rem -40rem;
    background: url('R.images.gui.maps.icons.account_completion.small_lip') no-repeat 50% / contain;
}
.RenamingHangarTooltipApp_textInner_9f {
    color: #ee7000;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    width: 361rem;
    height: auto;
    padding: 9rem 29rem 14rem;
    background: url('R.images.gui.maps.icons.account_completion.white_bg') no-repeat 50% / contain;
}
