.FormatText_base_d0 {
    display: flex;
    flex-wrap: wrap;
}

.Description_base_a1 {
    display: flex;
    justify-content: center;
}

.SlideContent_base_73 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15rem 0 60rem;
    position: relative;
}

    .SlideContent_base__little_77 {
        height: 400rem;
        margin-left: 30rem;
        margin-right: 30rem;
    }

    .SlideContent_base__small_5c.SlideContent_base__little_77, .SlideContent_base__extraSmall_93.SlideContent_base__little_77 {
            height: 300rem;
            margin-left: 40rem;
            margin-right: 40rem;
        }
.SlideContent_content_3b {
    height: 475rem;
    margin: 0 30rem;
}
.SlideContent_content__small_ff,
    .SlideContent_content__extraSmall_0d {
        height: 375rem;
        margin: 0 40rem;
    }
.SlideContent_imageWrapper_d9 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 960rem;
    height: 400rem;
}
.SlideContent_base__little_77 .SlideContent_imageWrapper_d9 {
        width: 288rem;
        height: 300rem;
    }
.SlideContent_imageWrapper__small_b3,
    .SlideContent_imageWrapper__extraSmall_c0 {
        width: 700rem;
        height: 300rem;
    }
.SlideContent_base__little_77 .SlideContent_imageWrapper__small_b3, .SlideContent_base__little_77 .SlideContent_imageWrapper__extraSmall_c0 {
            width: 192rem;
            height: 192rem;
        }
.SlideContent_image_74 {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.SlideContent_description_5e {
    width: 754rem;
    color: #8C8C7E;
    font-size: 16rem;
    line-height: 20rem;
    text-align: center;
    position: absolute;
    top: 415rem;
    left: 50%;
    transform: translateX(-50%);
}
.SlideContent_base__little_77 .SlideContent_description_5e {
        width: 300rem;
        top: 315rem;
    }
.SlideContent_description__extraLarge_76 {
        top: 425rem;
    }
.SlideContent_base__little_77 .SlideContent_description__extraLarge_76 {
            top: 325rem;
        }
.SlideContent_description__small_ca,
    .SlideContent_description__extraSmall_4c {
        font-size: 14rem;
        top: 315rem;
    }
.SlideContent_base__little_77 .SlideContent_description__small_ca, .SlideContent_base__little_77 .SlideContent_description__extraSmall_4c {
            width: 230rem;
            top: 207rem;
        }
.SlideContent_descriptionTagAccent_d0 {
    color: #FFDD99;
}

.Slide_base_90 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Slide_title_9b {
    color: #F2F2F7;
    font-size: 24rem;
    font-weight: 700;
    line-height: 1.2;
    height: 58rem;
    text-align: center;
}

.Slide_title__medium_4c,
    .Slide_title__large_6b,
    .Slide_title__extraLarge_9a {
        color: #F2F2F7;
        font-size: 36rem;
        font-weight: 700;
        line-height: 1.1;
        height: 80rem;
    }

.Slide_content_a1 {
    display: flex;
    justify-content: center;
    width: 960rem;
}

.Slide_content__small_4d,
    .Slide_content__extraSmall_bb {
        width: 700rem;
    }

