.Column_base_a8 {
    flex: 1 1 auto;
    position: relative;
}

    .Column_base__notFirstColumn_74::after {
            width: 1rem;
            height: 100%;
            background: linear-gradient(to bottom, transparent 50%, rgba(18, 17, 11, 1) 50%),
                linear-gradient(180deg, #c9c9b6 100%);
            background-size: 4rem 3rem, 100% 100%;
            opacity: .2;
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            z-index: 10;
        }

.Column_battleType_38 {
    color: #E9E2BF;
    font-size: 14rem;
    font-weight: 700;
    line-height: 1.15;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 30rem;
    padding-left: 25rem;
    position: relative;
}

.Column_cell_73 {
    position: relative;
}

.Column_separator_99 {
    width: 100%;
    height: 1rem;
    background: linear-gradient(to right, transparent 50%, rgba(18, 17, 11, 1) 50%),
        linear-gradient(270deg, #c9c9b6 0%, #12110b 100%);
    background-size: 3rem 2rem, 100% 100%;
    opacity: .2;
    position: relative;
    z-index: 1;
}

.Column_base__notFirstColumn_74 .Column_separator_99 {
        background-image: linear-gradient(to left, transparent 50%, rgba(18, 17, 11, 1) 50%),
            linear-gradient(90deg, #c9c9b6 0%, #12110b 100%);
    }

.Column_row_97 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 32rem;
    padding: 0rem 25rem 2rem;
    position: relative;
}

.Column_row__last_4d {
        margin-bottom: 6rem;
    }

.Column_pointContainer_30 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Column_point_1b {
    color: #FFDD99;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    margin-right: 5rem;
}

.Column_place_90 {
    color: #E9E2BF;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
}

.Column_reward_c1 {
    width: 16rem;
    height: 16rem;
    margin-top: 1rem;
    background: url('R.images.battle_royale_progression.gui.maps.progression.token_battle_royale') no-repeat center / cover;
}

.Column_dash_3c {
    color: #FFDD99;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    margin-right: 15rem;
}

.Table_base_ce {
    width: 100%;
    position: relative;
}

.Table_battleTypeBg_12 {
    width: 100%;
    height: 32rem;
    background: url('R.images.battle_royale.gui.maps.tooltips.battleType_bg') no-repeat center / cover;
    position: absolute;
    top: 0;
    left: 0;
}

.Table_table_a9 {
    display: flex;
    width: 100%;
    overflow: hidden;
    position: relative;
}

