.TooltipDecorator_base_c9 {
    display: flex;
    position: absolute;
}

.TooltipDecorator_base__theme-default_6d .TooltipDecorator_decorator_3d {
    padding: 4rem 6rem 8rem;
    border-image-source: url('R.atlases.components.tooltip_background');
    border-image-slice: 24 fill;
    border-image-width: 24rem;
    position: relative;
}

.Tooltip_base_fc {
    display: flex;
    flex-direction: column;
    width: 292rem;
    padding: 20rem;
    color: #8c8c7e;
}

.Tooltip_compatibleTanksTitle_37 {
    color: #595950;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    margin-top: 24rem;
}
