.TooltipDecorator_base_c9 {
    display: flex;
    position: absolute;
}

.TooltipDecorator_base__theme-default_6d .TooltipDecorator_decorator_3d {
        padding: 4rem 6rem 8rem;
        border-image-source: url('R.atlases.components.tooltip_background');
        border-image-slice: 24 fill;
        border-image-width: 24rem;
        position: relative;
    }

.App_base_18 {
    width: 450rem;
    padding: 20rem;
    box-shadow: inset 0 0 10rem rgba(59, 59, 46, .86);
    background: linear-gradient(180deg, rgba(182, 199, 201, .05) 0%, rgba(51, 51, 41, 0) 88.02%, rgba(51, 51, 41, .1) 100%);
    position: relative;
}

.App_header_a9 {
    margin-bottom: 22rem;
}

.App_divider_ce {
    width: 448rem;
    height: 9rem;
    background: url('R.images.gui.maps.icons.winback.tooltip.separator') no-repeat center / contain;
    position: absolute;
    top: 77rem;
    left: 0;
}

.App_reward_b3 {
    margin-bottom: 19rem;
}

.App_reward__lastInColumn_00 {
        margin-bottom: 0;
    }

.FormatText_base_d0 {
    display: flex;
    flex-wrap: wrap;
}

.Header_base_4a {
    display: flex;
    flex-direction: column;
}

.Header_title_aa {
    color: #E9E2BF;
    font-size: 18rem;
    font-weight: 700;
    line-height: 1.1;
    display: flex;
    flex-direction: row;
    margin-bottom: 8rem;
}

.Header_amountRewards_09 {
    color: #FEFEEC;
}

.Header_subtitle_4f {
    color: #8C8C7E;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
}

.FormatTextWithColorTags_blackReal_3c {
    color: #000000;
}

.FormatTextWithColorTags_whiteReal_8a {
    color: #FFFFFF;
}

.FormatTextWithColorTags_white_16 {
    color: #F2F2F7;
}

.FormatTextWithColorTags_whiteOrange_18 {
    color: #FEFEEC;
}

.FormatTextWithColorTags_whiteSpanish_10 {
    color: #E9E2BF;
}

.FormatTextWithColorTags_par_ca {
    color: #8C8C7E;
}

.FormatTextWithColorTags_parSecondary_8d {
    color: #595950;
}

.FormatTextWithColorTags_parTertiary_a3 {
    color: #37362E;
}

.FormatTextWithColorTags_red_60 {
    color: #FF2717;
}

.FormatTextWithColorTags_redDark_03 {
    color: #B70000;
}

.FormatTextWithColorTags_yellow_ad {
    color: #FEAB34;
}

.FormatTextWithColorTags_orange_e4 {
    color: #EE7000;
}

.FormatTextWithColorTags_cream_cd {
    color: #FFDD99;
}

.FormatTextWithColorTags_brown_c8 {
    color: #CBAC77;
}

.FormatTextWithColorTags_greenBright_f0 {
    color: #80D43A;
}

.FormatTextWithColorTags_green_c5 {
    color: #7AB300;
}

.FormatTextWithColorTags_greenDark_af {
    color: #497212;
}

.FormatTextWithColorTags_blueBooster_ac {
    color: #CCFFFF;
}

.FormatTextWithColorTags_blueTeamkiller_6f {
    color: #09E2FF;
}

.FormatTextWithColorTags_cred_4e {
    color: #CED9D9;
}

.FormatTextWithColorTags_gold_90 {
    color: #FFC363;
}

.FormatTextWithColorTags_bond_71 {
    color: #C9C9B6;
}

.FormatTextWithColorTags_prom_dd {
    color: #A29B70;
}

.Reward_base_7b {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.Reward_imagesContainer_18 {
    width: 48rem;
    height: 48rem;
    background: url('R.images.gui.maps.icons.winback.selectableRewardView.vehicle_small') no-repeat center / contain;
    position: relative;
}

.Reward_discount_64 {
    width: 66rem;
    height: 52rem;
    background: url('R.images.gui.maps.icons.winback.selectableRewardView.icon_sale_small') no-repeat center / contain;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Reward_vehicle_df {
    width: 48rem;
    height: 48rem;
    background: url('R.images.gui.maps.icons.winback.selectableRewardView.vehicle_small') no-repeat center / contain;
    position: relative;
}

.Reward_vehicleLevel_9a {
    color: #FFFFFF;
    font-size: 10rem;
    font-weight: 400;
    line-height: 1.2;
    width: 16rem;
    font-size: 11rem;
    text-align: center;
    position: absolute;
    top: 1rem;
    left: 1rem;
}

.Reward_text_cd {
    width: 350rem;
    margin-left: 12rem;
    padding-top: 4rem;
}

.Reward_rewardTitle_9e {
    color: #E9E2BF;
    font-size: 14rem;
    font-weight: 700;
    line-height: 1.15;
    margin-bottom: 3rem;
}

.Reward_rewardSubtitle_00 {
    color: #8C8C7E;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
}

