.TooltipDecorator_base_c9 {
    display: flex;
    position: absolute;
}

.TooltipDecorator_base__theme-default_6d .TooltipDecorator_decorator_3d {
    padding: 4rem 6rem 8rem;
    border-image-source: url('R.atlases.components.tooltip_background');
    border-image-slice: 24 fill;
    border-image-width: 24rem;
    position: relative;
}

.FormatText_base_d0 {
    display: flex;
    flex-wrap: wrap;
}

.Reward_base_ea {
    display: flex;
    flex-direction: column;
    position: relative;
}

.Reward_base__s48x48_46,
.Reward_base__small_c0 {
    width: 48rem;
    height: 48rem;
}

.Reward_base__s80x80_ce,
.Reward_base__big_e5 {
    width: 80rem;
    height: 80rem;
}

.Reward_base__s128x100_c3 {
    width: 128rem;
    height: 100rem;
}

.Reward_base__s180x135_7c {
    width: 180rem;
    height: 135rem;
}

.Reward_base__s232x174_67 {
    width: 232rem;
    height: 174rem;
}

.Reward_base__s296x222_78 {
    width: 296rem;
    height: 222rem;
}

.Reward_base__s400x300_07 {
    width: 400rem;
    height: 300rem;
}

.Reward_base__s600x450_f8 {
    width: 600rem;
    height: 450rem;
}

.Reward_tooltipWrapper_b5 {
    height: 100%;
}

.Reward_icon_df {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    position: relative;
    z-index: 1;
}

.Reward_overlay_68 {
    background: no-repeat center / 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.Reward_base__s48x48_46 .Reward_overlay_68,
.Reward_base__small_c0 .Reward_overlay_68 {
    width: 96rem;
    height: 96rem;
    background-size: 100%;
    overflow: visible;
}

.Reward_base__s80x80_ce .Reward_overlay_68,
.Reward_base__big_e5 .Reward_overlay_68 {
    width: 128rem;
    height: 128rem;
}

.Reward_base__s180x135_7c .Reward_overlay_68 {
    width: 266rem;
    height: 241rem;
}

.Reward_base__s232x174_67 .Reward_overlay_68 {
    width: 344rem;
    height: 312rem;
}

.Reward_base__s296x222_78 .Reward_overlay_68 {
    width: 450rem;
    height: 408rem;
}

.Reward_base__s400x300_07 .Reward_overlay_68 {
    width: 618rem;
    height: 590rem;
}

.Reward_base__s600x450_f8 .Reward_overlay_68 {
    width: 670rem;
    height: 575rem;
}

.Reward_highlight_36 {
    width: 100%;
    height: 100%;
    background: no-repeat center / contain;
    position: absolute;
    z-index: 0;
}

.Reward_image_89 {
    position: relative;
}

.Reward_info_72 {
    margin-top: -13rem;
    color: #e9e2bf;
    font-size: 14rem;
    line-height: 18rem;
    text-align: center;
    z-index: 1;
}

.Reward_base__s48x48_46 .Reward_info_72,
.Reward_base__small_c0 .Reward_info_72 {
    margin: -10rem -10rem 0;
}

.Reward_info__multi_63 {
    margin-right: 2rem;
    text-align: right;
}

.Reward_base__s48x48_46 .Reward_info__multi_63,
.Reward_base__small_c0 .Reward_info__multi_63 {
    margin-right: 0;
}

.Reward_info__credits_ef {
    color: #ced9d9;
}

.Reward_info__gold_36 {
    color: #ffc363;
}

.Reward_info__crystal_36 {
    color: #c9c9b6;
}

.Reward_info__premiumTank_d3 {
    color: #ffdd99;
}

.Reward_timer_d3 {
    background: no-repeat center / contain;
    position: absolute;
    z-index: 1;
}

.Reward_base__s48x48_46 .Reward_timer_d3,
.Reward_base__small_c0 .Reward_timer_d3 {
    width: 23rem;
    height: 23rem;
    background-image: url('R.images.gui.maps.icons.quests.bonuses.small.timer');
    top: -6rem;
    right: -6rem;
}

.Reward_base__s80x80_ce .Reward_timer_d3,
.Reward_base__big_e5 .Reward_timer_d3 {
    width: 48rem;
    height: 48rem;
    background-image: url('R.images.gui.maps.icons.quests.bonuses.big.timer');
    top: -14rem;
    right: -14rem;
}

.App_base_8a {
    display: flex;
    flex-direction: column;
    width: 404rem;
    padding: 22rem 24rem;
}

.App_base__double_95 {
    width: 538rem;
}

.App_header_3c {
    padding: 0 0 28rem 56rem;
    position: relative;
}

.App_icon_10 {
    width: 48rem;
    height: 48rem;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100% 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.App_title_a8 {
    color: #e9e2bf;
    font-size: 18rem;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 4rem;
}

.App_description_69 {
    color: #8c8c7e;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
}

.App_content_ef {
    display: flex;
    flex-direction: column;
    padding-left: 56rem;
}

.App_base__double_95 .App_content_ef {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 0;
}

.App_wrapper_9b {
    max-width: 240rem;
    position: relative;
}

.App_base__double_95 .App_wrapper_9b {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.App_item_90 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 55rem;
    margin-bottom: 5rem;
    padding-left: 60rem;
    position: relative;
}

.App_item__separator_4a {
    margin-top: 14rem;
}

.App_reward_64 {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.App_label_38 {
    color: #8c8c7e;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    margin-bottom: 2rem;
}

.App_percent_ed {
    color: #595950;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
}

.App_separator_fc {
    width: 283rem;
    height: 1rem;
    background: url('R.images.gui.maps.icons.battlePass.tooltips.Devider_points') 50% / contain no-repeat;
    position: absolute;
    top: 6rem;
    left: 50%;
    transform: translateX(-50%);
}
