.TooltipDecorator_base_c9 {
    display: flex;
    position: absolute;
}

.TooltipDecorator_base__theme-default_6d .TooltipDecorator_decorator_3d {
    padding: 4rem 6rem 8rem;
    border-image-source: url('R.atlases.components.tooltip_background');
    border-image-slice: 24 fill;
    border-image-width: 24rem;
    position: relative;
}

.App_base_36 {
    width: 300rem;
    padding: 15rem 20rem 0;
}

.App_title_f3 {
    color: #e9e2bf;
    font-size: 15rem;
    font-weight: 700;
    line-height: 1.15;
    margin-bottom: 10rem;
    text-align: center;
}

.App_icon_7d {
    width: 260rem;
    height: 120rem;
    margin-bottom: 8rem;
    background: url('R.images.tech_tree_trade_in.gui.maps.tooltips.widgetArt') no-repeat center / cover;
}

.App_description_90 {
    color: #8c8c7e;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
}

.App_timer_2d {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 55rem;
    position: relative;
}

.App_timer_2d::before {
    width: 100%;
    height: 1rem;
    background: linear-gradient(to right, transparent 50%, rgba(18, 17, 11, 1) 50%),
        linear-gradient(270deg, #12110b 0%, #c9c9b6 50%, #12110b 100%);
    background-size:
        3rem 2rem,
        100% 100%;
    opacity: 0.2;
    content: '';
    position: absolute;
    top: 6rem;
    left: 0;
}

.App_timerLight_52 {
    width: 204rem;
    height: 80rem;
    margin-right: 5rem;
    background: url('R.images.tech_tree_trade_in.gui.maps.tooltips.flash') no-repeat center / cover;
    mix-blend-mode: screen;
    position: absolute;
    bottom: 0;
    z-index: 1;
}

.App_timerText_87 {
    color: #8c8c7e;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
}

.App_iconWrapper_e7 {
    width: 20rem;
    height: 20rem;
    margin-right: 5rem;
    position: relative;
}

.App_timerIcon_d9 {
    width: 32rem;
    height: 32rem;
    background: url('R.images.tech_tree_trade_in.gui.maps.entryPoint.timer') no-repeat center / cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.App_timerDate_5a {
    color: #e9e2bf;
    font-size: 14rem;
    font-weight: 700;
    line-height: 1.15;
}
