.FormatText_base_d0 {
    display: flex;
    flex-wrap: wrap;
}

.RoleAction_base_25 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 140rem;
}

.RoleAction_image_34 {
    width: 128rem;
    height: 128rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.RoleAction_description_53 {
    color: #F2F2F7;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    width: 100%;
    margin-top: -33rem;
    text-align: center;
}

.Content_base_2d {
    display: flex;
    flex-direction: column;
    width: 460rem;
}

.Content_title_09 {
    display: flex;
    width: 100%;
    height: 80rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: relative;
}

.Content_titleRoleIcon_19 {
    width: 50rem;
    height: 50rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    top: 15rem;
    left: 18rem;
}

.Content_titleRoleName_4d {
    color: #E9E2BF;
    font-size: 18rem;
    font-weight: 700;
    width: 100%;
    margin-left: 82rem;
    margin-top: 28rem;
}

.Content_titleRoleGroupName_aa {
    color: #feab34;
}

.Content_separator_e5 {
    width: 100%;
    height: 1rem;
    background: url('R.images.gui.maps.icons.roleExp.actionsTooltip.separator') no-repeat center / contain;
}

.Content_roleActions_d8 {
    width: 100%;
    padding: 13rem 20rem 25rem;
    background: url('R.images.gui.maps.icons.roleExp.actionsTooltip.whiteBg') repeat-y center / contain;
}

.Content_roleActionsTitle_b6 {
    color: #E9E2BF;
    font-size: 15rem;
    font-weight: 700;
    width: 100%;
}

.Content_roleActionsContent_f1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: -18rem;
    margin-bottom: -10rem;
}

.Content_roleActionsItem_a2 {
    margin: 0 5rem;
}

.Content_roleActionsDisabled_14 {
    width: 100%;
    padding: 16rem 20rem 22rem;
    color: #FEAB34;
    font-size: 14rem;
}

.Content_roleDescription_5f {
    width: 100%;
    padding: 16rem 20rem 17rem;
}

.Content_roleDescriptionTitle_47 {
    color: #E9E2BF;
    font-size: 15rem;
    font-weight: 700;
    width: 100%;
    margin-bottom: 6rem;
}

.Content_roleDescriptionText_ef {
    color: #8C8C7E;
    font-size: 14rem;
    line-height: 18rem;
}

.Content_footer_38 {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 14rem 0 22rem 18rem;
}

.Content_footerImage_63 {
    width: 32rem;
    height: 32rem;
    margin-top: 3rem;
    margin-right: 10rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.Content_footerText_d2 {
    color: #8C8C7E;
    font-size: 14rem;
    line-height: 18rem;
    flex: 1;
}

.TooltipDecorator_base_c9 {
    display: flex;
    position: absolute;
}

.TooltipDecorator_decorator_3d {
    padding: 4rem 6rem 8rem; /* border offset*/
    border-image-source: url('R.atlases.components.tooltip_background');
    border-image-slice: 24 fill;
    border-image-width: 24rem;
    position: relative;
}

.TooltipDecorator_decoratorContent_de {
    background-color: #000;
}

