body {
    margin: 1rem;
    overflow: hidden;
}

/* delay should be set always separately only for appearance effect, not hiding */
/* should be percentage of screen width */
.App_base_e9 {
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    position: relative;
    cursor: pointer;
}
.App_bg_3f {
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    background: url('R.images.comp7.gui.maps.icons.comp7.banner.c_160x112') no-repeat center / cover;
    filter: brightness(1);
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(1);
    transition:
        filter 0.5s cubic-bezier(0.07, 0.82, 0.17, 1),
        transform 0.5s cubic-bezier(0.07, 0.82, 0.17, 1);
}
.mediaMedium .App_bg_3f {
    background-image: url('R.images.comp7.gui.maps.icons.comp7.banner.c_220x112');
}
.mediaLarge .App_bg_3f {
    background-image: url('R.images.comp7.gui.maps.icons.comp7.banner.c_300x150');
}
.App_base_e9:hover .App_bg_3f {
    filter: brightness(1.05);
    transform: scale(1.03);
}
.App_base__disabled_fc .App_bg_3f {
    filter: brightness(1) grayscale(100%);
}
.App_base__disabled_fc:hover .App_bg_3f {
    filter: brightness(1.05) grayscale(100%);
}
.App_base__single_4f .App_bg_3f {
    background-image: url('R.images.comp7.gui.maps.icons.comp7.banner.c_300x112');
}
.mediaLarge .App_base__single_4f .App_bg_3f {
    background-image: url('R.images.comp7.gui.maps.icons.comp7.banner.c_300x150');
}
.App_shadow_92 {
    width: 100%;
    height: 100%;
    border: 1rem solid rgba(255, 255, 255, 0.25);
    border-radius: 2rem;
    background: linear-gradient(rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.3) 100%);
    position: absolute;
    top: 0;
    left: 0;
}
.App_highlight_0c {
    width: 100%;
    height: 100%;
    border-image-source: url('R.images.comp7.gui.maps.icons.comp7.banner.border');
    border-image-slice: 1 fill;
    border-image-width: 1rem;
    background: url('R.images.comp7.gui.maps.icons.comp7.banner.highlight') no-repeat center / cover;
    filter: brightness(0.6);
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
}
.App_base_e9:hover .App_highlight_0c {
    filter: none;
    opacity: 1;
}
.App_overlay_8a {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.5s cubic-bezier(0.07, 0.82, 0.17, 1);
}
.App_base_e9:hover .App_overlay_8a {
    opacity: 0.8;
}
.App_particles_d3 {
    position: absolute;
    top: 1rem;
    right: 1rem;
    bottom: 1rem;
    left: 1rem;
    width: 160rem;
    height: 112rem;
    mix-blend-mode: screen;
}
.mediaMedium .App_particles_d3 {
    width: 220rem;
}
.mediaLarge .App_particles_d3 {
    width: 300rem;
    height: 150rem;
}
.App_base__single_4f .App_particles_d3 {
    width: 300rem;
}
.App_content_78 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
}
.App_title_a5 {
    margin-top: -6rem;
    color: #ffffff;
    font-size: 15rem;
    font-weight: 700;
    letter-spacing: 1rem;
}
.mediaMedium .App_title_a5 {
    font-size: 18rem;
}
.mediaLarge .App_title_a5 {
    margin-top: -8rem;
    font-size: 24rem;
}
.App_base__single_4f .App_title_a5 {
    font-size: 22rem;
}
.mediaLarge .App_base__single_4f .App_title_a5 {
    font-size: 24rem;
}
.App_info_2e {
    max-width: 150rem;
    margin-top: -3rem;
    color: #e9e2bf;
    font-size: 12rem;
    text-align: center;
}
.mediaMedium .App_info_2e {
    max-width: 200rem;
    font-size: 16rem;
}
.mediaLarge .App_info_2e {
    max-width: 280rem;
    margin-top: 2rem;
}
.App_base__single_4f .App_info_2e {
    max-width: 280rem;
    font-size: 16rem;
}
.App_seasonDate_d0 {
    padding-left: 21rem;
    color: #ffdd99;
    position: absolute;
    bottom: 7rem;
}
.mediaLarge .App_seasonDate_d0 {
    bottom: 12rem;
}
.App_seasonDateIcon_da {
    width: 38rem;
    height: 38rem;
    background: url('R.images.gui.maps.icons.library.ClockIcon_1') no-repeat center / contain;
    position: absolute;
    top: 60%;
    left: -10rem;
    transform: translateY(-50%);
}
.App_base__disabled_fc .App_seasonDateIcon_da {
    width: 46rem;
    height: 46rem;
    background-image: url('R.images.gui.maps.icons.library.lock_icon');
    top: 55%;
    left: -14rem;
    transform: translateY(-50%);
}
.App_seasonDateText_96 {
    font-size: 12rem;
    text-align: center;
    text-shadow:
        0 0 4rem rgba(255, 127, 0, 0.25),
        0 0 8rem #ff2a00,
        0 0 15rem #e52;
}
.mediaMedium .App_seasonDateText_96 {
    font-size: 16rem;
}
.App_base__single_4f .App_seasonDateText_96 {
    font-size: 16rem;
}
