.FadingCoverViewApp_base_a2 {
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity ease-in-out;
}

.FadingCoverViewApp_base__visible_7c {
    opacity: 1;
}

.FadingCoverViewApp_background_86 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #000000 no-repeat 50% / cover;
}
