.FormatText_base_d0 {
    display: flex;
    flex-wrap: wrap;
}

.Separator_base_73 {
    display: flex;
    width: 283rem;
    height: 1rem;
    background: url('R.images.gui.maps.icons.components.tooltip.devider_points') 50% / contain no-repeat;
}

.Content_base_21 {
    color: #8C8C7E;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    width: 460rem;
    padding: 16rem 20rem 18rem;
    line-height: normal;
    position: relative;
}

.Content_title_d8 {
    color: #E9E2BF;
    font-size: 18rem;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 13rem;
}

.Content_content_41 {
    display: flex;
}

.Content_separator_f2 {
    margin: 15rem 0 10rem;
}

.Content_accent_9e {
    color: #FFDD99;
}

.Content_unit_53 {
    color: #80D43A;
}

.TooltipDecorator_base_c9 {
    display: flex;
    position: absolute;
}

.TooltipDecorator_decorator_3d {
    padding: 4rem 6rem 8rem; /* border offset*/
    border-image-source: url('R.atlases.components.tooltip_background');
    border-image-slice: 24 fill;
    border-image-width: 24rem;
    position: relative;
}

.TooltipDecorator_decoratorContent_de {
    background-color: #000;
}

