.TooltipDecorator_base_c9 {
    display: flex;
    position: absolute;
}

.TooltipDecorator_base__theme-default_6d .TooltipDecorator_decorator_3d {
        padding: 4rem 6rem 8rem;
        border-image-source: url('R.atlases.components.tooltip_background');
        border-image-slice: 24 fill;
        border-image-width: 24rem;
        position: relative;
    }

.Divided_base_06 {
    position: relative;
}

.Divided_divider_64 {
    width: 360rem;
    height: 1rem;
    background: url('R.images.gui.maps.icons.tooltip.tooltip_perks_divider') no-repeat center / cover;
    position: absolute;
    bottom: 0;
    left: 0;
}

.ExtendedText_base_71 {
    display: flex;
    line-height: 1.2;
    position: relative;
}

    .ExtendedText_base__zeroPadding_25 {
        padding: 0;
    }

    .ExtendedText_base__isTruncationAvailable_5b {
        width: 100%;
    }

.ExtendedText_truncated_97 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
}

.ExtendedText_truncated__hide_31 {
        opacity: 0;
    }

.ExtendedText_unTruncated_b8 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    align-content: flex-start;
    color: #FF2717;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    pointer-events: none;
}

.colors_blackReal_fc {
    color: #000000;
}

.colors_whiteReal_31 {
    color: #FFFFFF;
}

.colors_white_45 {
    color: #F2F2F7;
}

.colors_whiteOrange_81 {
    color: #FEFEEC;
}

.colors_whiteSpanish_c3 {
    color: #E9E2BF;
}

.colors_par_5b {
    color: #8C8C7E;
}

.colors_parSecondary_fd {
    color: #595950;
}

.colors_parTertiary_97 {
    color: #37362E;
}

.colors_red_79 {
    color: #FF2717;
}

.colors_redDark_73 {
    color: #B70000;
}

.colors_yellow_76 {
    color: #FEAB34;
}

.colors_orange_cd {
    color: #EE7000;
}

.colors_cream_0f {
    color: #FFDD99;
}

.colors_brown_82 {
    color: #CBAC77;
}

.colors_greenBright_68 {
    color: #80D43A;
}

.colors_green_fa {
    color: #7AB300;
}

.colors_greenDark_a9 {
    color: #497212;
}

.colors_blueBooster_26 {
    color: #CCFFFF;
}

.colors_blueTeamkiller_86 {
    color: #09E2FF;
}

.colors_cred_35 {
    color: #CED9D9;
}

.colors_gold_c3 {
    color: #FFC363;
}

.colors_bond_ce {
    color: #C9C9B6;
}

.colors_prom_83 {
    color: #A29B70;
}

.renderers_noBreakWrapper_10 {
    display: flex;
    flex-wrap: nowrap;
}

.renderers_lineBreak_b5 {
    width: 100%;
    height: 0;
}

.renderers_newLine_bd {
    flex: 1;
    width: 100%;
}

.renderers_word_f3 {
    white-space: nowrap;
    overflow-wrap: normal;
}

.SkillIcon_base_43 {
    display: flex;
    background: no-repeat center / contain;
    position: relative;
}

    .SkillIcon_base__small_d0 {
        width: 14rem;
        height: 14rem;
    }

    .SkillIcon_base__c_22x22_14 {
        width: 22rem;
        height: 22rem;
    }

    .SkillIcon_base__medium_d0 {
        width: 24rem;
        height: 24rem;
    }

    .SkillIcon_base__c_36x36_flat_7e {
        width: 36rem;
        height: 36rem;
    }

    .SkillIcon_base__big_ae {
        width: 52rem;
        height: 52rem;
    }

    .SkillIcon_base__dialogs_e5 {
        width: 180rem;
        height: 135rem;
    }

.TankmanSkill_base_84 {
    position: relative;
    width: 16rem;
    height: 16rem;
}

    .TankmanSkill_base__big_a0 {
        width: 24rem;
        height: 24rem;
    }

.TankmanSkill_background_e5 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 2rem;
    background: rgba(0,0,0, .3);
}

.TankmanSkill_background__grey_49 {
        border: 1rem solid #FFFFFF;
        opacity: .2;
    }

.TankmanSkill_background__lightYellow_9f {
        border: 1rem solid #fd9;
    }

.TankmanSkill_background__yellow_e2 {
        border: 1rem solid #feab34;
    }

.TankmanSkill_background__red_ca {
        border: 1rem solid #ff2717;
        opacity: .6;
    }

.TankmanSkill_container_84 {
    width: 14rem;
    height: 14rem;
    background: no-repeat 50% / contain;
    position: absolute;
    top: 1rem;
    left: 1rem;
    pointer-events: none;
}

.TankmanSkill_base__big_a0 .TankmanSkill_container_84 {
        width: 22rem;
        height: 22rem;
    }

.TankmanSkill_container__disabled_92 {
        opacity: .5;
    }

.TankmanSkill_disabled_ba {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    border-radius: 6rem;
    background: url('R.images.gui.maps.icons.library.disabled_pattern') center / 9rem;
    opacity: .3;
}

.FreePerk_base_51 {
    color: #8C8C7E;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    display: flex;
    align-items: center;
    margin: 4rem 0;
}

.FreePerk_icon_ff {
    margin-right: 6rem;
}

.FreePerk_perkLevel_ba {
    color: #8C8C7E;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
}

.FreePerk_perkLevel__available_3b {
        color: #FFDD99;
    }

.FreePerk_perkLevel__inProgress_5b {
        color: #FEAB34;
    }

.FreePerk_multiple_ee {
    margin-right: 4rem;
}

.FreePerk_partly_12 {
    margin-left: 4rem;
}

.PerkAvailableTooltipApp_base_8b {
    padding: 14rem 21rem;
}

.PerkAvailableTooltipApp_header_ca {
    color: #E9E2BF;
    font-size: 18rem;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 19rem;
}

.PerkAvailableTooltipApp_divider_9e {
    width: 188rem;
}

.PerkAvailableTooltipApp_perks_2b {
    margin-top: 3rem;
}

