.TooltipDecorator_base_c9 {
    display: flex;
    position: absolute;
}

.TooltipDecorator_base__theme-default_6d .TooltipDecorator_decorator_3d {
    padding: 4rem 6rem 8rem;
    border-image-source: url('R.images.gui.maps.icons.tooltip.tooltip_background');
    border-image-slice: 24 fill;
    border-image-width: 24rem;
    position: relative;
}

.Content_base_ab {
    display: flex;
    flex-direction: column;
    width: 403rem;
    padding: 20rem 20rem 6rem;
    line-height: normal;
    position: relative;
}
.Content_separator_70 {
    width: 283rem;
    height: 1rem;
    background: url('R.images.gui.maps.icons.battlePass.tooltips.Devider_points') 50% / contain no-repeat;
}
.Content_whiteGradient_f6 {
    background: linear-gradient(
        90deg,
        rgba(201, 201, 182, 0) 0%,
        #c9c9b6 38.22%,
        #c9c9b6 64.56%,
        rgba(201, 201, 182, 0) 100%
    );
    opacity: 0.07;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.Content_title_21 {
    color: #e9e2bf;
    font-size: 18rem;
    font-weight: 700;
    line-height: 1.1;
}
.Content_description_86 {
    margin-top: 15rem;
    position: relative;
    color: #8c8c7e;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
}
.Content_base_ab {
    padding: 16rem 18rem 20rem;
}
.Content_description_86 {
    margin-top: 20rem;
}
.Content_descriptionBottom_2d {
    margin-top: 15rem;
    position: relative;
    color: #8c8c7e;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    margin-top: 20rem;
    margin-top: 11rem;
}
.Content_descriptionTopLabel_f2 {
    color: #e9e2bf;
    font-size: 15rem;
    font-weight: 700;
    line-height: 1.15;
}
.Content_descriptionContent_b7 {
    padding-top: 10rem;
    padding-bottom: 9rem;
}
.Content_descriptionLabel_81 {
    padding-top: 8rem;
}
