.TextButton_base_b6 {
    display: flex;
    align-items: center;
    padding: 0 3rem;
    font-size: 12rem;
    position: relative;
    cursor: pointer;
}

    .TextButton_base__right_39 {
        flex-direction: row-reverse;
    }
.TextButton_icon_17 {
    width: 32rem;
    height: 32rem;
    background: no-repeat center / contain;
    position: relative;
}
.TextButton_icon__back_43,
    .TextButton_icon__forward_59 {
        margin: -1rem -5rem;
        background-image: url('R.images.gui.maps.icons.components.text_button.back');
        transform: translateY(1rem);
    }
.TextButton_icon__forward_59 {
        transform: rotate(180deg) translateY(1rem);
    }
.TextButton_icon__close_53 {
        margin: -1rem 0;
        background-image: url('R.images.gui.maps.icons.components.text_button.close');
    }
.TextButton_icon__info_33 {
        margin: -1rem -5rem;
        background-image: url('R.images.gui.maps.icons.components.text_button.info');
    }
.TextButton_glow_a4 {
    width: 100%;
    height: 100%;
    background: no-repeat center / contain;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity .16s;
}
.TextButton_icon__back_43 .TextButton_glow_a4,
    .TextButton_icon__forward_59 .TextButton_glow_a4 {
        background-image: url('R.images.gui.maps.icons.components.text_button.back_hover');
    }
.TextButton_icon__close_53 .TextButton_glow_a4 {
        background-image: url('R.images.gui.maps.icons.components.text_button.close_hover');
    }
.TextButton_icon__info_33 .TextButton_glow_a4 {
        background-image: url('R.images.gui.maps.icons.components.text_button.info_hover');
    }
.TextButton_base_b6:hover .TextButton_glow_a4 {
        opacity: 1;
    }
.TextButton_base_b6:active .TextButton_glow_a4 {
        opacity: 0;
    }
.TextButton_caption_82 {
    position: relative;
    transition: color .16s, text-shadow .16s;
}
.TextButton_caption__back_b9,
    .TextButton_caption__forward_4e,
    .TextButton_caption__close_36 {
        color: #FFDD99;
        text-shadow: 0 0 10rem rgba(255,42,0, 1),
            0 0 10rem rgba(255,42,0, .4),
            0 0 10rem rgba(255,42,0, .4),
            0 0 2rem rgba(255,42,0, .4),
            0 0 1rem rgba(255,42,0, .4),
            0 0 2rem rgba(255,42,0, .4),
            0 0 1rem rgba(255,42,0, .4);
    }
.TextButton_base_b6:hover .TextButton_caption__back_b9, .TextButton_base_b6:hover .TextButton_caption__forward_4e, .TextButton_base_b6:hover .TextButton_caption__close_36 {
            color: #fffa9f;
        }
.TextButton_base_b6:active .TextButton_caption__back_b9, .TextButton_base_b6:active .TextButton_caption__forward_4e, .TextButton_base_b6:active .TextButton_caption__close_36 {
            color: #FFDD99;
        }
.TextButton_caption__info_23 {
        padding: 0 5rem;
        color: #CCFFFF;
        text-shadow: 0 0 12rem rgba(31,68,255, .8),
            0 0 8rem #00eaff;
    }
.TextButton_base_b6:hover .TextButton_caption__info_23 {
            color: #e3ffff;
            text-shadow: 0 0 12rem rgba(31,68,255, .8),
                0 0 12rem rgba(0,234,255, 1),
                0 0 8rem #00eaff;
        }
.TextButton_base_b6:active .TextButton_caption__info_23 {
            color: #CCFFFF;
            text-shadow: 0 0 12rem rgba(31,68,255, .6),
                0 0 8rem #00eaff;
        }
.TextButton_goto_e7 {
    color: #7c7c6c;
}
.TextButton_base__left_ff .TextButton_goto_e7 {
        margin-left: 8rem;
    }
.TextButton_base__right_39 .TextButton_goto_e7 {
        margin-right: 8rem;
    }
.TextButton_shine_e2 {
    width: 90rem;
    height: 40rem;
    background: url('R.images.gui.maps.icons.components.text_button.shine') no-repeat center / contain;
    opacity: 0;
    position: absolute;
    top: -4rem;
    transition: opacity .16s;
    pointer-events: none;
}
.TextButton_base__left_ff .TextButton_shine_e2 {
        left: -4rem;
    }
.TextButton_base__right_39 .TextButton_shine_e2 {
        right: -4rem;
        transform: rotate(180deg);
    }
.TextButton_base_b6:hover .TextButton_shine_e2 {
        opacity: 1;
    }
.TextButton_base_b6:active .TextButton_shine_e2 {
        opacity: 0;
    }

/* delay should be set always separately only for appearance effect, not hiding */
/* should be percentage of screen width */
.page_base_b1 {
    background: url('R.images.gui.maps.icons.comp7.backgrounds.comp7_bg') no-repeat center / cover;
}
.page_base__leaderboard_d7 {
        background-image: url('R.images.gui.maps.icons.comp7.backgrounds.leaderboard_bg');
    }
.page_base__rankRewards_fb {
        background-image: url('R.images.gui.maps.icons.comp7.backgrounds.rewards_bg');
    }
.page_base__weeklyQuests_f8 {
        background-image: url('R.images.gui.maps.icons.comp7.backgrounds.quests_bg');
    }
.page_heading_05 {
    padding-top: 54rem;
}
.mediaMedium .page_heading_05 {
        padding-top: 63rem;
        padding-bottom: 9rem;
}
.page_close_a4 {
    position: absolute;
    top: 54rem;
    right: 29rem;
}
.mediaMedium .page_close_a4 {
        top: 63rem;
}
.mediaLarge .page_close_a4 {
        right: 40rem;
}

.Heading_base_e6 {
    color: #FFFFFF;
    font-size: 36rem;
    font-weight: 700;
    line-height: 1.1;
    text-align: center;
}
    .mediaMedium .Heading_base_e6 {
        color: #FFFFFF;
        font-size: 56rem;
        font-weight: 700;
        line-height: 1.1;
}
    .mediaLarge .Heading_base_e6 {
        color: #FFFFFF;
        font-size: 73rem;
        font-weight: 700;
        line-height: 1.1;
}

.FormatText_base_d0 {
    display: flex;
    flex-wrap: wrap;
}

.ActiveSeasonState_base_fd {
    display: flex;
    align-items: center;
}

.ActiveSeasonState_calendarIcon_d6 {
    width: 21rem;
    height: 21rem;
    margin-right: 8rem;
    background: url('R.images.gui.maps.icons.comp7.icons.calendar') no-repeat center / cover;
    transform: translateY(2rem);
}

.mediaLarge .ActiveSeasonState_calendarIcon_d6 {
        width: 20rem;
        height: 22rem;
        background-image: url('R.images.gui.maps.icons.comp7.icons.calendarBig');
}

.ActiveSeasonState_divider_b5 {
    width: 2rem;
    height: 17rem;
    margin: 2rem 8rem 0;
    background-color: rgba(255,255,255, .5);
}

.mediaLarge .ActiveSeasonState_divider_b5 {
        height: 29rem;
}

.ScheduleSubheading_base_d0 {
    color: #FFFFFF;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
    display: flex;
    align-items: center;
}
    .mediaLarge .ScheduleSubheading_base_d0 {
        color: #FFFFFF;
        font-size: 24rem;
        font-weight: 400;
        line-height: 1.2;
}

@keyframes App_fadeIn_1f {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes App_fadeInThreeQuarters_b1 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: .75;
    }
}

@keyframes App_fadeInHalf_d8 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: .5;
    }
}

@keyframes App_fadeOut_27 {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes App_fadeInWithScale_fa {
    0% {
        opacity: 0;
        transform: scale(1.2);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes App_slideUp_25 {
    0% {
        opacity: 0;
        transform: translateY(50%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes App_scale_f3 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes App_raysAppearance_19 {
    0% {
        opacity: 0;
        transform: translateY(20rem);
    }

    100% {
        opacity: .2;
        transform: translateY(0);
    }
}

@keyframes App_rotate_fc {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes App_reverse-rotate_e8 {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0deg);
    }
}

@keyframes App_glowAppearance_a6 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes App_highlightAppearance_e4 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: .8;
    }
}

/* delay should be set always separately only for appearance effect, not hiding */

/* should be percentage of screen width */

.App_base_ca {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: url('R.images.gui.maps.icons.comp7.backgrounds.noX_bg') no-repeat center / cover;
    overflow: hidden;
    position: relative;
}

.App_header_f0 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.App_content_eb {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.App_iconContainer_1d {
    width: 148rem;
    height: 148rem;
    position: relative;
}

.App_icon_d8 {
    width: 486rem;
    height: 356rem;
    background: url('R.images.gui.maps.icons.comp7.no_vehicles.lock') no-repeat center / cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.App_text_d1 {
    max-width: 700rem;
    margin-top: 20rem;
    color: #E9E2BF;
    font-size: 16rem;
    line-height: 20rem;
    text-align: center;
    text-shadow: 0 0 4px rgba(255, 127, 0, .25), 0 0 8px #ff2a00, 0 0 15px #e52;
    position: relative;
}

.mediaMedium .App_text_d1 {
        margin-top: 34rem;
}

.App_footer_80 {
    width: 100%;
    padding: 16rem 0 20rem;
    background: rgba(0,0,0, .3) url('R.images.gui.maps.icons.comp7.no_vehicles.divider') no-repeat center top / contain;
}

.HowToGetVehicles_base_ba {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.HowToGetVehicles_heading_3b {
    color: #E9E2BF;
    font-size: 18rem;
    font-weight: 400;
    line-height: 1.25;
    margin-bottom: 14rem;
    font-weight: 700;
}

.HowToGetVehicles_items_20 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.HowToGetVehicles_item_9e {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.HowToGetVehicles_item_9e + .HowToGetVehicles_item_9e {
        margin-left: 50rem;
    }

.HowToGetVehicles_title_10 {
    color: #E9E2BF;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
}

.HowToGetVehicles_image_e5 {
    width: 200rem;
    height: 100rem;
    margin-bottom: 10rem;
    background: no-repeat center / contain;
}

