.TooltipDecorator_base_c9 {
    display: flex;
    position: absolute;
}

.TooltipDecorator_base__theme-default_6d .TooltipDecorator_decorator_3d {
        padding: 4rem 6rem 8rem;
        border-image-source: url('R.images.gui.maps.icons.tooltip.tooltip_background');
        border-image-slice: 24 fill;
        border-image-width: 24rem;
        position: relative;
    }

.BattleResultProgressTooltipApp_base_7f {
    border: 1rem solid rgba(242,242,230, .1);
    background-color: #12110b;
    width: 338rem;
}

    .BattleResultProgressTooltipApp_base__defence_02 {
        width: 313rem;
    }

.BattleResultProgressTooltipApp_content_9e {
    width: 251rem;
}

.BattleResultProgressTooltipApp_base__defence_02 .BattleResultProgressTooltipApp_content_9e {
        width: 226rem;
    }

.BattleResultProgressTooltipApp_contentInner_97 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    padding: 14rem 20rem 20rem 8rem;
}

.BattleResultProgressTooltipApp_iconWrapper_93 {
    padding-right: 11rem;
}

.BattleResultProgressTooltipApp_icon_97 {
    width: 48rem;
    height: 48rem;
    background: no-repeat 50% / contain;
}

.BattleResultProgressTooltipApp_title_b9 {
    color: #E9E2BF;
    font-size: 18rem;
    font-weight: 700;
    line-height: 1.1;
}

.BattleResultProgressTooltipApp_description_9f {
    color: #8C8C7E;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    margin-top: 3rem;
}

